{"openapi":"3.0.1","info":{"title":"Carrier Select HTTP API","description":"Thank you for using our HTTP API documentation. Please do not use Microsoft Edge Legacy on this page. Microsoft Edge will not return responses properly when you try them out.","version":"1.0"},"servers":[{"url":"https://rz3.aeb.de/demo1routing/rest"}],"security":[{"SWAGGER_AUTH_KEY":[]},{"BASIC_AUTH":[]}],"tags":[{"name":"FoundationAFBean","description":"Business facade for the XNSGFoundation AF"},{"name":"ExternalTelemetryBFBean","description":"Business facade for sending telemetry data from a third party system."},{"name":"RoutingBFBean","description":"Business facade for the RoutingEngine"}],"paths":{"/cloudagent/connect":{"get":{"operationId":"connect","responses":{"default":{"description":"default response","content":{"text/plain":{"schema":{"type":"string"}}}}}},"delete":{"operationId":"disconnect","parameters":[{"name":"id","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{}}}}}},"/FoundationAFBean/releaseApplicationFacade":{"post":{"tags":["FoundationAFBean"],"description":"Release a application facade which is no longer needed.<br> This call will save resources in the server, because the server must not wait for the timeout of the application facades session but can release it earlier.<br> The method should only be called if it is definitively known, that no access to the application facade by the user is possible any more, e.g. because the surrounding client GUI window was closed.<br> The RFC name of this function is \"/AEB/XNSG_IF_RELAF\"","operationId":"releaseApplicationFacade","parameters":[{"name":"sessionid","in":"query","description":"sessionid The sessionid returned by any application facade method, e.g. workplace @throws RemoteException","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/FoundationAFBean/workplace":{"post":{"tags":["FoundationAFBean"],"description":"Creates an application facade to be able to display the (Casabac-)workplace.<br> The difference of this method compared to the the method \"IFoundationBF.getWorkplaceURL()\" is the fact, that no logon mask will be dipsplayed before entering the workplace<br> The RFC name of this function is \"/AEB/XNSG_IF_WPL\"","operationId":"workplace","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeParmsDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}}}}},"/logon/user":{"post":{"operationId":"logonUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserClientLoginDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogonResponse"}}}}}}},"/logon/authToken":{"get":{"operationId":"authToken","responses":{"default":{"description":"default response","content":{"text/plain":{}}}}}},"/ExternalTelemetryBFBean/{id}":{"post":{"tags":["ExternalTelemetryBFBean"],"description":"Returns the current status for the filings of a third party source for telemetry data reportings.<br> The external system id must be sent with the request.","operationId":"getReportingStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTMResponseDTO"}}}}}},"delete":{"tags":["ExternalTelemetryBFBean"],"description":"Removes a third party source for telemetry data reporting.<br> The external system id must be sent with the request.","operationId":"remove","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTMResponseDTO"}}}}}}},"/ExternalTelemetryBFBean/updateReport":{"post":{"tags":["ExternalTelemetryBFBean"],"description":"Updates the current telemetry reporting for a third party source for telemetry data reporting.<br> The external system id must be sent with the request, a client IdentCode only if client dependent.","operationId":"updateReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTMReportRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTMResponseDTO"}}}}}}},"/ExternalTelemetryBFBean":{"post":{"tags":["ExternalTelemetryBFBean"],"description":"Registers a third party source for telemetry data reporting. The third party system gets an id under which to file its reports<br> The method requires to denote whether the reporting is client dependent or not via {@link ExternalTMRegistrationRequestDTO#isClientDependent}<br> See {@link #updateReport(ExternalTMReportRequestDTO)} on how to file reports.","operationId":"registerExternalTMModule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTMRegistrationRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTMResponseDTO"}}}}}}},"/RoutingBFBean/createRoutingTask":{"post":{"tags":["RoutingBFBean"],"summary":"createRoutingTask","description":"Creates a new routing task and returns a unique task id.<br> <br> In case of successful creation, the response will contain the unique taskId of the created routing task. The respective routing task can be found by this task id. Proposal calculation starts in an asynchronous process. The current state of calculation can be request by handing over the provided task id via the call of getRoutingTaskResult(GetRoutingTaskResultRequestDTO).<br>","operationId":"createRoutingTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRoutingTaskRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"],"routingTask":{"referenceNumber":"REF_NO","handlingUnits":[{"numberOfHandlingUnits":1,"singleGrossWeight":{"value":5,"unit":"kg"},"singleDimensions":{"length":10,"width":20,"height":30,"quantityUnit":"cm"},"handlingUnitType":"PALLET","dangerousGoodsCode":{"handlingCode":"NONE"}}],"startLocation":{"address":{"referenceCode":"AEB","name":"AEB HQ","street":"Sigmaringer Straße 109","postcode":"70567","city":"Stuttgart","countryISOCode":"DE","stateRegion":"BW"}},"endLocation":{"address":{"referenceCode":"AEB MZ","name":"AEB Mainz","street":"Dekan-Laist-Str. 13","postcode":"55129","city":"Mainz","countryISOCode":"DE","stateRegion":"RLP"}},"decisiveDate":"2020-12-31"}}},"Complete data":{"description":"Complete data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"],"routingTask":{"referenceNumber":"REF_NO","routingParms":{"ratingProfile":"DEFAULT"},"handlingUnits":[{"numberOfHandlingUnits":1,"singleGrossWeight":{"value":5,"unit":"kg"},"singleDimensions":{"length":10,"width":20,"height":30,"quantityUnit":"cm"},"handlingUnitType":"PALLET","dangerousGoodsCode":{"handlingCode":"NONE"}}],"parties":[{"address":{"referenceCode":"AEB","name":"AEB SE","street":"Sigmaringer Straße 109","postcode":"70567","city":"Stuttgart","countryISOCode":"DE","stateRegion":"BW"},"partyRole":"SHIPPER"}],"startLocation":{"address":{"referenceCode":"AEB","name":"AEB SE","street":"Sigmaringer Straße 109","postcode":"70567","city":"Stuttgart","countryISOCode":"DE","stateRegion":"BW"}},"endLocation":{"hopRef":{"identCode":"FRA"}},"decisiveDate":"2020-12-31","readyForShippingDate":{"dateInTimezone":"2020-12-24 12:00:00","timezone":"GMT+01:00"},"confirmedDeliveryDate":{"dateInTimezone":"2020-12-31 18:00:00","timezone":"GMT+01:00"},"termsOfDeliveryCode":"DDP","requirements":[{"requirementType":"SERVICE_LEVEL","requirementCode":"EXPRESS"}],"isDocumentShipment":false,"loadingMeters":5,"palletPlaces":2,"addFreightCalculationData":{"modeOfTransportIdentCode":"AIR","distance":{"value":100,"unit":"km"},"goodsValue":{"value":1000,"currencyIso":"EUR"},"customsValue":{"value":500,"currencyIso":"EUR"},"numberOfDeliveryNotes":1,"numberOfInvoices":2}}}}}},"application/xml":{"schema":{"$ref":"#/components/schemas/CreateRoutingTaskRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"],"routingTask":{"referenceNumber":"REF_NO","handlingUnits":[{"numberOfHandlingUnits":1,"singleGrossWeight":{"value":5,"unit":"kg"},"singleDimensions":{"length":10,"width":20,"height":30,"quantityUnit":"cm"},"handlingUnitType":"PALLET","dangerousGoodsCode":{"handlingCode":"NONE"}}],"startLocation":{"address":{"referenceCode":"AEB","name":"AEB HQ","street":"Sigmaringer Straße 109","postcode":"70567","city":"Stuttgart","countryISOCode":"DE","stateRegion":"BW"}},"endLocation":{"address":{"referenceCode":"AEB MZ","name":"AEB Mainz","street":"Dekan-Laist-Str. 13","postcode":"55129","city":"Mainz","countryISOCode":"DE","stateRegion":"RLP"}},"decisiveDate":"2020-12-31"}}},"Complete data":{"description":"Complete data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"],"routingTask":{"referenceNumber":"REF_NO","routingParms":{"ratingProfile":"DEFAULT"},"handlingUnits":[{"numberOfHandlingUnits":1,"singleGrossWeight":{"value":5,"unit":"kg"},"singleDimensions":{"length":10,"width":20,"height":30,"quantityUnit":"cm"},"handlingUnitType":"PALLET","dangerousGoodsCode":{"handlingCode":"NONE"}}],"parties":[{"address":{"referenceCode":"AEB","name":"AEB SE","street":"Sigmaringer Straße 109","postcode":"70567","city":"Stuttgart","countryISOCode":"DE","stateRegion":"BW"},"partyRole":"SHIPPER"}],"startLocation":{"address":{"referenceCode":"AEB","name":"AEB SE","street":"Sigmaringer Straße 109","postcode":"70567","city":"Stuttgart","countryISOCode":"DE","stateRegion":"BW"}},"endLocation":{"hopRef":{"identCode":"FRA"}},"decisiveDate":"2020-12-31","readyForShippingDate":{"dateInTimezone":"2020-12-24 12:00:00","timezone":"GMT+01:00"},"confirmedDeliveryDate":{"dateInTimezone":"2020-12-31 18:00:00","timezone":"GMT+01:00"},"termsOfDeliveryCode":"DDP","requirements":[{"requirementType":"SERVICE_LEVEL","requirementCode":"EXPRESS"}],"isDocumentShipment":false,"loadingMeters":5,"palletPlaces":2,"addFreightCalculationData":{"modeOfTransportIdentCode":"AIR","distance":{"value":100,"unit":"km"},"goodsValue":{"value":1000,"currencyIso":"EUR"},"customsValue":{"value":500,"currencyIso":"EUR"},"numberOfDeliveryNotes":1,"numberOfInvoices":2}}}}}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRoutingTaskResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CreateRoutingTaskResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/RoutingBFBean/getRatingProfiles":{"post":{"tags":["RoutingBFBean"],"summary":"getRatingProfiles","description":"Returns all rating profiles available for the target client.<br> <br> This call might help to find the correct identCode of a rating profile, which shall be added to the routing task by using createRoutingTask(CreateRoutingTaskRequestDTO). This becomes more important, if a rating profile other than the default profile shall be used for proposal calculation.<br>","operationId":"getRatingProfiles","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRatingProfilesRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"]}}}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetRatingProfilesRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"]}}}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRatingProfilesResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetRatingProfilesResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/RoutingBFBean/getAllCarriers":{"post":{"tags":["RoutingBFBean"],"summary":"getAllCarriers","description":"Returns all carriers available for the target client.<br> <br> This call might help to find the correct identCode of a carrier and service as well as the value-added services belonging to that carrier, which shall be added to the supplement task by using createSupplementTask(CreateSupplementTaskRequestDTO).","operationId":"getAllCarriers","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAllCarriersRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"]}}}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetAllCarriersRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"]}}}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAllCarriersResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetAllCarriersResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/RoutingBFBean/getRoutingTaskResult":{"post":{"tags":["RoutingBFBean"],"summary":"getRoutingTaskResult","description":"Returns a sorted list of proposals for the provided task id and its current calculation state.<br> <br> The final list of proposals is ranked according to a rating profile. A rating profile uses supplements for score calculation and ranking.<br> <br> Possible states of calculation are:<br> - INPROGRESS: entries (and ordering) might change in future calls. <br> - RANKED: ordering and entries fixed, at least one supplement missing. <br> - COMPLETE: ordering and entries fixed, all supplements are calculated. <br> <br> A new routing task can be created by using createRoutingTask(CreateRoutingTaskRequestDTO).<br>","operationId":"getRoutingTaskResult","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRoutingTaskResultRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"],"taskId":"MY_ROUTING_TASK_ID"}}}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetRoutingTaskResultRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"],"taskId":"MY_ROUTING_TASK_ID"}}}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRoutingTaskResultResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetRoutingTaskResultResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/RoutingBFBean/getRoutingRequirementTypes":{"post":{"tags":["RoutingBFBean"],"summary":"getRoutingRequirementTypes","description":"Returns all requirements and requirement types available for the target client.<br> <br> This call might help to find the correct identCode of a requirement, which shall be added to the routing task by using createRoutingTask(CreateRoutingTaskRequestDTO).<br>","operationId":"getRoutingRequirementTypes","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRoutingRequirementTypesRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"]}}}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetRoutingRequirementTypesRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"]}}}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRoutingRequirementTypesResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetRoutingRequirementTypesResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/RoutingBFBean/getSupplementTaskResult":{"post":{"tags":["RoutingBFBean"],"summary":"getSupplementTaskResult","description":"Returns an intermediate result of calculated supplements for the provided task id and its current calculation state.<br> <br> Possible states of calculation are:<br> - INPROGRESS: entries (and ordering) might change in future calls. <br> - COMPLETE: ordering and entries fixed, all supplements are calculated. <br> <br> A new supplement task can be created by using createSupplementTask(CreateSupplementTaskRequestDTO).<br>","operationId":"getSupplementTaskResult","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetSupplementTaskResultRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"],"taskId":"MY_SUPPLEMENT_TASK_ID"}}}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetSupplementTaskResultRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"],"taskId":"MY_SUPPLEMENT_TASK_ID"}}}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetSupplementTaskResultResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetSupplementTaskResultResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/RoutingBFBean/createSupplementTask":{"post":{"tags":["RoutingBFBean"],"summary":"createSupplementTask","description":"Creates a new supplement task and returns a unique task id.<br> <br>In case of successful creation, the response will contain the unique taskId of the created supplement task. The respective supplement task can be found by this task id. Supplement calculation starts in an asynchronous process. The current state of calculation can be request by handing over the provided task id via the call of getSupplementTaskResult(GetSupplementTaskResultRequestDTO).<br>","operationId":"createSupplementTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSupplementTaskRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"],"supplementTask":{"referenceNumber":"REF_NO","handlingUnits":[{"numberOfHandlingUnits":1,"singleGrossWeight":{"value":5,"unit":"kg"},"singleDimensions":{"length":10,"width":20,"height":30,"quantityUnit":"cm"},"handlingUnitType":"PALLET","dangerousGoodsCode":{"handlingCode":"NONE"}}],"startLocation":{"address":{"referenceCode":"AEB","name":"AEB HQ","street":"Sigmaringer Straße 109","postcode":"70567","city":"Stuttgart","countryISOCode":"DE","stateRegion":"BW"}},"endLocation":{"address":{"referenceCode":"AEB MZ","name":"AEB Mainz","street":"Dekan-Laist-Str. 13","postcode":"55129","city":"Mainz","countryISOCode":"DE","stateRegion":"RLP"}},"decisiveDate":"2020-12-31","service":{"serviceIdentCode":"UPS_EXPR","serviceProviderIdentCode":"UPS"}}}},"Complete data":{"description":"Complete data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"],"supplementTask":{"referenceNumber":"REF_NO","routingParms":{"ratingProfile":"DEFAULT"},"handlingUnits":[{"numberOfHandlingUnits":1,"singleGrossWeight":{"value":5,"unit":"kg"},"singleDimensions":{"length":10,"width":20,"height":30,"quantityUnit":"cm"},"handlingUnitType":"PALLET","dangerousGoodsCode":{"handlingCode":"NONE"}}],"parties":[{"address":{"referenceCode":"AEB","name":"AEB SE","street":"Sigmaringer Straße 109","postcode":"70567","city":"Stuttgart","countryISOCode":"DE","stateRegion":"BW"},"partyRole":"SHIPPER"}],"startLocation":{"address":{"referenceCode":"AEB","name":"AEB SE","street":"Sigmaringer Straße 109","postcode":"70567","city":"Stuttgart","countryISOCode":"DE","stateRegion":"BW"}},"endLocation":{"hopRef":{"identCode":"FRA"}},"decisiveDate":"2020-12-31","readyForShippingDate":{"dateInTimezone":"2020-12-24 12:00:00","timezone":"GMT+01:00"},"confirmedDeliveryDate":{"dateInTimezone":"2020-12-31 18:00:00","timezone":"GMT+01:00"},"termsOfDeliveryCode":"DDP","isDocumentShipment":false,"loadingMeters":5,"palletPlaces":2,"addFreightCalculationData":{"modeOfTransportIdentCode":"AIR","distance":{"value":100,"unit":"km"},"goodsValue":{"value":1000,"currencyIso":"EUR"},"customsValue":{"value":500,"currencyIso":"EUR"},"numberOfDeliveryNotes":1,"numberOfInvoices":2},"service":{"serviceIdentCode":"UPS_EXPR","serviceProviderIdentCode":"UPS","vasIdentCodes":["COD","SATDEL"]}}}}}},"application/xml":{"schema":{"$ref":"#/components/schemas/CreateSupplementTaskRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"],"supplementTask":{"referenceNumber":"REF_NO","handlingUnits":[{"numberOfHandlingUnits":1,"singleGrossWeight":{"value":5,"unit":"kg"},"singleDimensions":{"length":10,"width":20,"height":30,"quantityUnit":"cm"},"handlingUnitType":"PALLET","dangerousGoodsCode":{"handlingCode":"NONE"}}],"startLocation":{"address":{"referenceCode":"AEB","name":"AEB HQ","street":"Sigmaringer Straße 109","postcode":"70567","city":"Stuttgart","countryISOCode":"DE","stateRegion":"BW"}},"endLocation":{"address":{"referenceCode":"AEB MZ","name":"AEB Mainz","street":"Dekan-Laist-Str. 13","postcode":"55129","city":"Mainz","countryISOCode":"DE","stateRegion":"RLP"}},"decisiveDate":"2020-12-31","service":{"serviceIdentCode":"UPS_EXPR","serviceProviderIdentCode":"UPS"}}}},"Complete data":{"description":"Complete data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"],"supplementTask":{"referenceNumber":"REF_NO","routingParms":{"ratingProfile":"DEFAULT"},"handlingUnits":[{"numberOfHandlingUnits":1,"singleGrossWeight":{"value":5,"unit":"kg"},"singleDimensions":{"length":10,"width":20,"height":30,"quantityUnit":"cm"},"handlingUnitType":"PALLET","dangerousGoodsCode":{"handlingCode":"NONE"}}],"parties":[{"address":{"referenceCode":"AEB","name":"AEB SE","street":"Sigmaringer Straße 109","postcode":"70567","city":"Stuttgart","countryISOCode":"DE","stateRegion":"BW"},"partyRole":"SHIPPER"}],"startLocation":{"address":{"referenceCode":"AEB","name":"AEB SE","street":"Sigmaringer Straße 109","postcode":"70567","city":"Stuttgart","countryISOCode":"DE","stateRegion":"BW"}},"endLocation":{"hopRef":{"identCode":"FRA"}},"decisiveDate":"2020-12-31","readyForShippingDate":{"dateInTimezone":"2020-12-24 12:00:00","timezone":"GMT+01:00"},"confirmedDeliveryDate":{"dateInTimezone":"2020-12-31 18:00:00","timezone":"GMT+01:00"},"termsOfDeliveryCode":"DDP","isDocumentShipment":false,"loadingMeters":5,"palletPlaces":2,"addFreightCalculationData":{"modeOfTransportIdentCode":"AIR","distance":{"value":100,"unit":"km"},"goodsValue":{"value":1000,"currencyIso":"EUR"},"customsValue":{"value":500,"currencyIso":"EUR"},"numberOfDeliveryNotes":1,"numberOfInvoices":2},"service":{"serviceIdentCode":"UPS_EXPR","serviceProviderIdentCode":"UPS","vasIdentCodes":["COD","SATDEL"]}}}}}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSupplementTaskResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/CreateSupplementTaskResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/RoutingBFBean/getHandoverPoints":{"post":{"tags":["RoutingBFBean"],"summary":"getHandoverPoints","description":"Returns all handover points available for the target client.<br> <br> Handover points are master file data. This call can be used to choose a handover point from a drop down application. It is <b>not</b> intended that this call is used for master data maintenance or master data synchronization.<br><br> The address is <b>not</b> included in the response.","operationId":"getHandoverPoints","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetHandoverPointsRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"]}}}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetHandoverPointsRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"]}}}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetHandoverPointsResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetHandoverPointsResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/RoutingBFBean/getRejectedRoutingTaskResult":{"post":{"tags":["RoutingBFBean"],"summary":"getRejectedRoutingTaskResult","description":"Returns a sorted list of the rejected proposals for the provided task id and its current calculation state.<br> The rejected proposals are those proposals which were filtered out according to the settings in the rating profile.<br> <br> Possible states of calculation are:<br> - INPROGRESS: entries (and ordering) might change in future calls. <br> - RANKED: ordering and entries fixed, at least one supplement missing. <br> - COMPLETE: ordering and entries fixed, all supplements are calculated. <br> <br> A new routing task can be created by using createRoutingTask(CreateRoutingTaskRequestDTO).<br>","operationId":"getRejectedRoutingTaskResult","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRoutingTaskResultRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"],"taskId":"MY_ROUTING_TASK_ID"}}}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetRoutingTaskResultRequestDTO"},"examples":{"Basic data":{"description":"Basic data","value":{"clientSystemId":"MY_SYSTEM","clientIdentCode":"MY_CLIENT","userName":"MY_USERNAME","resultLanguageIsoCodes":["de"],"taskId":"MY_ROUTING_TASK_ID"}}}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRoutingTaskResultResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetRoutingTaskResultResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}}},"components":{"schemas":{"AFExecuteProcessParmsDTO":{"type":"object","properties":{"executableFile":{"type":"string","description":"The name of the executable (including path name,  or expected to be found within search path) This must not contain any parameters, and it must not be enclosed with quotes even if the string contains spaces."},"parameters":{"type":"string","description":"Parameters to the executable. may be null. most processes expect parameters separated by spaces, and honor enclosing quotes for a parameter if it contains spaces."},"workDir":{"type":"string","description":"The current directory to be set for the process created as given in executable may be null"}},"description":"Parameters of application facade invocation when this is to be done via create process: The client has to invoke the process as specified by the properties of this object."},"AFShellExecuteParmsDTO":{"type":"object","properties":{"fileName":{"type":"string","description":"This is the name of the file that has to be created in some temporary directory and filled with what contents contains"},"contents":{"type":"array","description":"This is the contents that has to be written to the file","items":{"type":"string","description":"This is the contents that has to be written to the file","format":"byte"}}},"description":"Parameters of application facade invocation when this is to be done via shellexecute: The client has to create a file with the given name in a temporary directory, the contents of the file is given in the variable 'contents'. Then \"shellExecute\" has to be invoked which assumes that the file type as given by filename is registered on client's machine"},"ApplicationFacadeDTO":{"type":"object","properties":{"sessionid":{"type":"string","description":"The session id of the application facade which may be used as a parameter to read results from the application facade. (Currently not supported.)"},"httpUrl":{"type":"string","description":"Used when the application facade is to be opened in a browser An http:// or https:// URL which is a (Casabac-) web side to display the application facade."},"urlCloseToken":{"type":"string","description":"URL token to check on the remote system (for example SAP) if the browser was closed."},"executeProcess":{"$ref":"#/components/schemas/AFExecuteProcessParmsDTO"},"shellExecute":{"$ref":"#/components/schemas/AFShellExecuteParmsDTO"}},"description":"A data transfer object which describes an application facade. There are various techniques possible how to \"open\" the \"application\" on the client; typically only one of the fields is filled, but when more than one possibility is not null the client may choose the type most suitable. Supported types include <ul><li>HTTP</li> - use when field 'httpUrl' is not null. Open a browser and navigate to the url given. When urlCloseToken is given, you can monitor the browsers pages and when you find that it navigates to an url equal to urlCloseToken, the browser can be closed by the application. <li>Start executable</li> - use when field 'executeProcess' is not null. Create a process as defined in the field 'executable', with the current directory as workDir (if specified). <li>Shell execute</li> - use when field 'shellExecute' is not null. Create a file in a temporary directory with name equal to that given in 'fileName', and fill it with the bytes given in 'contents', and then invoke \"ShellExecute\" to let the shell open the application corresponding to the file type. </ul>"},"ApplicationFacadeParmsDTO":{"type":"object","properties":{"client":{"type":"string","description":"The client of the new session. This should be a legal identCode of a client in the system.<br> If it is NOT a legal identCode of a client in the system, the user will see a login prompt before he is able to see the application facade. (See IFoundationBF.getAllClients()). <br>When the application facade web service call is authenticated, this value will be checked against the authentication data and the call is rejected if it does not match.","example":"APITEST"},"user":{"type":"string","description":"The user of the new session.<br> It is not required, that this user is a valid user name of the client. However: Such a user may get granted only have the role \"I_EVERYONE\" unless XNSG is configured to use e.g. an LDAP server and the user can be found in the LDAP server with some roles granted to the user. <br> No password is required because other servers which contact over the business facade will be trusted to have checked the users access rights. This enables a kind of \"single sign on\" between different e.g. XNSG servers.","example":"API_TEST"},"language":{"type":"string","description":"The two letter ISO code of the language of the new session. Currently \"de\" and \"en\" are supported.","example":"en"},"displayFullWorkplace":{"type":"boolean","description":"<code>true</code> to display the complete workspace (central, user and info panel). Use false or null to display only the single ac.","example":true},"isACEmbedded":{"type":"boolean","description":"<code>true</code> to display header and statusbar, false if ac should be embedded in another","example":true},"displayStatusbar":{"type":"boolean","description":"<code>true</code> to display statusbar, <code>false</code>","example":true},"displayTitlebar":{"type":"boolean","description":"<code>true</code> to display header, <code>false</code> if ac should not show header","example":true},"stylevariant":{"type":"string","description":"Customized styleVariant (one of  {@link ProductStyleVariant} for application facade.","example":"NEUTRAL"},"acceptTechnology":{"type":"string","description":"Specify which technology the clients wants to access the application; one token (or several, separated by semicolon) - the server may chose to ignore this possible tokens are specific for each server technology, XNSG-Servers currently honor strings from the GUIInvocationTechnology enum (e.g.: CAPTAIN_CASA_THIN or VAADIN) if <code>null</code> a default technology is chosen.","example":"VAADIN"},"productname":{"type":"string","description":"Optional field, which may be set if productname differs from standard product name - only available when technology is set to CAPTAIN_CASA_* -"},"productShortName":{"type":"string","description":"Optional field, which may be set if productShortName differs from standard product name"},"preferredWidth":{"type":"integer","description":"Optional field, which may be set if preferred width of AF should be different from default. Preferred height may not be always applyable but wins against workstation settings. - not available for vaadin, invoker must open browser in correct way","format":"int32"},"preferredHeight":{"type":"integer","description":"Optional field, which may be set if preferred height of AF should be different from default. Preferred height may not be always applyable but wins against workstation settings. - not available for vaadin, invoker must open browser in correct way","format":"int32"},"openToTray":{"type":"boolean","description":"Optional field, which may be set if application should be opened to tray (default: <code>false</code>) - currently not available for vaadin, will be ignored"}},"description":"A data transfer object to be the parameter of the method IFoundationBF.getNewApplicationFacade()"},"LogonResponse":{"type":"object","properties":{"token":{"type":"string"},"userName":{"type":"string"},"client":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}},"error":{"type":"string"}}},"UserClientLoginDTO":{"type":"object","properties":{"userName":{"type":"string"},"password":{"type":"string"},"clientName":{"type":"string"},"localeName":{"type":"string"},"isExternalLogon":{"type":"boolean"},"isApplicationFacadeAuthentication":{"type":"boolean"}}},"DateAndZoneDTO":{"type":"object","properties":{"dateInTimezone":{"type":"string","description":"<p>String representation of the date/time stamp in the format yyyy-MM-dd HH:mm:ss</p> <p>Length: 19</p>"},"timezone":{"type":"string","description":"<p>Time zone of the time stamp.</p> <p>Examples of valid time zones: \"GMT+01:00\" or \"GMT-02:00\".</p> <p>Maximum length: 50</p>"}},"description":"Date and timezone."},"ExternalTMResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"externalSystemId":{"type":"string","description":"the id for the external system (handed out by the XNSG engine)"},"lastUpdate":{"$ref":"#/components/schemas/DateAndZoneDTO"},"lastUpdateComment":{"type":"string","description":"comment for the last filed report"},"lastUpdateReported":{"type":"boolean","description":"true if last filed report has been sent to the telemetry server"},"lastReportId":{"type":"string","description":"id of the last report (as stored in the engine)"},"isTelemetryEnabled":{"type":"boolean","description":"true if telemetry is enabled"}},"description":"Response DTO for all calls to the {@link IExternalTelemetryBF} interface."},"ResponseMessageDTO":{"type":"object","properties":{"messageType":{"type":"string","description":"<p>Message type</p><p>If not stated otherwise, the possible types are:</p><ul><li>ERROR</li><li>WARNING</li><li>INFO</li></ul><p>Maximum length: 50</p>","example":"WARNING"},"messageIdentCode":{"type":"string","description":"<p>Optional identification code for further classification of the message type.</p><p>Maximum length: 50</p>","example":"5627"},"messageTexts":{"type":"array","description":"<p>Detailed message texts in the requested languages.</p>","items":{"$ref":"#/components/schemas/TextInLanguageDTO"}},"indentationLevel":{"type":"integer","description":"<p>The indentation level of the message.</p><p>'0' indicates a top level message.</p>","format":"int32","example":0}},"description":"Result messages like errors or warnings."},"TextInLanguageDTO":{"type":"object","properties":{"languageISOCode":{"type":"string","description":"<p>2-letter ISO code of the language.</p><p>length=2</p>","example":"en"},"text":{"type":"string","description":"The translated text.","example":"Some free-form text"}},"description":"A translated text in one of the specified languages."},"ExternalTMRDateEntryDTO":{"type":"object","properties":{"key":{"type":"string","description":"key for the value (must be unique within the report)"},"category":{"type":"string","description":"category for the value (see TMDataCategory enum for valid values)"},"value":{"$ref":"#/components/schemas/DateAndZoneDTO"}},"description":"telemetry report entry for date values"},"ExternalTMRDoubleEntryDTO":{"type":"object","properties":{"key":{"type":"string","description":"key for the value (must be unique within the report)"},"category":{"type":"string","description":"category for the value (see TMDataCategory enum for valid values)"},"value":{"type":"number","description":"data for the entry to report","format":"double"}},"description":"telemetry report entry for string double"},"ExternalTMRIntegerEntryDTO":{"type":"object","properties":{"key":{"type":"string","description":"key for the value (must be unique within the report)"},"category":{"type":"string","description":"category for the value (see TMDataCategory enum for valid values)"},"value":{"type":"integer","description":"data for the entry to report","format":"int32"}},"description":"telemetry report entry for integer values"},"ExternalTMRLongEntryDTO":{"type":"object","properties":{"key":{"type":"string","description":"key for the value (must be unique within the report)"},"category":{"type":"string","description":"category for the value (see TMDataCategory enum for valid values)"},"value":{"type":"integer","description":"data for the entry to report","format":"int64"}},"description":"telemetry report entry for long values"},"ExternalTMRStringArrayEntryDTO":{"type":"object","properties":{"key":{"type":"string","description":"key for the value (must be unique within the report)"},"category":{"type":"string","description":"category for the value (see TMDataCategory enum for valid values)"},"value":{"type":"array","description":"data for the entry to report","items":{"type":"string","description":"data for the entry to report"}}},"description":"telemetry report entry for string array values"},"ExternalTMRStringEntryDTO":{"type":"object","properties":{"key":{"type":"string","description":"key for the value (must be unique within the report)"},"category":{"type":"string","description":"category for the value (see TMDataCategory enum for valid values)"},"value":{"type":"string","description":"data for the entry to report"}},"description":"telemetry report entry for string values"},"ExternalTMReportRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"externalSystemId":{"type":"string","description":"id of the external system (obtained via BF from XNSG engine)"},"reportData":{"$ref":"#/components/schemas/ExternalTelemetryReportDTO"},"updateComment":{"type":"string","description":"comment for the current filing"}},"description":"Request DTO for registering, unregistering third party telemetry reporters, also to be used for obtaining informations on reporting status."},"ExternalTelemetryReportDTO":{"type":"object","properties":{"dateEntries":{"type":"array","description":"all dates that should be reported","items":{"$ref":"#/components/schemas/ExternalTMRDateEntryDTO"}},"doubleEntries":{"type":"array","description":"all double values that should be reported","items":{"$ref":"#/components/schemas/ExternalTMRDoubleEntryDTO"}},"integerEntries":{"type":"array","description":"all integer values that should be reported","items":{"$ref":"#/components/schemas/ExternalTMRIntegerEntryDTO"}},"longEntries":{"type":"array","description":"all long values that should be reported","items":{"$ref":"#/components/schemas/ExternalTMRLongEntryDTO"}},"stringArrayEntries":{"type":"array","description":"all string arrays that should be reported","items":{"$ref":"#/components/schemas/ExternalTMRStringArrayEntryDTO"}},"stringEntries":{"type":"array","description":"all strings that should be reported","items":{"$ref":"#/components/schemas/ExternalTMRStringEntryDTO"}}},"description":"report dto to ship the telemetry data to an XNSG engine"},"ExternalTMRegistrationRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"reportClientIdentCode":{"type":"string","description":"ident code for an XNSG client to file external telemetry reports for"},"externalSystemId":{"type":"string","description":"id of the external system (obtained via BF from XNSG engine)"}},"description":"Request DTO for registering, unregistering third party telemetry reporters, also to be used for obtaining informations on reporting status."},"CreateRoutingTaskResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"taskId":{"type":"string","description":"The taskId is a unique value that is generated for a requested routing task. Use this taskId to request the calculation result in a separate call of getRoutingTaskResult(GetRoutingTaskResultRequestDTO). <p>length=50</p>"}},"description":"Response DTO for create routing rask."},"AmountOfMoneyDTO":{"type":"object","properties":{"value":{"type":"number","description":"The value of the amount of money. <p>length=15, scale=2</p>"},"currencyIso":{"type":"string","description":"The three letter ISO code of the currency of the amount of money. <p>length=3</p>"}},"description":"An amount of money with a value and an currency ISO code."},"BillingAdditionalFreightCalculationDataDTO":{"type":"object","properties":{"modeOfTransportIdentCode":{"type":"string","description":"Identifier for the mode of transport. Can be empty, if not needed or if it is not known."},"distance":{"$ref":"#/components/schemas/QuantityDTO"},"goodsValue":{"$ref":"#/components/schemas/AmountOfMoneyDTO"},"customsValue":{"$ref":"#/components/schemas/AmountOfMoneyDTO"},"numberOfDeliveryNotes":{"type":"integer","description":"represents the number of delivery notes.","format":"int32"},"numberOfInvoices":{"type":"integer","description":"represents the number of invoices.","format":"int32"},"cusBillingFields":{"type":"array","description":"Custom fields for Logistics Cost Management.  Every custom field must also be defined in Logistics Cost Management  in a structured type of a Smart-Rules module with the same field name and type.","items":{"$ref":"#/components/schemas/CusBillingFieldDTO"}}},"description":"The BillingAdditionalFreightCalculationDataDTO provides data to send to Logistics Costs Management. It fills some fields BFreightTransportExtendedDataDTO, but not all. In addition it provides a list of custom fields which must be also customized with the same field name in Logistics Costs Management."},"CreateRoutingTaskRequestDTO":{"required":["routingTask"],"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"routingTask":{"$ref":"#/components/schemas/RoutingTaskDTO"}},"description":"Request DTO for create routing task."},"CuboidDimensionsDTO":{"type":"object","properties":{"length":{"type":"number","description":"Represents the length of the dimensions. <br> length = 20, scale = 6"},"width":{"type":"number","description":"Represents the width of the dimensions. <br> length = 20, scale = 6"},"height":{"type":"number","description":"Represents the height of the dimensions. <br> length = 20, scale = 6"},"quantityUnit":{"type":"string","description":"Identifier of the quantity unit. <br> length = 10"}},"description":"Dimensions of a cuboid with length, width, height and quantityUnit."},"CusBillingFieldDTO":{"required":["name","type","value"],"type":"object","properties":{"name":{"type":"string","description":"Name of the field. This name must be identical to the configured, customized field in Logistic Costs Management, otherwise this custom field is ignored."},"type":{"type":"string","description":"type of the field. Supported types are: string, int, boolean, decimal , etc. see also constants of this class."},"value":{"type":"string","description":"<p>Value of the custom field.</p>  <p>The format follows the conventions of xml schema encoding, see <a href=\"http://www.w3.org/TR/xmlschema-2/\">http://www.w3.org/TR/xmlschema-2/</a>.</p> <h3>Currently implemented formats:</h3>  <ul>  <li>string - the plain string</li> <li>int - digits base10, +-2^31</li> <li>long - digits base10, +-2^63</li> <li>decimal - +-123456.789</li> <li>boolean - the literals 'true' and 'false'</li> <li>dateTime - yyyy-MM-ddTHH:mm:ss</li> </ul>"}},"description":"This is a standard DTO class, which holds customized content. Custom field dto, send to Logistics Cost Management. Must also be defined in Logistics Cost Management, otherwise the field is ignored."},"DangerousGoodsCodeDTO":{"required":["handlingCode"],"type":"object","properties":{"handlingCode":{"type":"string","description":"Indicates the type of dangerous goods Valid values are: <li>NONE\t\t(no dangerous goods) <li>NORMAL \t(dangerous goods) <li>LQ\t\t(limited quantities) <li>EQ\t\t(excepted quantities)","default":"NONE","enum":["NONE","NORMAL","EQ","LQ"]}},"description":"Information about dangerous goods."},"HopReferenceDTO":{"required":["identCode"],"type":"object","properties":{"identCode":{"type":"string","description":"IdentCode of the hand over point <br> length = 50 "}},"description":"Representation of a handover point as a defined entity"},"QuantityDTO":{"type":"object","properties":{"value":{"type":"number","description":"The value of the quantity. <p>length=15, scale=3</p>"},"unit":{"type":"string","description":"Identifier of the quantity unit (must be unique). E.g. St / h / kg for pieces / hours / kilograms.<p>length=10</p>"}},"description":"A quantity with a value and a quantity unit.<br>The quantity unit type is specified by the usage context, i.e. if this quantity is a weight, a volume or similar.<br>Quantity units are encoded mainly by using SI unit codes (International System of Units).The weight unit 'Gram' is encoded by ident code 'gr'.The weight unit 'Piece' (meaning pieces of some material or units of some service) is encoded by ident code 'St'.Recoding from capital letters to small letters (e.g. from 'LB' to 'lb') may be supported, depending on the product engine."},"RoutingAddressDTO":{"required":["city","countryISOCode","name","referenceCode","street"],"type":"object","properties":{"referenceCode":{"type":"string","description":"Reference code,  <p>length=50</p>"},"name":{"type":"string","description":"First address line  <p>length=40</p>"},"street":{"type":"string","description":"Street (line 1) of the address. Is required because some validation requires streets. <p>length=40</p>"},"postcode":{"type":"string","description":"Postcode of the address. Postcode is checked with the postcode format of the given country. <p>length=10</p>"},"city":{"type":"string","description":"City of the address. <p>length=40</p>"},"countryISOCode":{"type":"string","description":"Country of address <p>length=2</p>"},"stateRegion":{"type":"string","description":"The state or region <p>length=40</p>"}},"description":"DTO to provide address data"},"RoutingParmsDTO":{"type":"object","properties":{"ratingProfile":{"type":"string","description":"The ident code of the profile that will be used in routing. A profile contains configured strategies and options how  routing for this task will be done. If no profile is set a default profile will be used. <p>length=50</p>"}},"description":"Detailed settings for proposal, supplement and ranking calculations."},"RoutingPartyDTO":{"required":["address","partyRole"],"type":"object","properties":{"address":{"$ref":"#/components/schemas/RoutingAddressDTO"},"partyRole":{"type":"string","description":"<p> Role of the location, might be shipping point, consignee. </p> <p> Possible values are: (may be more in the future). </p> <ul> <li>\"SHIPPER\"</li> <li>\"SHIPPINGPOINT\"</li> <li>\"CONSIGNEE\"</li> </ul>","enum":["SHIPPER","SHIPPINGPOINT","CONSIGNEE"]}},"description":"A party contains a company with information on the address of the given party. Furthermore, the company fulfills one or more certain roles within the routing context, which are also stored in this DTO."},"RoutingRequirementDTO":{"required":["requirementCode","requirementType"],"type":"object","properties":{"requirementType":{"type":"string","description":"Type of requirement.<br> for example: serviceLevel, mode of transport, special treatment COD, insurance <p> length=50 </p>"},"requirementCode":{"type":"string","description":"Name of requirement.<br> for example: Economy, Standard, Express Sea, Road, Air A, B, C Cash, Cheque, <p>length=50</p>"}},"description":"Representation of a requirement, classified by a requirement type and a requirement code. <br> This DTO is used in context of creating a RoutingTasks."},"RoutingTaskDTO":{"required":["decisiveDate","endLocation","handlingUnits","startLocation"],"type":"object","properties":{"referenceNumber":{"type":"string","description":"The clients reference number for the task. <p>length=50</p>"},"routingParms":{"$ref":"#/components/schemas/RoutingParmsDTO"},"handlingUnits":{"type":"array","description":"The handling units of the routing task.","items":{"$ref":"#/components/schemas/RoutingTaskHandlingUnitDTO"}},"parties":{"type":"array","description":"The parties of the routing task. ","items":{"$ref":"#/components/schemas/RoutingPartyDTO"}},"startLocation":{"$ref":"#/components/schemas/RoutingTaskLocationDTO"},"endLocation":{"$ref":"#/components/schemas/RoutingTaskLocationDTO"},"decisiveDate":{"type":"string","description":"The string representation of the Date  in the format yyyy-MM-dd. The date is used when it comes to exclude configuration elements that have a validity date. <p>length=10</p>"},"readyForShippingDate":{"$ref":"#/components/schemas/DateAndZoneDTO"},"confirmedDeliveryDate":{"$ref":"#/components/schemas/DateAndZoneDTO"},"termsOfDeliveryCode":{"type":"string","description":"The clients terms of delivery code. Value is not checked in routing but will be checked in carrier validation and is probably needed for freight calculation.   * <p>length=20</p>"},"requirements":{"type":"array","description":"The requirements of the routing task.","items":{"$ref":"#/components/schemas/RoutingRequirementDTO"}},"isDocumentShipment":{"type":"boolean","description":"Indicates whether the routing task is a document shipment or goods shipment.<br> If true, the shipment is a document shipment.<br> If false, the shipment is a goods shipment.<br> False (= goods shipment) is the default when no value is supplied."},"loadingMeters":{"type":"number","description":"The loading meters of the routing task. <p>length=15, scale = 3</p>"},"palletPlaces":{"type":"number","description":"The pallet places of the routing task. <p>length=15, scale = 3</p>"},"addFreightCalculationData":{"$ref":"#/components/schemas/BillingAdditionalFreightCalculationDataDTO"},"procedureIndicator":{"type":"string","description":"(Special) procedure indicator."},"deliveryPriority":{"type":"string","description":"Delivery priority or delivery condition."},"shippingCondition":{"type":"string","description":"Shipping condition."}},"description":"The RoutingTaskDTO is the main representation of a routing task. The data describes a set of different handling units which shall be transported in one process. Additionally, involved parties, important dates, requirements and other parameters of the request are stored within this DTO. <br> <br> Based on these data, the process of preselection calculates valid proposals. Furthermore, the data of this RoutingTaskDTO might be used during the process of supplement calculation."},"RoutingTaskHandlingUnitDTO":{"required":["handlingUnitType","numberOfHandlingUnits","singleDimensions","singleGrossWeight"],"type":"object","properties":{"numberOfHandlingUnits":{"type":"integer","description":"Number of handling units.   Maximum value is 999. <p>length=3</p>","format":"int32"},"singleGrossWeight":{"$ref":"#/components/schemas/QuantityDTO"},"singleDimensions":{"$ref":"#/components/schemas/CuboidDimensionsDTO"},"handlingUnitType":{"type":"string","description":"The identCode of the handling unit type. length=35"},"dangerousGoodsCode":{"$ref":"#/components/schemas/DangerousGoodsCodeDTO"}},"description":"Basic data of a handling unit which shall be transported as defined in the {@link RoutingTaskDTO}."},"RoutingTaskLocationDTO":{"type":"object","properties":{"address":{"$ref":"#/components/schemas/RoutingAddressDTO"},"hopRef":{"$ref":"#/components/schemas/HopReferenceDTO"}},"description":"Class for location based routing task data for BF. Contains data of a complete address or a reference to a hand over point and its location/address in the master data. Either the address or the hopRef is required, the other value must be null."},"GetRatingProfilesResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"profiles":{"type":"array","description":"List of all rating profiles available for the target client as configured in the Routing engine.","items":{"$ref":"#/components/schemas/RatingProfileDTO"}}},"description":"ResponseDTO for an access request of rating profiles."},"RatingProfileDTO":{"required":["identCode"],"type":"object","properties":{"identCode":{"type":"string","description":"Ident code of the rating profile <p>length = 50</p>"},"descriptions":{"type":"array","description":"Multi-language descriptions of this RatingProfile","items":{"$ref":"#/components/schemas/TextInLanguageDTO"}}},"description":"DTO representation of a rating profile"},"GetRatingProfilesRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}}},"description":"Request DTO to access all rating profiles configured for the given target client in the Routing engine."},"CarrierDTO":{"required":["identCode"],"type":"object","properties":{"identCode":{"type":"string","description":"Ident code of a carrier <p>length = 20</p>"},"services":{"type":"array","description":"Array of identCodes of services. <p> length = 20 <\\p> per ident code","items":{"$ref":"#/components/schemas/ServiceInfoDTO"}},"valueAddedServices":{"type":"array","description":"Array of identCodes of value added services. <p> length = 20 <\\p> per ident code","items":{"$ref":"#/components/schemas/ValueAddedServiceDTO"}}},"description":"Representation of a carrier."},"GetAllCarriersResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"carriers":{"type":"array","description":"List of all carriers available for the target client as configured in the Routing engine.","items":{"$ref":"#/components/schemas/CarrierDTO"}}},"description":"ResponseDTO for an access request of carriers."},"ServiceInfoDTO":{"required":["identCode"],"type":"object","properties":{"identCode":{"type":"string","description":"Ident code of the service <p>length = 20</p>"}},"description":"DTO to provide service data"},"ValueAddedServiceDTO":{"required":["identCode"],"type":"object","properties":{"identCode":{"type":"string","description":"Ident code of the value-added service <p>length = 20</p>"}},"description":"Representation of a value-added service."},"GetAllCarriersRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}}},"description":"Request DTO to access all carriers existing for the given target client in the Routing engine."},"GetRoutingTaskResultResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"routingTaskResult":{"$ref":"#/components/schemas/RoutingTaskResultDTO"}},"description":"Response DTO of a routing task request."},"HopDTO":{"type":"object","description":"Representation of an handover point"},"PricingSupplementDataDTO":{"required":["currencyIsoCode","settlementPrices","value"],"type":"object","properties":{"currencyIsoCode":{"type":"string","description":"Currency of calculated price in client currency. <br> length = 3"},"value":{"type":"number","description":"Value of calculated price in client currency. <br> length = 15, scale = 2"},"settlementPrices":{"type":"array","description":"Settlement prices, grouped by currency. The settlement prices may be different to the price in client currency and may include prices in different currencies. The list includes all settlement item prices, grouped by settlement currency. Each currency group is summed up, so that only one entry per currency is in this list.","items":{"$ref":"#/components/schemas/AmountOfMoneyDTO"}}},"description":"Price information."},"RouteLegScheduleDTO":{"type":"object","properties":{"earliestShippingDate":{"$ref":"#/components/schemas/DateAndZoneDTO"},"latestShippingDate":{"$ref":"#/components/schemas/DateAndZoneDTO"},"earliestDeliveryDate":{"$ref":"#/components/schemas/DateAndZoneDTO"},"latestDeliveryDate":{"$ref":"#/components/schemas/DateAndZoneDTO"}},"description":"DTO to provide a leg of a route schedule calculation. It's values are filled depending on the calculation state and the calculation mode."},"RouteScheduleDTO":{"required":["configurationIdentCode","state"],"type":"object","properties":{"state":{"type":"string","description":"Calculation state of this schedule. Can have the following values:<br> - PENDING: The routing proposals are still to be calculated. <br> - PROCESSED: Calculation is complete and has valid values<br> - ABORTED: Carrier Select returns an exception.<br> - ERROR: An error was occurred in  the subsequent systems. E.g. Logistics Cost Management.<br> - EXCLUDED: No schedule was calculated as too many service proposals were determined for the request.<br>"},"configurationIdentCode":{"type":"string","description":"Identcode of configuration used to calculate this DTO."},"additionalInfo":{"type":"array","description":"Additional information about the route schedule. <p> length of the translated text=280 </p>","items":{"$ref":"#/components/schemas/TextInLanguageDTO"}},"earliestShippingDate":{"$ref":"#/components/schemas/DateAndZoneDTO"},"latestShippingDate":{"$ref":"#/components/schemas/DateAndZoneDTO"},"earliestDeliveryDate":{"$ref":"#/components/schemas/DateAndZoneDTO"},"latestDeliveryDate":{"$ref":"#/components/schemas/DateAndZoneDTO"},"internalId":{"type":"string","description":"The unique ID of the route schedule. Can be used to uniquely identify the route schedule when requesting the routing task results several times. This is a temporary, unique ID. In very rare cases you may get a different unique ID for the same route schedule and same taskId  (after server restart)."}},"description":"DTO to provide a result of a schedule calculation. It's values are filled depending on the calculation state and the calculation mode."},"RoutingLegProposalDTO":{"required":["endHop","serviceIdentCode","serviceProviderIdentCode","startHop"],"type":"object","properties":{"serviceProviderIdentCode":{"type":"string","description":"IdentCode of the service provider. <p> length = 20 <\\p>"},"serviceIdentCode":{"type":"string","description":"IdentCode of the service <p> length = 20 <\\p>"},"vasIdentCodes":{"type":"array","description":"Array of identCodes of value added services. <p> length = 20 <\\p> per ident code","items":{"type":"string","description":"Array of identCodes of value added services. <p> length = 20 <\\p> per ident code"}},"serviceInfoTextIdentCodes":{"type":"array","description":"Array of identCodes of info texts <p> length = 20 <\\p> per ident code","items":{"type":"string","description":"Array of identCodes of info texts <p> length = 20 <\\p> per ident code"}},"supplements":{"type":"array","description":"Array of supplements for this leg proposal.","items":{"$ref":"#/components/schemas/RoutingSupplementDTO"}},"startHop":{"$ref":"#/components/schemas/HopDTO"},"endHop":{"$ref":"#/components/schemas/HopDTO"},"legSchedule":{"$ref":"#/components/schemas/RouteLegScheduleDTO"},"internalId":{"type":"string","description":"The unique ID of the leg proposal. Can be used to uniquely identify the leg proposal when requesting the routing task results several times. This is a temporary, unique ID. In very rare cases you may get a different unique ID for the same proposal and same taskId  (after server restart)."}},"description":"Describes one leg ('part') of a whole transport chain. The entirety of legs describes a set of services of one proposal. In case of direct simple routing, a proposal contains only one leg."},"RoutingProposalDTO":{"required":["legs","score","sortNumber"],"type":"object","properties":{"legs":{"type":"array","description":"The legs ('parts') of a whole transport chain. Typically only one element.","items":{"$ref":"#/components/schemas/RoutingLegProposalDTO"}},"score":{"type":"number","description":"Score of the proposal. Proposals may have equal score if they are ranked as equal by the rating profile. <br> length = 15 <br> scale = 3 "},"sortNumber":{"type":"integer","description":"Sort number of the proposal. Unique among the proposals of a fixed routing task result. <br> length = 10","format":"int32"},"effectiveSupplements":{"type":"array","description":"Array of supplements for this routing proposal.","items":{"$ref":"#/components/schemas/RoutingSupplementDTO"}},"routeSchedule":{"$ref":"#/components/schemas/RouteScheduleDTO"}},"description":"Main DTO to hold data on a proposal.<br> Each leg contains information on services enriched with supplements as additional information. The entirety of legs describes one proposal.<br> <br> Individual proposals are comparable by their score and can be ordered by their sortNumber. Score and sortNumber are calculated based on supplements by a rating profile. Two proposals might have the same score but have different sort numbers."},"RoutingScheduleTypeDTO":{"type":"object","properties":{"configurationIdentCode":{"type":"string","description":"The configuration ident code for the schedule configuration. Filled when a schedule calculation was configured in the rating profile. <p>length=50</p>"}},"description":"Holds a reference of a schedule configuration."},"RoutingSupplementDTO":{"required":["dataType","name","state"],"type":"object","properties":{"name":{"type":"string","description":"Name of this supplement as configured the Routing Engine."},"state":{"type":"string","description":"Calculation state of this supplement. Can have the following values:<br> - PROCESSED: Calculation is complete and has valid values.<br> - ABORTED: Carrier Select returns an exception.<br> - ERROR: An error was occurred in  the subsequent systems. E.g. Logistics Cost Management.<br>"},"dataType":{"type":"string","description":"Data type contains (simple) name of class of the data holding field in RoutingSupplementDataDTO, i.e. <ul> <li>  ServiceVasValidationSupplementDataDTO </li><li> PricingSupplementDataDTO </li><li> StarRatingSupplementDataDTO </li><li> ValueRatingSupplementDataDTO </li></ul>"},"additionalInfo":{"type":"array","description":"Additional information about the supplement. Depending on the kind of supplement a text with short and valuable content about the supplement. e.g. additional Information about prices, availabilty or errors that occured. <p> length of the translated text=280 </p>","items":{"$ref":"#/components/schemas/TextInLanguageDTO"}},"data":{"$ref":"#/components/schemas/RoutingSupplementDataDTO"}},"description":"This supplement DTO is a container for additional information. One proposal can have multiple supplements. Supplements are calculated individually. A routing task can have multiple proposals whose supplements may not be synchronously calculated."},"RoutingSupplementDataDTO":{"type":"object","properties":{"validationData":{"$ref":"#/components/schemas/ServiceVasValidationSupplementDataDTO"},"pricingData":{"$ref":"#/components/schemas/PricingSupplementDataDTO"},"starRatingData":{"$ref":"#/components/schemas/StarRatingSupplementDataDTO"},"valueRatingData":{"$ref":"#/components/schemas/ValueRatingSupplementDataDTO"}},"description":"Container class for all supplement dependent data for BF. Contains additional data calculated by respective adapters based on a proposal for a routing task. Depending on the type of individual supplements, the data is hold in its respective field. Only one field may be filled at the same time."},"RoutingSupplementTypeDTO":{"required":["dataType","name"],"type":"object","properties":{"name":{"type":"string","description":"Unique name of supplement <p> length=50 </p>"},"dataType":{"type":"string","description":"Class short name of SupplementDataDTO e.g. 'StarRatingSupplementDataDTO'"}},"description":"Each supplement is characterized by a unique name defined by the user and its dataType. It defines one type of supplement."},"RoutingTaskResultDTO":{"required":["state","supportedSupplementTypes","taskId"],"type":"object","properties":{"state":{"type":"string","description":"State of current proposal calculation, it can have the following states:<br> - INPROGRESS: proposals (and ordering) might change in future calls.<br>- COMPLETE: ordering and entries fixed, all supplements calculated.<br>"},"taskId":{"type":"string","description":"Unique taskId of the routing task. <p>length=50</p>"},"referenceNumber":{"type":"string","description":"The reference number for the routing task. <p>length=50</p>"},"supportedSupplementTypes":{"type":"array","description":"List of supported supplements types that are calculated for this routing task.","items":{"$ref":"#/components/schemas/RoutingSupplementTypeDTO"}},"supportedScheduleType":{"$ref":"#/components/schemas/RoutingScheduleTypeDTO"},"proposals":{"type":"array","description":"List of proposals calculated by the Routing engine. Depending on the state, sorting and/or supplements within the proposals might change. The proposals might be empty - even if the calculation has been executed successfully. This depends on the individual service allocations and on the filter settings within the rating profile used for this request.","items":{"$ref":"#/components/schemas/RoutingProposalDTO"}}},"description":"Contains a list of ranked proposals and information on the current calculation status for for the routing task with the given taskId."},"ServiceVasValidationSupplementDataDTO":{"required":["validationResult"],"type":"object","properties":{"validationResult":{"type":"string","description":"Possible values: OK, UNDEFINED, REJECTED"}},"description":"Result of validation"},"StarRatingSupplementDataDTO":{"required":["starRatingValue"],"type":"object","properties":{"starRatingValue":{"type":"integer","description":"Possible values: 1, 2, 3, 4, 5;","format":"int32"}},"description":"Holds the star rating"},"ValueRatingSupplementDataDTO":{"required":["value"],"type":"object","properties":{"value":{"type":"string","description":"Actual value for the rating <p>length=50</p>"}},"description":"Holds the value rating."},"GetRoutingTaskResultRequestDTO":{"required":["taskId"],"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"taskId":{"type":"string","description":"The task id is a unique value that was generated for requesting the results of the according routing task. It is returned when the the routing task is created. <p>length=50</p>"}},"description":"Request DTO to get the a list of ranked proposals and the current calculation status for the routing task defined by the provided task id."},"GetRoutingRequirementTypesResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"types":{"type":"array","description":"List of all requirement types available for the target client as configured in the Routing engine.","items":{"$ref":"#/components/schemas/RoutingRequirementTypeDTO"}}},"description":"ResponseDTO for a request of requirement types."},"RoutingRequirementInTypeDTO":{"required":["identCode"],"type":"object","properties":{"identCode":{"type":"string","description":"Unique identification code of this requirement <p> length=50 </p>"},"descriptions":{"type":"array","description":"Multi-language descriptions of this requirement","items":{"$ref":"#/components/schemas/TextInLanguageDTO"}}},"description":"DTO representation of a routing requirement contained in a routing requirement type.<br> This DTO is used in context of getting a list of all available requirements available for a target client."},"RoutingRequirementTypeDTO":{"required":["identCode","requirements"],"type":"object","properties":{"identCode":{"type":"string","description":"Unique requirement type ident code. <p> length=50 </p>"},"descriptions":{"type":"array","description":"Multi-language descriptions for this type","items":{"$ref":"#/components/schemas/TextInLanguageDTO"}},"requirements":{"type":"array","description":"Routing requirements contained in this type","items":{"$ref":"#/components/schemas/RoutingRequirementInTypeDTO"}}},"description":"DTO representation of a routing requirement type.<br> This DTO is used in context of getting a list of all available requirements available for a target client."},"GetRoutingRequirementTypesRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}}},"description":"Request DTO to access all requirement types configured for the given target client in the Routing engine."},"GetSupplementTaskResultResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"supplementTaskResult":{"$ref":"#/components/schemas/SupplementTaskResultDTO"}},"description":"Response DTO of a supplement task request."},"ServiceDTO":{"required":["serviceIdentCode","serviceProviderIdentCode"],"type":"object","properties":{"serviceIdentCode":{"type":"string","description":"The ID of the service."},"serviceProviderIdentCode":{"type":"string","description":"The ID of the provider."},"vasIdentCodes":{"type":"array","description":"The IDs of the value added services.","items":{"type":"string","description":"The IDs of the value added services."}}},"description":"Representation of a service classified by a service code, a provider code and value-added service codes. <br> This DTO is used in context of creating a SupplementTask."},"SupplementTaskResultDTO":{"required":["service","state","supportedSupplementTypes","taskId"],"type":"object","properties":{"state":{"type":"string","description":"Possible states of calculation are:<br> - INPROGRESS: Some supplements have not been calculated yets.<br>- COMPLETE: All supplements have been calculated.<br>"},"taskId":{"type":"string","description":"Unique taskId of the supplement task. <p>length=50</p>"},"referenceNumber":{"type":"string","description":"The reference number for the supplement task. <p>length=50</p>"},"service":{"$ref":"#/components/schemas/ServiceDTO"},"routeSchedule":{"$ref":"#/components/schemas/RouteScheduleDTO"},"supplements":{"type":"array","description":"List of supplements for this service.","items":{"$ref":"#/components/schemas/RoutingSupplementDTO"}},"supportedSupplementTypes":{"type":"array","description":"List of supported supplements types that are calculated for this supplement task.","items":{"$ref":"#/components/schemas/RoutingSupplementTypeDTO"}}},"description":"Contains a list of calculated supplements and information on the current calculation status for for the routing task with the given taskId."},"GetSupplementTaskResultRequestDTO":{"required":["taskId"],"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"taskId":{"type":"string","description":"The task id is a unique value that was generated for requesting the results of the according supplement task. It is returned when the the supplement task is created. <p>length=50</p>"}},"description":"Request DTO to get the current calculation status for the supplement task defined by the provided task id."},"CreateSupplementTaskResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"taskId":{"type":"string","description":"The taskId is a unique value that is generated for a requested supplement task. Use this taskId to request the calculation result in a separate call of getSupplementTaskResult(GetSupplementTaskResultRequestDTO). <p>length=50</p>"}},"description":"Response DTO for create supplement task."},"CreateSupplementTaskRequestDTO":{"required":["supplementTask"],"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"supplementTask":{"$ref":"#/components/schemas/SupplementTaskDTO"}},"description":"Request DTO for create supplement task."},"SupplementTaskDTO":{"required":["decisiveDate","endLocation","handlingUnits","service","startLocation"],"type":"object","properties":{"referenceNumber":{"type":"string","description":"The clients reference number for the task. <p>length=50</p>"},"routingParms":{"$ref":"#/components/schemas/RoutingParmsDTO"},"handlingUnits":{"type":"array","description":"The handling units of the supplement task.","items":{"$ref":"#/components/schemas/RoutingTaskHandlingUnitDTO"}},"parties":{"type":"array","description":"The parties of the supplement task. ","items":{"$ref":"#/components/schemas/RoutingPartyDTO"}},"startLocation":{"$ref":"#/components/schemas/RoutingTaskLocationDTO"},"endLocation":{"$ref":"#/components/schemas/RoutingTaskLocationDTO"},"decisiveDate":{"type":"string","description":"The string representation of the Date  in the format yyyy-MM-dd. The date is used when it comes to exclude configuration elements that have a validity date. <p>length=10</p>"},"readyForShippingDate":{"$ref":"#/components/schemas/DateAndZoneDTO"},"confirmedDeliveryDate":{"$ref":"#/components/schemas/DateAndZoneDTO"},"termsOfDeliveryCode":{"type":"string","description":"The clients terms of delivery code. Value is not checked in routing but will be checked in carrier validation and is probably needed for freight calculation.   * <p>length=20</p>"},"isDocumentShipment":{"type":"boolean","description":"Indicates whether the supplement task is a document shipment or goods shipment.<br> If true, the shipment is a document shipment.<br> If false, the shipment is a goods shipment.<br> False (= goods shipment) is the default when no value is supplied."},"loadingMeters":{"type":"number","description":"The loading meters of the supplement task. <p>length=15, scale = 3</p>"},"palletPlaces":{"type":"number","description":"The pallet places of the supplement task. <p>length=15, scale = 3</p>"},"addFreightCalculationData":{"$ref":"#/components/schemas/BillingAdditionalFreightCalculationDataDTO"},"service":{"$ref":"#/components/schemas/ServiceDTO"},"procedureIndicator":{"type":"string","description":"(Special) procedure indicator."},"deliveryPriority":{"type":"string","description":"Delivery priority or delivery condition."},"shippingCondition":{"type":"string","description":"Shipping condition."}},"description":"The SupplementTaskDTO is the main representation of a supplement task. The data describes a set of different handling units which shall be transported in one process. Additionally, involved parties, important dates and other parameters of the request are stored within this DTO. <br> <br> Based on these data, the process of service adoption calculates the supplements."},"GetHandoverPointsResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"handoverPoints":{"type":"array","description":"List of all handover points available for the target client as configured in the Routing engine.","items":{"$ref":"#/components/schemas/HandoverPointDTO"}}},"description":"ResponseDTO for an access request of handover points."},"HandoverPointDTO":{"required":["address","identCode"],"type":"object","properties":{"identCode":{"type":"string","description":"Ident code of the handover point <p>length = 50</p>"},"descriptions":{"type":"array","description":"Multi-language desc
[...]
