{
  "openapi": "3.1.0",
  "info": {
    "title": "Carrier Connect HTTP API",
    "description": "Thank you for using our HTTP API documentation.",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://rz3.aeb.de/demo1cai/rest"
    }
  ],
  "security": [
    {
      "SWAGGER_AUTH_KEY": []
    },
    {
      "BASIC_AUTH": []
    }
  ],
  "tags": [
    {
      "name": "Shipping",
      "description": "API for the CarrierEngine service"
    }
  ],
  "paths": {
    "/DLCarrierBFBean/addShipmentAttachments": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "addShipmentAttachments",
        "description": "Adds attachments to a shipment (e.g. invoices, origin documents, etc.).",
        "operationId": "addShipmentAttachments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLAddShipmentAttachmentsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLAddShipmentAttachmentsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLAddShipmentAttachmentsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLAddShipmentAttachmentsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/cancelShipment": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "cancelShipment",
        "description": "Cancels a shipment.",
        "operationId": "cancelShipment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLCancelShipmentRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLCancelShipmentRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLCancelShipmentResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLCancelShipmentResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/createPickup": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "createPickup",
        "description": "Creates a new pickup for the shipments specified in the request.<br> Depending on the request, an error may be returned when the shipments can't form a single pickup, e.g. when they have different carriers.<br> Optionally the new pickup can be manifested. That means that the EDI is sent to the carrier if necessary and the pickup will be closed.<br> When specified in request, the manifest documents are printed.",
        "operationId": "createPickup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLCreatePickupRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLCreatePickupRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLCreatePickupResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLCreatePickupResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/createShipment": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "createShipment",
        "description": "Creates a shipment with the data specified in the shipment request.<br> An error will be returned when the shipment exists already.<br> Optionally various operations like label preparation and label output can be applied on the shipment. A complete processing including the pickup assignment is also possible.<br> The operations are handled asynchronously, so operation processing errors and label documents are not part of the response. They can be retrieved with a <code>syncShipments</code> or <code>getShipments</code> call.",
        "operationId": "createShipment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLCreateShipmentRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLCreateShipmentRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLCreateShipmentResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLCreateShipmentResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/deleteItem": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "deleteItem",
        "description": "Deletes an existing item. Packages containing items remain in the shipment and can be packed again with processShipment. Deleting a item is not always possible. It mainly depends on the status of the package containing the item and the shipment.",
        "operationId": "deleteItem",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLDeleteItemRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLDeleteItemRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLDeleteItemResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLDeleteItemResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/deletePackage": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "deletePackage",
        "description": "Deletes an existing package. Packed items remain unpacked in the shipment and can be packaged again with processShipment. Deleting a package is not always possible. It mainly depends on the status of the package and the shipment.",
        "operationId": "deletePackage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLDeletePackageRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLDeletePackageRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLDeletePackageResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLDeletePackageResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/deletePickup": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "deletePickup",
        "description": "Cancels an existing pickup. All shipments are removed from the pickup and must be assigned to a new pickup by another <code>createPickup</code> call.<br> Warning: EDI data for the existing pickup might have already been sent to the carrier. So check with the carrier that it's fine to cancel the pickup and create a new (differing) one.",
        "operationId": "deletePickup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLDeletePickupRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLDeletePickupRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLDeletePickupResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLDeletePickupResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/getAllCarriers": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "getAllCarriers",
        "description": "Returns a list of all carrier available for the requested client.",
        "operationId": "getAllCarriers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLGetAllCarriersRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLGetAllCarriersRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLGetAllCarriersResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLGetAllCarriersResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/getCarrierPortfolioDetails": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "getCarrierPortfolioDetails",
        "description": "Returns detailed information about the requested carriers.",
        "operationId": "getCarrierPortfolioDetails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLGetCarrierPortfolioDetailsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLGetCarrierPortfolioDetailsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLGetCarrierPortfolioDetailsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLGetCarrierPortfolioDetailsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/getCarrierPortfolioNames": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "getCarrierPortfolioNames",
        "description": "Returns a list of the names of all supported carriers.",
        "operationId": "getCarrierPortfolioNames",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLGetCarrierPortfolioNamesRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLGetCarrierPortfolioNamesRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLGetCarrierPortfolioNamesResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLGetCarrierPortfolioNamesResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/getCarrierProperties": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "getCarrierProperties",
        "description": "Returns the properties of the requested carrier.",
        "operationId": "getCarrierProperties",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLGetCarrierPropertiesRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLGetCarrierPropertiesRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLGetCarrierPropertiesResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLGetCarrierPropertiesResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/getPickups": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "getPickups",
        "description": "Returns detail information about specific pickups.",
        "operationId": "getPickups",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLGetPickupsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLGetPickupsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLGetPickupsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLGetPickupsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/getShipments": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "getShipments",
        "description": "Returns detail information about specific shipments.",
        "operationId": "getShipments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLGetShipmentsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLGetShipmentsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLGetShipmentsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLGetShipmentsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/processItem": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "processItem",
        "description": "Allows to perform operations on an existing item.",
        "operationId": "processItem",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLProcessItemRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLProcessItemRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLProcessItemResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLProcessItemResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/processPackage": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "processPackage",
        "description": "Allows to perform various operations on an existing package. Especially document preparation and document (label) output can be triggered.<br> When the request is specified to handle the operations asynchronously, operation processing errors and label documents are not part of the response. They can be retrieved with a further <code>processPackage</code> call, a <code>syncShipments</code> or <code>getShipments</code> call.",
        "operationId": "processPackage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLProcessPackageRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLProcessPackageRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLProcessPackageResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLProcessPackageResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/processPackageReturnEnclosedLabel": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "processPackageReturnEnclosedLabel",
        "description": "Returns a return enclosed label in case of a return shipment.",
        "operationId": "processPackageReturnEnclosedLabel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLProcessPackageReturnEnclosedLabelRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLProcessPackageReturnEnclosedLabelRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLProcessPackageReturnEnclosedLabelResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLProcessPackageReturnEnclosedLabelResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/processPickup": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "processPickup",
        "description": "Prints or reprints the manifest documents for the pickup. Mainly to be used, when manifest documents were not printed with the <code>createPickup</code> call or if a reprint of the documents is necessary.",
        "operationId": "processPickup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLProcessPickupRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLProcessPickupRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLProcessPickupResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLProcessPickupResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/processShipment": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "processShipment",
        "description": "Allows to add packages or perform various operations on an existing shipment. Especially document preparation and document (label) output can be triggered.<br> When the request is specified to handle the operations asynchronously, operation processing errors and label documents are not part of the response. They can be retrieved with a <code>syncShipments</code> or <code>getShipments</code> call.",
        "operationId": "processShipment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLProcessShipmentRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLProcessShipmentRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLProcessShipmentResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLProcessShipmentResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/syncPickups": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "syncPickups",
        "description": "Allows the synchronization of client system transactions with the engine pickups. By the use of a syncId it is possible to return only pickups that have changed between two syncPickups calls.",
        "operationId": "syncPickups",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLSyncPickupsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLSyncPickupsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLSyncPickupsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLSyncPickupsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/syncShipments": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "syncShipments",
        "description": "Allows the synchronization of client system transactions with the engine shipments. By the use of a syncId it is possible to return only shipments that have changed between two syncShipments calls.",
        "operationId": "syncShipments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLSyncShipmentsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLSyncShipmentsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLSyncShipmentsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLSyncShipmentsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/updateCustomsData": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "updateCustomsData",
        "description": "Updates customs data for one existing shipment. Updates data on shipment and item level. Updates customs relevant data only.",
        "operationId": "updateCustomsData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLUpdateCustomsDataRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLUpdateCustomsDataRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLUpdateCustomsDataResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLUpdateCustomsDataResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/DLCarrierBFBean/validateShipment": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "validateShipment",
        "description": "Validates a shipment with the data specified in the shipment request.<br> Various validation operations can be applied on the shipment to determine, whether the shipment can be processed.",
        "operationId": "validateShipment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLValidateShipmentRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DLValidateShipmentRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLValidateShipmentResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DLValidateShipmentResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CarrierDefinition": {
        "type": "object",
        "description": "The most important information of the carrier definition.",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the MO.",
            "maxLength": 20,
            "minLength": 1
          },
          "carrierType": {
            "type": "string",
            "description": "<p>The carrier type assigns the carrier to a category that defines the support and  maintenance level. Possible values: <li> STANDARD the carrier is part of the standard portfolio. It is regularly maintained, supported and kept up to date. <li> PROJECT the carrier is only used by very few customers and thus is not part of the standard portfolio. <li> CLIENT the carrier is defined for a specific client only and thus is not part of the standard portfolio. </p> <br> PROJECT and CLIENT carrier are not maintained by default and may become outdated over time. Maintenance must be explicitly ordered.",
            "enum": [
              "STANDARD",
              "PROJECT",
              "CLIENT"
            ]
          },
          "name": {
            "type": "string",
            "description": "The name of the requested carrier.",
            "maxLength": 50,
            "minLength": 1
          },
          "translations": {
            "type": "array",
            "description": "The name of the carrier in multiple languages.",
            "items": {
              "$ref": "#/components/schemas/CarrierDefinitionTextTranslation"
            }
          },
          "extendedInfo": {
            "$ref": "#/components/schemas/CarrierExtendedInfo",
            "description": "Extended information for the carrier."
          }
        },
        "required": [
          "carrierType",
          "identCode",
          "name",
          "translations"
        ]
      },
      "CarrierDefinitionTextTranslation": {
        "type": "object",
        "description": "Name of the carrier in a certain language.",
        "properties": {
          "language": {
            "type": "string",
            "description": "2-letter ISO code of the language.",
            "example": "DE",
            "maxLength": 2,
            "minLength": 2,
            "pattern": "[A-Z]{2}"
          },
          "description": {
            "type": "string",
            "description": "Name of the carrier.",
            "maxLength": 250,
            "minLength": 0
          }
        },
        "required": [
          "language"
        ]
      },
      "CarrierExtendedInfo": {
        "type": "object",
        "description": "Extended information of the carrier.",
        "properties": {
          "carrierUrl": {
            "type": "string",
            "description": "The URL of the carrier from the carrier website.",
            "maxLength": 150,
            "minLength": 0
          },
          "imprint": {
            "type": "string",
            "description": "The official name of the carrier.",
            "maxLength": 250,
            "minLength": 0
          }
        }
      },
      "CarrierDefinitionPage": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "description": "The total number of elements available to return.",
            "example": 100,
            "readOnly": true
          },
          "content": {
            "type": "array",
            "description": "List of carrier definitions.",
            "items": {
              "$ref": "#/components/schemas/CarrierDefinition"
            }
          }
        },
        "required": [
          "content",
          "totalElements"
        ]
      },
      "AdditionalValueDefinition": {
        "type": "object",
        "description": "Information about the additional value the carrier offers.",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the MO.",
            "maxLength": 20,
            "minLength": 1
          },
          "dataType": {
            "type": "string",
            "description": "The data type of the additional value.",
            "enum": [
              "BOOLEAN",
              "CHOICE",
              "CURRENCY",
              "DATE",
              "DATETIME",
              "DECIMAL2",
              "DECIMAL3",
              "PACKAGE_TYPE",
              "STRING",
              "TIME"
            ]
          },
          "businessObject": {
            "type": "string",
            "description": "The business object, which the additional value refers to.",
            "enum": [
              "HAZITEM",
              "ITEM",
              "PACKAGE",
              "SHIPMENT"
            ]
          },
          "translations": {
            "type": "array",
            "description": "The name of the additional value in multiple languages.",
            "items": {
              "$ref": "#/components/schemas/AdditionalValueDefinitionTextTranslation"
            }
          }
        },
        "required": [
          "businessObject",
          "dataType",
          "identCode",
          "translations"
        ]
      },
      "AdditionalValueDefinitionDefinitionPage": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "description": "The total number of elements available to return.",
            "example": 100,
            "readOnly": true
          },
          "content": {
            "type": "array",
            "description": "List of additional value definitions.",
            "items": {
              "$ref": "#/components/schemas/AdditionalValueDefinition"
            }
          }
        },
        "required": [
          "content",
          "totalElements"
        ]
      },
      "AdditionalValueDefinitionTextTranslation": {
        "type": "object",
        "description": "Name of the additional value in a certain language.",
        "properties": {
          "language": {
            "type": "string",
            "description": "2-letter ISO code of the language.",
            "example": "DE",
            "maxLength": 2,
            "minLength": 2,
            "pattern": "[A-Z]{2}"
          },
          "name": {
            "type": "string",
            "description": "The name of the additional value.",
            "maxLength": 40,
            "minLength": 0
          }
        },
        "required": [
          "language"
        ]
      },
      "CarrierInfoTextDefinition": {
        "type": "object",
        "description": "Information about the additional info text the carrier offers.",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the MO.",
            "maxLength": 20,
            "minLength": 1
          },
          "carrierInfoTextType": {
            "type": "string",
            "description": "The type of the carrier info text.",
            "enum": [
              "TYPE_DG_INFO_LITHIUM_BATTERY",
              "TYPE_DELIVERY_INSTRUCTION",
              "TYPE_FREE_TEXT",
              "TYPE_GENERAL"
            ]
          },
          "carrierInfoTextParamHandling": {
            "type": "string",
            "description": "The parameter handling type of the carrier info text.",
            "enum": [
              "PARAMETER_NOT_REQUIRED",
              "PARAMETER_REQUIRED",
              "STRUCTURED_DATA_OPTIONAL"
            ]
          },
          "carrierInfoTextStructuredData": {
            "type": "string",
            "description": "The structured data definition of the carrier info text, if applicable.",
            "enum": [
              "CONSIGNEE_CONTACT_PHONE_OR_EMAIL",
              "CONSIGNEE_CONTACT_EMAIL",
              "CONSIGNEE_CONTACT_PHONE",
              "IMPORTER_ADDRESS",
              "PAYER_OF_CHARG_ACC_NO",
              "PICKUPADDR_CONTACT_PHONE",
              "PORT_OF_DISCHARGE_CODE",
              "SHIPPER_EORI_NO",
              "SHIP_OR_PICK_ADDR_CONTACT_PHONE",
              "UNDEFINED",
              "CUSTOM_REGISTRATION_NO",
              "DELIVERY_INSTRUCTION",
              "DELIVERY_NOTE_NUMBER_SHIP",
              "END_CUSTOMER_REFERENCE",
              "GENERAL_INSTRUCTION",
              "INVOICE_NUMBER",
              "PICKUP_INSTRUCTION",
              "PURCHASE_ORDER_NUMBER_SHIP",
              "RECEIVER_EORI_NUMBER",
              "REFERENCENUMBER1",
              "EKAER_NUMBER",
              "SENT_NUMBER",
              "UIT_NUMBER"
            ]
          },
          "maxTextLength": {
            "type": "integer",
            "format": "int32",
            "description": "The maximum text length of the carrier info text, if applicable."
          },
          "translations": {
            "type": "array",
            "description": "The description of the carrier info text in multiple languages.",
            "items": {
              "$ref": "#/components/schemas/CarrierInfoTextDefinitionTextTranslation"
            }
          }
        },
        "required": [
          "carrierInfoTextParamHandling",
          "carrierInfoTextType",
          "identCode",
          "translations"
        ]
      },
      "CarrierInfoTextDefinitionPage": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "description": "The total number of elements available to return.",
            "example": 100,
            "readOnly": true
          },
          "content": {
            "type": "array",
            "description": "List of carrier info text definitions.",
            "items": {
              "$ref": "#/components/schemas/CarrierInfoTextDefinition"
            }
          }
        },
        "required": [
          "content",
          "totalElements"
        ]
      },
      "CarrierInfoTextDefinitionTextTranslation": {
        "type": "object",
        "description": "Description of the carrier info text in a certain language.",
        "properties": {
          "language": {
            "type": "string",
            "description": "2-letter ISO code of the language.",
            "example": "DE",
            "maxLength": 2,
            "minLength": 2,
            "pattern": "[A-Z]{2}"
          },
          "description": {
            "type": "string",
            "description": "The description of the carrier info text.",
            "maxLength": 250,
            "minLength": 0
          }
        },
        "required": [
          "language"
        ]
      },
      "CarrierDespatchCountry": {
        "type": "object",
        "description": "Information about the supported despatch country of the carrier.",
        "properties": {
          "isoCode": {
            "type": "string",
            "description": "The isoCode of the country.",
            "maxLength": 2,
            "minLength": 2,
            "pattern": "[A-Z]{2}"
          },
          "name": {
            "type": "string",
            "description": "The name of the country.",
            "maxLength": 50,
            "minLength": 0
          }
        }
      },
      "CarrierDespatchCountryPage": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "description": "The total number of elements available to return.",
            "example": 100,
            "readOnly": true
          },
          "content": {
            "type": "array",
            "description": "List of all the despatch countries of the carrier. If the carrier operates globally, this list contains all countries.",
            "items": {
              "$ref": "#/components/schemas/CarrierDespatchCountry"
            }
          }
        },
        "required": [
          "content",
          "totalElements"
        ]
      },
      "CarrierDefinitionLogos": {
        "type": "object",
        "description": "The logos of the carrier.",
        "properties": {
          "logo": {
            "type": "string",
            "format": "byte",
            "description": "The logo of the requested carrier."
          },
          "smallLogo": {
            "type": "string",
            "format": "byte",
            "description": "The small logo of the requested carrier."
          },
          "webLogo": {
            "type": "string",
            "format": "byte",
            "description": "The web logo of the requested carrier."
          }
        }
      },
      "ServiceDefinition": {
        "type": "object",
        "description": "Information about the service the carrier offers.",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the MO.",
            "maxLength": 20,
            "minLength": 1
          },
          "isDocumentService": {
            "type": "boolean",
            "description": "Returns true when service is used for the transport of documents."
          },
          "isDomesticAllowed": {
            "type": "boolean",
            "description": "Returns true when service is available for domestic transports."
          },
          "isFixedDateService": {
            "type": "boolean",
            "description": "Returns true when service allows a fixed date delivery."
          },
          "isGoodsService": {
            "type": "boolean",
            "description": "Returns true when service is used for the transport of goods."
          },
          "isInternationalAllowed": {
            "type": "boolean",
            "description": "Returns true when service is available for international transports."
          },
          "isPackageOriented": {
            "type": "boolean",
            "description": "Returns true when service is package oriented."
          },
          "note": {
            "type": "string",
            "description": "Comments for the service."
          },
          "translations": {
            "type": "array",
            "description": "The name and description of the service in multiple languages.",
            "items": {
              "$ref": "#/components/schemas/ServiceDefinitionTextTranslation"
            }
          }
        },
        "required": [
          "identCode"
        ]
      },
      "ServiceDefinitionPage": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "description": "The total number of elements available to return.",
            "example": 100,
            "readOnly": true
          },
          "content": {
            "type": "array",
            "description": "List of service definitions.",
            "items": {
              "$ref": "#/components/schemas/ServiceDefinition"
            }
          }
        },
        "required": [
          "content",
          "totalElements"
        ]
      },
      "ServiceDefinitionTextTranslation": {
        "type": "object",
        "description": "Name and description of the service in a certain language.",
        "properties": {
          "language": {
            "type": "string",
            "description": "2-letter ISO code of the language.",
            "example": "DE",
            "maxLength": 2,
            "minLength": 2,
            "pattern": "[A-Z]{2}"
          },
          "name": {
            "type": "string",
            "description": "The name of the service.",
            "maxLength": 250,
            "minLength": 0
          },
          "description": {
            "type": "string",
            "description": "The description of the service.",
            "maxLength": 250,
            "minLength": 0
          }
        },
        "required": [
          "language"
        ]
      },
      "ValueAddedServiceDefinition": {
        "type": "object",
        "description": "Information about the value added service the carrier offers.",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the MO.",
            "maxLength": 20,
            "minLength": 1
          },
          "valueAddedServiceType": {
            "type": "string",
            "description": "The type of the value added service.",
            "enum": [
              "ADD_INS",
              "BULK_CHILD",
              "BULK_MASTER",
              "COD",
              "COLL_BOOK",
              "DEL_CONF",
              "IRR_PICKUP",
              "MINIMUM_VALIDATION",
              "NONE",
              "NOTIFY",
              "PALLET_EXCHANGE",
              "REQ_DELDATE",
              "RETURN_ENCL",
              "RETURN_ENCL_ADV",
              "RETURN_DEMAND",
              "SAT_DEL",
              "UPL_DOCS"
            ]
          },
          "translations": {
            "type": "array",
            "description": "The name and the description of the value added service in multiple languages.",
            "items": {
              "$ref": "#/components/schemas/ValueAddedServiceDefinitionTextTranslation"
            }
          }
        },
        "required": [
          "identCode",
          "translations",
          "valueAddedServiceType"
        ]
      },
      "ValueAddedServiceDefinitionPage": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "description": "The total number of elements available to return.",
            "example": 100,
            "readOnly": true
          },
          "content": {
            "type": "array",
            "description": "List of value added service definitions.",
            "items": {
              "$ref": "#/components/schemas/ValueAddedServiceDefinition"
            }
          }
        },
        "required": [
          "content",
          "totalElements"
        ]
      },
      "ValueAddedServiceDefinitionTextTranslation": {
        "type": "object",
        "description": "Name and description of the value added service in a certain language.",
        "properties": {
          "language": {
            "type": "string",
            "description": "2-letter ISO code of the language.",
            "example": "DE",
            "maxLength": 2,
            "minLength": 2,
            "pattern": "[A-Z]{2}"
          },
          "name": {
            "type": "string",
            "description": "The name of the value added service.",
            "maxLength": 250,
            "minLength": 0
          },
          "description": {
            "type": "string",
            "description": "The description of the value added service.",
            "maxLength": 250,
            "minLength": 0
          }
        },
        "required": [
          "language"
        ]
      },
      "CarrierDescription": {
        "type": "object",
        "description": "Textual description of the functional scope of a carrier.",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the MO.",
            "maxLength": 20,
            "minLength": 1
          },
          "name": {
            "type": "string",
            "description": "The name of the carrier.",
            "maxLength": 50,
            "minLength": 1
          },
          "descriptionDe": {
            "type": "string",
            "description": "The description of the carrier in German locale."
          },
          "descriptionEn": {
            "type": "string",
            "description": "The description of the carrier in English locale."
          },
          "markdownDe": {
            "type": "string",
            "description": "Description text in format markdown and German locale."
          },
          "markdownEn": {
            "type": "string",
            "description": "Description text in format markdown and English locale."
          }
        },
        "required": [
          "identCode",
          "name"
        ]
      },
      "CarrierDescriptionPage": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "description": "The total number of elements available to return.",
            "example": 100,
            "readOnly": true
          },
          "content": {
            "type": "array",
            "description": "List of carrier descriptions.",
            "items": {
              "$ref": "#/components/schemas/CarrierDescription"
            }
          }
        },
        "required": [
          "content",
          "totalElements"
        ]
      },
      "CarrierSetup": {
        "type": "object",
        "description": "The most important information of the carrier setup.",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the MO.",
            "maxLength": 20,
            "minLength": 1
          },
          "isEnabled": {
            "type": "boolean",
            "description": "If false, the carrier setup is logically deleted. <br> Disabling a carrier setup means that it cannot be linked to new shipments any more. <br>Disabled carrier setups are considered in both PUT and DELETE /carrier-setups API methods.",
            "example": false
          },
          "name": {
            "type": "string",
            "description": "The name of the carrier setup",
            "example": "DHL Paket international",
            "maxLength": 50,
            "minLength": 0,
            "readOnly": true
          },
          "type": {
            "type": "string",
            "description": "The type of the carrier setup",
            "enum": [
              "STANDARD",
              "PROJECT",
              "CLIENT"
            ],
            "example": "STANDARD",
            "readOnly": true
          }
        },
        "required": [
          "identCode",
          "name",
          "type"
        ]
      },
      "AebProblem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri-reference",
            "description": "A URI reference that uniquely identifies the problem type in the\ncontext of the provided API. Opposed to the specification in RFC-7807,\nit neither points to a human-readable documentation nor globally\nunique for the problem type."
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
            "example": 404
          },
          "title": {
            "type": "string",
            "description": "Title",
            "example": "Not found"
          },
          "detail": {
            "type": "string",
            "description": "Detail info",
            "example": "Item not found"
          },
          "instance": {
            "type": "string",
            "format": "uri",
            "description": "A URI reference that identifies the specific occurrence of the problem.",
            "example": "item/12345"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the error",
            "example": "2024-03-28T12:45:31.7857371Z"
          },
          "xRequestId": {
            "type": "string",
            "description": "ID of the request that is associated with the problem."
          },
          "errors": {
            "type": "array",
            "description": "Array of related errors",
            "items": {
              "$ref": "#/components/schemas/AebProblemError"
            }
          }
        }
      },
      "AebProblemError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code identifying the type of the error.",
            "example": "INVALID_VALUE"
          },
          "message": {
            "type": "string",
            "description": "Description of the error.",
            "example": "Item number invalid"
          },
          "field": {
            "type": "string",
            "description": "JSON pointer to a data field that contains the erroneous value.",
            "example": "items/2/itemNumber"
          },
          "value": {
            "type": "string",
            "description": "Textual representation of the erroneous value.",
            "example": "7411A"
          }
        }
      },
      "CarrierSetupPage": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "description": "The total number of elements available to return.",
            "example": 100,
            "readOnly": true
          },
          "content": {
            "type": "array",
            "description": "List of carrier setups.",
            "items": {
              "$ref": "#/components/schemas/CarrierSetup"
            }
          }
        },
        "required": [
          "content",
          "totalElements"
        ]
      },
      "AdditionalValueChoiceEntry": {
        "type": "object",
        "description": "Additional information about the choice entry of an additional value.",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the choice entry.",
            "maxLength": 100,
            "minLength": 1
          },
          "ediCode": {
            "type": "string",
            "description": "The ediCode of the choice entry",
            "maxLength": 100,
            "minLength": 0
          },
          "translations": {
            "type": "array",
            "description": "The name of the choice entry in multiple languages.",
            "items": {
              "$ref": "#/components/schemas/ChoiceEntryTextTranslation"
            }
          }
        },
        "required": [
          "identCode",
          "translations"
        ]
      },
      "AdditionalValueSetupAttributes": {
        "type": "object",
        "description": "Information about the additional value setup.",
        "properties": {
          "dataType": {
            "type": "string",
            "description": "The data type of the additional value",
            "enum": [
              "BOOLEAN",
              "CHOICE",
              "CURRENCY",
              "DATE",
              "DATETIME",
              "DECIMAL2",
              "DECIMAL3",
              "PACKAGE_TYPE",
              "STRING",
              "TIME"
            ]
          },
          "businessObject": {
            "type": "string",
            "description": "The business object, which the additional value refers to",
            "enum": [
              "HAZITEM",
              "ITEM",
              "PACKAGE",
              "SHIPMENT"
            ]
          },
          "translations": {
            "type": "array",
            "description": "The name of the additional value in multiple languages.",
            "items": {
              "$ref": "#/components/schemas/AdditionalValueTextTranslation"
            }
          },
          "choiceList": {
            "type": "array",
            "description": "List of choices for the Datatype 'choice'",
            "items": {
              "$ref": "#/components/schemas/AdditionalValueChoiceEntry"
            }
          }
        },
        "required": [
          "businessObject",
          "choiceList",
          "dataType",
          "translations"
        ]
      },
      "AdditionalValueTextTranslation": {
        "type": "object",
        "description": "Name of the additional value in a certain language.",
        "properties": {
          "language": {
            "type": "string",
            "description": "2-letter ISO code of the language.",
            "example": "DE",
            "maxLength": 2,
            "minLength": 2,
            "pattern": "[A-Z]{2}"
          },
          "name": {
            "type": "string",
            "description": "The name of the additional value.",
            "example": "UPS Express",
            "maxLength": 50,
            "minLength": 0
          }
        },
        "required": [
          "language"
        ]
      },
      "AdditionalValuesSetup": {
        "type": "object",
        "description": "Information about an additional value setup.",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the MO.",
            "maxLength": 20,
            "minLength": 1
          },
          "type": {
            "type": "string",
            "description": "The type of the additional value",
            "enum": [
              "DEFINITION_BASED",
              "SETUP_SPECIFIC"
            ]
          },
          "attributes": {
            "$ref": "#/components/schemas/AdditionalValueSetupAttributes",
            "description": "The attributes of the additional value. Will be ignored for type definition based"
          }
        },
        "required": [
          "identCode",
          "type"
        ]
      },
      "ChoiceEntryTextTranslation": {
        "type": "object",
        "description": "Name of the choice entry in a certain language.",
        "properties": {
          "language": {
            "type": "string",
            "description": "2-letter ISO code of the language.",
            "example": "DE",
            "maxLength": 2,
            "minLength": 2,
            "pattern": "[A-Z]{2}"
          },
          "name": {
            "type": "string",
            "description": "The name of the choice entry",
            "example": "UPS Express",
            "maxLength": 40,
            "minLength": 0
          }
        },
        "required": [
          "language"
        ]
      },
      "AdditionalValueSetupPage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "description": "List of additional value setups.",
            "items": {
              "$ref": "#/components/schemas/AdditionalValuesSetup"
            }
          }
        },
        "required": [
          "content"
        ]
      },
      "CarrierSetupStatus": {
        "type": "object",
        "description": "The status of a carrier setup.",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the carrier setup. Possible values are: <li>COMPLETE <li>INCOMPLETE<br> COMPLETE means that the carrier setup is ready for use. INCOMPLETE means that the carrier setup still has status objectives and therefore is not ready for use.",
            "enum": [
              "COMPLETE",
              "INCOMPLETE"
            ],
            "readOnly": true
          }
        },
        "required": [
          "status"
        ]
      },
      "CarrierSetupApplicationURL": {
        "type": "object",
        "description": "The application URL of a carrier setup.",
        "properties": {
          "url": {
            "type": "string",
            "description": "Application URL of a carrier setup.",
            "readOnly": true
          }
        },
        "required": [
          "url"
        ]
      },
      "CarrierInfoTextSetup": {
        "type": "object",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the MO.",
            "maxLength": 20,
            "minLength": 1
          },
          "isEnabled": {
            "type": "boolean",
            "description": "If false, the carrier info text is inactive and not available for new shipments.",
            "example": true
          },
          "isDeprecated": {
            "type": "boolean",
            "description": "If true, the carrier info text is deprecated an should not be used anymore for new shipments.",
            "example": true,
            "readOnly": true
          }
        },
        "required": [
          "identCode"
        ]
      },
      "CarrierInfoTextSetupPage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "description": "List of carrier info text setups.",
            "items": {
              "$ref": "#/components/schemas/CarrierInfoTextSetup"
            }
          }
        },
        "required": [
          "content"
        ]
      },
      "ServiceSetup": {
        "type": "object",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the MO.",
            "maxLength": 20,
            "minLength": 1
          },
          "isEnabled": {
            "type": "boolean",
            "description": "If false, the carrier service is inactive and not available for new shipments.",
            "example": true
          },
          "isDeprecated": {
            "type": "boolean",
            "description": "If true, the carrier service is deprecated an should not be used anymore for new shipments.",
            "example": true,
            "readOnly": true
          }
        },
        "required": [
          "identCode"
        ]
      },
      "ServiceSetupPage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "description": "List of service setups.",
            "items": {
              "$ref": "#/components/schemas/ServiceSetup"
            }
          }
        },
        "required": [
          "content"
        ]
      },
      "ValueAddedService": {
        "type": "object",
        "description": "Information about the value added service setup.",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the MO.",
            "maxLength": 20,
            "minLength": 1
          },
          "isEnabled": {
            "type": "boolean",
            "description": "If false, the value added service is inactive and not available for new shipments.",
            "example": true
          },
          "isDeprecated": {
            "type": "boolean",
            "description": "If true, the value added service is deprecated an should not be used anymore for new shipments.",
            "example": true,
            "readOnly": true
          }
        },
        "required": [
          "identCode"
        ]
      },
      "ValueAddedServicePage": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "description": "List of value added service setups.",
            "items": {
              "$ref": "#/components/schemas/ValueAddedService"
            }
          }
        },
        "required": [
          "content"
        ]
      },
      "DLClientTermsOfDeliveryRestDTO": {
        "type": "object",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the MO.",
            "maxLength": 20,
            "minLength": 1
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates that this terms of delivery is set by default in the shipping order.",
            "example": false,
            "readOnly": true
          },
          "costType": {
            "type": "string",
            "description": "The type of costs of the terms of delivery.",
            "enum": [
              "CHARGEABLE",
              "FREEDELIVERY"
            ]
          },
          "customsDutyTaxesType": {
            "type": "string",
            "description": "The type of duties and taxes of the terms of delivery.",
            "enum": [
              "PAIDTAXED",
              "PAIDUNTAXED",
              "TAXESUNDEFINED",
              "UNPAIDTAXED",
              "UNPAIDUNTAXED"
            ]
          },
          "incotermIdentCode": {
            "type": "string",
            "description": "The ID of the incoterm of the terms of delivery."
          },
          "translations": {
            "type": "array",
            "description": "The name of the terms of delivery in multiple languages.",
            "items": {
              "$ref": "#/components/schemas/TermsOfDeliveryTextTranslation"
            }
          }
        },
        "required": [
          "costType",
          "identCode",
          "translations"
        ]
      },
      "TermsOfDeliveryTextTranslation": {
        "type": "object",
        "description": "Description of the terms of delivery in a certain language.",
        "properties": {
          "language": {
            "type": "string",
            "description": "2-letter ISO code of the language.",
            "example": "DE",
            "maxLength": 2,
            "minLength": 2,
            "pattern": "[A-Z]{2}"
          },
          "description": {
            "type": "string",
            "description": "The description of the terms of delivery.",
            "maxLength": 250,
            "minLength": 0
          }
        },
        "required": [
          "language"
        ]
      },
      "DLClientTermsOfDeliveryListRestDTO": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "description": "The total number of elements available to return.",
            "example": 100,
            "readOnly": true
          },
          "content": {
            "type": "array",
            "description": "List of terms of deliveries.",
            "items": {
              "$ref": "#/components/schemas/DLClientTermsOfDeliveryRestDTO"
            }
          }
        },
        "required": [
          "content",
          "totalElements"
        ]
      },
      "ComboboxEntryDTO": {
        "type": "object",
        "description": "For common use in BF methods which return combobox entries, e.g. for a list of master file data.",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the entry. <p>length=50</p>"
          },
          "descriptions": {
            "type": "array",
            "description": "The description of the entry in the requested result languages.",
            "items": {
              "$ref": "#/components/schemas/TextInLanguageDTO"
            }
          }
        }
      },
      "DLInvalidValueDTO": {
        "type": "object",
        "properties": {
          "possibleValues": {
            "type": "array",
            "description": "A possible value for the interface.",
            "items": {
              "$ref": "#/components/schemas/DLPossibleValuesDTO"
            }
          },
          "invalidValue": {
            "type": "string",
            "description": "The invalid value that is to be changed."
          },
          "maxTextLength": {
            "type": "integer",
            "format": "int32",
            "description": "The maximum length of the text in the value that is to be changed."
          }
        }
      },
      "DLMustBeFilledDTO": {
        "type": "object",
        "properties": {
          "possibleValues": {
            "type": "array",
            "description": "A possible value for the interface.",
            "items": {
              "$ref": "#/components/schemas/DLPossibleValuesDTO"
            }
          },
          "maxTextLength": {
            "type": "integer",
            "format": "int32",
            "description": "The maximum length of the text in the value that is to be changed."
          }
        }
      },
      "DLObjectiveTextsDTO": {
        "type": "object",
        "properties": {
          "languageISOCode": {
            "type": "string",
            "description": "Language of the texts.",
            "example": "en"
          },
          "cause": {
            "type": "string",
            "description": "Cause of the objective."
          },
          "message": {
            "type": "string",
            "description": "Message of the objective."
          },
          "solution": {
            "type": "string",
            "description": "Solution of the objective."
          }
        }
      },
      "DLPossibleValuesDTO": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "The type of the value that is to be changed."
          }
        }
      },
      "DLShipmentObjectivePathSegmentDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of previus path segment.",
            "example": "packageTransactionId of the package"
          },
          "segment": {
            "type": "string",
            "description": "One segment of the path."
          }
        }
      },
      "GetShipmentObjectivesResponse": {
        "type": "object",
        "description": "The determined objectives of a shipment.",
        "properties": {
          "reachedBoStatus": {
            "$ref": "#/components/schemas/ComboboxEntryDTO",
            "description": "The actual status of the shipment."
          },
          "objectives": {
            "type": "array",
            "description": "The objectives of the shipment.",
            "items": {
              "$ref": "#/components/schemas/ShipmentObjective"
            }
          }
        }
      },
      "ShipmentObjective": {
        "type": "object",
        "description": "All accessible data of an Objective.",
        "properties": {
          "objectiveType": {
            "type": "string",
            "description": "Type of the objective.",
            "example": "MUST_BE_FILLED"
          },
          "objectiveTexts": {
            "$ref": "#/components/schemas/DLObjectiveTextsDTO",
            "description": "Info texts of the objective."
          },
          "path": {
            "type": "array",
            "description": "The path of the objective.",
            "items": {
              "$ref": "#/components/schemas/DLShipmentObjectivePathSegmentDTO"
            }
          },
          "invalidValue": {
            "$ref": "#/components/schemas/DLInvalidValueDTO",
            "description": "The data for fields with invalid values."
          },
          "mustBeFilled": {
            "$ref": "#/components/schemas/DLMustBeFilledDTO",
            "description": "The data for fields that must be filled."
          }
        }
      },
      "TextInLanguageDTO": {
        "type": "object",
        "description": "A translated text in one of the specified languages.",
        "properties": {
          "languageISOCode": {
            "type": "string",
            "description": "<p>2-letter ISO code of the language.</p><p>length=2</p>",
            "example": "en"
          },
          "text": {
            "type": "string",
            "description": "The translated text.",
            "example": "Some free-form text"
          }
        }
      },
      "AmountOfMoneyDTO": {
        "type": "object",
        "description": "An amount of money with a value and an currency ISO code.",
        "properties": {
          "value": {
            "type": "number",
            "description": "The value of the amount of money. <p>length=15, scale=2</p>"
          },
          "currencyIso": {
            "type": "string",
            "description": "The three letter ISO code of the currency of the amount of money. <p>length=3</p>"
          }
        }
      },
      "DLContainerDataDTO": {
        "type": "object",
        "description": "DTO containing data for container package types.",
        "properties": {
          "verifiedGrossMass": {
            "$ref": "#/components/schemas/QuantityDTO",
            "description": "Total gross mass from the tare weight of a container and the (individual) weights of all packages and cargo items, including pallets, stowage material and other packaging and securing materials loaded into a container. "
          },
          "verificationMethod": {
            "type": "string",
            "description": "Method for verifying the gross mass of the container. Valid values are: <ul> <li>METHOD_1</li> <li>METHOD_2</li> </ul> <br> <p> length=8 </p>"
          },
          "verificationContactName": {
            "type": "string",
            "description": "Name of the person responsible for determining and passing on the VGM. <p> length = 35 </p>"
          }
        }
      },
      "DLCuboidDimensionsDTO": {
        "type": "object",
        "description": "DLCuboidDimensionsDTO with length, width, height and identCode.",
        "properties": {
          "length": {
            "type": "number",
            "description": "Represents the length of the dimensions. <p> length=15, scale=2 </p>"
          },
          "width": {
            "type": "number",
            "description": "Represents the width of the dimensions. <p> length=15, scale=2 </p>"
          },
          "height": {
            "type": "number",
            "description": "Represents the height of the dimensions. <p> length=15, scale=2 </p>"
          },
          "identCode": {
            "type": "string",
            "description": "Identifier of the quantity unit (must be unique).<p> length=10 </p>"
          }
        },
        "required": [
          "height",
          "identCode",
          "length",
          "width"
        ]
      },
      "DLHazardousGoodsItemRequestDataDTO": {
        "type": "object",
        "description": "DTO for request information of a DLHazardousGoodsItem.",
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "<p> The shipment wide unique id for the hazardous goods item. </p> <p> length=50 </p>"
          },
          "unNumber": {
            "type": "string",
            "description": "UN number <p> length=8 <p>"
          },
          "hazardRegulation": {
            "type": "string",
            "description": "Hazardous regulation to be applied. Valid values are: <ul> <li>ADR</li> <li>ADG</li> <li>NZDG</li> <li>IATA</li> <li>IMDG</li> <li>TDG</li> <li>CFR</li> </ul> <p> length=10 <p>"
          },
          "technicalName": {
            "type": "string",
            "description": "Technical name <p> length=250 <p>"
          },
          "hazardAdditionalDescription": {
            "type": "string",
            "description": "Additional description <p> length=250 <p>"
          },
          "hazardousGoodsType": {
            "type": "string",
            "description": "Indicates the type of hazardous goods packaged in the package. Valid values are: <li>UNDEFINED\t\t(not defined, the type is determined by the hazardous good's package) <li>NORMAL \t(hazardous goods) <li>EQ\t\t(excepted quantities) <li>LQ\t\t(limited quantities) <li>US_ORMD\t\t(other regulated materials for domestic transport only) - Since 2021 this code is not used anymore <li>US_SMALL_QUANTITY\t\t(small quantity regulated materials) - only relevant for US"
          },
          "hazardClass": {
            "type": "string",
            "description": "Hazardous class. Valid values are: <ul> <li>1</li> <li>1.1</li> <li>1.2</li> <li>1.3</li> <li>1.4</li> <li>1.5</li> <li>1.6</li> <li>2</li> <li>2.1</li> <li>2.2</li> <li>2.3</li> <li>3</li> <li>4</li> <li>4.1</li> <li>4.2</li> <li>4.3</li> <li>5</li> <li>5.1</li> <li>5.2</li> <li>6</li> <li>6.1</li> <li>6.2</li> <li>7</li> <li>7A</li> <li>7B</li> <li>7C</li> <li>7E</li> <li>8</li> <li>9</li> <li>NONE</li> </ul> <p> length=10 <p>"
          },
          "subriskClass1": {
            "type": "string",
            "description": "Sub risk 1 hazardous class. Valid values are: <ul> <li>1</li> <li>1.1</li> <li>1.2</li> <li>1.3</li> <li>1.4</li> <li>1.5</li> <li>1.6</li> <li>2</li> <li>2.1</li> <li>2.2</li> <li>2.3</li> <li>3</li> <li>4</li> <li>4.1</li> <li>4.2</li> <li>4.3</li> <li>5</li> <li>5.1</li> <li>5.2</li> <li>6</li> <li>6.1</li> <li>6.2</li> <li>7</li> <li>7A</li> <li>7B</li> <li>7C</li> <li>7E</li> <li>8</li> <li>9</li> <li>NONE</li> </ul> <p> length=10 <p>"
          },
          "subriskClass2": {
            "type": "string",
            "description": "Sub risk 2 hazardous class. Valid values are: <ul> <li>1</li> <li>1.1</li> <li>1.2</li> <li>1.3</li> <li>1.4</li> <li>1.5</li> <li>1.6</li> <li>2</li> <li>2.1</li> <li>2.2</li> <li>2.3</li> <li>3</li> <li>4</li> <li>4.1</li> <li>4.2</li> <li>4.3</li> <li>5</li> <li>5.1</li> <li>5.2</li> <li>6</li> <li>6.1</li> <li>6.2</li> <li>7</li> <li>7A</li> <li>7B</li> <li>7C</li> <li>7E</li> <li>8</li> <li>9</li> <li>NONE</li> </ul> <p> length=10 <p>"
          },
          "classificationCode": {
            "type": "string",
            "description": "Classification code <p> length=4 <p>"
          },
          "tunnelCode": {
            "type": "string",
            "description": "Tunnel restriction code <p> length=10 <p>"
          },
          "packagingGroup": {
            "type": "string",
            "description": "Hazardous packaging group. Valid Values are: <ul> <li>NONE</li> <li>I</li> <li>II</li> <li>III</li> </ul> <p> length=10 <p>"
          },
          "packingInstruction": {
            "type": "string",
            "description": "IATA packing instruction. Consists of the instruction code (up to three digits with optional prefix Y) optionally followed by a section identification (up to two upper case characters). Instruction code and section must be separated by an underscore. The section identification is mandatory for lithium batteries otherwise the instruction code alone is sufficient. Example Values are: <ul> <li>203</li> <li>350</li> <li>Y203</li> <li>965_IA</li> <li>965_IB</li> <li>965_I</li> </ul> <p> length=10 </p>"
          },
          "specialProvision": {
            "type": "string",
            "description": "Special provisions for the carriage of hazardous goods. Consists of the provision code (up to three digits) or the chapter specification (up to three digits), optionally followed by sub-chapters (up to two digits or one digit and an upper case character). Chapter and subchapters must be separated by a dot. Also possible are 3 capital letters + hyphen, followed by further numbers or letters or 1 capital letter followed by numbers. Example Values are: <ul> <li>188</li> <li>2.2.9.1.7</li> <li>63.3A</li> <li>USG-...</li> <li>A213</li> </ul> <p> length=20 </p>"
          },
          "multiplicator": {
            "type": "string",
            "description": "Hazardous multiplicator. Valid Values are: <ul> <li>NONE</li> <li>0</li> <li>1</li> <li>3</li> <li>50</li> <li>INFINITE</li> </ul> <p> length=10 <p>"
          },
          "packageTypeIdentCode": {
            "type": "string",
            "description": "IdentCode of the package type. Valid values are depending on the client's package types in the master file data. <p> length=20 </p>"
          },
          "hazardWeight": {
            "$ref": "#/components/schemas/QuantityDTO",
            "description": "The specific weight of the hazardous material."
          },
          "hazardNetQuantity": {
            "$ref": "#/components/schemas/QuantityDTO",
            "description": "The net quantity of the hazardous material. Can be net weight or volume like liter."
          },
          "netExplosiveWeight": {
            "$ref": "#/components/schemas/QuantityDTO",
            "description": "The net explosive weight value of the hazardous material."
          },
          "numberOfPackages": {
            "type": "integer",
            "format": "int32",
            "description": "Number of packages <p> length=10 </p>"
          },
          "hazardLabel": {
            "type": "string",
            "description": "Hazardous label <p> length=10 </p>"
          },
          "transportCategory": {
            "type": "string",
            "description": "Transport category. Valid Values are: <ul> <li>NONE</li> <li>0</li> <li>1</li> <li>2</li> <li>3</li> <li>4</li> </ul> <p> length=4 <p>"
          },
          "specialSubstanceType": {
            "type": "string",
            "description": "Special Substance type. Valid Values are: <ul> <li>NONE</li> <li>BIOLOGICAL_SUBSTANCE</li> <li>DRY_ICE</li> <li>GENETICALLY_MODIFIED_ORGANISM</li> <li>LITHIUM_BATTERY</li> <li>RADIOACTIVE_SUBSTANCE</li> </ul> <p> length=30 <p>"
          },
          "hazardPoints": {
            "type": "integer",
            "format": "int32",
            "description": "Hazardous points <p> length=5 </p>"
          },
          "flashPoint": {
            "type": "string",
            "description": "Flash point <p> length=20 </p>"
          },
          "specialProvisionMarking": {
            "type": "string",
            "description": "Indicates if the special provision has to be marked. Valid Values are: <ul> <li>REQUIRED</li> <li>NOT_REQUIRED</li> </ul> <p> length=20 <p>"
          },
          "emergencyContact": {
            "$ref": "#/components/schemas/DLPersonDTO",
            "description": "Emergency contact person."
          },
          "transportAuthorization": {
            "type": "string",
            "description": "Transport authorization. Additional information that may be required by regulation about a hazardous material such as DOT-SP number (Special Permit), LAA number... <p> length=250 </p>"
          },
          "packingInstructionMarking": {
            "type": "string",
            "description": "Indicates if the packing instruction has to be marked. Valid Values are: <ul> <li>REQUIRED</li> <li>NOT_REQUIRED</li> </ul> <p> length=20 <p>"
          },
          "marinePollutant": {
            "type": "string",
            "description": "Indicates if the substance is a marine pollutant according to IMDG or CFR. When no value is given, default is NO_POLLUTANT. Valid Values are: <ul> <li>NO_POLLUTANT</li> <li>POLLUTANT</li> <li>SEVERE_POLLUTANT</li> </ul> <p> length=20 <p>"
          },
          "controlTemperature": {
            "type": "string",
            "description": "The control temperature according to IMDG or CFR. <p> length=4 <p>"
          },
          "emergencyTemperature": {
            "type": "string",
            "description": "The emergency temperature according to IMDG or CFR. <p> length=4 <p>"
          },
          "isEnvironmentallyHazardous": {
            "type": "boolean",
            "description": "Indicates if the substance is environmentally hazardous according to ADR or IATA."
          },
          "isReportableQuantity": {
            "type": "boolean",
            "description": "Indicates if package contains hazardous materials in an amount that needs to be reported."
          },
          "isTransportByCargoAircraftOnly": {
            "type": "boolean",
            "description": "Indicates if the transportation is only allowed in the cargo aircraft."
          },
          "isNotRegulated": {
            "type": "boolean",
            "description": "Indicates if no hazardous goods exist in accordance with the regulations."
          },
          "additionalValues": {
            "$ref": "#/components/schemas/GenericDataRecordDTO",
            "description": "Additional values for the hazardous goods item. The definition of the included fields depends on the carrier. Only field names defined in the carrier customizing are allowed here.<br> Use the <code>getCarrierProperties</code> business facade call to retrieve all valid field names for a specific carrier."
          }
        },
        "required": [
          "hazardRegulation"
        ]
      },
      "DLPackageCumulationRequestDataDTO": {
        "type": "object",
        "description": "DTO for package cumulation data.",
        "properties": {
          "numberOfPackages": {
            "type": "integer",
            "format": "int32",
            "description": "The number of packages. <p> length=3 </p>"
          },
          "packageTypeIdentCode": {
            "type": "string",
            "description": "IdentCode of the package type. Valid values are depending on the client's package types in the master file data. <p> length=20 </p>"
          },
          "packageSpecificeContents": {
            "type": "string",
            "description": "The content description of the package. If left empty, the content description supplied in field 'contents' on shipment level will be used for this package. <p> length=250 </p>"
          },
          "weight": {
            "$ref": "#/components/schemas/QuantityDTO",
            "description": "Weight"
          },
          "volume": {
            "$ref": "#/components/schemas/QuantityDTO",
            "description": "Volume"
          },
          "loadingMeters": {
            "type": "number",
            "description": "The loading meters needed for the packages. <p>length=10, scale=3</p>"
          },
          "palletPlaces": {
            "type": "number",
            "description": "The pallet places needed for the packages. <p>length=10, scale=3</p>"
          }
        },
        "required": [
          "numberOfPackages",
          "packageTypeIdentCode"
        ]
      },
      "DLPackageHazardousGoodsDataRequestDTO": {
        "type": "object",
        "description": "Holds hazardous goods data concerning the package.",
        "properties": {
          "hazardousGoodsType": {
            "type": "string",
            "description": "Indicates the type of hazardous goods packaged in the package. Valid values are: <li>NONE\t\t(no hazardous goods) <li>NORMAL \t(hazardous goods) <li>EQ\t\t(excepted quantities) <li>LQ\t\t(limited quantities) <li>SPECIAL_SUBSTANCE\t(special substance) <li>ORMD\t\t(other regulated materials for domestic transport only) - Since 2021 this code is not used anymore <li>US_SMALL_QUANTITY\t\t(small quantity regulated materials) - only relevant for US"
          },
          "packagingTypeHandling": {
            "type": "string",
            "description": "Indicates the hazardous goods material packaging type in the package. Valid values are: <li>NONE\t\t(no packaging type) <li>ALL_PACKED_IN_ONE \t(two or more hazardous goods items are all packed in the same package) <li>OVERPACK\t\t(enclosure to contain one or more packages and form one handling unit for convenience of handling and stowage)"
          },
          "hazardQValue": {
            "type": "number",
            "description": "The Q-value is calculated from a formula of the IATA-DGR. This determines the quantities of different hazardous goods that an outer packaging may contain. <p>length=2, scale=1</p>"
          }
        },
        "required": [
          "hazardousGoodsType"
        ]
      },
      "DLPackageRequestDataDTO": {
        "type": "object",
        "description": "DTO for package data.",
        "properties": {
          "packageTypeIdentCode": {
            "type": "string",
            "description": "IdentCode of the package type. Valid values are depending on the client's package types in the master file data. <p> length=20 </p>"
          },
          "packageSpecificeContents": {
            "type": "string",
            "description": "The content description of the package. If left empty, the content description supplied in field 'contents' on shipment level will be used for this package. <p> length=250 </p>"
          },
          "packageNumber": {
            "type": "integer",
            "format": "int32",
            "description": "The serial number of the package within the shipment. This number is mainly used to sort the packages in lists or in business logic (e.g. to detect the \"first\" package as master package).<br> When the field is left empty, the numbers will automatically computed by the engine. <p> length=5 </p>"
          },
          "packageTransactionId": {
            "type": "string",
            "description": "<p> The shipment wide unique id for the package. Is included in the response. </p> <p> length=50 </p>"
          },
          "referenceNumber1": {
            "type": "string",
            "description": "Package reference number. Is included in the response. <p> length=50 </p>"
          },
          "referenceNumber2": {
            "type": "string",
            "description": "Second package reference number <p>length=50</p>"
          },
          "extCarrierPackNum": {
            "type": "string",
            "description": "The external carrier tracking number of the package <p> length=50 </p>"
          },
          "extCarrierPackNumBasic": {
            "type": "string",
            "description": "The basic external carrier tracking number of the package <p> length=50 </p>"
          },
          "extCarrierPackNumReturn": {
            "type": "string",
            "description": "The external carrier return tracking number of the package <p> length=50 </p>"
          },
          "extCarrierPackNumBasicReturn": {
            "type": "string",
            "description": "The basic external return carrier tracking number of the package <p> length=50 </p>"
          },
          "grossWeight": {
            "$ref": "#/components/schemas/QuantityDTO",
            "description": "Gross weight"
          },
          "dimensions": {
            "$ref": "#/components/schemas/DLCuboidDimensionsDTO",
            "description": "Dimensions"
          },
          "alternativeVolume": {
            "$ref": "#/components/schemas/QuantityDTO",
            "description": "The alternative volume of the package. When filled, this field overwrites the volume which is computed from the dimensions of the package."
          },
          "codValue": {
            "$ref": "#/components/schemas/AmountOfMoneyDTO",
            "description": "The cash on delivery value."
          },
          "insuranceValue": {
            "$ref": "#/components/schemas/AmountOfMoneyDTO",
            "description": "Insurance value of the package"
          },
          "additionalValues": {
            "$ref": "#/components/schemas/GenericDataRecordDTO",
            "description": "Additional values for the package. The definition of the included fields depends on the carrier. Only field names defined in the carrier customizing are allowed here.<br> Use the <code>getCarrierProperties</code> business facade call to retrieve all valid field names for a specific carrier."
          },
          "containedItems": {
            "type": "array",
            "description": "The items the package contains. Only item references are used here, the items themselves must already exist. An error will be returned, when one of the referenced items does not exist.<br> May be null in case when no items exist at all or when the carrier doesn't want information about the contents of the package.",
            "items": {
              "$ref": "#/components/schemas/DLShipmentItemReferenceDTO"
            }
          },
          "hazardousGoodsData": {
            "$ref": "#/components/schemas/DLPackageHazardousGoodsDataRequestDTO",
            "description": "Hazardous goods data concerning the package. Only relevant when shipping hazardous goods."
          },
          "transportEquipment": {
            "$ref": "#/components/schemas/DLTransportEquipmentReferenceDTO",
            "description": "The transport equipment (container, pallet etc.) where the package is loaded on. Only the equipment reference is used here, the transport equipment itself must already exist. An error will be returned, when the referenced equipment does not exist.<br> May be null in case the assignment of packages to transport equipments is not relevant for the carrier or the shipment contains no transport equipment information at all."
          },
          "marks": {
            "type": "string",
            "description": "Marks and numbers for identification of a package. <p> length=50"
          },
          "stackability": {
            "type": "string",
            "description": "The possibility to stack packages. Valid values are: <li>NOTSPECIFIED <li>STACKABLE <li>UNSTACKABLE </p> If no value is supplied, NOTSPECIFIED will be assumed as the default value"
          },
          "freightClass": {
            "type": "string",
            "description": "The freight class of the package according to the NMFC (National Motor Freight Classification) specification. Relevant for US carriers. Valid values are: <li>50</li> <li>55</li> <li>60</li> <li>65</li> <li>70</li> <li>77.5</li> <li>85</li> <li>92.5</li> <li>100</li> <li>110</li> <li>125</li> <li>150</li> <li>175</li> <li>200</li> <li>250</li> <li>300</li> <li>400</li> <li>500</li> <li>NONE</li>"
          },
          "nmfcCode": {
            "type": "string",
            "description": "The NMFC code of the package. Relevant for US carriers. <p> length=10 </p>"
          },
          "nmfcSubCode": {
            "type": "string",
            "description": "The NMFC subcode of the package. Relevant for US carriers. <p> length=2 </p>"
          },
          "loadingMeters": {
            "type": "number",
            "description": "The loading meters needed for the package. <p> length=10, scale=3 </p>"
          },
          "palletPlaces": {
            "type": "number",
            "description": "The pallet places needed for the package. <p> length=10, scale=3</p>"
          }
        },
        "required": [
          "grossWeight",
          "packageTransactionId",
          "packageTypeIdentCode"
        ]
      },
      "DLPartyDTO": {
        "type": "object",
        "description": "DLPartyDTO containing address data",
        "properties": {
          "companyNumber": {
            "type": "string",
            "description": "Company Number <p>length=20</p>"
          },
          "name": {
            "type": "string",
            "description": "Name of the company (first address line) <p>length=40</p>"
          },
          "name2": {
            "type": "string",
            "description": "Address name line 2 <p>length=40</p>"
          },
          "name3": {
            "type": "string",
            "description": "Address name line 3 <p>length=40</p>"
          },
          "name4": {
            "type": "string",
            "description": "Address name line 4 <p>length=40</p>"
          },
          "street": {
            "type": "string",
            "description": "Street (line 1) of the address. <p>length=40</p>"
          },
          "street2": {
            "type": "string",
            "description": "Street (line 2) of the address. <p>length=40</p>"
          },
          "postcode": {
            "type": "string",
            "description": "Postcode of the street address. <p>length=10</p>"
          },
          "city": {
            "type": "string",
            "description": "City of the address. <p>length=40</p>"
          },
          "district": {
            "type": "string",
            "description": "District (city line 2) of the address. <p>length=40</p>"
          },
          "countryISOCode": {
            "type": "string",
            "description": "Country of address <p>length=2</p>"
          },
          "county": {
            "type": "string",
            "description": "County of the address <p>length=40</p>"
          },
          "poBox": {
            "type": "string",
            "description": "PO-Box. <p>length=10</p>"
          },
          "postcodePOBox": {
            "type": "string",
            "description": "Postcode of the poBox address. <p>length=10</p>"
          },
          "cityPOBox": {
            "type": "string",
            "description": "City of the po-box address. <p>length=40</p>"
          },
          "emailAddress": {
            "type": "string",
            "description": "Email address of the address. <p>length=256</p>"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of reception <p>length=20</p>"
          },
          "fax": {
            "type": "string",
[...]
