{
  "openapi": "3.1.0",
  "info": {
    "title": "Carrier Select HTTP API",
    "description": "Thank you for using our HTTP API documentation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://rz3.aeb.de/demo1routing/rest"
    }
  ],
  "security": [
    {
      "SWAGGER_AUTH_KEY": []
    },
    {
      "BASIC_AUTH": []
    }
  ],
  "tags": [
    {
      "name": "Routing",
      "description": "API for the handling of routing tasks"
    }
  ],
  "paths": {
    "/RoutingBFBean/createRoutingTask": {
      "post": {
        "tags": [
          "Routing"
        ],
        "summary": "createRoutingTask",
        "description": "Creates a new routing task and returns a unique task id.<br> <br> In case of successful creation, the response will contain the unique taskId of the created routing task. The respective routing task can be found by this task id. Proposal calculation starts in an asynchronous process. The current state of calculation can be requested by handing over the provided task id via the call of getRoutingTaskResult(GetRoutingTaskResultRequestDTO) or waitForRoutingTaskResult(WaitForRoutingTaskResultRequestDTO).<br>",
        "operationId": "createRoutingTask",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoutingTaskRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ],
                    "routingTask": {
                      "referenceNumber": "REF_NO",
                      "handlingUnits": [
                        {
                          "numberOfHandlingUnits": 1,
                          "singleGrossWeight": {
                            "value": 5,
                            "unit": "kg"
                          },
                          "singleDimensions": {
                            "length": 10,
                            "width": 20,
                            "height": 30,
                            "quantityUnit": "cm"
                          },
                          "handlingUnitType": "PALLET",
                          "dangerousGoodsCode": {
                            "handlingCode": "NONE"
                          }
                        }
                      ],
                      "startLocation": {
                        "address": {
                          "referenceCode": "AEB",
                          "name": "AEB HQ",
                          "street": "Sigmaringer Straße 109",
                          "postcode": "70567",
                          "city": "Stuttgart",
                          "countryISOCode": "DE",
                          "stateRegion": "BW"
                        }
                      },
                      "endLocation": {
                        "address": {
                          "referenceCode": "AEB MZ",
                          "name": "AEB Mainz",
                          "street": "Dekan-Laist-Str. 13",
                          "postcode": "55129",
                          "city": "Mainz",
                          "countryISOCode": "DE",
                          "stateRegion": "RLP"
                        }
                      },
                      "decisiveDate": "2020-12-31"
                    }
                  }
                },
                "Complete data": {
                  "description": "Complete data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ],
                    "routingTask": {
                      "referenceNumber": "REF_NO",
                      "routingParms": {
                        "ratingProfile": "DEFAULT"
                      },
                      "handlingUnits": [
                        {
                          "numberOfHandlingUnits": 1,
                          "singleGrossWeight": {
                            "value": 5,
                            "unit": "kg"
                          },
                          "singleDimensions": {
                            "length": 10,
                            "width": 20,
                            "height": 30,
                            "quantityUnit": "cm"
                          },
                          "handlingUnitType": "PALLET",
                          "dangerousGoodsCode": {
                            "handlingCode": "NONE"
                          }
                        }
                      ],
                      "parties": [
                        {
                          "address": {
                            "referenceCode": "AEB",
                            "name": "AEB SE",
                            "street": "Sigmaringer Straße 109",
                            "postcode": "70567",
                            "city": "Stuttgart",
                            "countryISOCode": "DE",
                            "stateRegion": "BW"
                          },
                          "partyRole": "SHIPPER"
                        }
                      ],
                      "startLocation": {
                        "address": {
                          "referenceCode": "AEB",
                          "name": "AEB SE",
                          "street": "Sigmaringer Straße 109",
                          "postcode": "70567",
                          "city": "Stuttgart",
                          "countryISOCode": "DE",
                          "stateRegion": "BW"
                        }
                      },
                      "endLocation": {
                        "hopRef": {
                          "identCode": "FRA"
                        }
                      },
                      "decisiveDate": "2020-12-31",
                      "readyForShippingDate": {
                        "dateInTimezone": "2020-12-24 12:00:00",
                        "timezone": "GMT+01:00"
                      },
                      "confirmedDeliveryDate": {
                        "dateInTimezone": "2020-12-31 18:00:00",
                        "timezone": "GMT+01:00"
                      },
                      "termsOfDeliveryCode": "DDP",
                      "requirements": [
                        {
                          "requirementType": "SERVICE_LEVEL",
                          "requirementCode": "EXPRESS"
                        }
                      ],
                      "isDocumentShipment": false,
                      "loadingMeters": 5,
                      "palletPlaces": 2,
                      "addFreightCalculationData": {
                        "modeOfTransportIdentCode": "AIR",
                        "distance": {
                          "value": 100,
                          "unit": "km"
                        },
                        "goodsValue": {
                          "value": 1000,
                          "currencyIso": "EUR"
                        },
                        "customsValue": {
                          "value": 500,
                          "currencyIso": "EUR"
                        },
                        "numberOfDeliveryNotes": 1,
                        "numberOfInvoices": 2
                      }
                    }
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoutingTaskRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ],
                    "routingTask": {
                      "referenceNumber": "REF_NO",
                      "handlingUnits": [
                        {
                          "numberOfHandlingUnits": 1,
                          "singleGrossWeight": {
                            "value": 5,
                            "unit": "kg"
                          },
                          "singleDimensions": {
                            "length": 10,
                            "width": 20,
                            "height": 30,
                            "quantityUnit": "cm"
                          },
                          "handlingUnitType": "PALLET",
                          "dangerousGoodsCode": {
                            "handlingCode": "NONE"
                          }
                        }
                      ],
                      "startLocation": {
                        "address": {
                          "referenceCode": "AEB",
                          "name": "AEB HQ",
                          "street": "Sigmaringer Straße 109",
                          "postcode": "70567",
                          "city": "Stuttgart",
                          "countryISOCode": "DE",
                          "stateRegion": "BW"
                        }
                      },
                      "endLocation": {
                        "address": {
                          "referenceCode": "AEB MZ",
                          "name": "AEB Mainz",
                          "street": "Dekan-Laist-Str. 13",
                          "postcode": "55129",
                          "city": "Mainz",
                          "countryISOCode": "DE",
                          "stateRegion": "RLP"
                        }
                      },
                      "decisiveDate": "2020-12-31"
                    }
                  }
                },
                "Complete data": {
                  "description": "Complete data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ],
                    "routingTask": {
                      "referenceNumber": "REF_NO",
                      "routingParms": {
                        "ratingProfile": "DEFAULT"
                      },
                      "handlingUnits": [
                        {
                          "numberOfHandlingUnits": 1,
                          "singleGrossWeight": {
                            "value": 5,
                            "unit": "kg"
                          },
                          "singleDimensions": {
                            "length": 10,
                            "width": 20,
                            "height": 30,
                            "quantityUnit": "cm"
                          },
                          "handlingUnitType": "PALLET",
                          "dangerousGoodsCode": {
                            "handlingCode": "NONE"
                          }
                        }
                      ],
                      "parties": [
                        {
                          "address": {
                            "referenceCode": "AEB",
                            "name": "AEB SE",
                            "street": "Sigmaringer Straße 109",
                            "postcode": "70567",
                            "city": "Stuttgart",
                            "countryISOCode": "DE",
                            "stateRegion": "BW"
                          },
                          "partyRole": "SHIPPER"
                        }
                      ],
                      "startLocation": {
                        "address": {
                          "referenceCode": "AEB",
                          "name": "AEB SE",
                          "street": "Sigmaringer Straße 109",
                          "postcode": "70567",
                          "city": "Stuttgart",
                          "countryISOCode": "DE",
                          "stateRegion": "BW"
                        }
                      },
                      "endLocation": {
                        "hopRef": {
                          "identCode": "FRA"
                        }
                      },
                      "decisiveDate": "2020-12-31",
                      "readyForShippingDate": {
                        "dateInTimezone": "2020-12-24 12:00:00",
                        "timezone": "GMT+01:00"
                      },
                      "confirmedDeliveryDate": {
                        "dateInTimezone": "2020-12-31 18:00:00",
                        "timezone": "GMT+01:00"
                      },
                      "termsOfDeliveryCode": "DDP",
                      "requirements": [
                        {
                          "requirementType": "SERVICE_LEVEL",
                          "requirementCode": "EXPRESS"
                        }
                      ],
                      "isDocumentShipment": false,
                      "loadingMeters": 5,
                      "palletPlaces": 2,
                      "addFreightCalculationData": {
                        "modeOfTransportIdentCode": "AIR",
                        "distance": {
                          "value": 100,
                          "unit": "km"
                        },
                        "goodsValue": {
                          "value": 1000,
                          "currencyIso": "EUR"
                        },
                        "customsValue": {
                          "value": 500,
                          "currencyIso": "EUR"
                        },
                        "numberOfDeliveryNotes": 1,
                        "numberOfInvoices": 2
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRoutingTaskResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRoutingTaskResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/RoutingBFBean/createSupplementTask": {
      "post": {
        "tags": [
          "Routing"
        ],
        "summary": "createSupplementTask",
        "description": "Creates a new supplement task and returns a unique task id.<br> <br>In case of successful creation, the response will contain the unique taskId of the created supplement task. The respective supplement task can be found by this task id. Supplement calculation starts in an asynchronous process. The current state of calculation can be request by handing over the provided task id via the call of getSupplementTaskResult(GetSupplementTaskResultRequestDTO).<br>",
        "operationId": "createSupplementTask",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSupplementTaskRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ],
                    "supplementTask": {
                      "referenceNumber": "REF_NO",
                      "handlingUnits": [
                        {
                          "numberOfHandlingUnits": 1,
                          "singleGrossWeight": {
                            "value": 5,
                            "unit": "kg"
                          },
                          "singleDimensions": {
                            "length": 10,
                            "width": 20,
                            "height": 30,
                            "quantityUnit": "cm"
                          },
                          "handlingUnitType": "PALLET",
                          "dangerousGoodsCode": {
                            "handlingCode": "NONE"
                          }
                        }
                      ],
                      "startLocation": {
                        "address": {
                          "referenceCode": "AEB",
                          "name": "AEB HQ",
                          "street": "Sigmaringer Straße 109",
                          "postcode": "70567",
                          "city": "Stuttgart",
                          "countryISOCode": "DE",
                          "stateRegion": "BW"
                        }
                      },
                      "endLocation": {
                        "address": {
                          "referenceCode": "AEB MZ",
                          "name": "AEB Mainz",
                          "street": "Dekan-Laist-Str. 13",
                          "postcode": "55129",
                          "city": "Mainz",
                          "countryISOCode": "DE",
                          "stateRegion": "RLP"
                        }
                      },
                      "decisiveDate": "2020-12-31",
                      "service": {
                        "serviceIdentCode": "UPS_EXPR",
                        "serviceProviderIdentCode": "UPS"
                      }
                    }
                  }
                },
                "Complete data": {
                  "description": "Complete data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ],
                    "supplementTask": {
                      "referenceNumber": "REF_NO",
                      "routingParms": {
                        "ratingProfile": "DEFAULT"
                      },
                      "handlingUnits": [
                        {
                          "numberOfHandlingUnits": 1,
                          "singleGrossWeight": {
                            "value": 5,
                            "unit": "kg"
                          },
                          "singleDimensions": {
                            "length": 10,
                            "width": 20,
                            "height": 30,
                            "quantityUnit": "cm"
                          },
                          "handlingUnitType": "PALLET",
                          "dangerousGoodsCode": {
                            "handlingCode": "NONE"
                          }
                        }
                      ],
                      "parties": [
                        {
                          "address": {
                            "referenceCode": "AEB",
                            "name": "AEB SE",
                            "street": "Sigmaringer Straße 109",
                            "postcode": "70567",
                            "city": "Stuttgart",
                            "countryISOCode": "DE",
                            "stateRegion": "BW"
                          },
                          "partyRole": "SHIPPER"
                        }
                      ],
                      "startLocation": {
                        "address": {
                          "referenceCode": "AEB",
                          "name": "AEB SE",
                          "street": "Sigmaringer Straße 109",
                          "postcode": "70567",
                          "city": "Stuttgart",
                          "countryISOCode": "DE",
                          "stateRegion": "BW"
                        }
                      },
                      "endLocation": {
                        "hopRef": {
                          "identCode": "FRA"
                        }
                      },
                      "decisiveDate": "2020-12-31",
                      "readyForShippingDate": {
                        "dateInTimezone": "2020-12-24 12:00:00",
                        "timezone": "GMT+01:00"
                      },
                      "confirmedDeliveryDate": {
                        "dateInTimezone": "2020-12-31 18:00:00",
                        "timezone": "GMT+01:00"
                      },
                      "termsOfDeliveryCode": "DDP",
                      "isDocumentShipment": false,
                      "loadingMeters": 5,
                      "palletPlaces": 2,
                      "addFreightCalculationData": {
                        "modeOfTransportIdentCode": "AIR",
                        "distance": {
                          "value": 100,
                          "unit": "km"
                        },
                        "goodsValue": {
                          "value": 1000,
                          "currencyIso": "EUR"
                        },
                        "customsValue": {
                          "value": 500,
                          "currencyIso": "EUR"
                        },
                        "numberOfDeliveryNotes": 1,
                        "numberOfInvoices": 2
                      },
                      "service": {
                        "serviceIdentCode": "UPS_EXPR",
                        "serviceProviderIdentCode": "UPS",
                        "vasIdentCodes": [
                          "COD",
                          "SATDEL"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateSupplementTaskRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ],
                    "supplementTask": {
                      "referenceNumber": "REF_NO",
                      "handlingUnits": [
                        {
                          "numberOfHandlingUnits": 1,
                          "singleGrossWeight": {
                            "value": 5,
                            "unit": "kg"
                          },
                          "singleDimensions": {
                            "length": 10,
                            "width": 20,
                            "height": 30,
                            "quantityUnit": "cm"
                          },
                          "handlingUnitType": "PALLET",
                          "dangerousGoodsCode": {
                            "handlingCode": "NONE"
                          }
                        }
                      ],
                      "startLocation": {
                        "address": {
                          "referenceCode": "AEB",
                          "name": "AEB HQ",
                          "street": "Sigmaringer Straße 109",
                          "postcode": "70567",
                          "city": "Stuttgart",
                          "countryISOCode": "DE",
                          "stateRegion": "BW"
                        }
                      },
                      "endLocation": {
                        "address": {
                          "referenceCode": "AEB MZ",
                          "name": "AEB Mainz",
                          "street": "Dekan-Laist-Str. 13",
                          "postcode": "55129",
                          "city": "Mainz",
                          "countryISOCode": "DE",
                          "stateRegion": "RLP"
                        }
                      },
                      "decisiveDate": "2020-12-31",
                      "service": {
                        "serviceIdentCode": "UPS_EXPR",
                        "serviceProviderIdentCode": "UPS"
                      }
                    }
                  }
                },
                "Complete data": {
                  "description": "Complete data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ],
                    "supplementTask": {
                      "referenceNumber": "REF_NO",
                      "routingParms": {
                        "ratingProfile": "DEFAULT"
                      },
                      "handlingUnits": [
                        {
                          "numberOfHandlingUnits": 1,
                          "singleGrossWeight": {
                            "value": 5,
                            "unit": "kg"
                          },
                          "singleDimensions": {
                            "length": 10,
                            "width": 20,
                            "height": 30,
                            "quantityUnit": "cm"
                          },
                          "handlingUnitType": "PALLET",
                          "dangerousGoodsCode": {
                            "handlingCode": "NONE"
                          }
                        }
                      ],
                      "parties": [
                        {
                          "address": {
                            "referenceCode": "AEB",
                            "name": "AEB SE",
                            "street": "Sigmaringer Straße 109",
                            "postcode": "70567",
                            "city": "Stuttgart",
                            "countryISOCode": "DE",
                            "stateRegion": "BW"
                          },
                          "partyRole": "SHIPPER"
                        }
                      ],
                      "startLocation": {
                        "address": {
                          "referenceCode": "AEB",
                          "name": "AEB SE",
                          "street": "Sigmaringer Straße 109",
                          "postcode": "70567",
                          "city": "Stuttgart",
                          "countryISOCode": "DE",
                          "stateRegion": "BW"
                        }
                      },
                      "endLocation": {
                        "hopRef": {
                          "identCode": "FRA"
                        }
                      },
                      "decisiveDate": "2020-12-31",
                      "readyForShippingDate": {
                        "dateInTimezone": "2020-12-24 12:00:00",
                        "timezone": "GMT+01:00"
                      },
                      "confirmedDeliveryDate": {
                        "dateInTimezone": "2020-12-31 18:00:00",
                        "timezone": "GMT+01:00"
                      },
                      "termsOfDeliveryCode": "DDP",
                      "isDocumentShipment": false,
                      "loadingMeters": 5,
                      "palletPlaces": 2,
                      "addFreightCalculationData": {
                        "modeOfTransportIdentCode": "AIR",
                        "distance": {
                          "value": 100,
                          "unit": "km"
                        },
                        "goodsValue": {
                          "value": 1000,
                          "currencyIso": "EUR"
                        },
                        "customsValue": {
                          "value": 500,
                          "currencyIso": "EUR"
                        },
                        "numberOfDeliveryNotes": 1,
                        "numberOfInvoices": 2
                      },
                      "service": {
                        "serviceIdentCode": "UPS_EXPR",
                        "serviceProviderIdentCode": "UPS",
                        "vasIdentCodes": [
                          "COD",
                          "SATDEL"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSupplementTaskResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSupplementTaskResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/RoutingBFBean/getAllCarriers": {
      "post": {
        "tags": [
          "Routing"
        ],
        "summary": "getAllCarriers",
        "description": "Returns all carriers available for the target client.<br> <br> This call might help to find the correct identCode of a carrier and service as well as the value-added services belonging to that carrier, which shall be added to the supplement task by using createSupplementTask(CreateSupplementTaskRequestDTO).",
        "operationId": "getAllCarriers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllCarriersRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ]
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GetAllCarriersRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllCarriersResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllCarriersResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/RoutingBFBean/getHandoverPoints": {
      "post": {
        "tags": [
          "Routing"
        ],
        "summary": "getHandoverPoints",
        "description": "Returns all handover points available for the target client.<br> <br> Handover points are master file data. This call can be used to choose a handover point from a drop down application. It is <b>not</b> intended that this call is used for master data maintenance or master data synchronization.<br><br> The address is <b>not</b> included in the response.",
        "operationId": "getHandoverPoints",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHandoverPointsRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ]
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GetHandoverPointsRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHandoverPointsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetHandoverPointsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/RoutingBFBean/getRatingProfiles": {
      "post": {
        "tags": [
          "Routing"
        ],
        "summary": "getRatingProfiles",
        "description": "Returns all rating profiles available for the target client.<br> <br> This call might help to find the correct identCode of a rating profile, which shall be added to the routing task by using createRoutingTask(CreateRoutingTaskRequestDTO). This becomes more important, if a rating profile other than the default profile shall be used for proposal calculation.<br>",
        "operationId": "getRatingProfiles",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRatingProfilesRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ]
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GetRatingProfilesRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRatingProfilesResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetRatingProfilesResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/RoutingBFBean/getRejectedRoutingTaskResult": {
      "post": {
        "tags": [
          "Routing"
        ],
        "summary": "getRejectedRoutingTaskResult",
        "description": "Returns a sorted list of the rejected proposals for the provided task id and its current calculation state.<br> The rejected proposals are those proposals which were filtered out according to the settings in the rating profile.<br> <br> Possible states of calculation are:<br> - INPROGRESS: entries (and ordering) might change in future calls. <br> - RANKED: ordering and entries fixed, at least one supplement missing. <br> - COMPLETE: ordering and entries fixed, all supplements are calculated. <br> <br> A new routing task can be created by using createRoutingTask(CreateRoutingTaskRequestDTO).<br>",
        "operationId": "getRejectedRoutingTaskResult",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRoutingTaskResultRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ],
                    "taskId": "MY_ROUTING_TASK_ID"
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GetRoutingTaskResultRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ],
                    "taskId": "MY_ROUTING_TASK_ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRoutingTaskResultResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetRoutingTaskResultResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/RoutingBFBean/getRoutingRequirementTypes": {
      "post": {
        "tags": [
          "Routing"
        ],
        "summary": "getRoutingRequirementTypes",
        "description": "Returns all requirements and requirement types available for the target client.<br> <br> This call might help to find the correct identCode of a requirement, which shall be added to the routing task by using createRoutingTask(CreateRoutingTaskRequestDTO).<br>",
        "operationId": "getRoutingRequirementTypes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRoutingRequirementTypesRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ]
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GetRoutingRequirementTypesRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRoutingRequirementTypesResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetRoutingRequirementTypesResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/RoutingBFBean/getRoutingTaskResult": {
      "post": {
        "tags": [
          "Routing"
        ],
        "summary": "getRoutingTaskResult",
        "description": "Returns a sorted list of proposals for the provided task id and its current calculation state.<br> <br> The final list of proposals is ranked according to a rating profile. A rating profile uses supplements for score calculation and ranking.<br> <br> Possible states of calculation are:<br> - INPROGRESS: entries (and ordering) might change in future calls. <br> - RANKED: ordering and entries fixed, at least one supplement missing. <br> - COMPLETE: ordering and entries fixed, all supplements are calculated. <br> <br> A new routing task can be created by using createRoutingTask(CreateRoutingTaskRequestDTO).<br>",
        "operationId": "getRoutingTaskResult",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRoutingTaskResultRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ],
                    "taskId": "MY_ROUTING_TASK_ID"
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GetRoutingTaskResultRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ],
                    "taskId": "MY_ROUTING_TASK_ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRoutingTaskResultResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetRoutingTaskResultResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/RoutingBFBean/getSupplementTaskResult": {
      "post": {
        "tags": [
          "Routing"
        ],
        "summary": "getSupplementTaskResult",
        "description": "Returns an intermediate result of calculated supplements for the provided task id and its current calculation state.<br> <br> Possible states of calculation are:<br> - INPROGRESS: entries (and ordering) might change in future calls. <br> - COMPLETE: ordering and entries fixed, all supplements are calculated. <br> <br> A new supplement task can be created by using createSupplementTask(CreateSupplementTaskRequestDTO).<br>",
        "operationId": "getSupplementTaskResult",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSupplementTaskResultRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ],
                    "taskId": "MY_SUPPLEMENT_TASK_ID"
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GetSupplementTaskResultRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ],
                    "taskId": "MY_SUPPLEMENT_TASK_ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSupplementTaskResultResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetSupplementTaskResultResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/RoutingBFBean/waitForRoutingTaskResult": {
      "post": {
        "tags": [
          "Routing"
        ],
        "summary": "waitForRoutingTaskResult",
        "description": "Waits for the task calculation to finish and returns a sorted list of proposals for the provided task id and its current calculation state.<br> <br> If the calculation takes longer than the set waiting time limit, the list of proposals will be returned in its current unfinished calculation state as soon as the limit is reached.<br> <br> The final list of proposals is ranked according to a rating profile. A rating profile uses supplements for score calculation and ranking.<br><br>Possible states of calculation are:<br>- INPROGRESS: entries (and ordering) might change in future calls. <br>- RANKED: ordering and entries fixed, at least one supplement missing. <br>- COMPLETE: ordering and entries fixed, all supplements are calculated. <br><br>A new routing task can be created by using createRoutingTask(CreateRoutingTaskRequestDTO).<br>",
        "operationId": "waitForRoutingTaskResult",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaitForRoutingTaskResultRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ],
                    "taskId": "MY_ROUTING_TASK_ID",
                    "waitingTimeoutInSeconds": 10
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/WaitForRoutingTaskResultRequestDTO"
              },
              "examples": {
                "Basic data": {
                  "description": "Basic data",
                  "value": {
                    "clientSystemId": "MY_SYSTEM",
                    "clientIdentCode": "MY_CLIENT",
                    "userName": "MY_USERNAME",
                    "resultLanguageIsoCodes": [
                      "de"
                    ],
                    "taskId": "MY_ROUTING_TASK_ID",
                    "waitingTimeoutInSeconds": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AFExecuteProcessParmsDTO": {
        "type": "object",
        "description": "Parameters of UI API invocation when this is to be done via create process: The client has to invoke the process as specified by the properties of this object.",
        "properties": {
          "executableFile": {
            "type": "string",
            "description": "The name of the executable (including path name,  or expected to be found within search path) This must not contain any parameters, and it must not be enclosed with quotes even if the string contains spaces."
          },
          "parameters": {
            "type": "string",
            "description": "Parameters to the executable. may be null. most processes expect parameters separated by spaces, and honor enclosing quotes for a parameter if it contains spaces."
          },
          "workDir": {
            "type": "string",
            "description": "The current directory to be set for the process created as given in executable may be null"
          }
        }
      },
      "AFShellExecuteParmsDTO": {
        "type": "object",
        "description": "Parameters of application UI API when this is to be done via shellexecute: The client has to create a file with the given name in a temporary directory, the contents of the file is given in the variable 'contents'. Then \"shellExecute\" has to be invoked which assumes that the file type as given by filename is registered on client's machine",
        "properties": {
          "fileName": {
            "type": "string",
            "description": "This is the name of the file that has to be created in some temporary directory and filled with what contents contains"
          },
          "contents": {
            "type": "string",
            "format": "byte",
            "description": "This is the contents that has to be written to the file"
          }
        }
      },
      "ApplicationFacadeDTO": {
        "type": "object",
        "description": "A data transfer object which describes an UI API. There are various techniques possible how to \"open\" the \"application\" on the client; typically only one of the fields is filled, but when more than one possibility is not null the client may choose the type most suitable. Supported types include <ul><li>HTTP</li> - use when field 'httpUrl' is not null. Open a browser and navigate to the url given. When urlCloseToken is given, you can monitor the browsers pages and when you find that it navigates to an url equal to urlCloseToken, the browser can be closed by the application. <li>Start executable</li> - use when field 'executeProcess' is not null. Create a process as defined in the field 'executable', with the current directory as workDir (if specified). <li>Shell execute</li> - use when field 'shellExecute' is not null. Create a file in a temporary directory with name equal to that given in 'fileName', and fill it with the bytes given in 'contents', and then invoke \"ShellExecute\" to let the shell open the application corresponding to the file type. </ul>",
        "properties": {
          "sessionid": {
            "type": "string",
            "description": "The session id of the UI API which may be used as a parameter to read results from the application facade. (Currently not supported.)"
          },
          "httpUrl": {
            "type": "string",
            "description": "Used when the UI API is to be opened in a browser an http:// or https:// URL which is a web side to display the UI API."
          },
          "urlCloseToken": {
            "type": "string",
            "description": "URL token to check on the remote system (for example SAP) if the browser was closed."
          },
          "executeProcess": {
            "$ref": "#/components/schemas/AFExecuteProcessParmsDTO",
            "description": "Parameters when application is to be invoked via create process."
          },
          "shellExecute": {
            "$ref": "#/components/schemas/AFShellExecuteParmsDTO",
            "description": "Parameters when the application is to be invoked via shellExecute."
          }
        },
        "xml": {
          "name": "ApplicationFacade"
        }
      },
      "ApplicationFacadeParmsDTO": {
        "type": "object",
        "description": "A data transfer object to be the parameter of the method IFoundationBF.getNewApplicationFacade()",
        "properties": {
          "client": {
            "type": "string",
            "description": "The client of the new session. This should be a legal identCode of a client in the system.<br> If it is NOT a legal identCode of a client in the system, the user will see a login prompt before he is able to see the UI API. (See IFoundationBF.getAllClients()). <br>When the UI API web service call is authenticated, this value will be checked against the authentication data and the call is rejected if it does not match.",
            "example": "APITEST"
          },
          "user": {
            "type": "string",
            "description": "The user of the new session.<br> It is not required, that this user is a valid user name of the client. However: Such a user may get granted only have the role \"I_EVERYONE\" unless XNSG is configured to use e.g. an LDAP server and the user can be found in the LDAP server with some roles granted to the user. <br> No password is required because other servers which contact over the API will be trusted to have checked the users access rights. This enables a kind of \"single sign on\" between different e.g. XNSG servers.",
            "example": "API_TEST"
          },
          "workstationId": {
            "type": "string",
            "description": "The unique workstation identifier of the new session.<br><br>The identifier of the workstation must be configured and unique within the same client."
          },
          "workstationSessionId": {
            "type": "string",
            "description": "The unique workstation agent session identifier of the new session.<br>It defines a concrete and already established session agent bound to the local workstation e.g. locally started service agent.<br>The workstation agent is used for accessing local peripheries (e.g. local printers).<p><b>The caller must ensure that the corresponding session has been established</b></p>"
          },
          "language": {
            "type": "string",
            "description": "The two letter ISO code of the language of the new session.",
            "example": "en"
          },
          "displayFullWorkplace": {
            "type": "boolean",
            "description": "<code>true</code> to display the complete workspace (central, user and info panel). Use false or null to display only the single ac.",
            "example": true
          },
          "isACEmbedded": {
            "type": "boolean",
            "description": "<code>true</code> to display header and statusbar, false if ac should be embedded in another",
            "example": true
          },
          "displayStatusbar": {
            "type": "boolean",
            "description": "<code>true</code> to display statusbar, <code>false</code>",
            "example": true
          },
          "displayTitlebar": {
            "type": "boolean",
            "description": "<code>true</code> to display header, <code>false</code> if ac should not show header",
            "example": true
          },
          "stylevariant": {
            "type": "string",
            "description": "Deprecated.",
            "example": "NEUTRAL"
          },
          "acceptTechnology": {
            "type": "string",
            "description": "Specify which technology the clients wants to access the application; one token (or several, separated by semicolon) - the server may chose to ignore this possible tokens are specific for each server technology, XNSG-Servers currently honor strings from the GUIInvocationTechnology enum (e.g.: VAADIN) if <code>null</code> a default technology is chosen.",
            "example": "VAADIN"
          },
          "productname": {
            "type": "string",
            "description": "Optional field, which may be set if productname differs from standard product name"
          },
          "productShortName": {
            "type": "string",
            "description": "Optional field, which may be set if productShortName differs from standard product name"
          },
          "preferredWidth": {
            "type": "integer",
            "format": "int32",
            "description": "Optional field, which may be set if preferred width of AF should be different from default. Preferred height may not be always applyable but wins against workstation settings. - not available for vaadin, invoker must open browser in correct way"
          },
          "preferredHeight": {
            "type": "integer",
            "format": "int32",
            "description": "Optional field, which may be set if preferred height of AF should be different from default. Preferred height may not be always applyable but wins against workstation settings. - not available for vaadin, invoker must open browser in correct way"
          },
          "openToTray": {
            "type": "boolean",
            "description": "Optional field, which may be set if application should be opened to tray (default: <code>false</code>) - currently not available for vaadin, will be ignored"
          }
        }
      },
      "LogonResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "client": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "error": {
            "type": "string"
          }
        }
      },
      "LogonArgument": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "clientName": {
            "type": "string"
          },
          "localeName": {
            "type": "string"
          }
        }
      },
      "AcknowledgePublishedDataFeedPartsResponseDTO": {
        "type": "object",
        "description": "Response (result) for IDataFeedBF#acknowledgePublishedDataFeedParts(AcknowledgePublishedDataFeedPartsRequestDTO.",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          }
        }
      },
      "ResponseMessageDTO": {
        "type": "object",
        "description": "Result messages like errors or warnings.",
        "properties": {
          "messageType": {
            "type": "string",
            "description": "<p>Message type</p><p>If not stated otherwise, the possible types are:</p><ul><li>ERROR</li><li>WARNING</li><li>INFO</li></ul><p>Maximum length: 50</p>",
            "example": "WARNING"
          },
          "messageIdentCode": {
            "type": "string",
            "description": "<p>Optional identification code for further classification of the message type.</p><p>Maximum length: 50</p>",
            "example": 5627
          },
          "messageTexts": {
            "type": "array",
            "description": "<p>Detailed message texts in the requested languages.</p>",
            "items": {
              "$ref": "#/components/schemas/TextInLanguageDTO"
            }
          },
          "indentationLevel": {
            "type": "integer",
            "format": "int32",
            "description": "<p>The indentation level of the message.</p><p>'0' indicates a top level message.</p>",
            "example": 0
          }
        }
      },
      "TextInLanguageDTO": {
        "type": "object",
        "description": "A translated text in one of the specified languages.",
        "properties": {
          "languageISOCode": {
            "type": "string",
            "description": "<p>2-letter ISO code of the language.</p><p>length=2</p>",
            "example": "en"
          },
          "text": {
            "type": "string",
            "description": "The translated text.",
            "example": "Some free-form text"
          }
        }
      },
      "AcknowledgePublishedDataFeedPartsRequestDTO": {
        "type": "object",
        "description": "Request parameter for Response (result) for IDataFeedBF#acknowledgePublishedDataFeedParts(AcknowledgePublishedDataFeedPartsRequestDTO.",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string"
            }
          },
          "syncId": {
            "type": "string",
            "description": "Synchronization ID for acknowledging. <p> Use the value received with  GetPublishedDataFeedPartsResponseDTO#syncId with the last call to IDataFeedBF#getPublishedDataFeedParts(GetPublishedDataFeedPartsRequestDTO) to acknowledge the processed published data feed parts. </p> <p> length=20 </p>"
          }
        }
      },
      "GetPublishedDataFeedPartsResponseDTO": {
        "type": "object",
        "description": "Response (result) for IDataFeedBF#getPublishedDataFeedParts(GetPublishedDataFeedPartsRequestDTO).",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "publishedFeedParts": {
            "type": "array",
            "description": "Zero or one  PublishedDataFeedPartDTO.<br /> Since a data feed part can be large a maximum of one part is  returned per request.",
            "items": {
              "$ref": "#/components/schemas/PublishedDataFeedPartDTO"
            }
          },
          "syncId": {
            "type": "string",
            "description": "Synchronization ID for for acknowledging.  <p> Use this syncId in subsequent calls to  IDataFeedBF#acknowledgePublishedDataFeedParts(AcknowledgePublishedDataFeedPartsRequestDTO) to acknowledge the processing of the published data feed parts. </p>  <p> This syncId may be null if no published data feed parts were found to synchronize.  In this case no call to   IDataFeedBF#acknowledgePublishedDataFeedParts(AcknowledgePublishedDataFeedPartsRequestDTO) is necessary. </p>  <p> length=20 </p> "
          },
          "isComplete": {
            "type": "boolean",
            "description": "<code>true</code> if the synchronization is complete and currently no further published data feed parts are available."
          }
        }
      },
      "PublishedDataFeedPartDTO": {
        "type": "object",
        "description": "DTO to hold the data of a published data feed part.",
        "properties": {
          "dataFeedDefinitionIdentCode": {
            "type": "string",
            "description": "Ident code of the corresponding data feed definition"
          },
          "sequenceNumber": {
            "type": "integer",
            "format": "int32",
            "description": "Consecutive number of the data feed part"
          },
          "partNumberInPeriod": {
            "type": "integer",
            "format": "int32",
            "description": "Part number of the data feed part for the period"
          },
          "numberOfPartsOfPeriod": {
            "type": "integer",
            "format": "int32",
            "description": "Number of parts in the period"
          },
          "periodStartDate": {
            "type": "string",
            "description": "<p>Date/time stamp in the format yyyy-MM-dd for the start date of the period this data feed part contains data for</p> <p>Length: 19</p>"
          },
          "periodEndDate": {
            "type": "string",
            "description": "<p>Date/time stamp in the format yyyy-MM-dd for the end date of the period this data feed part contains data for</p> <p>Length: 19</p>"
          },
          "numberOfRecords": {
            "type": "integer",
            "format": "int32",
            "description": "Number of data records contained in the data feed part"
          },
          "dataFeedPartId": {
            "type": "string",
            "description": "The id of the published data feed part. To be used to retrieve the content via endpoint /DataFeedBFBean/dataFeedParts/{client}/{id}"
          },
          "fileExtension": {
            "type": "string",
            "description": "Extension of the data feed part as a file, e.g. CSV, JSON"
          }
        }
      },
      "GetPublishedDataFeedPartsRequestDTO": {
        "type": "object",
        "description": "Request parameter for IDataFeedBF#getPublishedDataFeedParts(GetPublishedDataFeedPartsRequestDTO).",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ExternalTMStatusResponseDTO": {
        "type": "object",
        "description": "Response DTO for ExternalTelemetryBFBean/getStatus & ExternalTelemetryBFBean/status.",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "externalSystemId": {
            "type": "string",
            "description": "the id for the external system"
          },
          "reportClientIdentCode": {
            "type": "string",
            "description": "ident code for an XNSG client to file external telemetry reports for.<p>Maximum length: 10</p>"
          },
          "isTelemetryEnabled": {
            "type": "boolean",
            "description": "true if telemetry of the engine is enabled"
          },
          "isTelemetryEnabledForClient": {
            "type": "boolean",
            "description": "true if telemetry is enabled"
          }
        }
      },
      "ExternalTMIdentificationRequestDTO": {
        "type": "object",
        "description": "Request DTO for registering, unregistering third party telemetry reporters, also to be used for obtaining informations on reporting status.",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string"
            }
          },
          "reportClientIdentCode": {
            "type": "string",
            "description": "ident code for an XNSG client to file external telemetry reports for.<p>Maximum length: 10</p>"
          },
          "externalSystemId": {
            "type": "string",
            "description": "unique id of the external system"
          }
        }
      },
      "DateAndZoneDTO": {
        "type": "object",
        "description": "Date and timezone.",
        "properties": {
          "dateInTimezone": {
            "type": "string",
            "description": "<p>String representation of the date/time stamp in the format yyyy-MM-dd HH:mm:ss</p> <p>Length: 19</p>"
          },
          "timezone": {
            "type": "string",
            "description": "<p>Time zone of the time stamp.</p> <p>Examples of valid time zones: \"GMT+01:00\" or \"GMT-02:00\".</p> <p>Maximum length: 50</p>"
          }
        }
      },
      "ExternalTMResponseDTO": {
        "type": "object",
        "description": "Response DTO for all calls to ExternalTelemetryBFBean.",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "externalSystemId": {
            "type": "string",
            "description": "the id for the external system"
          },
          "reportClientIdentCode": {
            "type": "string",
            "description": "ident code for an XNSG client to file external telemetry reports for.<p>Maximum length: 10</p>"
          },
          "lastUpdate": {
            "$ref": "#/components/schemas/DateAndZoneDTO",
            "description": "last date an external report has been filed"
          },
          "lastUpdateComment": {
            "type": "string",
            "description": "comment for the last filed report"
          },
          "lastUpdateReported": {
            "type": "boolean",
            "description": "true if last filed report has been sent to the telemetry server"
          },
          "lastReportId": {
            "type": "string",
            "description": "id of the last report (as stored in the engine)"
          }
        }
      },
      "ExternalTMRDateEntryDTO": {
        "type": "object",
        "description": "telemetry report entry for date values",
        "properties": {
          "key": {
            "type": "string",
            "description": "key for the value (must be unique within the report)"
          },
          "category": {
            "type": "string",
            "description": "category for the value (see TMDataCategory enum for valid values)"
          },
          "value": {
            "$ref": "#/components/schemas/DateAndZoneDTO",
            "description": "data for the entry to report"
          }
        }
      },
      "ExternalTMRDoubleEntryDTO": {
        "type": "object",
        "description": "telemetry report entry for string double",
        "properties": {
          "key": {
            "type": "string",
            "description": "key for the value (must be unique within the report)"
          },
          "category": {
            "type": "string",
            "description": "category for the value (see TMDataCategory enum for valid values)"
          },
          "value": {
            "type": "number",
            "format": "double",
            "description": "data for the entry to report"
          }
        }
      },
      "ExternalTMRIntegerEntryDTO": {
        "type": "object",
        "description": "telemetry report entry for integer values",
        "properties": {
          "key": {
            "type": "string",
            "description": "key for the value (must be unique within the report)"
          },
          "category": {
            "type": "string",
            "description": "category for the value (see TMDataCategory enum for valid values)"
          },
          "value": {
            "type": "integer",
            "format": "int32",
            "description": "data for the entry to report"
          }
        }
      },
      "ExternalTMRLongEntryDTO": {
        "type": "object",
        "description": "telemetry report entry for long values",
        "properties": {
          "key": {
            "type": "string",
            "description": "key for the value (must be unique within the report)"
          },
          "category": {
            "type": "string",
            "description": "category for the value (see TMDataCategory enum for valid values)"
          },
          "value": {
            "type": "integer",
            "format": "int64",
            "description": "data for the entry to report"
          }
        }
      },
      "ExternalTMRStringArrayEntryDTO": {
        "type": "object",
        "description": "telemetry report entry for string array values",
        "properties": {
          "key": {
            "type": "string",
            "description": "key for the value (must be unique within the report)"
          },
          "category": {
            "type": "string",
            "description": "category for the value (see TMDataCategory enum for valid values)"
          },
          "value": {
            "type": "array",
            "description": "data for the entry to report",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ExternalTMRStringEntryDTO": {
        "type": "object",
        "description": "telemetry report entry for string values",
        "properties": {
          "key": {
            "type": "string",
            "description": "key for the value (must be unique within the report)"
          },
          "category": {
            "type": "string",
            "description": "category for the value (see TMDataCategory enum for valid values)"
          },
          "value": {
            "type": "string",
            "description": "data for the entry to report"
          }
        }
      },
      "ExternalTMReportRequestDTO": {
        "type": "object",
        "description": "Request DTO for registering, unregistering third party telemetry reporters, also to be used for obtaining informations on reporting status.",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string"
            }
          },
          "reportClientIdentCode": {
            "type": "string",
            "description": "ident code for an XNSG client to file external telemetry reports for.<p>Maximum length: 10</p>"
          },
          "externalSystemId": {
            "type": "string",
            "description": "unique id of the external system"
          },
          "reportData": {
            "$ref": "#/components/schemas/ExternalTelemetryReportDTO",
            "description": "the telemetry data to file"
          },
          "updateComment": {
            "type": "string",
            "description": "comment for the current filing"
          }
        }
      },
      "ExternalTelemetryReportDTO": {
        "type": "object",
        "description": "report dto to ship the telemetry data to an XNSG engine",
        "properties": {
          "dateEntries": {
            "type": "array",
            "description": "all dates that should be reported",
            "items": {
              "$ref": "#/components/schemas/ExternalTMRDateEntryDTO"
            }
          },
          "doubleEntries": {
            "type": "array",
            "description": "all double values that should be reported",
            "items": {
              "$ref": "#/components/schemas/ExternalTMRDoubleEntryDTO"
            }
          },
          "integerEntries": {
            "type": "array",
            "description": "all integer values that should be reported",
            "items": {
              "$ref": "#/components/schemas/ExternalTMRIntegerEntryDTO"
            }
          },
          "longEntries": {
            "type": "array",
            "description": "all long values that should be reported",
            "items": {
              "$ref": "#/components/schemas/ExternalTMRLongEntryDTO"
            }
          },
          "stringArrayEntries": {
            "type": "array",
            "description": "all string arrays that should be reported",
            "items": {
              "$ref": "#/components/schemas/ExternalTMRStringArrayEntryDTO"
            }
          },
          "stringEntries": {
            "type": "array",
            "description": "all strings that should be reported",
            "items": {
              "$ref": "#/components/schemas/ExternalTMRStringEntryDTO"
            }
          }
        }
      },
      "Company": {
        "type": "object",
        "description": "A complete address of a company.",
        "properties": {
          "companyNumber": {
            "type": "string",
            "description": "Company number. The company number is in some AEB services not unique.",
            "example": 12345,
            "maxLength": 20,
            "minLength": 1,
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Name of the company (first address line).",
            "example": "AEB SE",
            "maxLength": 40,
            "minLength": 1
          },
          "name2": {
            "type": "string",
            "description": "Address name line 2.",
            "maxLength": 40,
            "minLength": 0
          },
          "name3": {
            "type": "string",
            "description": "Address name line 3.",
            "maxLength": 40,
            "minLength": 0
          },
          "name4": {
            "type": "string",
            "description": "Address name line 4.",
            "maxLength": 40,
            "minLength": 0
          },
          "street": {
            "type": "string",
            "description": "Street (line 1) of the address.",
            "example": "Sigmaringer Str. 109",
            "maxLength": 40,
            "minLength": 0
          },
          "street2": {
            "type": "string",
            "description": "Street (line 2) of the address.",
            "maxLength": 40,
            "minLength": 0
          },
          "postcode": {
            "type": "string",
            "description": "Postcode of the street address.",
            "example": 70567,
            "maxLength": 10,
            "minLength": 0
          },
          "city": {
            "type": "string",
            "description": "City of the address.",
            "example": "Stuttgart",
            "maxLength": 40,
            "minLength": 0
          },
          "district": {
            "type": "string",
            "description": "District (city line 2) of the address.",
            "maxLength": 40,
            "minLength": 0
          },
          "countryIsoCode": {
            "type": "string",
            "description": "Country of address. Unique alpha-2 ISO code of country according to ISO 3166.",
            "example": "DE",
            "maxLength": 2,
            "minLength": 2,
            "pattern": "[A-Z]{2}"
          },
          "county": {
            "type": "string",
            "description": "County of the address.",
            "example": "BW",
            "maxLength": 40,
            "minLength": 0
          },
          "poBox": {
            "type": "string",
            "description": "PO-Box.",
            "maxLength": 10,
            "minLength": 0
          },
          "postcodePoBox": {
            "type": "string",
            "description": "Postcode of the poBox address.",
            "maxLength": 10,
            "minLength": 0
          },
          "cityPoBox": {
            "type": "string",
            "description": "City of the po-box address.",
            "maxLength": 40,
            "minLength": 0
          },
          "emailAddress": {
            "type": "string",
            "format": "email",
            "description": "Email address of the address.",
            "example": "support@aeb.com",
            "maxLength": 256,
            "minLength": 0
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone number of reception.",
            "example": "+49 711 72842 0",
            "maxLength": 20,
            "minLength": 0
          },
          "faxNumber": {
            "type": "string",
            "description": "Fax number of reception.",
            "maxLength": 20,
            "minLength": 0
          },
          "vatNumber": {
            "type": "string",
            "description": "International VAT identification number. Example of format: DE123456789",
            "example": "DE123456789",
            "maxLength": 20,
            "minLength": 0
          },
          "isEnabled": {
            "type": "boolean",
            "description": "If false, the company is logically deleted. Disabled companies will not be linked to new transactional data. It is possible to enable a disabled company by overwriting the value with 'true' or leave it empty.",
            "example": true
          },
          "disabledAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date at wich the company was set as disabled. Empty if the company is not disabled. This date is always UTC time zone and has the RFC-3339 date format.",
            "example": "2000-01-01T00:00:00.000",
            "readOnly": true
          },
          "homepage": {
            "type": "string",
            "description": "Homepage of the company.",
            "example": "www.aeb.com",
            "maxLength": 250,
            "minLength": 0
          },
          "remark": {
            "type": "string",
            "description": "Remarks about the company.",
            "example": ":)",
            "maxLength": 4000,
            "minLength": 0
          },
          "roles": {
            "type": "array",
            "description": "Roles of the company. The possible roles depends on the AEB service. Use API method GET /company-roles to retrieve all possible company roles.",
            "items": {
              "$ref": "#/components/schemas/CompanyRole"
            }
          }
        },
        "required": [
          "companyNumber",
          "countryIsoCode",
          "name"
        ]
      },
      "CompanyRole": {
        "type": "object",
        "description": "A role of a company. Company roles are domain specific characteristics and can differ between the different AEB services.",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the role.",
            "example": "DLSHIPPT",
            "maxLength": 20,
            "minLength": 1
          },
          "description": {
            "type": "string",
            "description": "The name of the role in request language.",
            "example": "Shipping point",
            "maxLength": 80,
            "minLength": 0,
            "readOnly": true
          }
        },
        "required": [
          "identCode"
        ]
      },
      "CompanyPage": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "description": "The total number of elements available to return.",
            "example": 100,
            "readOnly": true
          },
          "content": {
            "type": "array",
            "description": "List of companies.",
            "items": {
              "$ref": "#/components/schemas/Company"
            }
          }
        },
        "required": [
          "content",
          "totalElements"
        ]
      },
      "CompanyRoleList": {
        "type": "object",
        "properties": {
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanyRole"
            }
          }
        },
        "required": [
          "roles"
        ]
      },
      "DesktopAgentInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "registeredTime": {
            "type": "string",
            "format": "date-time"
          },
          "cloudServiceAgent": {
            "type": "boolean"
          },
          "cloudAgent": {
            "type": "boolean"
          },
          "diagnosticAgent": {
            "type": "boolean"
          },
          "mainWorkstationAgent": {
            "type": "boolean"
          },
          "childWorkstationAgent": {
            "type": "boolean"
          },
          "clientId": {
            "type": "string"
          },
          "locationLabel": {
            "type": "string"
          },
          "workstationSessionId": {
            "type": "string"
          },
          "processInfo": {
            "$ref": "#/components/schemas/ProcessInfo"
          },
          "launcherInfo": {
            "$ref": "#/components/schemas/LauncherInfo"
          },
          "sessionInfo": {
            "$ref": "#/components/schemas/SessionInfo"
          },
          "tracingInfo": {
            "$ref": "#/components/schemas/TracingInfo"
          },
          "perfMonitoringInfo": {
            "$ref": "#/components/schemas/PerfMonitoringInfo"
          },
          "lastNetworkActivityTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LauncherInfo": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          },
          "zoneName": {
            "type": "string"
          }
        }
      },
      "PerfMonitoringInfo": {
        "type": "object",
        "properties": {
          "createdToRegisteredDurationMs": {
            "type": "integer",
            "format": "int64"
          },
          "createdToFirstNetworkActivityDurationMs": {
            "type": "integer",
            "format": "int64"
          },
          "createdToLaunchRequestedDurationMs": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ProcessInfo": {
        "type": "object",
        "properties": {
          "host": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "pid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "initError": {
            "type": "string"
          }
        }
      },
      "SessionInfo": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string"
          }
        }
      },
      "TracingInfo": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "debugEnabled": {
            "type": "boolean"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "oldestTime": {
            "type": "string",
            "format": "date-time"
          },
          "newestTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WorkstationSessionInfoDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "UNKNOWN",
              "LAUNCH_REQUEST",
              "LAUNCHING",
              "CONNECTED"
            ]
          },
          "info": {
[...]
