{
  "openapi": "3.0.1",
  "info": {
    "title": "Carrier Event Service HTTP API ",
    "description": "Thank you for using our HTTP API documentation. Please do not use Microsoft Edge Legacy on this page. Microsoft Edge will not return responses properly when you try them out.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://xnsg.dc.aeb.com/demo1ces/rest"
    }
  ],
  "security": [
    {
      "SWAGGER_AUTH_KEY": []
    },
    {
      "BASIC_AUTH": []
    }
  ],
  "tags": [
    {
      "name": "PushAPIRestEndpoint",
      "description": "PushApi for carrier events."
    },
    {
      "name": "CarrierEventServiceBFBean",
      "description": "Carrier event service related business facade methods. Supports methods for shipments, events and configuration."
    },
    {
      "name": "CoreBFBean",
      "description": "Business facade for the XNSGFoundation"
    },
    {
      "name": "FoundationAFBean",
      "description": "Business facade for the XNSGFoundation AF"
    },
    {
      "name": "ExternalTelemetryBFBean",
      "description": "Business facade for sending telemetry data from a third party system."
    },
    {
      "name": "FoundationBFBean",
      "description": "REST endpoint for FoundationBF"
    },
    {
      "name": "InternalProvisioningBFBean",
      "description": "REST endpoint for InternalProvisioningBF"
    },
    {
      "name": "RemoteAdminBFBean",
      "description": " Remote Administration tools use this methods. The main player are the Identity Access Manager (IAM) and the Installation Repository (IR)."
    },
    {
      "name": "SyncBFBean",
      "description": "Business facade for synchronizing data asynchronous from an engine to a client system."
    }
  ],
  "paths": {
    "/PushApi/v1/push": {
      "post": {
        "tags": [
          "PushAPIRestEndpoint"
        ],
        "summary": "Receives carrier event data.",
        "description": "Receives carrier specific data in a generic request object. The endpoint deserializes the data and pushes it for further processing into the system.",
        "operationId": "push",
        "requestBody": {
          "description": "The carrier data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushApiRequestDTO"
              },
              "examples": {
                "A typical example for encoded CSV data": {
                  "description": "A typical example for encoded CSV data",
                  "value": {
                    "content": {
                      "contentBase64": "dHJhY2tpbmdOdW1iZXI7ZXZlbnRJZGVudENvZGU7ZGF0ZTt0aW1lO3RpbWV6b25lO2N1c3RvbWVyUmVmO3JlYXNvbg0KMDA5ODg0O0RFUDsyMDIyLTA4LTEyOzE0OjA4OjEyO0V1cm9wZS9CZXJsaW47QTMzOTMzOw=="
                    }
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PushApiRequestDTO"
              },
              "examples": {
                "A typical example for encoded CSV data": {
                  "description": "A typical example for encoded CSV data",
                  "value": {
                    "content": {
                      "contentBase64": "dHJhY2tpbmdOdW1iZXI7ZXZlbnRJZGVudENvZGU7ZGF0ZTt0aW1lO3RpbWV6b25lO2N1c3RvbWVyUmVmO3JlYXNvbg0KMDA5ODg0O0RFUDsyMDIyLTA4LTEyOzE0OjA4OjEyO0V1cm9wZS9CZXJsaW47QTMzOTMzOw=="
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success, no content"
          },
          "400": {
            "description": "Client request error",
            "content": {
              "application/json": {
                "example": {
                  "errorMessage": "No request content available"
                }
              },
              "application/xml": {
                "example": {
                  "errorMessage": "No request content available"
                }
              }
            }
          },
          "401": {
            "description": "Client request error",
            "content": {
              "application/json": {
                "examples": {
                  "Authentication error": {
                    "description": "When not authentication data has been provided or the authentication data are invalid",
                    "value": {
                      "errorMessage": "Authentication required"
                    }
                  }
                }
              },
              "application/xml": {
                "examples": {
                  "Authentication error": {
                    "description": "When not authentication data has been provided or the authentication data are invalid",
                    "value": {
                      "errorMessage": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "example": {
                  "errorMessage": "Adapter is not active",
                  "errorCause": "javax.ws.rs.ServerErrorException"
                }
              },
              "application/xml": {
                "example": {
                  "errorMessage": "Adapter is not active",
                  "errorCause": "javax.ws.rs.ServerErrorException"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/CarrierEventServiceBFBean/setCarrierTrackingConfigurations": {
      "post": {
        "tags": [
          "CarrierEventServiceBFBean"
        ],
        "summary": "setCarrierTrackingConfigurations",
        "description": "Creates or updates the given carrier tracking configurations.",
        "operationId": "setCarrierTrackingConfigurations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetCarrierTrackingConfigurationRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SetCarrierTrackingConfigurationRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetCarrierTrackingConfigurationResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SetCarrierTrackingConfigurationResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/CarrierEventServiceBFBean/testProviderConnection": {
      "post": {
        "tags": [
          "CarrierEventServiceBFBean"
        ],
        "summary": "testProviderConnection",
        "description": "Tests the connection of the requested tracking provider.",
        "operationId": "testProviderConnection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestProviderConnectionRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/TestProviderConnectionRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestProviderConnectionResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TestProviderConnectionResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/CarrierEventServiceBFBean/synchronizeResolvedEvents": {
      "post": {
        "tags": [
          "CarrierEventServiceBFBean"
        ],
        "summary": "synchronizeResolvedEvents",
        "description": "Synchronizes all resolved events that have occurred since the last synchronization call.",
        "operationId": "synchronizeResolvedEvents",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SynchronizeResolvedEventsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SynchronizeResolvedEventsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SynchronizeResolvedEventsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SynchronizeResolvedEventsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/CarrierEventServiceBFBean/getAllConverterInformation": {
      "post": {
        "tags": [
          "CarrierEventServiceBFBean"
        ],
        "summary": "getAllConverterInformation",
        "description": "Returns all converters of the system and its associated parameters and information.",
        "operationId": "getAllConverterInformation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllConverterInformationRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GetAllConverterInformationRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllConverterInformationResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllConverterInformationResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/CarrierEventServiceBFBean/getEventsForReferenceNumber": {
      "post": {
        "tags": [
          "CarrierEventServiceBFBean"
        ],
        "summary": "getEventsForReferenceNumber",
        "description": "Returns the resolved and unresolved events associated with the requested shipment reference number.",
        "operationId": "getEventsForReferenceNumber",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEventsForReferenceNumberRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GetEventsForReferenceNumberRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEventsForReferenceNumberResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetEventsForReferenceNumberResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/CarrierEventServiceBFBean/getShipmentsEvents": {
      "post": {
        "tags": [
          "CarrierEventServiceBFBean"
        ],
        "summary": "getShipmentsEvents",
        "description": "Returns the resolved events of the given shipments sorted by CESTrackingEventResponseDTO's eventDate in ascending order, taking the time zone into account.",
        "operationId": "getShipmentsEvents",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentsEventsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentsEventsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShipmentsEventsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetShipmentsEventsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/CarrierEventServiceBFBean/createShipments": {
      "post": {
        "tags": [
          "CarrierEventServiceBFBean"
        ],
        "summary": "createShipments",
        "description": "Creates a new list of shipments.",
        "operationId": "createShipments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShipmentsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CreateShipmentsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShipmentsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShipmentsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/CarrierEventServiceBFBean/getShipmentsEventsFiltered": {
      "post": {
        "tags": [
          "CarrierEventServiceBFBean"
        ],
        "summary": "getShipmentsEventsFiltered",
        "description": "Returns the resolved events of the shipments filtered by the requested filter sorted by CESTrackingEventResponseDTO's eventDate in ascending order, taking the time zone into account.",
        "operationId": "getShipmentsEventsFiltered",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentsEventsFilteredRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentsEventsFilteredRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShipmentsEventsFilteredResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetShipmentsEventsFilteredResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/CarrierEventServiceBFBean/deleteCarrierTrackingConfigurations": {
      "post": {
        "tags": [
          "CarrierEventServiceBFBean"
        ],
        "summary": "deleteCarrierTrackingConfigurations",
        "description": "Removes the carrier tracking configurations referenced in the request.",
        "operationId": "deleteCarrierTrackingConfigurations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCarrierTrackingConfigurationsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCarrierTrackingConfigurationsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCarrierTrackingConfigurationsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCarrierTrackingConfigurationsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/CoreBFBean/getVersionForSolution": {
      "get": {
        "tags": [
          "CoreBFBean"
        ],
        "description": "Return the version information of a solution that is deployed in the product on this server. The RFC name of this function is \\\"/AEB/XNSG_IF_VERSOL\\\".",
        "operationId": "getVersionForSolution",
        "parameters": [
          {
            "name": "solutionName",
            "in": "query",
            "description": "solutionName the name of the solution for which version information is to be obtained",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/checkBFFunctionExists": {
      "post": {
        "tags": [
          "CoreBFBean"
        ],
        "description": "Can be called to know if a BF function exist.",
        "operationId": "checkBFFunctionExists",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BFFunctionDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BFFunctionExistsDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getBuildForSolution": {
      "get": {
        "tags": [
          "CoreBFBean"
        ],
        "description": "Return the build information of a solution that is deployed in the product on this server. The RFC name of this function is \\\"/AEB/XNSG_IF_BLDSOL\\\".",
        "operationId": "getBuildForSolution",
        "parameters": [
          {
            "name": "solutionName",
            "in": "query",
            "description": "solutionName the name of the solution for which version information is to be obtained",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getAllMonitoringValues": {
      "get": {
        "tags": [
          "CoreBFBean"
        ],
        "description": "Returns all available monitoring values of the server.",
        "operationId": "getAllMonitoringValues",
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MonitoringDataProviderDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getProductInfo": {
      "get": {
        "tags": [
          "CoreBFBean"
        ],
        "description": "Return information about the server that is answering this request. This includes the product name and various version informations. The RFC name of this function is \\\"/AEB/XNSG_IF_PRINFO\\\".",
        "operationId": "getProductInfo",
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/echoUpperCase": {
      "post": {
        "tags": [
          "CoreBFBean"
        ],
        "description": "Returns the given echo parameter value in uppercase.",
        "operationId": "echoUpperCase",
        "parameters": [
          {
            "name": "echo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getRuntimeInfo": {
      "get": {
        "tags": [
          "CoreBFBean"
        ],
        "description": "Return runtime information about the server that is answering this request. This includes the server name, ports and various other runtime informations. The RFC name of this function is \\\"/AEB/XNSG_IF_RTINFO\\\".",
        "operationId": "getRuntimeInfo",
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getMonitoringValue": {
      "get": {
        "tags": [
          "CoreBFBean"
        ],
        "description": "Returns the current monitoring value for the given group and name.",
        "operationId": "getMonitoringValue",
        "parameters": [
          {
            "name": "groupName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "valueName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getRuntimeState": {
      "post": {
        "tags": [
          "CoreBFBean"
        ],
        "description": "Return runtime state information about the server that is answering this request. This includes if the server is doing fine or not. Also included are the supported operations (bfs) for the installation repository The RFC name of this function is \\\"/AEB/XNSG_IF_RTSTATE\\\".",
        "operationId": "getRuntimeState",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuntimeStateParmDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeStateResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/getThreadDump": {
      "get": {
        "tags": [
          "CoreBFBean"
        ],
        "description": "Generate Thread-Dump.",
        "operationId": "getThreadDump",
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/echo": {
      "post": {
        "tags": [
          "CoreBFBean"
        ],
        "description": "Returns the given echo parameter value.",
        "operationId": "echo",
        "parameters": [
          {
            "name": "echo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/CoreBFBean/restartRFCServer": {
      "post": {
        "tags": [
          "CoreBFBean"
        ],
        "description": "This method is only usefull to be called from SAP via RFC. It will restart the RFCServer which receives this method call. This method is useful to be called from SAP, if within SAP some structure definitions had changed, e.g. after installing a transport. The RFC name of this function is \\\"/AEB/XNSG_IF_RSTRFCSRV\\\".",
        "operationId": "restartRFCServer",
        "responses": {
          "200": {
            "description": "No result.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/cloudagent/connect": {
      "get": {
        "description": "Returns a connection string for the Cloud Service Agent.",
        "operationId": "connect",
        "responses": {
          "200": {
            "description": "The connection string.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Authentication is missing."
          }
        }
      },
      "delete": {
        "description": "Disconnects the Cloud Service Agent with the given id.",
        "operationId": "disconnect",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Cloud Service Agent has been disconnected, but does not indicate if Cloud Service Agent with given id existed or not."
          },
          "401": {
            "description": "Authentication is missing."
          }
        }
      }
    },
    "/FoundationAFBean/workplace": {
      "post": {
        "tags": [
          "FoundationAFBean"
        ],
        "description": "Creates an application facade to be able to display the (Casabac-)workplace.<br> The difference of this method compared to the the method \\\"IFoundationBF.getWorkplaceURL()\\\" is the fact, that no logon mask will be dipsplayed before entering the workplace<br> The RFC name of this function is \\\"/AEB/XNSG_IF_WPL\\\".",
        "operationId": "workplace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationFacadeParmsDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationFacadeDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationAFBean/releaseApplicationFacade": {
      "post": {
        "tags": [
          "FoundationAFBean"
        ],
        "description": "Release a application facade which is no longer needed.<br> This call will save resources in the server, because the server must not wait for the timeout of the application facades session but can release it earlier.<br> The method should only be called if it is definitively known, that no access to the application facade by the user is possible any more, e.g. because the surrounding client GUI window was closed.<br> The RFC name of this function is \\\"/AEB/XNSG_IF_RELAF\\\".",
        "operationId": "releaseApplicationFacade",
        "parameters": [
          {
            "name": "sessionid",
            "in": "query",
            "description": "sessionid The sessionid returned by any application facade method, e.g. workplace @throws RemoteException",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No result.",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/logon/user": {
      "post": {
        "description": "Logon with classical procedure: user, client and password.",
        "operationId": "logonUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserClientLoginDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns information on logon process, including roles that have been granted to the user and a login token, or an error message when auth data is not correct.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/logon/authToken": {
      "get": {
        "description": "Logon from the \"Authorization\" header (e.g. type \"Basic\"). The generated authentication token can be used in subsequent calls in the \"Authorization\" header, type \"Bearer\".",
        "operationId": "authToken",
        "responses": {
          "200": {
            "description": "Returns the authentication token.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Returns the cause why authentication has failed.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/ExternalTelemetryBFBean/telemetryReport": {
      "post": {
        "tags": [
          "ExternalTelemetryBFBean"
        ],
        "description": "Submits telemetry data for a new telemetry report.<br> The external system id must be sent with the request, a client IdentCode only if client dependent.",
        "operationId": "sendTelemetryReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalTMReportRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalTMResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ExternalTelemetryBFBean/status": {
      "get": {
        "tags": [
          "ExternalTelemetryBFBean"
        ],
        "description": "Returns the current status of the telemetry system.<br> The external system id must be sent with the request.",
        "operationId": "getTelemetryStatusByParams",
        "parameters": [
          {
            "name": "externalSystemId",
            "in": "query",
            "description": "externalSystemId, the id of the calling system, mandatory",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reportClientIdentCode",
            "in": "query",
            "description": "reportClientIdentCode, the identCode of the client to call the status for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalTMStatusResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/ExternalTelemetryBFBean/getStatus": {
      "post": {
        "tags": [
          "ExternalTelemetryBFBean"
        ],
        "description": "Returns the current status of the telemetry system.<br> The external system id must be sent with the request.",
        "operationId": "getTelemetryStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalTMIdentificationRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalTMStatusResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/solution/{name}/version": {
      "get": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Requests the version info for a solution from this engine.",
        "operationId": "getVersionForSolution_1",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of solution.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contains the version info.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/solution/{name}/build": {
      "get": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Requests the build info for a solution from this engine.",
        "operationId": "getBuildForSolution_1",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of solution.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contains the build info."
          }
        }
      }
    },
    "/FoundationBFBean/monitoringValue": {
      "get": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Requests all monitoring values from this engine.",
        "operationId": "getAllMonitoringValues_1",
        "responses": {
          "200": {
            "description": "Contains all monitoring values.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MonitoringDataProviderDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/startScriptExecution": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Starts a script execution",
        "operationId": "startScriptExecution",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartScriptExecutionParmDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartScriptExecutionResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/downloadableFileRefs": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Retrieves refs for download.",
        "operationId": "getDownloadableFilesRefs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DLFilesRefsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The download refs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DLFilesRefsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/checkDebtorNumber": {
      "get": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Checks if debtor number is known.",
        "operationId": "isDebtorNumberKnown",
        "parameters": [
          {
            "name": "debtorNumber",
            "in": "query",
            "description": "the debtor number to check",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "True if known."
          }
        }
      }
    },
    "/FoundationBFBean/generateClientIdentCode": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Generates a client ident code.",
        "operationId": "generateClientIdentCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateClientIdentCodeRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The client ident code."
          }
        }
      }
    },
    "/FoundationBFBean/client/duplicate/{processId}": {
      "get": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "The duplication status of a client.<br/>This method is deprecated. It's no longer supported for external access.<br/>It is only supported for AEB internal use in <code>InternalProvisioningBF</code>.",
        "operationId": "getDuplicateClientProgress",
        "parameters": [
          {
            "name": "processId",
            "in": "path",
            "description": "the process id to check",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The duplication progress.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateClientProgressResponseDTO"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/FoundationBFBean/changeAdminPassword": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Changes the admin password.",
        "operationId": "changeAdminPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeAdminPasswordParmDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeAdminPasswordResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/tableUpdateState": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Retrieve the status of the table update.",
        "operationId": "getTableUpdateState",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableUpdateStateParmDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The table update status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableUpdateStateResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/scriptExecutionState": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "gets a script execution state",
        "operationId": "getScriptExecutionState",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScriptExecutionStateParmDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptExecutionStateResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/uploadFileMultiPart": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Uploads a file using multipart.",
        "operationId": "uploadFileMultiPart",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Attach file to upload",
                    "format": "binary"
                  },
                  "metaInfo": {
                    "$ref": "#/components/schemas/UploadFileMultiPartRequestDTO"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/productInfo": {
      "get": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Requests the product info from this engine.",
        "operationId": "getProductInfo_1",
        "responses": {
          "200": {
            "description": "Contains the product info.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/sendMail": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Sends a mail.",
        "operationId": "sendMail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMailParmDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMailResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/downloadFile": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Retrieves a file for download.",
        "operationId": "downloadFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DownloadFileRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadFileResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/roles": {
      "get": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Requests the current engine to report all its roles",
        "operationId": "requestReport",
        "responses": {
          "200": {
            "description": "Contains all roles and clients.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/roles/{clientIdentCode}": {
      "get": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Requests the current engine to report all roles for a specific client",
        "operationId": "requestReport_1",
        "parameters": [
          {
            "name": "clientIdentCode",
            "in": "path",
            "description": "Client ident code for retrieving its roles.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contains the roles of a specific client from the queried engine.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleInfoDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client ident code is invalid."
          },
          "404": {
            "description": "No client with that ident code exists."
          }
        }
      }
    },
    "/FoundationBFBean/client": {
      "get": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Requests all clients from this engine.",
        "operationId": "getAllClients",
        "responses": {
          "200": {
            "description": "Contains the client infos.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientDTO"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Create a client.",
        "operationId": "createClient",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateClientResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/startTableUpdate": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Starts the table update.",
        "operationId": "startTableUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartTableUpdateParmDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableUpdateStateResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/systemSearch/{language}": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Performs a system search in this engine.",
        "operationId": "systemSearch",
        "parameters": [
          {
            "name": "language",
            "in": "path",
            "description": "the langauge",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SystemSearchParameterDTO"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The search results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SystemSearchResultDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/cancelAnnounceStop": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Revokes an already announced stop.",
        "operationId": "cancelAnnounceStop",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelAnnounceStopParmDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelAnnounceStopResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/runtimeInfo": {
      "get": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Requests the runtime info from this engine.",
        "operationId": "getRuntimeInfo_1",
        "responses": {
          "200": {
            "description": "Contains the runtime info.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/monitoringValue/{groupName}/{valueName}": {
      "get": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Requests a specific monitoring value from this engine.",
        "operationId": "getMonitoringValue_1",
        "parameters": [
          {
            "name": "groupName",
            "in": "path",
            "description": "group name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "valueName",
            "in": "path",
            "description": "value name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The monitoring value."
          }
        }
      }
    },
    "/FoundationBFBean/announceStop": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Announces a stop of the installation.",
        "operationId": "announceStop",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnnounceStopParmDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnounceStopResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/workplaceURL": {
      "get": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Requests the workplace url from this engine.",
        "operationId": "getWorkplaceURL",
        "responses": {
          "200": {
            "description": "The workspace url."
          }
        }
      }
    },
    "/FoundationBFBean/restartRFCServer": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "This method is only usefull to be called from SAP via RFC. It will restart the RFCServer which receives this method call. This method is useful to be called from SAP, if within SAP some structure definitions had changed, e.g. after installing a transport. The RFC name of this function is \"/AEB/XNSG_IF_RSTRFCSRV\"",
        "operationId": "restartRFCServer_1",
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/FoundationBFBean/client/duplicate": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Duplicates a client.<br/>This method is deprecated. It's no longer supported for external access.<br/>It is only supported for AEB internal use in <code>InternalProvisioningBF</code>.",
        "operationId": "duplicateClient",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DuplicateClientRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DuplicateClientResponseDTO"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/FoundationBFBean/acknowledgeFile": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Acknowledges a file download.",
        "operationId": "acknowledgeFile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcknowledgeFileRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcknowledgeFileResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/numberOfClients": {
      "get": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Returns the number of clients.",
        "operationId": "getNumberOfClients",
        "responses": {
          "200": {
            "description": "The client count."
          }
        }
      }
    },
    "/FoundationBFBean/uploadSettings": {
      "post": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Retrieves the upload settings.",
        "operationId": "getUploadSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadSettingsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The upload settings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadSettingsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/FoundationBFBean/client/active": {
      "get": {
        "tags": [
          "FoundationBFBean"
        ],
        "description": "Requests all active clients from this engine.",
        "operationId": "getAllActiveClients",
        "responses": {
          "200": {
            "description": "Contains the client infos.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InternalProvisioningBFBean/getClientFeatures": {
      "post": {
        "tags": [
          "InternalProvisioningBFBean"
        ],
        "description": "Retrieve all client features for a given client.",
        "operationId": "getClientFeatures",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetClientFeaturesRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetClientFeaturesResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/InternalProvisioningBFBean/createClientFromTemplate": {
      "post": {
        "tags": [
          "InternalProvisioningBFBean"
        ],
        "description": "Creates a new client by duplicating it from a given template client. Start the process here and check its progress using <code>getCreateClientFromTemplateStatus</code>",
        "operationId": "createClientFromTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientFromTemplateRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateClientFromTemplateResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/InternalProvisioningBFBean/getCreateClientFromTemplateStatus": {
      "post": {
        "tags": [
          "InternalProvisioningBFBean"
        ],
        "description": "Retrieve the status of an ongoing or completed client duplication process started by <code>createClientFromTemplate</code>.",
        "operationId": "getCreateClientFromTemplateStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCreateClientFromTemplateStatusRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreateClientFromTemplateStatusResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/InternalProvisioningBFBean/setClientFeatures": {
      "post": {
        "tags": [
          "InternalProvisioningBFBean"
        ],
        "description": "Update the client features for a given client.",
        "operationId": "setClientFeatures",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetClientFeaturesRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetClientFeaturesResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/RemoteAdminBFBean/roles": {
      "get": {
        "tags": [
          "RemoteAdminBFBean"
        ],
        "summary": "getRoles",
        "description": "Returns a list of roles",
        "operationId": "getRolesGET",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "the dataset to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientIdentCodes",
            "in": "query",
            "description": "includeClientIdentCodes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resultLanguageIsoCodes",
            "in": "query",
            "description": "resultLanguageIsoCodes",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRolesResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetRolesResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/SyncBFBean/subscribePartnerSystem": {
      "post": {
        "tags": [
          "SyncBFBean"
        ],
        "description": "Subscribe a partner system to be able to receive events for the specified business object type.<br>The subscription is uniquely identified by the <code>clientSystemId</code> and <code>businessObjectType</code> (both mandatory fields).<br> Since XNSG 4.0, Nov. FP, 2021<br>",
        "operationId": "subscribePartnerSystem",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribePartnerSystemRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscribePartnerSystemResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/unsubscribePartnerSystem": {
      "post": {
        "tags": [
          "SyncBFBean"
        ],
        "description": "Unsubscribe a partner system from being able to receive events for the specified business object type.<br>The subscription is uniquely identified by the <code>clientSystemId</code> and <code>businessObjectType</code> (both mandatory fields).<br> Since XNSG 4.0, Nov. FP, 2021<br>",
        "operationId": "unsubscribePartnerSystem",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnsubscribePartnerSystemRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsubscribePartnerSystemResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/getPartnerSystemSubscriptions": {
      "post": {
        "tags": [
          "SyncBFBean"
        ],
        "description": "Fetch a list of registered subscriptions (either all or filtered by the business object type).<br>Only subscription belonging to the provided <code>clientSystemId</code> are returned (mandatory field)<br> Since XNSG 4.0, Nov. FP, 2021<br>",
        "operationId": "getPartnerSystemSubscriptions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPartnerSystemSubscriptionsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPartnerSystemSubscriptionsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/getNotAcknowledgedEvents": {
      "post": {
        "tags": [
          "SyncBFBean"
        ],
        "description": "Poll any not acknowledged events for the client system.<br> This method does not require, that the client system fills {@link SyncEventsRequestDTO#syncId}.<br> However, it requires, that a call to {@link #acknowledgeEvents(AcknowledgeEventsRequestDTO)} is done for acknowledge of the events.<br> Since XNSG 4.0, Nov. FP, 2017<br>.",
        "operationId": "getNotAcknowledgedEvents",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncEventsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncEventsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/synchronizeEvents": {
      "post": {
        "tags": [
          "SyncBFBean"
        ],
        "description": "Poll the next events for the client system.<br> This method requires the client system to persist the synchronisation state itself and passing a proper value for {@link SyncEventsRequestDTO#syncId}<br> See {@link #getNotAcknowledgedEvents(SyncEventsRequestDTO)} for a version of the method, were the syncronisation state is kept within the Engine.",
        "operationId": "synchronizeEvents",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncEventsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncEventsResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/SyncBFBean/acknowledgeEvents": {
      "post": {
        "tags": [
          "SyncBFBean"
        ],
        "description": "Acknowledge events got with {@link #getNotAcknowledgedEvents(SyncEventsRequestDTO)}.<br> Since XNSG 4.0, Nov. FP, 2017<br>.",
        "operationId": "acknowledgeEvents",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcknowledgeEventsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcknowledgeEventsResponseDTO"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PushApiRequestContentDTO": {
        "type": "object",
        "properties": {
          "contentBase64": {
            "type": "string"
          }
        }
      },
      "PushApiRequestDTO": {
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/PushApiRequestContentDTO"
          }
        },
        "description": "DTO for sending data to the push api",
        "xml": {
          "name": "pushApiRequestDTO"
        }
      },
      "CESCarrierTrackingConfigurationReferenceDTO": {
        "type": "object",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "Unique identCode of a carrier tracking configuration.",
            "example": "DACHSER_FTP"
          }
        },
        "description": "DTO to reference a CarrierTrackingConfiguration"
      },
      "ResponseMessageDTO": {
        "type": "object",
        "properties": {
          "messageType": {
            "type": "string",
            "description": "<p>Message type</p><p>If not stated otherwise, the possible types are:</p><ul><li>ERROR</li><li>WARNING</li><li>INFO</li></ul><p>Maximum length: 50</p>",
            "example": "WARNING"
          },
          "messageIdentCode": {
            "type": "string",
            "description": "<p>Optional identification code for further classification of the message type.</p><p>Maximum length: 50</p>",
            "example": "5627"
          },
          "messageTexts": {
            "type": "array",
            "description": "<p>Detailed message texts in the requested languages.</p>",
            "items": {
              "$ref": "#/components/schemas/TextInLanguageDTO"
            }
          },
          "indentationLevel": {
            "type": "integer",
            "description": "<p>The indentation level of the message.</p><p>'0' indicates a top level message.</p>",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Result messages like errors or warnings."
      },
      "SetCarrierTrackingConfigurationResponseDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "trackingConfigurations": {
            "type": "array",
            "description": "Summary of a single created configuration.",
            "items": {
              "$ref": "#/components/schemas/SetCarrierTrackingConfigurationResponseItemDTO"
            }
          }
        },
        "description": "Main Response DTO for setting carrier configuration",
        "xml": {
          "name": "setCarrierTrackingConfigurationResponseDTO"
        }
      },
      "SetCarrierTrackingConfigurationResponseItemDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "True, if there are any error messages. If an error has occured the messages contain more details about the errors."
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "True, if there are any warning messages."
          },
          "messages": {
            "type": "array",
            "description": "Messages for the whole request, e.g. for errors or warnings.<br>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "configurationReference": {
            "$ref": "#/components/schemas/CESCarrierTrackingConfigurationReferenceDTO"
          }
        },
        "description": "Item Response DTO for setting carrier configuration"
      },
      "TextInLanguageDTO": {
        "type": "object",
        "properties": {
          "languageISOCode": {
            "type": "string",
            "description": "<p>2-letter ISO code of the language.</p><p>length=2</p>",
            "example": "en"
          },
          "text": {
            "type": "string",
            "description": "The translated text.",
            "example": "Some free-form text"
          }
        },
        "description": "A translated text in one of the specified languages."
      },
      "CESCarrierReferenceDTO": {
        "required": [
          "identCode"
        ],
        "type": "object",
        "properties": {
          "identCode": {
            "minLength": 1,
            "type": "string",
            "description": "The carrier's identCode.",
            "example": "DACHSER"
          }
        },
        "description": "DTO that encapsulates data to identify a carrier."
      },
      "CESCarrierTrackingConfigurationDTO": {
        "type": "object",
        "properties": {
          "configurationReference": {
            "$ref": "#/components/schemas/CESCarrierTrackingConfigurationReferenceDTO"
          },
          "carrier": {
            "$ref": "#/components/schemas/CESCarrierReferenceDTO"
          },
          "carrierName": {
            "maxLength": 50,
            "type": "string",
            "description": "The carrier's name. <p>length=50</p>",
            "example": "Dachser Landverkehr Deutschland"
          },
          "isActive": {
            "type": "boolean",
            "description": "Flags that the MessagePool processes that will be assigned to this configuration will be started/stopped."
          },
          "trackingDefinition": {
            "type": "array",
            "description": "The serialized data format of a carrier tracking definition configuration.",
            "items": {
              "type": "string",
              "description": "The serialized data format of a carrier tracking definition configuration.",
              "format": "byte"
            }
          },
          "providerDefinition": {
            "type": "array",
            "description": "The serialized data format of a carrier provider definition configuration.",
            "items": {
              "type": "string",
              "description": "The serialized data format of a carrier provider definition configuration.",
              "format": "byte"
            }
          },
          "providerSetup": {
            "type": "array",
            "description": "The serialized data format of a carrier provider setup configuration.",
            "items": {
              "type": "string",
              "description": "The serialized data format of a carrier provider setup configuration.",
              "format": "byte"
            }
          },
          "converterDefinition": {
            "type": "array",
            "description": "The serialized data format of a carrier converter definition configuration.",
            "items": {
              "type": "string",
              "description": "The serialized data format of a carrier converter definition configuration.",
              "format": "byte"
            }
          }
        },
        "description": "DTO class that encapsulates all configuration data to create one process chain for a given carrier, data provider, converter and recoding."
      },
      "SetCarrierTrackingConfigurationRequestDTO": {
        "type": "object",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string",
              "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
              "example": "[\"en\",\"de\"]"
            }
          },
          "trackingConfigurations": {
            "type": "array",
            "description": "Array of tracking configurations to create or update. A size of 0 is discouraged.",
            "items": {
              "$ref": "#/components/schemas/CESCarrierTrackingConfigurationDTO"
            }
          }
        },
        "description": "Request for creating/updating CESCarrierTrackingConfiguration and derived data. It is possible to transmit more than one configuration.",
        "xml": {
          "name": "setCarrierTrackingConfigurationRequestDTO"
        }
      },
      "TestProviderConnectionResponseDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          }
        },
        "description": "response DTO which is submitted as a response after a connection test",
        "xml": {
          "name": "testProviderConnectionResponseDTO"
        }
      },
      "ConnectionTestParametersDTO": {
        "type": "object",
        "properties": {
          "ftpParameters": {
            "$ref": "#/components/schemas/FTPConnectionTestParametersDTO"
          },
          "sftpParameters": {
            "$ref": "#/components/schemas/SFTPConnectionTestParametersDTO"
          }
        },
        "description": "Container class for all connection test parameter types. Only one field may be filled at the same time."
      },
      "FTPConnectionTestParametersDTO": {
        "type": "object",
        "properties": {
          "testUpload": {
            "type": "boolean",
            "description": "flag whether or not upload should be tested during connection test",
            "example": false
          }
        },
        "description": "contains parameters for a connection test of a FTP tracking configuration"
      },
      "SFTPConnectionTestParametersDTO": {
        "type": "object",
        "properties": {
          "testUpload": {
            "type": "boolean",
            "description": "flag whether or not upload should be tested during connection test",
            "example": false
          }
        },
        "description": "contains parameters for a connection test of a SFTP tracking configuration"
      },
      "TestProviderConnectionRequestDTO": {
        "type": "object",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string",
              "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
              "example": "[\"en\",\"de\"]"
            }
          },
          "providerDefinition": {
            "type": "array",
            "description": "The serialized data format of a carrier provider definition configuration.",
            "items": {
              "type": "string",
              "description": "The serialized data format of a carrier provider definition configuration.",
              "format": "byte"
            }
          },
          "providerSetup": {
            "type": "array",
            "description": "The serialized data format of a carrier provider setup configuration.",
            "items": {
              "type": "string",
              "description": "The serialized data format of a carrier provider setup configuration.",
              "format": "byte"
            }
          },
          "parameters": {
            "$ref": "#/components/schemas/ConnectionTestParametersDTO"
          }
        },
        "description": "Request DTO that is submitted when requesting a connection test",
        "xml": {
          "name": "testProviderConnectionRequestDTO"
        }
      },
      "CESAddressResponseDTO": {
        "type": "object",
        "properties": {
          "street": {
            "maxLength": 40,
            "type": "string",
            "description": "Street of the address. <p>length=40</p>",
            "example": "Sigmaringer Str. 109"
          },
          "postcode": {
            "maxLength": 10,
            "type": "string",
            "description": "Postcode of the address. <p>length=10</p>",
            "example": "70567"
          },
          "city": {
            "maxLength": 40,
            "type": "string",
            "description": "City of the address. <p>length=40</p>",
            "example": "Stuttgart"
          },
          "countryISOCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "Country of address <p>length=2</p>",
            "example": "DE"
          },
          "stateRegion": {
            "maxLength": 40,
            "type": "string",
            "description": "The state or region <p>length=40</p>",
            "example": "Baden-Württemberg"
          }
        },
        "description": "Address data to be provided in responses. @see CESAddressDTO"
      },
      "CESEventTextDTO": {
        "type": "object",
        "properties": {
          "standardEventText": {
            "type": "array",
            "description": "Standard name and description linked to event identCode provided in the requested languages",
            "items": {
              "$ref": "#/components/schemas/CEStandardEventTextDTO"
            }
          },
          "originalDescription": {
            "type": "string",
            "description": "Description text linked to originalIdentCode and originalReason of a tracking event.",
            "example": "Some original description from the carrier"
          }
        },
        "description": "DTO for event text explaining the event ident codes, originalCodes and originalReason"
      },
      "CESGeoCoordinatesResponseDTO": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "The decimal degree value of the latitude.  <p>length = 10, scale = 7</p>",
            "example": -6.2649875
          },
          "longitude": {
            "type": "number",
            "description": "The decimal degree value of the longitude.  <p>length = 10, scale = 7</p>",
            "example": 106.8766384
          }
        },
        "description": "Location data represented by geographic coordinates formatted as decimal degrees."
      },
      "CESLocationIdentifierResponseDTO": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "<p>The functional type of the identifier.</p> <p>Possible values: <ul> <li>IATAAIRPORTCODE</li> <li>UNLOCODE</li> <li>GENERIC</li> <li>CARRIER_LOCATION_CODE</li> </ul> </p>",
            "example": "UNLOCODE"
          },
          "value": {
            "type": "string",
            "description": "The value of the identifier. <p>length = 100</p>",
            "example": "KRSEL"
          }
        },
        "description": "Location data represented by an identifier"
      },
      "CESReferenceNumberDTO": {
        "required": [
          "type",
          "value"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Defines the reference number type  Possible types are: <ul> <li>REFERENCE_NUMBER1 (deprecated)</li> <li>REFERENCE_NUMBER2</li> <li>CARRIER_SHIPMENT_NUMBER</li> <li>CARRIER_RETURN_SHIPMENT_NUMBER</li> <li>BULK_MASTER_SHIPMENT_NUMBER</li> <li>MASTER_AIRWAYBILL_NUMBER</li> <li>HOUSE_AIRWAYBILL_NUMBER</li> <li>PACKAGE_TRANSACTION_ID</li> <li>PACKAGE_REFERENCE_NUMBER1</li> <li>PACKAGE_REFERENCE_NUMBER2</li> <li>CARRIER_PACKAGE_NUMBER</li> <li>CARRIER_RETURN_PACKAGE_NUMBER</li> </ul>",
            "example": "REFERENCE_NUMBER2",
            "enum": [
              "REFERENCE_NUMBER2",
              "CARRIER_SHIPMENT_NUMBER",
              "CARRIER_RETURN_SHIPMENT_NUMBER",
              "BULK_MASTER_SHIPMENT_NUMBER",
              "MASTER_AIRWAYBILL_NUMBER",
              "HOUSE_AIRWAYBILL_NUMBER",
              "PACKAGE_TRANSACTION_ID",
              "PACKAGE_REFERENCE_NUMBER1",
              "PACKAGE_REFERENCE_NUMBER2",
              "CARRIER_PACKAGE_NUMBER",
              "CARRIER_RETURN_PACKAGE_NUMBER"
            ]
          },
          "value": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "The reference number value. <p> length = 50 </p>",
            "example": "AB-70450345835884517215-0809"
          }
        },
        "description": "Represents a given type and value of a referenceNumber. May also contain a reference to a tracking object, which can be used to tie this reference number to a tracking object in addition to a shipment."
      },
      "CESShipmentReferenceDTO": {
        "type": "object",
        "properties": {
          "shipmentNumber": {
            "maxLength": 20,
            "type": "string",
            "description": "Client unique shipmentNumber used to identify a shipment <p>length=20</p>",
            "example": "0181374"
          },
          "transactionId": {
            "maxLength": 250,
            "type": "string",
            "description": "ID uniquely referencing the corresponding business transaction  in the host system.  <p> length = 250 </p>",
            "example": "WA1-100696235133571361984584754FZOD-2110"
          }
        },
        "description": "Reference that identifies a shipment"
      },
      "CESSynchronizeResolvedEventDTO": {
        "required": [
          "referenceNumber1",
          "shipmentReference"
        ],
        "type": "object",
        "properties": {
          "trackingNumber": {
            "type": "string",
            "description": "Tracking number of the event. This is a the unique number that is generated to identify the tracking object in the carriers delivery process.",
            "example": "AB486 083 50"
          },
          "trackingObjectType": {
            "type": "string",
            "description": "Type of the trackingObject. Possible types are: <ul><li>SHIPMENT</li><li>PACKAGE</li></ul>",
            "example": "SHIPMENT"
          },
          "eventData": {
            "$ref": "#/components/schemas/CESTrackingEventResponseDTO"
          },
          "carrier": {
            "$ref": "#/components/schemas/CESCarrierReferenceDTO"
          },
          "shipmentReference": {
            "$ref": "#/components/schemas/CESShipmentReferenceDTO"
          },
          "referenceNumber1": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Reference number that assigns the shipment to a process in another system. <p> length=50 </p>",
            "example": "704503458358845172150809"
          },
          "additionalReferences": {
            "type": "array",
            "description": "Additional reference numbers of the shipment or package. Since tracking objects can have several reference numbers, it is possible to transfer further reference values.",
            "items": {
              "$ref": "#/components/schemas/CESReferenceNumberDTO"
            }
          }
        },
        "description": "DTO for the resolved event with context information to enable assignment of the event to a certain business object."
      },
      "CESTrackingEventAdditionalDataDTO": {
        "type": "object",
        "properties": {
          "additionalDataType": {
            "type": "string",
            "description": "Type of the additional data. Possible types are:  <table> <tr><td>POD_SIGNATURE</td><td> Signature of a consignee, usually available on delivery events. </td></tr> <tr><td>MISCELLANEOUS</td><td> General additional information, notes or fields with value. It is possible to have more than one field of this type if there are different texts. </td></tr> <tr><td>MASTER_AIRWAYBILL_NUMBER</td><td> This tracking number identifies the cargo of a complete aircraft. </td></tr> <tr><td>HOUSE_AIRWAYBILL_NUMBER</td><td> This tracking number identifies a single shipping order. </td></tr> <tr><td>PORT_OF_LOADING_CODE</td><td> Port or airport code where the goods are loaded. </td></tr> <tr><td>PORT_OF_DISCHARGE_CODE</td><td> Port or airport code where the goods are unloaded. </td></tr> <tr><td>AIRLINE</td><td> The airline is a company that transports people or freight against payment. </td></tr> <tr><td>FLIGHT_NUMBER</td><td> The flight number is an ordinal number that is used to identify a specific flight connection of an airline. </td></tr> <tr><td>SCHENKERAIR_SST_NUMBER</td><td> Schenker Air specific type: SST number</td></tr> <tr><td>HOUSE_BILL_OF_LADING_NUMBER</td><td> EDIFACT qualifier BH, reference number assigned to a house bill of lading.</td></tr> <tr><td>IMPORTER_REFERENCE_NUMBER</td><td> EDIFACT qualifier ABQ</td></tr> <tr><td>PRIMARY_REFERENCE</td><td> EDIFACT qualifier AES</td></tr> <tr><td>SHIPMENT_REFERENCE_NUMBER</td><td> The shipment reference number. When tracking is on shipment, this might be the tracking number.</td></tr> <tr><td>HOUSE_SHIPMENT_REFERENCE</td><td> The house shipment reference number.</td></tr> <tr><td>CARRIER_NOTE</td><td> Note by the carrier.</td></tr> <tr><td>CONTAINER_NUMBER</td><td> The container number.</td></tr> <tr><td>VESSEL_NAME</td><td>  The vessel name can be used to identify a specific vessel.</td></tr> <tr><td>VOYAGE_NUMBER</td><td> The voyage number is an ordinal number that is used to identify a specific voyage of a vessel.</td></tr><tr><td>ETA</td><td> The ETA is a string containing a date/timestamp of the estimated time of arrival. The format of the string is based on the ISO 8601 standard and depends on the information provided by the carrier. It contains either, a date, a date time or a date time with time zone information. Example: 2021-11-30T13:37:01.87+01:00[Europe/Berlin].</td></tr> </table>",
            "example": "CARRIER_NOTE"
          },
          "value": {
            "maxLength": 50,
            "type": "string",
            "description": "Value for this information type <p> length=50 </p>",
            "example": "Some carrier note"
          }
        },
        "description": "DTO with additional information provided for the carrier for the event"
      },
      "CESTrackingEventLocationResponseDTO": {
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/CESAddressResponseDTO"
          },
          "geoCoordinates": {
            "$ref": "#/components/schemas/CESGeoCoordinatesResponseDTO"
          },
          "identifier": {
            "$ref": "#/components/schemas/CESLocationIdentifierResponseDTO"
          },
          "description": {
            "type": "string",
            "description": "The event location description.",
            "example": "Some description of the location used by the carrier"
          }
        },
[...]
