{"openapi":"3.0.1","info":{"title":"Carrier Connect HTTP API","description":"Thank you for using our HTTP API documentation. Please do not use Microsoft Edge Legacy on this page. Microsoft Edge will not return responses properly when you try them out.","version":"3.0"},"servers":[{"url":"https://rz3.aeb.de/demo1cai/rest"}],"security":[{"SWAGGER_AUTH_KEY":[]},{"BASIC_AUTH":[]}],"tags":[{"name":"DLCarrierBFBean","description":"Business facade for the CarrierEngine"},{"name":"FoundationAFBean","description":"Business facade for the XNSGFoundation AF"},{"name":"ExternalTelemetryBFBean","description":"Business facade for sending telemetry data from a third party system."},{"name":"FoundationBFBean","description":"REST endpoint for FoundationBF"},{"name":"InternalProvisioningBFBean","description":"REST endpoint for InternalProvisioningBF"},{"name":"RemoteAdminBFBean","description":" Remote Administration tools use this methods. The main player are the Identity Access Manager (IAM) and the Installation Repository (IR)."},{"name":"SyncBFBean","description":"Business facade for synchronizing data asynchronous from an engine to a client system."}],"paths":{"/cloudagent/connect":{"get":{"description":"Returns a connection string for the Cloud Service Agent.","operationId":"connect","responses":{"200":{"description":"The connection string.","content":{"text/plain":{"schema":{"type":"string"}}}},"401":{"description":"Authentication is missing."}}},"delete":{"description":"Disconnects the Cloud Service Agent with the given id.","operationId":"disconnect","parameters":[{"name":"id","in":"query","schema":{"type":"string"}}],"responses":{"204":{"description":"Cloud Service Agent has been disconnected, but does not indicate if Cloud Service Agent with given id existed or not."},"401":{"description":"Authentication is missing."}}}},"/DLCarrierBFBean/deleteItem":{"post":{"tags":["DLCarrierBFBean"],"summary":"deleteItem","description":"Deletes an existing item. Packages containing items remain in the shipment and can be packed again with processShipment. Deleting a item is not always possible. It mainly depends on the status of the package containing the item and the shipment.","operationId":"deleteItem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLDeleteItemRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLDeleteItemRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLDeleteItemResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLDeleteItemResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/processShipment":{"post":{"tags":["DLCarrierBFBean"],"summary":"processShipment","description":"Allows to add packages or perform various operations on an existing shipment. Especially document preparation and document (label) output can be triggered.<br> When the request is specified to handle the operations asynchronously, operation processing errors and label documents are not part of the response. They can be retrieved with a <code>syncShipments</code> or <code>getShipments</code> call.","operationId":"processShipment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLProcessShipmentRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLProcessShipmentRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLProcessShipmentResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLProcessShipmentResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/cancelShipment":{"post":{"tags":["DLCarrierBFBean"],"summary":"cancelShipment","description":"Cancels a shipment.","operationId":"cancelShipment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLCancelShipmentRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLCancelShipmentRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLCancelShipmentResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLCancelShipmentResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/deletePickup":{"post":{"tags":["DLCarrierBFBean"],"summary":"deletePickup","description":"Cancels an existing pickup. All shipments are removed from the pickup and must be assigned to a new pickup by another <code>createPickup</code> call.<br> Warning: EDI data for the existing pickup might have already been sent to the carrier. So check with the carrier that it's fine to cancel the pickup and create a new (differing) one.","operationId":"deletePickup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLDeletePickupRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLDeletePickupRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLDeletePickupResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLDeletePickupResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/getShipments":{"post":{"tags":["DLCarrierBFBean"],"summary":"getShipments","description":"Returns detail information about specific shipments.","operationId":"getShipments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLGetShipmentsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLGetShipmentsRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLGetShipmentsResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLGetShipmentsResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/deletePackage":{"post":{"tags":["DLCarrierBFBean"],"summary":"deletePackage","description":"Deletes an existing package. Packed items remain unpacked in the shipment and can be packaged again with processShipment. Deleting a package is not always possible. It mainly depends on the status of the package and the shipment.","operationId":"deletePackage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLDeletePackageRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLDeletePackageRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLDeletePackageResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLDeletePackageResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/createShipment":{"post":{"tags":["DLCarrierBFBean"],"summary":"createShipment","description":"Creates a shipment with the data specified in the shipment request.<br> An error will be returned when the shipment exists already.<br> Optionally various operations like label preparation and label output can be applied on the shipment. A complete processing including the pickup assignment is also possible.<br> The operations are handled asynchronously, so operation processing errors and label documents are not part of the response. They can be retrieved with a <code>syncShipments</code> or <code>getShipments</code> call.","operationId":"createShipment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLCreateShipmentRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLCreateShipmentRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLCreateShipmentResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLCreateShipmentResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/getAllCarriers":{"post":{"tags":["DLCarrierBFBean"],"summary":"getAllCarriers","description":"Returns a list of all carrier available for the requested client.","operationId":"getAllCarriers","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLGetAllCarriersRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLGetAllCarriersRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLGetAllCarriersResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLGetAllCarriersResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/validateShipment":{"post":{"tags":["DLCarrierBFBean"],"summary":"validateShipment","description":"Validates a shipment with the data specified in the shipment request.<br> Various validation operations can be applied on the shipment to determine, whether the shipment can be processed.","operationId":"validateShipment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLValidateShipmentRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLValidateShipmentRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLValidateShipmentResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLValidateShipmentResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/processPickup":{"post":{"tags":["DLCarrierBFBean"],"summary":"processPickup","description":"Prints or reprints the manifest documents for the pickup. Mainly to be used, when manifest documents were not printed with the <code>createPickup</code> call or if a reprint of the documents is necessary.","operationId":"processPickup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLProcessPickupRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLProcessPickupRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLProcessPickupResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLProcessPickupResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/syncPickups":{"post":{"tags":["DLCarrierBFBean"],"summary":"syncPickups","description":"Allows the synchronization of client system transactions with the engine pickups. By the use of a syncId it is possible to return only pickups that have changed between two syncPickups calls.","operationId":"syncPickups","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLSyncPickupsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLSyncPickupsRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLSyncPickupsResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLSyncPickupsResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/getPickups":{"post":{"tags":["DLCarrierBFBean"],"summary":"getPickups","description":"Returns detail information about specific pickups.","operationId":"getPickups","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLGetPickupsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLGetPickupsRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLGetPickupsResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLGetPickupsResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/processPackage":{"post":{"tags":["DLCarrierBFBean"],"summary":"processPackage","description":"Allows to perform various operations on an existing package. Especially document preparation and document (label) output can be triggered.<br> When the request is specified to handle the operations asynchronously, operation processing errors and label documents are not part of the response. They can be retrieved with a further <code>processPackage</code> call, a <code>syncShipments</code> or <code>getShipments</code> call.","operationId":"processPackage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLProcessPackageRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLProcessPackageRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLProcessPackageResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLProcessPackageResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/syncShipments":{"post":{"tags":["DLCarrierBFBean"],"summary":"syncShipments","description":"Allows the synchronization of client system transactions with the engine shipments. By the use of a syncId it is possible to return only shipments that have changed between two syncShipments calls.","operationId":"syncShipments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLSyncShipmentsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLSyncShipmentsRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLSyncShipmentsResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLSyncShipmentsResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/createPickup":{"post":{"tags":["DLCarrierBFBean"],"summary":"createPickup","description":"Creates a new pickup for the shipments specified in the request.<br> Depending on the request, an error may be returned when the shipments can't form a single pickup, e.g. when they have different carriers.<br> Optionally the new pickup can be manifested. That means that the EDI is sent to the carrier if necessary and the pickup will be closed.<br> When specified in request, the manifest documents are printed.","operationId":"createPickup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLCreatePickupRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLCreatePickupRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLCreatePickupResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLCreatePickupResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/getCarrierProperties":{"post":{"tags":["DLCarrierBFBean"],"summary":"getCarrierProperties","description":"Returns the properties of the requested carrier.","operationId":"getCarrierProperties","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLGetCarrierPropertiesRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLGetCarrierPropertiesRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLGetCarrierPropertiesResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLGetCarrierPropertiesResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/getCarrierPortfolioDetails":{"post":{"tags":["DLCarrierBFBean"],"summary":"getCarrierPortfolioDetails","description":"Returns detailed information about the requested carriers.","operationId":"getCarrierPortfolioDetails","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLGetCarrierPortfolioDetailsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLGetCarrierPortfolioDetailsRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLGetCarrierPortfolioDetailsResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLGetCarrierPortfolioDetailsResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/getCarrierPortfolioNames":{"post":{"tags":["DLCarrierBFBean"],"summary":"getCarrierPortfolioNames","description":"Returns a list of the names of all supported carriers.","operationId":"getCarrierPortfolioNames","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLGetCarrierPortfolioNamesRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLGetCarrierPortfolioNamesRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLGetCarrierPortfolioNamesResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLGetCarrierPortfolioNamesResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/DLCarrierBFBean/addShipmentAttachments":{"post":{"tags":["DLCarrierBFBean"],"summary":"addShipmentAttachments","description":"Adds attachments to a shipment (e.g. invoices, origin documents, etc.).","operationId":"addShipmentAttachments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLAddShipmentAttachmentsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLAddShipmentAttachmentsRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLAddShipmentAttachmentsResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/DLAddShipmentAttachmentsResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/FoundationAFBean/workplace":{"post":{"tags":["FoundationAFBean"],"description":"Creates an application facade to be able to display the (Casabac-)workplace.<br> The difference of this method compared to the the method \\\"IFoundationBF.getWorkplaceURL()\\\" is the fact, that no logon mask will be dipsplayed before entering the workplace<br> The RFC name of this function is \\\"/AEB/XNSG_IF_WPL\\\".","operationId":"workplace","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeParmsDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationFacadeDTO"}}}}}}},"/FoundationAFBean/releaseApplicationFacade":{"post":{"tags":["FoundationAFBean"],"description":"Release a application facade which is no longer needed.<br> This call will save resources in the server, because the server must not wait for the timeout of the application facades session but can release it earlier.<br> The method should only be called if it is definitively known, that no access to the application facade by the user is possible any more, e.g. because the surrounding client GUI window was closed.<br> The RFC name of this function is \\\"/AEB/XNSG_IF_RELAF\\\".","operationId":"releaseApplicationFacade","parameters":[{"name":"sessionid","in":"query","description":"sessionid The sessionid returned by any application facade method, e.g. workplace @throws RemoteException","schema":{"type":"string"}}],"responses":{"200":{"description":"No result.","content":{"application/json":{}}}}}},"/logon/user":{"post":{"description":"Logon with classical procedure: user, client and password.","operationId":"logonUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserClientLoginDTO"}}}},"responses":{"200":{"description":"Returns information on logon process, including roles that have been granted to the user and a login token, or an error message when auth data is not correct.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogonResponse"}}}}}}},"/logon/authToken":{"get":{"description":"Logon from the \"Authorization\" header (e.g. type \"Basic\"). The generated authentication token can be used in subsequent calls in the \"Authorization\" header, type \"Bearer\".","operationId":"authToken","responses":{"200":{"description":"Returns the authentication token.","content":{"text/plain":{"schema":{"type":"string"}}}},"401":{"description":"Returns the cause why authentication has failed.","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/ExternalTelemetryBFBean/getStatus":{"post":{"tags":["ExternalTelemetryBFBean"],"description":"Returns the current status of the telemetry system.<br> The external system id must be sent with the request.","operationId":"getTelemetryStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTMIdentificationRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTMStatusResponseDTO"}}}}}}},"/ExternalTelemetryBFBean/telemetryReport":{"post":{"tags":["ExternalTelemetryBFBean"],"description":"Submits telemetry data for a new telemetry report.<br> The external system id must be sent with the request, a client IdentCode only if client dependent.","operationId":"sendTelemetryReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTMReportRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTMResponseDTO"}}}}}}},"/ExternalTelemetryBFBean/status":{"get":{"tags":["ExternalTelemetryBFBean"],"description":"Returns the current status of the telemetry system.<br> The external system id must be sent with the request.","operationId":"getTelemetryStatusByParams","parameters":[{"name":"externalSystemId","in":"query","description":"externalSystemId, the id of the calling system, mandatory","schema":{"type":"string"}},{"name":"reportClientIdentCode","in":"query","description":"reportClientIdentCode, the identCode of the client to call the status for","schema":{"type":"string"}}],"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTMStatusResponseDTO"}}}}}}},"/FoundationBFBean/client/active":{"get":{"tags":["FoundationBFBean"],"description":"Requests all active clients from this engine.","operationId":"getAllActiveClients","responses":{"200":{"description":"Contains the client infos.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClientDTO"}}}}}}}},"/FoundationBFBean/numberOfClients":{"get":{"tags":["FoundationBFBean"],"description":"Returns the number of clients.","operationId":"getNumberOfClients","responses":{"200":{"description":"The client count."}}}},"/FoundationBFBean/acknowledgeFile":{"post":{"tags":["FoundationBFBean"],"description":"Acknowledges a file download.","operationId":"acknowledgeFile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcknowledgeFileRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcknowledgeFileResponseDTO"}}}}}}},"/FoundationBFBean/uploadSettings":{"post":{"tags":["FoundationBFBean"],"description":"Retrieves the upload settings.","operationId":"getUploadSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadSettingsRequestDTO"}}}},"responses":{"200":{"description":"The upload settings.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadSettingsResponseDTO"}}}}}}},"/FoundationBFBean/sendMail":{"post":{"tags":["FoundationBFBean"],"description":"Sends a mail.","operationId":"sendMail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendMailParmDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendMailResultDTO"}}}}}}},"/FoundationBFBean/client/duplicate":{"post":{"tags":["FoundationBFBean"],"description":"Duplicates a client.<br/>This method is deprecated. It's no longer supported for external access.<br/>It is only supported for AEB internal use in <code>InternalProvisioningBF</code>.","operationId":"duplicateClient","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateClientRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateClientResponseDTO"}}}}},"deprecated":true}},"/FoundationBFBean/productInfo":{"get":{"tags":["FoundationBFBean"],"description":"Requests the product info from this engine.","operationId":"getProductInfo","responses":{"200":{"description":"Contains the product info.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductInfoDTO"}}}}}}},"/FoundationBFBean/client":{"get":{"tags":["FoundationBFBean"],"description":"Requests all clients from this engine.","operationId":"getAllClients","responses":{"200":{"description":"Contains the client infos.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClientDTO"}}}}}}},"post":{"tags":["FoundationBFBean"],"description":"Create a client.","operationId":"createClient","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateClientRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateClientResponseDTO"}}}}}}},"/FoundationBFBean/downloadFile":{"post":{"tags":["FoundationBFBean"],"description":"Retrieves a file for download.","operationId":"downloadFile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadFileRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadFileResponseDTO"}}}}}}},"/FoundationBFBean/roles/{clientIdentCode}":{"get":{"tags":["FoundationBFBean"],"description":"Requests the current engine to report all roles for a specific client","operationId":"requestReport","parameters":[{"name":"clientIdentCode","in":"path","description":"Client ident code for retrieving its roles.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Contains the roles of a specific client from the queried engine.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoleInfoDTO"}}}}},"400":{"description":"Client ident code is invalid."},"404":{"description":"No client with that ident code exists."}}}},"/FoundationBFBean/roles":{"get":{"tags":["FoundationBFBean"],"description":"Requests the current engine to report all its roles","operationId":"requestReport_1","responses":{"200":{"description":"Contains all roles and clients.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoleInfoDTO"}}}}}}}},"/FoundationBFBean/restartRFCServer":{"post":{"tags":["FoundationBFBean"],"description":"This method is only usefull to be called from SAP via RFC. It will restart the RFCServer which receives this method call. This method is useful to be called from SAP, if within SAP some structure definitions had changed, e.g. after installing a transport. The RFC name of this function is \"/AEB/XNSG_IF_RSTRFCSRV\"","operationId":"restartRFCServer","responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/FoundationBFBean/runtimeInfo":{"get":{"tags":["FoundationBFBean"],"description":"Requests the runtime info from this engine.","operationId":"getRuntimeInfo","responses":{"200":{"description":"Contains the runtime info.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeInfoDTO"}}}}}}},"/FoundationBFBean/monitoringValue/{groupName}/{valueName}":{"get":{"tags":["FoundationBFBean"],"description":"Requests a specific monitoring value from this engine.","operationId":"getMonitoringValue","parameters":[{"name":"groupName","in":"path","description":"group name","required":true,"schema":{"type":"string"}},{"name":"valueName","in":"path","description":"value name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The monitoring value."}}}},"/FoundationBFBean/systemSearch/{language}":{"post":{"tags":["FoundationBFBean"],"description":"Performs a system search in this engine.","operationId":"systemSearch","parameters":[{"name":"language","in":"path","description":"the langauge","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SystemSearchParameterDTO"}}}}},"responses":{"200":{"description":"The search results.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SystemSearchResultDTO"}}}}}}}},"/FoundationBFBean/workplaceURL":{"get":{"tags":["FoundationBFBean"],"description":"Requests the workplace url from this engine.","operationId":"getWorkplaceURL","responses":{"200":{"description":"The workspace url."}}}},"/FoundationBFBean/startTableUpdate":{"post":{"tags":["FoundationBFBean"],"description":"Starts the table update.","operationId":"startTableUpdate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartTableUpdateParmDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableUpdateStateResultDTO"}}}}}}},"/FoundationBFBean/announceStop":{"post":{"tags":["FoundationBFBean"],"description":"Announces a stop of the installation.","operationId":"announceStop","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnounceStopParmDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnounceStopResultDTO"}}}}}}},"/FoundationBFBean/cancelAnnounceStop":{"post":{"tags":["FoundationBFBean"],"description":"Revokes an already announced stop.","operationId":"cancelAnnounceStop","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelAnnounceStopParmDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelAnnounceStopResultDTO"}}}}}}},"/FoundationBFBean/uploadFileMultiPart":{"post":{"tags":["FoundationBFBean"],"description":"Uploads a file using multipart.","operationId":"uploadFileMultiPart","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","description":"Attach file to upload","format":"binary"},"metaInfo":{"$ref":"#/components/schemas/UploadFileMultiPartRequestDTO"}}}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadFileResponseDTO"}}}}}}},"/FoundationBFBean/tableUpdateState":{"post":{"tags":["FoundationBFBean"],"description":"Retrieve the status of the table update.","operationId":"getTableUpdateState","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableUpdateStateParmDTO"}}}},"responses":{"200":{"description":"The table update status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableUpdateStateResultDTO"}}}}}}},"/FoundationBFBean/monitoringValue":{"get":{"tags":["FoundationBFBean"],"description":"Requests all monitoring values from this engine.","operationId":"getAllMonitoringValues","responses":{"200":{"description":"Contains all monitoring values.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MonitoringDataProviderDTO"}}}}}}}},"/FoundationBFBean/solution/{name}/version":{"get":{"tags":["FoundationBFBean"],"description":"Requests the version info for a solution from this engine.","operationId":"getVersionForSolution","parameters":[{"name":"name","in":"path","description":"Name of solution.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Contains the version info.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionInfoDTO"}}}}}}},"/FoundationBFBean/solution/{name}/build":{"get":{"tags":["FoundationBFBean"],"description":"Requests the build info for a solution from this engine.","operationId":"getBuildForSolution","parameters":[{"name":"name","in":"path","description":"Name of solution.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Contains the build info."}}}},"/FoundationBFBean/changeAdminPassword":{"post":{"tags":["FoundationBFBean"],"description":"Changes the admin password.","operationId":"changeAdminPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeAdminPasswordParmDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeAdminPasswordResultDTO"}}}}}}},"/FoundationBFBean/generateClientIdentCode":{"post":{"tags":["FoundationBFBean"],"description":"Generates a client ident code.","operationId":"generateClientIdentCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateClientIdentCodeRequestDTO"}}}},"responses":{"200":{"description":"The client ident code."}}}},"/FoundationBFBean/client/duplicate/{processId}":{"get":{"tags":["FoundationBFBean"],"description":"The duplication status of a client.<br/>This method is deprecated. It's no longer supported for external access.<br/>It is only supported for AEB internal use in <code>InternalProvisioningBF</code>.","operationId":"getDuplicateClientProgress","parameters":[{"name":"processId","in":"path","description":"the process id to check","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The duplication progress.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateClientProgressResponseDTO"}}}}},"deprecated":true}},"/FoundationBFBean/downloadableFileRefs":{"post":{"tags":["FoundationBFBean"],"description":"Retrieves refs for download.","operationId":"getDownloadableFilesRefs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLFilesRefsRequestDTO"}}}},"responses":{"200":{"description":"The download refs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DLFilesRefsResponseDTO"}}}}}}},"/FoundationBFBean/scriptExecutionState":{"post":{"tags":["FoundationBFBean"],"description":"gets a script execution state","operationId":"getScriptExecutionState","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScriptExecutionStateParmDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScriptExecutionStateResultDTO"}}}}}}},"/FoundationBFBean/checkDebtorNumber":{"get":{"tags":["FoundationBFBean"],"description":"Checks if debtor number is known.","operationId":"isDebtorNumberKnown","parameters":[{"name":"debtorNumber","in":"query","description":"the debtor number to check","schema":{"type":"string"}}],"responses":{"200":{"description":"True if known."}}}},"/FoundationBFBean/startScriptExecution":{"post":{"tags":["FoundationBFBean"],"description":"Starts a script execution","operationId":"startScriptExecution","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartScriptExecutionParmDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartScriptExecutionResultDTO"}}}}}}},"/InternalProvisioningBFBean/setClientFeatures":{"post":{"tags":["InternalProvisioningBFBean"],"description":"Update the client features for a given client.","operationId":"setClientFeatures","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetClientFeaturesRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetClientFeaturesResponseDTO"}}}}}}},"/InternalProvisioningBFBean/createClientFromTemplate":{"post":{"tags":["InternalProvisioningBFBean"],"description":"Creates a new client by duplicating it from a given template client. Start the process here and check its progress using <code>getCreateClientFromTemplateStatus</code>","operationId":"createClientFromTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateClientFromTemplateRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateClientFromTemplateResponseDTO"}}}}}}},"/InternalProvisioningBFBean/getCreateClientFromTemplateStatus":{"post":{"tags":["InternalProvisioningBFBean"],"description":"Retrieve the status of an ongoing or completed client duplication process started by <code>createClientFromTemplate</code>.","operationId":"getCreateClientFromTemplateStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCreateClientFromTemplateStatusRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCreateClientFromTemplateStatusResponseDTO"}}}}}}},"/InternalProvisioningBFBean/getClientFeatures":{"post":{"tags":["InternalProvisioningBFBean"],"description":"Retrieve all client features for a given client.","operationId":"getClientFeatures","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetClientFeaturesRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetClientFeaturesResponseDTO"}}}}}}},"/RemoteAdminBFBean/roles":{"get":{"tags":["RemoteAdminBFBean"],"summary":"getRoles","description":"Returns a list of roles","operationId":"getRolesGET","parameters":[{"name":"scope","in":"query","description":"the dataset to return","schema":{"type":"string"}},{"name":"clientIdentCodes","in":"query","description":"includeClientIdentCodes","schema":{"type":"string"}},{"name":"resultLanguageIsoCodes","in":"query","description":"resultLanguageIsoCodes","schema":{"type":"string"}}],"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRolesResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/GetRolesResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/SyncBFBean/acknowledgeEvents":{"post":{"tags":["SyncBFBean"],"description":"Acknowledge events got with {@link #getNotAcknowledgedEvents(SyncEventsRequestDTO)}.<br> Since XNSG 4.0, Nov. FP, 2017<br>.","operationId":"acknowledgeEvents","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcknowledgeEventsRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcknowledgeEventsResponseDTO"}}}}}}},"/SyncBFBean/synchronizeEvents":{"post":{"tags":["SyncBFBean"],"description":"Poll the next events for the client system.<br> This method requires the client system to persist the synchronisation state itself and passing a proper value for {@link SyncEventsRequestDTO#syncId}<br> See {@link #getNotAcknowledgedEvents(SyncEventsRequestDTO)} for a version of the method, were the syncronisation state is kept within the Engine.","operationId":"synchronizeEvents","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncEventsRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncEventsResponseDTO"}}}}}}},"/SyncBFBean/unsubscribePartnerSystem":{"post":{"tags":["SyncBFBean"],"description":"Unsubscribe a partner system from being able to receive events for the specified business object type.<br>The subscription is uniquely identified by the <code>clientSystemId</code> and <code>businessObjectType</code> (both mandatory fields).<br> Since XNSG 4.0, Nov. FP, 2021<br>","operationId":"unsubscribePartnerSystem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnsubscribePartnerSystemRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnsubscribePartnerSystemResponseDTO"}}}}}}},"/SyncBFBean/getNotAcknowledgedEvents":{"post":{"tags":["SyncBFBean"],"description":"Poll any not acknowledged events for the client system.<br> This method does not require, that the client system fills {@link SyncEventsRequestDTO#syncId}.<br> However, it requires, that a call to {@link #acknowledgeEvents(AcknowledgeEventsRequestDTO)} is done for acknowledge of the events.<br> Since XNSG 4.0, Nov. FP, 2017<br>.","operationId":"getNotAcknowledgedEvents","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncEventsRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncEventsResponseDTO"}}}}}}},"/SyncBFBean/getPartnerSystemSubscriptions":{"post":{"tags":["SyncBFBean"],"description":"Fetch a list of registered subscriptions (either all or filtered by the business object type).<br>Only subscription belonging to the provided <code>clientSystemId</code> are returned (mandatory field)<br> Since XNSG 4.0, Nov. FP, 2021<br>","operationId":"getPartnerSystemSubscriptions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPartnerSystemSubscriptionsRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPartnerSystemSubscriptionsResponseDTO"}}}}}}},"/SyncBFBean/subscribePartnerSystem":{"post":{"tags":["SyncBFBean"],"description":"Subscribe a partner system to be able to receive events for the specified business object type.<br>The subscription is uniquely identified by the <code>clientSystemId</code> and <code>businessObjectType</code> (both mandatory fields).<br> Since XNSG 4.0, Nov. FP, 2021<br>","operationId":"subscribePartnerSystem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscribePartnerSystemRequestDTO"}}}},"responses":{"200":{"description":"The operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscribePartnerSystemResponseDTO"}}}}}}}},"components":{"schemas":{"DLDeleteItemResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}}},"description":"Response DTO for the deleteItem business facade method","xml":{"name":"deleteItemResponseDTO"}},"ResponseMessageDTO":{"type":"object","properties":{"messageType":{"type":"string","description":"<p>Message type</p><p>If not stated otherwise, the possible types are:</p><ul><li>ERROR</li><li>WARNING</li><li>INFO</li></ul><p>Maximum length: 50</p>","example":"WARNING"},"messageIdentCode":{"type":"string","description":"<p>Optional identification code for further classification of the message type.</p><p>Maximum length: 50</p>","example":"5627"},"messageTexts":{"type":"array","description":"<p>Detailed message texts in the requested languages.</p>","items":{"$ref":"#/components/schemas/TextInLanguageDTO"}},"indentationLevel":{"type":"integer","description":"<p>The indentation level of the message.</p><p>'0' indicates a top level message.</p>","format":"int32","example":0}},"description":"Result messages like errors or warnings."},"TextInLanguageDTO":{"type":"object","properties":{"languageISOCode":{"type":"string","description":"<p>2-letter ISO code of the language.</p><p>length=2</p>","example":"en"},"text":{"type":"string","description":"The translated text.","example":"Some free-form text"}},"description":"A translated text in one of the specified languages."},"DLDeleteItemRequestDTO":{"required":["shipmentItemReference"],"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"shipmentItemReference":{"$ref":"#/components/schemas/DLShipmentItemReferenceDTO"}},"description":"Request DTO for the deleteItem business facade method","xml":{"name":"deleteItemRequestDTO"}},"DLShipmentItemReferenceDTO":{"required":["shipmentReference"],"type":"object","properties":{"shipmentReference":{"$ref":"#/components/schemas/DLShipmentReferenceDTO"},"itemTransactionId":{"type":"string","description":"The number of the client system uniquely referencing an item in a shipment. <p> length=50 </p>"},"referenceNumber1":{"type":"string","description":"Another item reference number. May be used, when an item was not created by the client system and therefore has no <code>itemTransactionId</code>. If both fields are filled, they both must match the item. <p> length=50 </p>"},"quantityValue":{"type":"number","description":"It is not supported in case of deleting an item.<br> The quantity of the referenced item to be used. The value can be equal or less than the item's quantity and must be supplied in the item's quantity unit."}},"description":"DTO for uniquely identifying an item within a shipment."},"DLShipmentReferenceDTO":{"type":"object","properties":{"transactionId":{"type":"string","description":"ID of the corresponding transaction in the client system.<br> Usually sufficient for identifying a shipment. <p> length=250 </p>"},"referenceNumber1":{"type":"string","description":"Another client system system reference number for the shipment. <p> length=50 </p>"},"shipmentNumber":{"type":"string","description":"The shipment number internally generated by the carrier engine.<br> Usually sufficient for identifying a shipment. <p> length=20 </p>"}},"description":"DTO for uniquely identifying a DLShipment within a specific client."},"DLDocumentDTO":{"type":"object","properties":{"documentType":{"type":"string","description":"The ident code of the document type the document belongs to.<br> The document type can be used to identify a specific document within a list of documents. Example: when more than one document is returned for a package, each one has a different document type (e.g. the normal label and the dangerous goods label).<br> <p> length = 50 </p>"},"mimeType":{"type":"string","description":"The MIME type of the document. Possible values: <ol> <li>\"application/pdf\" document is in PDF format <li>\"printer/raw\" document is in printer language (e.g. ZPL or EPL) and can be directly sent to a printer <li>\"image/<code>format</code>\" document is a printable image. <code>format</code> can be \"png\", \"jpeg\", etc. </ol> <p> length = 30 </p>"},"printerModel":{"type":"string","description":"Only filled for \"printer/raw\" mime type. Specifies the printer model the content is usable for. <p> length = 80 </p>"},"printerId":{"type":"string","description":"Only filled for \"printer/raw\" mime type. The ID can be used to identify a special printer by the ERP system. <p> length = 80 </p>"},"resolution":{"type":"integer","description":"Only filled for \"image\" mime types. Specifies resolution of the image. <p> length = 8 </p>","format":"int32"},"content":{"type":"array","description":"The document content","items":{"type":"string","description":"The document content","format":"byte"}}},"description":"DTO for a document to be printed out by the client system."},"DLPackageProcessingResultDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"True, if there are any error messages. If an error has occured the messages contain more details about the errors."},"hasWarnings":{"type":"boolean","description":"True, if there are any warning messages."},"messages":{"type":"array","description":"Messages for the whole request, e.g. for errors or warnings.<br>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"packageTransactionId":{"type":"string","description":"<p> The shipment wide unique id for the package (as specified in the request) the result is for. </p> <p> length=50 </p>"},"referenceNumber1":{"type":"string","description":"Another package reference number (as specified in the request) the result is for. <p> length=50 </p>"},"carrierPackageNumber":{"type":"string","description":"The package number given by the carrier. Usually the tracking number. <p> length=50 </p>"},"carrierPackageNumberReturn":{"type":"string","description":"The additional return tracking number given by the carrier, if the data for the possible return shipment are to be generated with the initial shipping data.  <p> length=50 </p>"},"carrierPackageIdentBarcode":{"type":"string","description":"The content of the barcode identifying the package as defined by the carrier. The carrierPackageNumber is most likely part of the carrierPackageIdentBarcode and for same carrier it is identical. However, this depends solely on the carriers' specification. NOTE: this is currently in BETA phase and only supported for a very small number of carriers. <p> length=50 </p>"},"documents":{"type":"array","description":"The documents for the package. Only filled when asked for in request (documentOutputMode).","items":{"$ref":"#/components/schemas/DLDocumentDTO"}}},"description":"DTO holding result information of a package processing.<br> The package is created and basic validation checks are performed synchronously.<br> The carrier data preparation for EDI and label generation will be performed asynchronously, so the preparation results (e.g. labels and tracking number) are not part of the response. This information can be retrieved with a <code>syncShipments</code> call."},"DLProcessShipmentResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"carrierShipmentNumber":{"type":"string","description":"The carrier tracking number of the shipment. <p> length=50 </p>"},"carrierShipmentNumberReturn":{"type":"string","description":"The additional return tracking number given by the carrier, if the data for the possible return shipment are to be generated with the initial shipping data. <p> length=50 </p>"},"packageResults":{"type":"array","description":"The results on package level.","items":{"$ref":"#/components/schemas/DLPackageProcessingResultDTO"}},"documents":{"type":"array","description":"The documents of the shipment. Only filled, when specified in <code>documentOutputMode</code> of request and shipment documents for printing exist. This also works for reprint.","items":{"$ref":"#/components/schemas/DLDocumentDTO"}}},"description":"Response DTO for the processShipment business facade method.<br> For possible validation and preparation warnings and errors see {@link DLCreateShipmentResponseDTO}","xml":{"name":"processShipmentResponseDTO"}},"AmountOfMoneyDTO":{"type":"object","properties":{"value":{"type":"number","description":"The value of the amount of money. <p>length=15, scale=2</p>"},"currencyIso":{"type":"string","description":"The three letter ISO code of the currency of the amount of money. <p>length=3</p>"}},"description":"An amount of money with a value and an currency ISO code."},"DLContainerDataDTO":{"type":"object","properties":{"verifiedGrossMass":{"$ref":"#/components/schemas/QuantityDTO"},"verificationMethod":{"type":"string","description":"Method for verifying the gross mass of the container. Valid values are: <ul> <li>METHOD_1</li> <li>METHOD_2</li> </ul> <br> <p> length=8 </p>"},"verificationContactName":{"type":"string","description":"Name of the person responsible for determining and passing on the VGM. <p> length = 35 </p>"}},"description":"DTO containing data for container package types."},"DLCuboidDimensionsDTO":{"required":["height","identCode","length","width"],"type":"object","properties":{"length":{"type":"number","description":"Represents the length of the dimensions. <p> length=15, scale=2 </p>"},"width":{"type":"number","description":"Represents the width of the dimensions. <p> length=15, scale=2 </p>"},"height":{"type":"number","description":"Represents the height of the dimensions. <p> length=15, scale=2 </p>"},"identCode":{"type":"string","description":"Identifier of the quantity unit (must be unique). Only \"cm\" is supported yet. <p> length=10 </p>"}},"description":"DLCuboidDimensionsDTO with length, width, height and identCode."},"DLDocumentOutputModeDTO":{"required":["mode"],"type":"object","properties":{"mode":{"type":"string","description":"<p> The output mode for the documents. Valid values are: <li>PRINT The documents will be automatically printed on the client system. A print job agent has to be installed and activated there. <li>RETURN The print data of the documents will be returned to the client system to be printed there. This is also the default when mode is left empty. </P> <br> <p> length=15 </p>"}},"description":"DTO specifying the output mode for documents."},"DLDocumentScopeDTO":{"required":["scope"],"type":"object","properties":{"scope":{"type":"string","description":"<p> The scope of documents to be processed (prepared or printed). Valid values are: <li>NONE No documents. This is also the default, when scope is left empty. <li>ALL All documents including the already processed ones. <li>REMAINING Only the remaining, not yet processed documents. <li>REQUEST Only documents for the packages included in the request. <li>SHIPMENTONLY No documents are processed. The shipment is prepared for document processing.  </p> <br> <p> length=20 </p>"}},"description":"DTO specifying the scope of documents to be processed."},"DLHazardousGoodsItemRequestDataDTO":{"required":["hazardRegulation"],"type":"object","properties":{"unNumber":{"type":"string","description":"UN number <p> length=8 <p>"},"hazardRegulation":{"type":"string","description":"Hazardous regulation to be applied. Valid values are: <ul> <li>ADR</li> <li>IATA</li> <li>IMDG</li> <li>TDG</li> <li>CFR</li> </ul> <p> length=10 <p>"},"technicalName":{"type":"string","description":"Technical name <p> length=250 <p>"},"hazardAdditionalDescription":{"type":"string","description":"Additional description <p> length=250 <p>"},"hazardousGoodsType":{"type":"string","description":"Indicates the type of hazardous goods packaged in the package. Valid values are: <li>UNDEFINED\t\t(not defined, the type is determined by the hazardous good's package) <li>NORMAL \t(hazardous goods) <li>EQ\t\t(excepted quantities) <li>LQ\t\t(limited quantities) <li>US_ORMD\t\t(other regulated materials for domestic transport only) - Since 2021 this code is not used anymore <li>US_SMALL_QUANTITY\t\t(small quantity regulated materials) - only relevant for US"},"hazardClass":{"type":"string","description":"Hazardous class. Valid values are: <ul> <li>1</li> <li>1.1</li> <li>1.2</li> <li>1.3</li> <li>1.4</li> <li>1.5</li> <li>1.6</li> <li>2</li> <li>2.1</li> <li>2.2</li> <li>2.3</li> <li>3</li> <li>4</li> <li>4.1</li> <li>4.2</li> <li>4.3</li> <li>5</li> <li>5.1</li> <li>5.2</li> <li>6</li> <li>6.1</li> <li>6.2</li> <li>7</li> <li>7A</li> <li>7B</li> <li>7C</li> <li>7E</li> <li>8</li> <li>9</li> <li>NONE</li> </ul> <p> length=10 <p>"},"subriskClass1":{"type":"string","description":"Sub risk 1 hazardous class. Valid values are: <ul> <li>1</li> <li>1.1</li> <li>1.2</li> <li>1.3</li> <li>1.4</li> <li>1.5</li> <li>1.6</li> <li>2</li> <li>2.1</li> <li>2.2</li> <li>2.3</li> <li>3</li> <li>4</li> <li>4.1</li> <li>4.2</li> <li>4.3</li> <li>5</li> <li>5.1</li> <li>5.2</li> <li>6</li> <li>6.1</li> <li>6.2</li> <li>7</li> <li>7A</li> <li>7B</li> <li>7C</li> <li>7E</li> <li>8</li> <li>9</li> <li>NONE</li> </ul> <p> length=10 <p>"},"subriskClass2":{"type":"string","description":"Sub risk 2 hazardous class. Valid values are: <ul> <li>1</li> <li>1.1</li> <li>1.2</li> <li>1.3</li> <li>1.4</li> <li>1.5</li> <li>1.6</li> <li>2</li> <li>2.1</li> <li>2.2</li> <li>2.3</li> <li>3</li> <li>4</li> <li>4.1</li> <li>4.2</li> <li>4.3</li> <li>5</li> <li>5.1</li> <li>5.2</li> <li>6</li> <li>6.1</li> <li>6.2</li> <li>7</li> <li>7A</li> <li>7B</li> <li>7C</li> <li>7E</li> <li>8</li> <li>9</li> <li>NONE</li> </ul> <p> length=10 <p>"},"classificationCode":{"type":"string","description":"Classification code <p> length=4 <p>"},"tunnelCode":{"type":"string","description":"Tunnel restriction code <p> length=10 <p>"},"packagingGroup":{"type":"string","description":"Hazardous packaging group. Valid Values are: <ul> <li>NONE</li> <li>I</li> <li>II</li> <li>III</li> </ul> <p> length=10 <p>"},"packingInstruction":{"type":"string","description":"IATA packing instruction. Consists of the instruction code (up to three digits) optionally followed by a section identification (up to two upper case characters). Instruction code and section must be separated by an underscore. The section identification is mandatory for lithium batteries otherwise the instruction code alone is sufficient. Example Values are: <ul> <li>203</li> <li>350</li> <li>965_IA</li> <li>965_IB</li> <li>965_I</li> </ul> <p> length=10 </p>"},"specialProvision":{"type":"string","description":"Special provisions for the carriage of hazardous goods. Consists of the provision code (up to three digits) or the chapter specification (up to three digits), optionally followed by sub-chapters (up to two digits or one digit and an upper case character). Chapter and subchapters must be separated by a dot. Also possible are 3 capital letters + hyphen, followed by further numbers or letters or 1 capital letter followed by numbers. Example Values are: <ul> <li>188</li> <li>2.2.9.1.7</li> <li>63.3A</li> <li>USG-...</li> <li>A213</li> </ul> <p> length=20 </p>"},"multiplicator":{"type":"string","description":"Hazardous multiplicator. Valid Values are: <ul> <li>NONE</li> <li>0</li> <li>1</li> <li>3</li> <li>50</li> <li>INFINITE</li> </ul> <p> length=10 <p>"},"packageTypeIdentCode":{"type":"string","description":"IdentCode of the package type. Valid values are depending on the client's package types in the master file data. <p> length=20 </p>"},"hazardWeight":{"$ref":"#/components/schemas/QuantityDTO"},"hazardNetQuantity":{"$ref":"#/components/schemas/QuantityDTO"},"netExplosiveWeight":{"$ref":"#/components/schemas/QuantityDTO"},"numberOfPackages":{"type":"integer","description":"Number of packages -->do we really want to keept this field <p> length=10 </p>","format":"int32"},"hazardLabel":{"type":"string","description":"Hazardous label <p> length=10 </p>"},"transportCategory":{"type":"string","description":"Transport category. Valid Values are: <ul> <li>NONE</li> <li>0</li> <li>1</li> <li>2</li> <li>3</li> <li>4</li> </ul> <p> length=4 <p>"},"specialSubstanceType":{"type":"string","description":"Special Substance type. Valid Values are: <ul> <li>NONE</li> <li>BIOLOGICAL_SUBSTANCE</li> <li>DRY_ICE</li> <li>GENETICALLY_MODIFIED_ORGANISM</li> <li>LITHIUM_BATTERY</li> <li>RADIOACTIVE_SUBSTANCE</li> </ul> <p> length=30 <p>"},"hazardPoints":{"type":"integer","description":"Hazardous points <p> length=5 </p>","format":"int32"},"flashPoint":{"type":"string","description":"Flash point <p> length=20 </p>"},"specialProvisionMarking":{"type":"string","description":"Indicates if the special provision has to be marked. Valid Values are: <ul> <li>REQUIRED</li> <li>NOT_REQUIRED</li> </ul> <p> length=20 <p>"},"emergencyContact":{"$ref":"#/components/schemas/DLPersonDTO"},"transportAuthorization":{"type":"string","description":"Transport authorization. Additional information that may be required by regulation about a hazardous material such as DOT-SP number (Special Permit), LAA number... <p> length=250 </p>"},"packingInstructionMarking":{"type":"string","description":"Indicates if the packing instruction has to be marked. Valid Values are: <ul> <li>REQUIRED</li> <li>NOT_REQUIRED</li> </ul> <p> length=20 <p>"},"marinePollutant":{"type":"string","description":"Indicates if the substance is a marine pollutant according to IMDG or CFR. When no value is given, default is NO_POLLUTANT. Valid Values are: <ul> <li>NO_POLLUTANT</li> <li>POLLUTANT</li> <li>SEVERE_POLLUTANT</li> </ul> <p> length=20 <p>"},"controlTemperature":{"type":"string","description":"The control temperature according to IMDG or CFR. <p> length=4 <p>"},"emergencyTemperature":{"type":"string","description":"The emergency temperature according to IMDG or CFR. <p> length=4 <p>"},"isEnvironmentallyHazardous":{"type":"boolean","description":"Indicates if the substance is environmentally hazardous according to ADR or IATA."},"isReportableQuantity":{"type":"boolean","description":"Indicates if package contains hazardous materials in an amount that needs to be reported."},"isTransportByCargoAircraftOnly":{"type":"boolean","description":"Indicates if the transportation is only allowed in the cargo aircraft."},"isNotRegulated":{"type":"boolean","description":"Indicates if no hazardous goods exist in accordance with the regulations."},"additionalValues":{"$ref":"#/components/schemas/GenericDataRecordDTO"}},"description":"DTO for request information of a DLHazardousGoodsItem."},"DLPackageCumulationRequestDataDTO":{"required":["numberOfPackages","packageTypeIdentCode"],"type":"object","properties":{"numberOfPackages":{"type":"integer","description":"The number of packages. <p> length=3 </p>","format":"int32"},"packageTypeIdentCode":{"type":"string","description":"IdentCode of the package type. Valid values are depending on the client's package types in the master file data. <p> length=20 </p>"},"packageSpecificeContents":{"type":"string","description":"The content description of the package. If left empty, the content description supplied in field 'contents' on shipment level will be used for this package. <p> length=250 </p>"},"weight":{"$ref":"#/components/schemas/QuantityDTO"},"volume":{"$ref":"#/components/schemas/QuantityDTO"},"loadingMeters":{"type":"number","description":"The loading meters needed for the packages. <p>length=10, scale=3</p>"},"palletPlaces":{"type":"number","description":"The pallet places needed for the packages. <p>length=10, scale=3</p>"}},"description":"DTO for package cumulation data."},"DLPackageHazardousGoodsDataRequestDTO":{"required":["hazardousGoodsType"],"type":"object","properties":{"hazardousGoodsType":{"type":"string","description":"Indicates the type of hazardous goods packaged in the package. Valid values are: <li>NONE\t\t(no hazardous goods) <li>NORMAL \t(hazardous goods) <li>EQ\t\t(excepted quantities) <li>LQ\t\t(limited quantities) <li>SPECIAL_SUBSTANCE\t(special substance) <li>ORMD\t\t(other regulated materials for domestic transport only) - Since 2021 this code is not used anymore <li>US_SMALL_QUANTITY\t\t(small quantity regulated materials) - only relevant for US"},"packagingTypeHandling":{"type":"string","description":"Indicates the hazardous goods material packaging type in the package. Valid values are: <li>NONE\t\t(no packaging type) <li>ALL_PACKED_IN_ONE \t(two or more hazardous goods items are all packed in the same package) <li>OVERPACK\t\t(enclosure to contain one or more packages and form one handling unit for convenience of handling and stowage)"},"hazardQValue":{"type":"number","description":"The Q-value is calculated from a formula of the IATA-DGR. This determines the quantities of different hazardous goods that an outer packaging may contain. <p>length=2, scale=1</p>"}},"description":"Holds hazardous goods data concerning the package."},"DLPackageRequestDataDTO":{"required":["packageTransactionId","packageTypeIdentCode"],"type":"object","properties":{"packageTypeIdentCode":{"type":"string","description":"IdentCode of the package type. Valid values are depending on the client's package types in the master file data. <p> length=20 </p>"},"packageSpecificeContents":{"type":"string","description":"The content description of the package. If left empty, the content description supplied in field 'contents' on shipment level will be used for this package. <p> length=250 </p>"},"packageNumber":{"type":"integer","description":"The serial number of the package within the shipment. This number is mainly used to sort the packages in lists or in business logic (e.g. to detect the \"first\" package as master package).<br> When the field is left empty, the numbers will automatically computed by the engine. <p> length=4 </p>","format":"int32"},"packageTransactionId":{"type":"string","description":"<p> The shipment wide unique id for the package. Is included in the response. </p> <p> length=50 </p>"},"referenceNumber1":{"type":"string","description":"Package reference number. Is included in the response. <p> length=50 </p>"},"referenceNumber2":{"type":"string","description":"Second package reference number <p>length=50</p>"},"extCarrierPackNum":{"type":"string","description":"The external carrier tracking number of the package <p> length=50 </p>"},"extCarrierPackNumBasic":{"type":"string","description":"The basic external carrier tracking number of the package <p> length=50 </p>"},"extCarrierPackNumReturn":{"type":"string","description":"The external carrier return tracking number of the package <p> length=50 </p>"},"extCarrierPackNumBasicReturn":{"type":"string","description":"The basic external return carrier tracking number of the package <p> length=50 </p>"},"grossWeight":{"$ref":"#/components/schemas/QuantityDTO"},"dimensions":{"$ref":"#/components/schemas/DLCuboidDimensionsDTO"},"alternativeVolume":{"$ref":"#/components/schemas/QuantityDTO"},"codValue":{"$ref":"#/components/schemas/AmountOfMoneyDTO"},"additionalValues":{"$ref":"#/components/schemas/GenericDataRecordDTO"},"containedItems":{"type":"array","description":"The items the package contains. Only item references are used here, the items themselves must already exist. An error will be returned, when one of the referenced items does not exist.<br> May be null in case when no items exist at all or when the carrier doesn't want information about the contents of the package.","items":{"$ref":"#/components/schemas/DLShipmentItemReferenceDTO"}},"hazardousGoodsData":{"$ref":"#/components/schemas/DLPackageHazardousGoodsDataRequestDTO"},"transportEquipment":{"$ref":"#/components/schemas/DLTransportEquipmentReferenceDTO"},"marks":{"type":"string","description":"Marks and numbers for identification of a package. <p> length=50"},"stackability":{"type":"string","description":"The possibility to stack packages. Valid values are: <li>NOTSPECIFIED <li>STACKABLE <li>UNSTACKABLE </p> If no value is supplied, NOTSPECIFIED will be assumed as the default value"},"freightClass":{"type":"string","description":"The freight class of the package according to the NMFC (National Motor Freight Classification) specification. Relevant for US carriers. Valid values are: <li>50</li> <li>55</li> <li>60</li> <li>65</li> <li>70</li> <li>77.5</li> <li>85</li> <li>92.5</li> <li>100</li> <li>110</li> <li>125</li> <li>150</li> <li>175</li> <li>200</li> <li>250</li> <li>300</li> <li>400</li> <li>500</li> <li>NONE</li>"},"nmfcCode":{"type":"string","description":"The NMFC code of the package. Relevant for US carriers. <p> length=10 </p>"},"nmfcSubCode":{"type":"string","description":"The NMFC subcode of the package. Relevant for US carriers. <p> length=2 </p>"},"loadingMeters":{"type":"number","description":"The loading meters needed for the package. <p> length=10, scale=3 </p>"},"palletPlaces":{"type":"number","description":"The pallet places needed for the package. <p> length=10, scale=3</p>"}},"description":"DTO for package data."},"DLPersonDTO":{"type":"object","properties":{"name":{"type":"string","description":"Name of contact.\n> `length=80`"},"phone":{"type":"string","description":"Phone number.\n> `length=20`"},"fax":{"type":"string","description":"Fax number.\n> `length=20`"},"email":{"type":"string","description":"Email address.\n> `length=256`"}},"description":"DLPersonDTO containing contact data."},"DLProcessModeDTO":{"required":["mode"],"type":"object","properties":{"mode":{"type":"string","description":"<p> The mode in which the operation is processed. Valid values are: <li>BASIC the operation is processed in an asynchronous job. <li>EXTENDED the operation is executed directly within the webservice request transaction and no response is returned until the process is finished. </p> <br> <p> length=10 </p>"}},"description":"DTO specifying the mode in which an operation is processed."},"DLProcessShipmentRequestDTO":{"required":["processParms","shipmentReference"],"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"creationParms":{"$ref":"#/components/schemas/DLShipmentCreationParmsDTO"},"shipmentReference":{"$ref":"#/components/schemas/DLShipmentReferenceDTO"},"shipmentTotals":{"$ref":"#/components/schemas/DLShipmentTotalsRequestDataDTO"},"shipmentUpdateData":{"$ref":"#/components/schemas/DLShipmentUpdateRequestDataDTO"},"packages":{"type":"array","description":"The packages to be added to the shipment. The field may be empty when only processing is required and no new packages are to be added to the shipment.","items":{"$ref":"#/components/schemas/DLPackageRequestDataDTO"}},"packageCumulations":{"type":"array","description":"The package cumulations to be added to the shipment. The field may be empty  when only processing is required and no new package cumulations are to be  added to the shipment.","items":{"$ref":"#/components/schemas/DLPackageCumulationRequestDataDTO"}},"items":{"type":"array","description":"The items to be added to the shipment. The field may be empty when only processing is required and no new items are to be added to the shipment.","items":{"$ref":"#/components/schemas/DLShipmentItemRequestDataDTO"}},"referencesTexts":{"type":"array","description":"Further references and texts for the shipment. Multiple references or texts with same type are allowed (e.g. to specify all different delivery note numbers contained in the shipment).","items":{"$ref":"#/components/schemas/DLReferenceTextDTO"}},"transportEquipments":{"type":"array","description":"The transport equipments to be added to the shipment. The field may be empty when only processing is required and no new transport equipments are to be added to the shipment.","items":{"$ref":"#/components/schemas/DLTransportEquipmentDTO"}},"processParms":{"$ref":"#/components/schemas/DLShipmentProcessParmsDTO"},"carrierInfoTexts":{"type":"array","description":"Carrier info texts for the shipment.","items":{"$ref":"#/components/schemas/DLShipmentCarrierInfoTextDTO"}}},"description":"Request DTO for the processShipment business facade method","xml":{"name":"processShipmentRequestDTO"}},"DLReferenceTextDTO":{"type":"object","properties":{"type":{"type":"string","description":"<p> The type of the reference number or text. Valid values are: <li>DELNOTE_NUMBER - Delivery note number. <li>INVOICE_NUMBER - Invoice number. <li>PO_NUMBER - Purchase order number. <li>TRANSORDER_NUMBER - Transport order number. <li>CUSTOMS_REGISTRATION_NUMBER - Customs registration number. <li>PICKUP_INSTRUCTION - Pickup instruction/notice. <li>DELIVERY_INSTRUCTION - Delivery instruction/notice. <li>GENERAL_INSTRUCTION - General instruction/notice. <li>RECEIVER_EORI_NUMBER - Receiver EORI number. <li>IMPORTER_EORI_NUMBER - Importer EORI number. <li>RECEIVER_VAT_NUMBER - Receiver VAT number. <li>IMPORTER_VAT_NUMBER - Importer VAT number. <li>SHIPPER_IOSS_NUMBER - Shipper IOSS (Import OneStopShop) registration number. <li>SHIPPER_VOEC_NUMBER - Shipper VOEC (Norwegian VAT on eCommerce) registration number. <li>SHIPPER_PVA_NUMBER - Shipper PVA (British Postponed VAT Accounting) registration number.</P> <p> length=15 </p>"},"value":{"type":"string","description":"The value of the reference number or text. <p> length=500 </p>"}},"description":"DTO for reference numbers and texts of a certain (predefined) type."},"DLShipmentCarrierInfoTextDTO":{"required":["identCode"],"type":"object","properties":{"identCode":{"type":"string","description":"Carrier info text ident code.<br> <p>length=20</p>"},"parameter":{"type":"string","description":"An (optional) parameter for the info text.  <p> length=512 </p>"}},"description":"DTO specifying a carrier's info text for a shipment."},"DLShipmentCreationParmsDTO":{"required":["creationMode"],"type":"object","properties":{"creationMode":{"type":"string","description":"<p> Controls the creation of the shipment and/or it's packages as a transaction in the carrier engine. This is necessary for further processing like label printing or EDI generation. Valid values are: <li>VALIDATION_OK The shipment/packages is/are only created, when the shipment could be validated. Otherwise validation warnings will be returned in the response. <li>ALWAYS The shipment/packages is/are created even if validation fails and validation warnings are returned. Those warnings can either be corrected manually using the GUI or the shipment has to be cancelled via a <code>cancelShipment</code> call and retransmitted with a <code>createShipment</code> call. The cancel step is necessary because a direct retransmission of existing shipments and packages is not allowed. </p> Mandatory field.<br> <p> length=15 </p>"}},"description":"Creation parameters for a shipment. Specifies when and how to create a shipment or it's packages."},"DLShipmentItemRequestDataDTO":{"required":["itemTransactionId"],"type":"object","properties":{"itemNumber":{"type":"integer","description":"The serial number of the item within the shipment. This number is mainly used to sort the items in lists or in business logic.<br> When the field is left empty, the numbers will automatically computed by the engine. <p> length=4 </p>","format":"int32"},"itemTransactionId":{"type":"string","description":"<p> The shipment wide unique id for the item. Is included in the response. </p> <p> length=50 </p>"},"referenceNumber1":{"type":"string","description":"Item reference number. Is included in the response. <p> length=50 </p>"},"referenceNumber2":{"type":"string","description":"Second item reference number <p>length=50</p>"},"customsTariffNumber":{"type":"string","description":"The customs tariff number of the shipping item's contents. <p> length=11 </p>"},"description":{"type":"string","description":"The shipping item's description. <p> length=250 </p>"},"exportLicense":{"type":"string","description":"Export license. <p> length=50 </p>"},"countryOfOriginsISOCode":{"type":"string","description":"Country of origins. <p> length=2 </p>"},"certificateOfOrigins":{"type":"string","description":"Certificate of origins. <p> length=50 </p>"},"quantity":{"$ref":"#/components/schemas/QuantityDTO"},"netWeight":{"$ref":"#/components/schemas/QuantityDTO"},"grossWeight":{"$ref":"#/components/schemas/QuantityDTO"},"customsValue":{"$ref":"#/components/schemas/AmountOfMoneyDTO"},"goodsValue":{"$ref":"#/components/schemas/AmountOfMoneyDTO"},"despatchProcedureIdentCode":{"type":"string","description":"<p> The despatch procedure. Possible values are: <ul> <li>NONE</li> <li>T1</li> <li>T2</li> </ul> </p> <p> length=10 </p>"},"additionalValues":{"$ref":"#/components/schemas/GenericDataRecordDTO"},"hazardousGoodsItems":{"type":"array","description":"Hazardous goods items.","items":{"$ref":"#/components/schemas/DLHazardousGoodsItemRequestDataDTO"}}},"description":"DTO for shipment item data in a request."},"DLShipmentProcessParmsDTO":{"required":["doCompletion","documentOutputMode","documentOutputScope","documentPrepareScope","processMode","workstationId"],"type":"object","properties":{"processMode":{"$ref":"#/components/schemas/DLProcessModeDTO"},"documentPrepareScope":{"$ref":"#/components/schemas/DLDocumentScopeDTO"},"workstationId":{"type":"string","description":"<p> The workstation used to detect the printer for which the documents should be prepared, printed or returned.<br> An error will be returned when the package documents (labels) are already prepared (invoked by a previous call) and are now be be printed with a different workstationId containing an incompatible printer. </p> <p> length=20 </p>"},"documentOutputScope":{"$ref":"#/components/schemas/DLDocumentScopeDTO"},"documentOutputMode":{"$ref":"#/components/schemas/DLDocumentOutputModeDTO"},"doCompletion":{"type":"boolean","description":"<p> 'true' or '1' = The shipment is set in status \"Complete\". In this status the shipment is sealed, it cannot be changed, no packages can be added anymore. The shipment is automatically assigned to a pickup or can be manually assigned, depending on the customizing.<br> It is required, that the documents for each package are prepared. When they are not prepared yet, the field <code>documentPrepareScope</code> must be set accordingly, otherwise an error is returned.<br> Not printed documents (labels) can be printed after completion with the <code>processShipment</code> call. </p> <p> 'false' or '0' = The shipment is left open, further packages can be added with the <code>processShipment</code> call. If the shipment has already been completed, nothing is done. </p>"}},"description":"Process parameters for a shipment. Specifies which operations have to be performed after a shipment has been created."},"DLShipmentTotalsRequestDataDTO":{"type":"object","properties":{"numberOfPackagesExpected":{"type":"integer","description":"The expected number of packages. Used to print the total number of packages on the label when documents are printed before all packages are available.<br> Note: Should not be changed after the first label is printed. Otherwise the data on the label will be inconsistent. <p> length=5 </p>","format":"int32"},"grossWeightExpected":{"$ref":"#/components/schemas/QuantityDTO"},"loadingMeters":{"type":"number","description":"The loading meters needed for the shipment. When left empty, the sum of the values specified in request field 'packageCumulations' will be used whereever the loading meters are needed on shipment level. <p> length=10, scale=3 </p>"},"palletPlaces":{"type":"number","description":"The pallet places needed for the shipment. When left empty, the sum of the values specified in request field 'packageCumulations' will be used whereever the pallet places are needed on shipment level. <p>length=10, scale=3</p>"}},"description":"DTO for shipment totals in a request."},"DLShipmentUpdateRequestDataDTO":{"type":"object","properties":{"shippingDate":{"type":"string","description":"The new shipping date of the shipment in the format 'yyyy-MM-dd' or 'yyyyMMdd'. The shipping date is expected to be in timezone 'UTC'.<br> The field may be empty, the shipping date of the shipment remains unchanged.<br> If the field is filled, it is used as the new shipping date for the shipment. The change of the shipping date has no influence on already prepared documents (labels) or other prepared data (e.g. routing data).<br> The changed shipping date will be printed on new labels and will have effect on pickup and EDI handling. <p> length=10 </p>"},"fixedDate":{"type":"string","description":"The new fixed date of the shipment in the format 'yyyy-MM-dd' or 'yyyyMMdd'. The fixed date is expected to be in timezone 'UTC'.<br> The field may be empty, the fixed date of the shipment remains unchanged.<br> If the field is filled, it is used as the new fixed date for the shipment. The change of the fixed date has no influence on already prepared documents (labels) or other prepared data (e.g. routing data).<br> The changed fixed date will be printed on new labels and will have effect on pickup and EDI handling. <p> length=10 </p>"},"codValue":{"$ref":"#/components/schemas/AmountOfMoneyDTO"},"insuranceValue":{"$ref":"#/components/schemas/AmountOfMoneyDTO"},"goodsValue":{"$ref":"#/components/schemas/AmountOfMoneyDTO"},"customsValue":{"$ref":"#/components/schemas/AmountOfMoneyDTO"},"customsRegistrationNumber":{"type":"string","description":"Update registration number (MRN, etc.) of the customs declaration."},"transportRegistrationNumber":{"type":"string","description":"Update transport registration number like EKAER (Hungary) or SENT (Poland)."},"shopId":{"type":"string","description":"Update the ID of the shop to which the shipping order is sent."},"shipToServicePointID":{"type":"string","description":"Update the ID of the service point at which the consignee can pick up his shipping order."},"shipFromServicePointID":{"type":"string","description":"Update the ID of the service point at which the shipper can deliver the shipping order for the carrier to pick up."},"remark":{"type":"string","description":"Update internal remark of the shipment."},"airline":{"type":"string","description":"Update the airline company of the shipment."},"flightNumber":{"type":"string","description":"Update the airline flight number of the shipment."},"masterAirwaybillNumber":{"type":"string","description":"Update the master airwaybill number of the shipment."},"houseAirwaybillNumber":{"type":"string","description":"Update the house airwaybill number of the shipment."},"portOfLoadingCode":{"type":"string","description":"The code of the port or airport where the goods are loaded."},"portOfLoading":{"type":"string","description":"The name of the port or airport where the goods are loaded."},"portOfDischargeCode":{"type":"string","description":"The code of the port or airport where the goods are unloaded."},"portOfDischarge":{"type":"string","description":"Update the name of the port or airport where the goods are unloaded."},"additionalValues":{"$ref":"#/components/schemas/GenericDataRecordDTO"},"extCarrierShipNum":{"type":"string","description":"Update the external carrier tracking number of the shipment."},"bulkMasterReferenceNumber1":{"type":"string","description":"Update the referenceNumber1 if the shipment is a bulk master."}},"description":"DTO for shipment fields which can be updated after the initial creation of the shipment"},"DLTransportEquipmentDTO":{"required":["equipmentTransactionId","equipmentTypeIdentCode"],"type":"object","properties":{"identification":{"type":"string","description":"The identification of the transport equipment, e.g. the container number. <p> length=50 </p>"},"equipmentTransactionId":{"type":"string","description":"The shipment wide unique id for the transport equipment. Is included in the response. <p> length=50 </p>"},"equipmentTypeIdentCode":{"type":"string","description":"IdentCode of the equipment type (Container, pallet etc.). All entries in the client's package type master file data are allowed. So the valid values are depending on the configured entries there. <p> length=20 </p>"},"grossWeight":{"$ref":"#/components/schemas/QuantityDTO"},"dimensions":{"$ref":"#/components/schemas/DLCuboidDimensionsDTO"},"containerData":{"$ref":"#/components/schemas/DLContainerDataDTO"},"sealNumbers":{"type":"array","description":"Seal (serial numbers and/or barcodes) of the transport equipment. <p> length = 35 </p>","items":{"type":"string","description":"Seal (serial numbers and/or barcodes) of the transport equipment. <p> length = 35 </p>"}}},"description":"DTO representing a specific transport equipment such as a containers or a pallets."},"DLTransportEquipmentReferenceDTO":{"required":["equipmentTransactionId"],"type":"object","properties":{"identification":{"type":"string","description":"The identification of the transport equipment. <p> length=50 </p>"},"equipmentTransactionId":{"type":"string","description":"The number of the client system uniquely referencing a transport equipment in a shipment. <p> length=50 </p>"}},"description":"DTO for uniquely identifying a transport equipment within a shipment."},"GenericDataFieldDTO":{"type":"object","properties":{"name":{"type":"string","description":"<p>Name of this field, i.e. the role the field plays in the enclosing record.</p>  <p>When the same name is repeated in the context of the same parent record,  it is assumed that the parent defines this element as a repeatable (array) element.</p>"},"value":{"type":"string","description":"<p>Value of the field.</p>  <p>The format follows the conventions of xml schema encoding, see <a href=\"http://www.w3.org/TR/xmlschema-2/\">http://www.w3.org/TR/xmlschema-2/</a>.</p> <h3>Currently implemented formats:</h3>  <ul>  <li>string - the plain string</li> <li>int - digits base10, +-2^31</li> <li>long - digits base10, +-2^63</li> <li>decimal - +-123456.789</li> <li>boolean - the literals 'true' and 'false'</li> <li>dateTime - yyyy-MM-ddTHH:mm:ss</li> <li>base64Binary - binary data in base64 encoding</li> </ul>"},"type":{"type":"string","description":"<p>Data type of the field.</p> <p>This is not strictly necessary since the receiving entity should be able to infer the structure  with its own meta data; it may be used however for sanity checks.</p> <p>The format follows the conventions of xml schema encoding, see <a href=\\\"http://www.w3.org/TR/xmlschema-2/\\\">http://www.w3.org/TR/xmlschema-2/</a>.</p> <h3>Currently implemented formats:</h3>  <ul>  <li>string</li> <li>int</li> <li>long</li> <li>decimal</li> <li>boolean</li> <li>dateTime</li> <li>base64Binary</li> </ul>"}},"description":"A field of a generic data record."},"GenericDataRecordDTO":{"type":"object","properties":{"fields":{"type":"array","description":"The fields of the record.","items":{"$ref":"#/components/schemas/GenericDataFieldDTO"}},"subrecords":{"type":"array","description":"Subrecords of the record.","example":[{"name":"child","record":{"fields":[],"subrecords":[]}}],"items":{"$ref":"#/components/schemas/NamedGenericDataRecordDTO"}}},"description":"A generic record of data.<br> From within Java, consider to use the wrapper class {@link de.aeb.xnsg.foundation.bc.genericdata.GenericDataRecordDTOWrapper} for easier handling and {@link de.aeb.xnsg.foundation.bc.genericdata.GenericDataRecordDTOMapping} for mapping from and to other DTOs."},"NamedGenericDataRecordDTO":{"type":"object","properties":{"name":{"type":"string","description":"The name of this record, i.e. the role the record plays in the enclosing record.<br> When the same name is repeated in the context of the same parent record,  it is assumed that the parent defines this element as a repeatable (array) element."},"record":{"$ref":"#/components/schemas/GenericDataRecordDTO"}},"description":"A generic data record with a name.<br> Wrapper class to encapsulate subrecords with their name and with the ability to have explicit null records.","example":[{"name":"child","record":{"fields":[],"subrecords":[]}}]},"QuantityDTO":{"type":"object","properties":{"value":{"type":"number","description":"The value of the quantity. <p>length=15, scale=3</p>"},"unit":{"type":"string","description":"Identifier of the quantity unit (must be unique). E.g. St / h / kg for pieces / hours / kilograms.<p>length=10</p>"}},"description":"A quantity with a value and a quantity unit.<br>The quantity unit type is specified by the usage context, i.e. if this quantity is a weight, a volume or similar.<br>Quantity units are encoded mainly by using SI unit codes (International System of Units).The weight unit 'Gram' is encoded by ident code 'gr'.The weight unit 'Piece' (meaning pieces of some material or units of some service) is encoded by ident code 'St'.Recoding from capital letters to small letters (e.g. from 'LB' to 'lb') may be supported, depending on the product engine."},"DLCancelShipmentResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}}},"description":"Response DTO for the cancelShipment business facade method","xml":{"name":"cancelShipmentResponseDTO"}},"DLCancelShipmentRequestDTO":{"required":["processParms","shipmentReference"],"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"shipmentReference":{"$ref":"#/components/schemas/DLShipmentReferenceDTO"},"processParms":{"$ref":"#/components/schemas/DLShipmentCancelParmsDTO"}},"description":"Request DTO for the cancelShipment business facade method","xml":{"name":"cancelShipmentRequestDTO"}},"DLShipmentCancelParmsDTO":{"required":["processMode"],"type":"object","properties":{"processMode":{"$ref":"#/components/schemas/DLProcessModeDTO"}},"description":"Parameters for the cancle operation for a shipment."},"DLDeletePickupResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}}},"description":"Response DTO for the cancelPickup business facade method","xml":{"name":"deletePickupResponseDTO"}},"DLDeletePickupRequestDTO":{"required":["pickupReference"],"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"pickupReference":{"$ref":"#/components/schemas/DLPickupReferenceDTO"}},"description":"Request DTO for the cancelShipment business facade method","xml":{"name":"deletePickupRequestDTO"}},"DLPickupReferenceDTO":{"type":"object","properties":{"transactionId":{"type":"string","description":"The transaction id of the pickup given by the client system.<br> May be null, when the referenced pickup was not initially created by the client system. <p> length=250 </p>"},"referenceNumber1":{"type":"string","description":"Another client system system reference number for the pickup. <p> length=50 </p>"},"pickupNumber":{"type":"string","description":"The number of the pickup given by the carrier engine.<br> May be null, when the referenced pickup was not initially created by the carrier engine. <p> length=20 </p>"}},"description":"DTO for uniquely identifying a shipment pickup within a client."},"ComboboxEntryDTO":{"type":"object","properties":{"identCode":{"type":"string","description":"The identCode of the entry. <p>length=50</p>"},"descriptions":{"type":"array","description":"The description of the entry in the requested result languages.","items":{"$ref":"#/components/schemas/TextInLanguageDTO"}}},"description":"For common use
[...]
