{"openapi":"3.0.1","info":{"title":"Logistics Cost Management HTTP API","description":"Thank you for using our HTTP API documentation. Please do not use Microsoft Edge Legacy on this page. Microsoft Edge will not return responses properly when you try them out.","version":"2.0"},"servers":[{"url":"https://rz3.aeb.de/demo1billing/rest"}],"security":[{"SWAGGER_AUTH_KEY":[]},{"BASIC_AUTH":[]}],"tags":[{"name":"BillingBFBean","description":"Business facade for the Billing Engine"},{"name":"RateBFBean","description":"Business facade for rates in the Billing Engine"},{"name":"ExternalInvoiceBFBean","description":"Business facade interface, handling requests for external invoice project"}],"paths":{"/BillingBFBean/cancelServiceItems":{"post":{"tags":["BillingBFBean"],"summary":"cancelServiceItems","description":"Cancel the service items in the Billing engine.<br> Cancel a service item will try to logically remove the service item with all of its settelement items, if this is possible.<br> In some cases the cancellation of service items is not (or no longer) possible and will lead to errors.<br> E.g. the service item can not be found, or some of the settlement items of the service item can not or no longer be logically removed.<br> The processing of all items will be done in one transaction, so in case of any error, nothing will be persisted. Therefore check the errorFlag and message arrays in the response for any error to detect this case.<br>","operationId":"cancelServiceItems","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BReverseServiceItemsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BReverseServiceItemsRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BReverseServiceItemsResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BReverseServiceItemsResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/BillingBFBean/createServiceItems":{"post":{"tags":["BillingBFBean"],"summary":"createServiceItems","description":"Creates one or more service items. For each BServiceItemDTO included in the BCreateServiceItemsRequestDTO one service item is created. Starts pricing if boolean calculatePriceImmediately in BCreateServiceItemParmsDTO is true and returns the calculated prices. Use this method if you want to invoice and or audit the service items.","operationId":"createServiceItems","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BCreateServiceItemsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BCreateServiceItemsRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BCreateServiceItemsResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BCreateServiceItemsResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/BillingBFBean/offsetServiceItems":{"post":{"tags":["BillingBFBean"],"summary":"offsetServiceItems","description":"Offset the service items in the Billing engine.<br> Offsetting a service item will offset all relevant settlement items of this service item, by creating exact copies of the relevant settlement items with reversed sign.<br> Depending on customizing, some settlement items will not take part in offsetting the service item and some settlement items will prevent any offsetting at all, which leads to an error.<br> The processing of all items will be done in one transaction, so in case of any error, nothing will be persisted. Therefore check the errorFlag and error message arrays in the response for any error to detect this case.<br>","operationId":"offsetServiceItems","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BReverseServiceItemsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BReverseServiceItemsRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BReverseServiceItemsResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BReverseServiceItemsResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/BillingBFBean/getBillingServices":{"post":{"tags":["BillingBFBean"],"summary":"getBillingServices","description":"Returns all billing services for the given client and billing scenario as optional parameter.","operationId":"getBillingServices","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BGetBillingServicesRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BGetBillingServicesRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BGetBillingServicesResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BGetBillingServicesResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/BillingBFBean/getServiceItems":{"post":{"tags":["BillingBFBean"],"summary":"getServiceItems","description":"Returns all service items for the given client.","operationId":"getServiceItems","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BGetServiceItemsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BGetServiceItemsRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BGetServiceItemsResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BGetServiceItemsResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/BillingBFBean/getChangedSettlements":{"post":{"tags":["BillingBFBean"],"summary":"getChangedSettlements","description":"<p>Returns all changed settlements.</p> <p> This method should be used together with acknowledgeChangedSettlements. </p> See also BGetChangedSettlementsResponseDTO#syncId","operationId":"getChangedSettlements","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BGetChangedSettlementsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BGetChangedSettlementsRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BGetChangedSettlementsResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BGetChangedSettlementsResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/BillingBFBean/setServiceMasterFileData":{"post":{"tags":["BillingBFBean"],"summary":"setServiceMasterFileData","description":"Create or update multiple Services in the Billing engine.<br> Create or update multiple services in the master file data of the engine. Because of performance and transactional issues it is recommended to transfer about 100 services within one synchronous call. All transfered services will be either created or updated. The identCode and scenarioIdentCode (these are key values) of the service will be checked before processing. In case of any unfilled key value, nothing will be done. In case of other problems for a single service e.g locking or invalid identCode values the processing is usually continued with the next service, skipping, the problematic service. This means the record will be skipped completely and processing will continue with the next service. Anyway such errors will set the hasErrors or hasWarnings to true. To analyse situations check the response for details. Possible messageIdentCodes are documented in AbstractResponseDTO, BSetServiceMasterFileDataResponseDTO, BServiceMFResultDTO, AbstractResponseItemDTO and BServiceMFResultDTO","operationId":"setServiceMasterFileData","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BSetServiceMasterFileDataRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BSetServiceMasterFileDataRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BSetServiceMasterFileDataResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BSetServiceMasterFileDataResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/BillingBFBean/simulateCreateServiceItems":{"post":{"tags":["BillingBFBean"],"summary":"simulateCreateServiceItems","description":"This method does the same as createServiceItems, but does not store the results in the database.<br> So this method can e.g. be used to precalculate prices for potential service items or just for testing purposes.","operationId":"simulateCreateServiceItems","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BCreateServiceItemsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BCreateServiceItemsRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BCreateServiceItemsResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BCreateServiceItemsResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/BillingBFBean/getBillingScenarios":{"post":{"tags":["BillingBFBean"],"summary":"getBillingScenarios","description":"Returns all billing scenarios for the given client","operationId":"getBillingScenarios","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BGetBillingScenariosRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BGetBillingScenariosRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BGetBillingScenariosResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BGetBillingScenariosResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/BillingBFBean/acknowledgeChangedSettlements":{"post":{"tags":["BillingBFBean"],"summary":"acknowledgeChangedSettlements","description":"Acknowledge that changed settlements were processed and should no longer be returned by getChangedSettlements.","operationId":"acknowledgeChangedSettlements","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BAcknowledgeChangedSettlementsRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BAcknowledgeChangedSettlementsRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BAcknowledgeChangedSettlementsResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BAcknowledgeChangedSettlementsResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/RateBFBean/updateRateSheetEntries":{"post":{"tags":["RateBFBean"],"summary":"updateRateSheetEntries","description":"Updates entries of a rate sheet. If any errors occur no entry will be changed.","operationId":"updateRateSheetEntries","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BUpdateRateSheetEntriesRequestDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BUpdateRateSheetEntriesRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BUpdateRateSheetEntriesResponseDTO"}},"application/xml":{"schema":{"$ref":"#/components/schemas/BUpdateRateSheetEntriesResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/ExternalInvoice/createExternalInvoices":{"post":{"tags":["ExternalInvoiceBFBean"],"summary":"createExternalInvoices","description":"Creates one external invoice for every BExternalInvoiceDTO included in the BCreateExternalInvoicesRequestDTO.","operationId":"createExternalInvoices","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BCreateExternalInvoicesRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BCreateExternalInvoicesResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/ExternalInvoice/getChangedExternalInvoices":{"post":{"tags":["ExternalInvoiceBFBean"],"summary":"getChangedExternalInvoices","description":"<p>Returns all changed external invoices.</p> <p> This method should be used together with acknowledgeChangedExternalInvoices. </p> See also BGetChangedExternalInvoicesResponseDTO#syncId","operationId":"getChangedExternalInvoices","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BGetChangedExternalInvoicesRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BGetChangedExternalInvoicesResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/ExternalInvoice/acknowledgeChangedExternalInvoices":{"post":{"tags":["ExternalInvoiceBFBean"],"summary":"acknowledgeChangedExternalInvoices","description":"Acknowledge that changed external invoices were processed and should no longer be returned by getChangedExternalInvoices.","operationId":"acknowledgeChangedExternalInvoices","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BAcknowledgeChangedExternalInvoicesRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BAcknowledgeChangedExternalInvoicesResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/cloudagent/connect":{"get":{"description":"Returns a connection string for the Cloud Service Agent.","operationId":"connect","responses":{"200":{"description":"The connection string.","content":{"text/plain":{"schema":{"type":"string"}}}},"401":{"description":"Authentication is missing."}}},"delete":{"description":"Disconnects the Cloud Service Agent with the given id.","operationId":"disconnect","parameters":[{"name":"id","in":"query","schema":{"type":"string"}}],"responses":{"204":{"description":"Cloud Service Agent has been disconnected, but does not indicate if Cloud Service Agent with given id existed or not."},"401":{"description":"Authentication is missing."}}}},"/logon/user":{"post":{"description":"Logon with classical procedure: user, client and password.","operationId":"logonUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserClientLoginDTO"}}}},"responses":{"200":{"description":"Returns information on logon process, including roles that have been granted to the user and a login token, or an error message when auth data is not correct.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogonResponse"}}}}}}},"/logon/authToken":{"get":{"description":"Logon from the \"Authorization\" header (e.g. type \"Basic\"). The generated authentication token can be used in subsequent calls in the \"Authorization\" header, type \"Bearer\".","operationId":"authToken","responses":{"200":{"description":"Returns the authentication token.","content":{"text/plain":{"schema":{"type":"string"}}}},"401":{"description":"Returns the cause why authentication has failed.","content":{"text/plain":{"schema":{"type":"string"}}}}}}}},"components":{"schemas":{"BReverseServiceItemResultDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"True, if there are any error messages. If an error has occured the messages contain more details about the errors."},"hasWarnings":{"type":"boolean","description":"True, if there are any warning messages."},"messages":{"type":"array","description":"Messages for the whole request, e.g. for errors or warnings.<br>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"itemId":{"type":"string","description":"<p>ID of the item.</p> <p>length=250</p>"}},"description":"Result for one item. Messages for this particular item, e.g. for errors or warnings.<br> The following messageIdentCodes are used:<br> \"ITEM_RETRANSMISSION_ERROR\": Retransmission of one of the items was detected.<br> \"INVALID_DATA_ERROR\": One of the ident codes send was not recognized by the engine, e.g. an service type was used which was not customized.<br> \"PRICING_ERROR\": An error occured during pricing because of customizing problems. E.g. no price schema was found for an item. <br> \"PRICING_TRACE\": Detailed information about the pricing process (this is no error).<br>"},"BReverseServiceItemsResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"itemResponses":{"type":"array","description":"For every itemId in the request there will be one response with information about the reversal of the item. In case of errors the reverse operation was not possible.","items":{"$ref":"#/components/schemas/BReverseServiceItemResultDTO"}}},"description":"Return value for the the method IBillingBF.cancelServiceItems or IBillingBF.offsetServiceItems"},"ResponseMessageDTO":{"type":"object","properties":{"messageType":{"type":"string","description":"<p>Message type</p><p>If not stated otherwise, the possible types are:</p><ul><li>ERROR</li><li>WARNING</li><li>INFO</li></ul><p>Maximum length: 50</p>","example":"WARNING"},"messageIdentCode":{"type":"string","description":"<p>Optional identification code for further classification of the message type.</p><p>Maximum length: 50</p>","example":"5627"},"messageTexts":{"type":"array","description":"<p>Detailed message texts in the requested languages.</p>","items":{"$ref":"#/components/schemas/TextInLanguageDTO"}},"indentationLevel":{"type":"integer","description":"<p>The indentation level of the message.</p><p>'0' indicates a top level message.</p>","format":"int32","example":0}},"description":"Result messages like errors or warnings."},"TextInLanguageDTO":{"type":"object","properties":{"languageISOCode":{"type":"string","description":"<p>2-letter ISO code of the language.</p><p>length=2</p>","example":"en"},"text":{"type":"string","description":"The translated text.","example":"Some free-form text"}},"description":"A translated text in one of the specified languages."},"BReverseServiceItemsRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"reasonOfReversal":{"type":"string","description":"<p>A qualified reason for reversal.</p> <p>length=250</p>"},"items":{"type":"array","description":"An array of items that should be be processed.","items":{"$ref":"#/components/schemas/BServiceItemReferenceDTO"}}},"description":"Request parameter for the the method IBillingBF.cancelServiceItems or IBillingBF.offsetServiceItems"},"BServiceItemReferenceDTO":{"type":"object","properties":{"itemId":{"type":"string","description":"<p> ID of the service item which, together with the clientSystemId, uniquely identifies the service item. </p> <p>length=50</p>"}},"description":"A reference identifying a serviceItem.<br>"},"BAmountOfMoneyDTO":{"type":"object","properties":{"value":{"type":"number","description":"The value of the amount of money. <p>length=15, scale=2</p>"},"currencyIso":{"type":"string","description":"The three letter ISO code of the currency of the amount of money. <p>length=3</p>"}},"description":"An amount of money with a value and an currency ISO code."},"BCompanyDTO":{"type":"object","properties":{"companyNumber":{"type":"string","description":"Company Number <p>length=20</p>"},"name":{"type":"string","description":"Name of the company (first address line) <p>length=40</p>"},"name2":{"type":"string","description":"Address name line 2 <p>length=40</p>"},"name3":{"type":"string","description":"Address name line 3 <p>length=40</p>"},"name4":{"type":"string","description":"Address name line 4 <p>length=40</p>"},"street":{"type":"string","description":"Street (line 1) of the address. <p>length=40</p>"},"street2":{"type":"string","description":"Street (line 2) of the address. <p>length=40</p>"},"postcode":{"type":"string","description":"Postcode of the street address. <p>length=10</p>"},"city":{"type":"string","description":"City of the address. <p>length=40</p>"},"district":{"type":"string","description":"District (city line 2) of the address. <p>length=40</p>"},"countryISOCode":{"type":"string","description":"Country of address <p>length=2</p>"},"county":{"type":"string","description":"County of the address <p>length=40</p>"},"poBox":{"type":"string","description":"PO-Box. <p>length=10</p>"},"postcodePOBox":{"type":"string","description":"Postcode of the poBox address. <p>length=10</p>"},"cityPOBox":{"type":"string","description":"City of the po-box address. <p>length=40</p>"},"emailAddress":{"type":"string","description":"Email address of the address. <p>length=256</p>"},"phone":{"type":"string","description":"Phone number of reception <p>length=20</p>"},"fax":{"type":"string","description":"Fax number of reception <p>length=20</p>"}},"description":"A complete address of a company for Logistics Cost Management."},"BCreateServiceItemsResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"itemResults":{"type":"array","description":"For every item in the request there will be one  BServiceItemResultDTO in this array, in the same order as in the request.","items":{"$ref":"#/components/schemas/BServiceItemResultDTO"}}},"description":"Return value for the the method IBillingBF.createServiceItems()."},"BPriceTypeResultDTO":{"type":"object","properties":{"priceTypeIdentCode":{"type":"string","description":"The identCode of the price type. <p>length=50</p>"},"priceTypeLabels":{"type":"array","description":"Human readable label for the price type in the languages requested.","items":{"$ref":"#/components/schemas/TextInLanguageDTO"}}},"description":"Information about a price type in a response."},"BQuantityDTO":{"type":"object","properties":{"value":{"type":"number","description":"The value of the quantity. <p>length=15, scale=3</p>"},"unit":{"type":"string","description":"Identifier of the quantity unit (must be unique). E.g. St / h / kg for pieces / hours / kilograms.<p>length=10</p>"}},"description":"Quantities for Billing."},"BServiceItemResultDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"True, if there are any error messages. If an error has occured the messages contain more details about the errors."},"hasWarnings":{"type":"boolean","description":"True, if there are any warning messages."},"messages":{"type":"array","description":"Messages for the whole request, e.g. for errors or warnings.<br>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"itemId":{"type":"string","description":"<p>ID of the item.</p> <p>length=50</p>"},"statusIdentCode":{"type":"string","description":"<p>Status of the item after save and optional operations</p> <p>length=10</p>"},"clientPrice":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"},"vatRatePercent":{"type":"number","description":"The VAT rate in percent of the client price of the service item"},"settlementItems":{"type":"array","description":"--IBillingBF#createServiceItems--<br> This variable is only filled, if pricing is done.<br> For every settlement item created (or simulated) for a service item there will be one element in this array. <br><br> --IBillingBF#getServiceItems--<br> This variable is filled if the service item was found and the settlement items should be retrieved. Otherwise, the variable is filled. The array is empty if the service item has no settlement items.","items":{"$ref":"#/components/schemas/BSettlementItemResultDTO"}},"referenceDate":{"type":"string","description":"Reference date used as the main search criterion in the service item search. The interface generally assigns an \"appropriate\" reference date. Which date from the business environment is used as the reference date in Logistics Cost Management (order date, service date, document date, etc.) depends on the business processes and the primary application.","format":"date-time"},"referenceNumber":{"type":"string","description":"Reference number used as the main search criterion in the service item search. The interface generally assigns an 'appropriate' reference number. Which number from the business environment is used as the reference number in Logistics Cost Management (order number, customer order number, document number, etc.) depends on the business processes and the primary application."},"orderNumber":{"type":"string","description":"Order number of service item."},"serviceIdentCode":{"type":"string","description":"Ident code of the service type of the service item."},"description":{"type":"string","description":"Description of service item."},"orderer":{"$ref":"#/components/schemas/BCompanyDTO"},"serviceProvider":{"$ref":"#/components/schemas/BCompanyDTO"},"payer":{"$ref":"#/components/schemas/BCompanyDTO"}},"description":"Result for one service item, used both by IBillingBF#createServiceItems and IBillingBF#getServiceItems. <br><br> --IBillingBF#createServiceItems--<br> The following messageIdentCodes are used:<br> \"ITEM_RETRANSMISSION_ERROR\": Retransmission of one of the items was detected.<br> \"INVALID_DATA_ERROR\": One of the ident codes send was not recognized by the engine, e.g. an service type was used which was not customized.<br> \"PRICING_ERROR\": An error occured during pricing because of customizing problems. E.g. no price schema was found for an item. <br> \"PRICING_TRACE\": Detailed information about the pricing process (this is no error).<br> \"LOCK_ERROR\": Service item or dependent objects are locked. <br><br> --IBillingBF.getServiceItems--<br> The following messageIdentCodes are used:<br> \"ITEM_NOT_FOUND_ERROR\": A service item was not found."},"BSettlementItemResultDTO":{"type":"object","properties":{"settlementItemId":{"type":"string","description":"The unique id of the settlement item. This id can be used in an application facade to open the settlement item.<br> <p>length=50</p>"},"settlementNumber":{"type":"string","description":"The number of the settlement, this settlement item was disposed to.<br> (Only filled, if settlements were created, see  BCreateServiceItemParmsDTO#createSettlementsImmediately). <p>length=50</p>"},"settlementId":{"type":"string","description":"The unique id of the settlement, this settlement item was disposed to. This id can be used in an application facade to open the settlement.<br> (Only filled, if settlements were created, see  BCreateServiceItemParmsDTO#createSettlementsImmediately)."},"descriptions":{"type":"array","description":"The descriptions of the settlement item in requested languages.","items":{"$ref":"#/components/schemas/TextInLanguageDTO"}},"priceType":{"$ref":"#/components/schemas/BPriceTypeResultDTO"},"price":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"},"settlementPrice":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"},"clientPrice":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"},"numberInServiceItem":{"type":"integer","description":"Settlement item number<br> Sequential settlement item number within a service item usually starting with 1 for the first settlement item of  a service item.","format":"int32"},"chargeableQuantity":{"$ref":"#/components/schemas/BQuantityDTO"},"calcGenericIdentCode":{"type":"string","description":"Ident code of the calculation type used for price calculation of the item."}},"description":"A result object for a created or retrieved settlement item."},"BContactDTO":{"type":"object","properties":{"name":{"type":"string","description":"Name of contact.\n> `length=80`"},"phone":{"type":"string","description":"Phone number.\n> `length=20`"},"fax":{"type":"string","description":"Fax number.\n> `length=20`"},"email":{"type":"string","description":"Email address.\n> `length=256`"}},"description":"Contains data for contacting a person for Logistics Cost Management."},"BCreateServiceItemParmsDTO":{"type":"object","properties":{"calculatePriceImmediately":{"type":"boolean","description":"Calculate the price immediately, and create immediately the settlement items.<br> If <code>false</code> the response does not include any prices."},"createSettlementsImmediately":{"type":"boolean","description":"Create Settlements for all items immediately.<br> Applies only mandatory split criteria (currency, invoice recipient, service provider) and then creates settlements which will contain exactly all settlement items created for the service item send.<br> calculatePriceImmediately must be to true for this.<br>"},"settlementNumber":{"type":"string","description":"Settlement number<br> If this number is filled the (settlement items of the) service items of the request are assigned to the existing settlement - but only if: <br>-settlement exists with this number <br>-settlement status is \"Data ready\" <br>-settlement items matches to settlement <br> Otherwise a new settlement is created and the items are assigned to this newly created settlement.<br> The field:  #createSettlementsImmediately is ignored if settlementNumber is filled.<br>In case of locking exception - data import is aborted."},"returnTraceInfo":{"type":"boolean","description":"If true, the response will contain trace information about contract search, VAT calculation  and price calculation in the messages variables."},"rollbackOnErrorMessage":{"type":"boolean","description":"This field defines the behavior in case of an error during the creation of a service item. If true or null, an error makes the complete request to be aborted. No service item is stored. If false, the erroneous service item is not stored. The process continues with the next service item."}},"description":"Detailed settings for service item creation."},"BCreateServiceItemsRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"parms":{"$ref":"#/components/schemas/BCreateServiceItemParmsDTO"},"items":{"type":"array","description":"The items to be created.","items":{"$ref":"#/components/schemas/BServiceItemDTO"}}},"description":"Request parameter for the the method IBillingBF.createServiceItems()"},"BDateAndZoneDTO":{"type":"object","properties":{"dateInTimezone":{"type":"string","description":"<p>String representation of the date/time stamp in the format yyyy-MM-dd HH:mm:ss</p> <p>Length: 19</p>"},"timezone":{"type":"string","description":"<p>Time zone of the time stamp.</p> <p>Examples of valid time zones: \"GMT+01:00\" or \"GMT-02:00\".</p> <p>Maximum length: 50</p>"}},"description":"Date and zone for Logistics Cost Management."},"BServiceItemDTO":{"type":"object","properties":{"itemId":{"type":"string","description":"<p>ID of the service item which has to be unique within the client system.</p> Sending of an item with the same itemId and clientSystemId will be rejected with an error (unless the item was cancelled before). <p>length=50</p>"},"clientOrgaId":{"type":"string","description":"<p>Human readable id which identifies a client organization</p> <p>The organization ID can be used for splitting and assigning settlement items to build up settlements. Therefore, if the import data doesn't provide for an organization ID, the import process will set a default organization ID into the service item.</p> <p>length=20</p>"},"clientSystemUser":{"$ref":"#/components/schemas/BContactDTO"},"clientSystemCostCenter":{"type":"string","description":"preset client system cost center for the item <p>length=50</p>"},"clientSystemUri":{"type":"string","description":"client system resource locator to execute a shell with a viewer on the item in the host system.   <br> <p>length=250</p>"},"scenarioIdentCode":{"type":"string","description":"IdentCode of the scenario of the item.  Service depend on the scenario. <p>length=50</p>"},"serviceIdentCode":{"type":"string","description":"IdentCode for the Service<br>  <p>length=50</p>"},"referenceNumber":{"type":"string","description":"Main reference number for the service item<br>  <p>length=50</p>"},"orderNumber":{"type":"string","description":"Main order number for the service item<br>  <p>length=50</p>"},"serviceProvider":{"$ref":"#/components/schemas/BCompanyDTO"},"serviceProviderContact":{"$ref":"#/components/schemas/BContactDTO"},"orderer":{"$ref":"#/components/schemas/BCompanyDTO"},"ordererContact":{"$ref":"#/components/schemas/BContactDTO"},"payer":{"$ref":"#/components/schemas/BCompanyDTO"},"payerContact":{"$ref":"#/components/schemas/BContactDTO"},"beneficiary":{"$ref":"#/components/schemas/BCompanyDTO"},"referenceDate":{"$ref":"#/components/schemas/BDateAndZoneDTO"},"pricingDate":{"$ref":"#/components/schemas/BDateAndZoneDTO"},"chargeDate":{"$ref":"#/components/schemas/BDateAndZoneDTO"},"serviceDate":{"$ref":"#/components/schemas/BDateAndZoneDTO"},"orderDate":{"$ref":"#/components/schemas/BDateAndZoneDTO"},"quantity":{"$ref":"#/components/schemas/BQuantityDTO"},"precalculatedNetPrice":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"},"extendedData":{"$ref":"#/components/schemas/GenericDataRecordDTO"},"description":{"type":"string","description":"A human readable description text for the service item, possibly to be printed on some documents. <p>length=250</p>"}},"description":"A serviceItem that contains all information for pricing and invoicing.<br>"},"GenericDataFieldDTO":{"type":"object","properties":{"name":{"type":"string","description":"<p>Name of this field, i.e. the role the field plays in the enclosing record.</p>  <p>When the same name is repeated in the context of the same parent record,  it is assumed that the parent defines this element as a repeatable (array) element.</p>"},"value":{"type":"string","description":"<p>Value of the field.</p>  <p>The format follows the conventions of xml schema encoding, see <a href=\"http://www.w3.org/TR/xmlschema-2/\">http://www.w3.org/TR/xmlschema-2/</a>.</p> <h3>Currently implemented formats:</h3>  <ul>  <li>string - the plain string</li> <li>int - digits base10, +-2^31</li> <li>long - digits base10, +-2^63</li> <li>decimal - +-123456.789</li> <li>boolean - the literals 'true' and 'false'</li> <li>dateTime - yyyy-MM-ddTHH:mm:ss</li> <li>base64Binary - binary data in base64 encoding</li> </ul>"},"type":{"type":"string","description":"<p>Data type of the field.</p> <p>This is not strictly necessary since the receiving entity should be able to infer the structure  with its own meta data; it may be used however for sanity checks.</p> <p>The format follows the conventions of xml schema encoding, see <a href=\\\"http://www.w3.org/TR/xmlschema-2/\\\">http://www.w3.org/TR/xmlschema-2/</a>.</p> <h3>Currently implemented formats:</h3>  <ul>  <li>string</li> <li>int</li> <li>long</li> <li>decimal</li> <li>boolean</li> <li>dateTime</li> <li>base64Binary</li> </ul>"}},"description":"A field of a generic data record."},"GenericDataRecordDTO":{"type":"object","properties":{"fields":{"type":"array","description":"The fields of the record.","items":{"$ref":"#/components/schemas/GenericDataFieldDTO"}},"subrecords":{"type":"array","description":"Subrecords of the record.","items":{"$ref":"#/components/schemas/NamedGenericDataRecordDTO"}}},"description":"A generic record of data.<br> From within Java, consider to use the wrapper class {@link de.aeb.xnsg.foundation.bc.genericdata.GenericDataRecordDTOWrapper} for easier handling and {@link de.aeb.xnsg.foundation.bc.genericdata.GenericDataRecordDTOMapping} for mapping from and to other DTOs."},"NamedGenericDataRecordDTO":{"type":"object","properties":{"name":{"type":"string","description":"The name of this record, i.e. the role the record plays in the enclosing record.<br> When the same name is repeated in the context of the same parent record,  it is assumed that the parent defines this element as a repeatable (array) element."},"record":{"$ref":"#/components/schemas/GenericDataRecordDTO"}},"description":"A generic data record with a name.<br> Wrapper class to encapsulate subrecords with their name and with the ability to have explicit null records."},"BGetBillingServicesResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"services":{"type":"array","description":"The requested array of services","items":{"$ref":"#/components/schemas/ComboboxEntryDTO"}}},"description":"Response for IBillingBF#getBillingServices."},"ComboboxEntryDTO":{"type":"object","properties":{"identCode":{"type":"string","description":"The identCode of the entry. <p>length=50</p>"},"descriptions":{"type":"array","description":"The description of the entry in the requested result languages.","items":{"$ref":"#/components/schemas/TextInLanguageDTO"}}},"description":"For common use in BF methods which return combobox entries, e.g. for a list of master file data."},"BGetBillingServicesRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"scenarioIdentCode":{"type":"string","description":"The identCode of the billing scenario optional parameter"}},"description":"Request parameter for IBillingBF#getBillingServices."},"BGetServiceItemsResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"itemResults":{"type":"array","description":"For every item in the request there will be one  BServiceItemResultDTO in this array,in the same order as in the request.","items":{"$ref":"#/components/schemas/BServiceItemResultDTO"}}},"description":"Return value for the the method IBillingBF.getServiceItems."},"BGetServiceItemsRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"getSettlementItems":{"type":"boolean","description":"Also retrieve the settlement items of the service item. If this value is empty, it will be interpreted as false."},"items":{"type":"array","description":"An array of items that should be retrieved.","items":{"$ref":"#/components/schemas/BServiceItemReferenceDTO"}}},"description":"Request dto for the the method IBillingBF.getServiceItems."},"BAccountingItemResultDTO":{"type":"object","properties":{"costCenter":{"type":"string","description":"Cost center of this item. <br> <p>length=50</p>"},"vatInfo":{"$ref":"#/components/schemas/BVatInfoResultDTO"},"settlementNetPrice":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"},"settlementVatPrice":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"}},"description":"<p>Accounting item of a settlement.</p> <p>Accumulation of settlement items grouped by cost center and VAT.</p>"},"BAccountingScenarioResultDTO":{"type":"object","properties":{"identCode":{"type":"string","description":"<p>length=50<p>"},"systemKey":{"type":"string","description":"<p>length=75<p>"},"externalSystemLoginName":{"type":"string","description":"<p>length=254<p>"},"controllingArea":{"type":"string","description":"<p>length=4<p>"}},"description":"Accounting scenario of a settlement."},"BGetChangedSettlementsResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"settlements":{"type":"array","description":"Changed settlements.","items":{"$ref":"#/components/schemas/BSettlementSyncDTO"}},"syncId":{"maxLength":20,"type":"string","description":"Synchronization ID for for acknowledging. <br> Use this syncId in the subsequent call to IBillingBF#acknowledgeChangedSettlements to acknowledge the processing of the changed settlements. This syncId may be null if no settlements were found to synchronize. In this case no call to IBillingBF#acknowledgeChangedSettlements is necessary."},"isComplete":{"type":"boolean","description":"<p> <code>true</code>, if the synchronization is complete and currently no further changed settlements are available. <p> <code>false</code> if not. In this case, after acknowledging with  IBillingBF#acknowledgeChangedSettlements, an immediate second call to  IBillingBF#getChangedSettlements is advised.</p>"}},"description":"Response of IBillingBF#getChangedSettlements."},"BSettlementSyncDTO":{"type":"object","properties":{"isDeleted":{"type":"boolean","description":"<p>Indicates whether the settlement was deleted.</p> <p>If true, only  BSettlementSyncDTO#settlementNumber and BSettlementSyncDTO#provider will be filled.</p>"},"settlementNumber":{"type":"string","description":"Settlement number of settlement. <br> <p>length=50</p>"},"referenceNumber":{"type":"string","description":"Main reference number for the settlement. <br> <p>length=50</p>"},"settlementType":{"$ref":"#/components/schemas/BSettlementTypeResultDTO"},"settlementDate":{"$ref":"#/components/schemas/BDateAndZoneDTO"},"provider":{"$ref":"#/components/schemas/BCompanyDTO"},"orderer":{"$ref":"#/components/schemas/BCompanyDTO"},"payer":{"$ref":"#/components/schemas/BCompanyDTO"},"settlementGrossPrice":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"},"settlementNetPrice":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"},"settlementVatPrice":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"},"accountingScenario":{"$ref":"#/components/schemas/BAccountingScenarioResultDTO"},"accountingItems":{"type":"array","description":"<p>Accounting items of the settlement.</p> <p>Only filled if  BGetChangedSettlementsRequestDTO#includeAccountingItems is set.</p>","items":{"$ref":"#/components/schemas/BAccountingItemResultDTO"}}},"description":"Synchronization data of a settlement."},"BSettlementTypeResultDTO":{"type":"object","properties":{"identCode":{"type":"string","description":"<p>length=50</p>"}},"description":"Type of settlement."},"BVatInfoResultDTO":{"type":"object","properties":{"typeIdentCode":{"type":"string","description":"<p>length=50</p>"},"percent":{"type":"number","description":"Value between <code>0</code> and <code>100</code>."}},"description":"Information about a VAT that was applied to prices."},"BGetChangedSettlementsRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"includeAccountingItems":{"type":"boolean","description":"<p> If set to <code>true</code> the field  BSettlementSyncDTO#accountingItems will be filled.Otherwise the field will be <code>null</code>. </p> <p>Default: <code>false</code></p>"}},"description":"Request parameter for IBillingBF#getChangedSettlements."},"BServiceMFResultDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"True, if there are any error messages. If an error has occured the messages contain more details about the errors."},"hasWarnings":{"type":"boolean","description":"True, if there are any warning messages."},"messages":{"type":"array","description":"Messages for the whole request, e.g. for errors or warnings.<br>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"identCode":{"type":"string","description":"The identCode of the service. <p>length=50</p>"},"scenarioIdentCode":{"type":"string","description":"The identCode of the scenario, this service belongs to. <p>length=50</p>"}},"description":"Result for one item. Messages for this particular item, e.g. for errors or warnings.<br> The following messageIdentCodes are used:<br> \"INVALID_DATA_ERROR\": One of the ident codes send was not recognized by the engine, e.g. an service type was used which was not customized.<br> \"EMPTY_MANDATORY_FIELD\" One of the mandatory Fields is empty \"LOCK_WARNING\" the service or an updated text can not be locked"},"BSetServiceMasterFileDataResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"countCreated":{"type":"integer","description":"Number of created services. This counter is null, if the processing of the request was cancelled because of missing key fields.","format":"int32"},"countUpdated":{"type":"integer","description":"Number of updated services. This counter is null, if the processing of the request was cancelled because of missing key fields.","format":"int32"},"countError":{"type":"integer","description":"Number of services with errors (not created or updated nor locked)","format":"int32"},"countLocked":{"type":"integer","description":"Number of locked services (not updated). This counter is null, if the processing of the request was cancelled because of missing key fields.","format":"int32"},"results":{"type":"array","description":"Results for every service passed.<br> Unless some basic required fields are missing (e.g. clientIdentCode or similar), this array contains for every passed BServiceMFDTO information about its processing status. The result is null, if the processing of the request was cancelled because of missing key fields.","items":{"$ref":"#/components/schemas/BServiceMFResultDTO"}}},"description":"Reponse of the setServiceData method."},"BServiceMFDTO":{"type":"object","properties":{"identCode":{"type":"string","description":"The identCode of the service. <p>length=50</p>"},"scenarioIdentCode":{"type":"string","description":"The identCode of the scenario, this service belongs to. <p>length=50</p>"},"unitType":{"type":"string","description":"Identifier of the quantity unit type. e.g. \"WEIGHT\", \"VOLUME\" or client specific (customized) quantity unit types. <p>length=10</p>"},"extendedDataType":{"type":"string","description":"The identCode of the extended data type. <p>length=50</p>"},"attribute":{"type":"string","description":"The attribute of the service. <p>length=50</p>"},"translations":{"type":"array","description":"Translations of the the service for different languages.","items":{"$ref":"#/components/schemas/BServiceTranslationDTO"}}},"description":"Masterfile Transfer data object for a service."},"BServiceTranslationDTO":{"required":["languageISOCode"],"type":"object","properties":{"languageISOCode":{"type":"string","description":"ISO code of the language of the description. <p>length=2</p>"},"description":{"type":"string","description":"The description of the service <p>length=250</p>"}},"description":"Text translation DTO for service."},"BSetServiceMasterFileDataRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"services":{"type":"array","description":"The data of the services to set.","items":{"$ref":"#/components/schemas/BServiceMFDTO"}}},"description":"Request DTO for the setServiceMasterFileData method."},"BGetBillingScenariosResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"scenarios":{"type":"array","description":"The requested array of scenarios","items":{"$ref":"#/components/schemas/ComboboxEntryDTO"}}},"description":"Return value for the the method IBillingBF.getBillingScenarios."},"BGetBillingScenariosRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}}},"description":"Request parameter for IBillingBF#getBillingsScenarios."},"BAcknowledgeChangedSettlementsResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}}},"description":"Response for IBillingBF#acknowledgeChangedSettlements."},"BAcknowledgeChangedSettlementsRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"syncId":{"maxLength":20,"type":"string","description":"Synchronization ID for acknowledging. <br> Use the value received in BGetChangedSettlementsResponseDTO#syncId from the previous call to BillingBF#getChangedSettlements."}},"description":"Request parameter for IBillingBF#acknowledgeChangedSettlements."},"BUpdateRateSheetEntriesResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}}},"description":"Response for RateBFBean/updateRateSheetEntries"},"BRateSheetEntryFieldDTO":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Name of the field.","example":"myField"},"value":{"type":"string","description":"Value of the field. If this field contains a decimal value it must be formatted with a point as decimal separator and without any other dividers.","example":"1234.56"}},"description":"Field of a rate sheet entry."},"BRateSheetEntryUpdateDTO":{"required":["fields","validFrom","validTo"],"type":"object","properties":{"validFrom":{"type":"string","description":"Date from which the entry is valid. Formatted as ISO-8601 compliant text.","example":"2011-12-03T10:15:30+01:00"},"validTo":{"type":"string","description":"Date up to which the entry is valid. Formatted as ISO-8601 compliant text.","example":"2011-12-03T10:15:30+01:00"},"fields":{"type":"array","description":"Fields of the entry.","items":{"$ref":"#/components/schemas/BRateSheetEntryFieldDTO"}},"delete":{"type":"boolean","description":"If true, the rate sheet entry will be deleted (if it exists).","default":false}},"description":"Update data for a rate sheet entry."},"BUpdateRateSheetEntriesRequestDTO":{"required":["entries","rateSheetIdentCode"],"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"rateSheetIdentCode":{"type":"string","description":"Ident code of the rate sheet that should be updated."},"entries":{"type":"array","description":"Entries to be updated. If an entry already exists it will be either replaced with the passed content or deleted if BRateSheetEntryUpdateDTO#delete is set. Otherwise a new entry will be created (or the entry will be ignored if BRateSheetEntryUpdateDTO#delete is set). Entries are uniquely identified by a subset of the fields of the entry (BRateSheetEntryUpdateDTO#fields). The concrete subset is configured locally and must be agreed upon before updating entries. The number of entries is limited to 10,000 items. Use sequential calls together with #updateDependentEntities to update more entries.","items":{"$ref":"#/components/schemas/BRateSheetEntryUpdateDTO"}},"updateDependentEntities":{"type":"boolean","description":"Several entities are dependent on the content of rate sheets. When rate sheets are updated these dependent entities will be updated as well. By setting this value to <code>false</code> the update of dependent entities will be suppressed. Use this parameter when calling 'updateRateSheetEntries' multiple times in succession. Only the last call should set this parameter to <code>true</code>.","default":true}},"description":"Request parameter for RateBFBean/updateRateSheetEntries"},"BCreateExternalInvoicesResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"clientIdentCode":{"type":"string","description":"Client ident code, this field includes the same data like the field in the request.<br> <p>length=10</p>"},"billingSzenarioIdentCode":{"type":"string","description":"Billing scenario ident code, this field includes the same data like the field in the request.<br> <p>length=50</p>"},"clientSystemId":{"type":"string","description":"Id or identification name of the client system, this field includes the same data like the field in the request.<br> <p>length=50</p>"},"invoicesResults":{"type":"array","description":"For every invoice in the request there will be one  {@link BExternalInvoiceResultDTO} in this array, in the same order as in the request.","items":{"$ref":"#/components/schemas/BExternalInvoiceResultDTO"}}},"description":"Response DTO which contains errors / infos / warnings about data import of external invoices"},"BExternalInvoiceResultDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"True, if there are any error messages. If an error has occured the messages contain more details about the errors."},"hasWarnings":{"type":"boolean","description":"True, if there are any warning messages."},"messages":{"type":"array","description":"Messages for the whole request, e.g. for errors or warnings.<br>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"invoiceNumber":{"type":"string","description":"The number for this invoice.<br>  This number must be unique in combination with the BCreateExternalInvoicesRequestDTO#clientIdentCode. <br> This field includes the same data like the field in the request<br>. <p>length=50</p>"}},"description":"Result DTO for external invoice"},"BAttachmentBytesInfoDTO":{"type":"object","properties":{"bytes":{"type":"array","description":"A byte stream which is added as new document (attachment) in the documents list of the invoice.<br> You have to fill fileExtension also, so that the attachment will be opened with the correct editor.<br> It is highly recommended to upload only smaller files/data, smaller than 10MB. <br> Otherwise a timeout may appear while sending the request.","items":{"type":"string","description":"A byte stream which is added as new document (attachment) in the documents list of the invoice.<br> You have to fill fileExtension also, so that the attachment will be opened with the correct editor.<br> It is highly recommended to upload only smaller files/data, smaller than 10MB. <br> Otherwise a timeout may appear while sending the request.","format":"byte"}},"fileExtension":{"type":"string","description":"File extension, only used if bytes is filled. The file extension defines the mime type for the byte stream, used to display the byte stream (attachment) with the correct editor.<br> E.g. fill with 'pdf' or 'txt'.<br> Excerpt of supported extensions: 'csv' , 'pdf' , 'jpg', 'png' , 'gif', 'html', 'xml', 'txt', 'xlsx'"},"description":{"type":"string","description":"The description of the attached document. With the help of this description the user can identify the uploaded attachment more exactly from the list of documents in the invoice."},"originalFileName":{"type":"string","description":"The original file name of the transmitted attachment byte stream. The original file name is stored in the properties of the attached document, only for information purpose."}},"description":"DTO including bytes and some additional data, from which an attachment is created and linked to it's model object."},"BAttachmentFileInfoDTO":{"type":"object","properties":{"filename":{"type":"string","description":"File name of a document, the file content is added as new document (attachment) in the documents list of the invoice.<br> You have to set the full name & path, e.g. 'c:\\temp\\test.pdf'.<br>  Ensure that the file is accessible by the server.<br> It is highly recommended to upload only smaller files, smaller than 10MB.<br> Otherwise a timeout may appear while sending the request."},"description":{"type":"string","description":"The description of the attached document. With the help of this description the user can identify the uploaded attachment more exactly from the list of documents in the invoice."}},"description":"DTO for importing references to a file which should be attached to its model object. DTO including an absolute path reference to a file and some additional data, from which an attachment is created and linked to it's model object."},"BCreateExternalInvoicesParmsDTO":{"type":"object","properties":{"returnTraceInfo":{"type":"boolean","description":"If true, the response will contain detailed trace information"}},"description":"Request parameter for BCreateExternalInvoicesRequestDTO"},"BCreateExternalInvoicesRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"billingScenarioIdentCode":{"type":"string","description":"Ident code of the billing scenario.<br> <p>length=50</p>"},"clientSystemUser":{"$ref":"#/components/schemas/BContactDTO"},"parms":{"$ref":"#/components/schemas/BCreateExternalInvoicesParmsDTO"},"invoices":{"type":"array","description":"The invoices, included in this request.","items":{"$ref":"#/components/schemas/BExternalInvoiceDTO"}}},"description":"A DTO which contains all data for creating at minimum one external invoice including: <br> - General informations, like data for storing the invoice(s) at the correct place(Logistics Cost Management client) <br> and data about the sending system<br> - Parameters which manage details regarding data import or response<br> - The invoice data including it's item data.<br>"},"BExternalInvoiceDTO":{"type":"object","properties":{"clientOrgaId":{"type":"string","description":"<p>Human readable id which identifies a client organization</p> <p>length=20</p>"},"clientUser":{"$ref":"#/components/schemas/BContactDTO"},"originCode":{"type":"string","description":"<p>Origin of invoice (e.g. CSV, Webservice)</p> <p>length=20</p>"},"invoiceNumber":{"type":"string","description":"The number for this invoice.<br>  This number must be unique in combination with the  {@link BCreateExternalInvoicesRequestDTO#clientIdentCode}. <br> <p>length=50</p>"},"additionalReferenceNumber1":{"type":"string","description":"Additional reference number 1. <br> <p>length=50</p>"},"invoiceDate":{"$ref":"#/components/schemas/BDateAndZoneDTO"},"dueDate":{"$ref":"#/components/schemas/BDateAndZoneDTO"},"providerCompanyNumber":{"type":"string","description":"Company number of the provider. <p>length=20</p>"},"providerContact":{"$ref":"#/components/schemas/BContactDTO"},"payerCompanyNumber":{"type":"string","description":"Company number of the payer. <p>length=20</p>"},"payerContact":{"$ref":"#/components/schemas/BContactDTO"},"currencyIsoCode":{"type":"string","description":"The three letter ISO code, defined in ISO 1666-2 of the currency of all amounts of money in this invoice.<br> <p>length=3</p>"},"netPriceValue":{"type":"number","description":"The net price value of the invoice.<br> Net, VAT and gross price do have the same currency - see  {@link #currencyIsoCode}.<br> <p>length=15, scale=2</p>"},"grossPriceValue":{"type":"number","description":"The gross price value of the invoice.<br> Net, VAT and gross price do have the same currency - see  {@link #currencyIsoCode}.<br> <p>length=15, scale=2</p>"},"vatPriceValue":{"type":"number","description":"The vat price value of the invoice.<br> Net, VAT and gross price do have the same currency - see  {@link #currencyIsoCode}.<br> <p>length=15, scale=2</p>"},"attribute":{"type":"string","description":"Optional ident code, used to determine the settings for this invoice import. <br> <p>length=50</p>"},"documentText":{"type":"string","description":"Additional large text of the invoice.<br>  <p>length=1000</p>"},"attachmentFileInfo":{"$ref":"#/components/schemas/BAttachmentFileInfoDTO"},"attachmentBytesInfo":{"$ref":"#/components/schemas/BAttachmentBytesInfoDTO"},"invoiceUri":{"type":"string","description":"Resource locator to execute a shell with a (pdf) viewer on the invoice.   <br> <p>length=250</p>"},"invoiceItems":{"type":"array","description":"The items of this invoice","items":{"$ref":"#/components/schemas/BExternalInvoiceItemDTO"}}},"description":"An external invoice that contains all prices and invoice items.<br>"},"BExternalInvoiceItemDTO":{"type":"object","properties":{"referenceNumber":{"type":"string","description":"Main reference number for the invoice item<br>  <p>length=50</p>"},"referenceNumberProvider":{"type":"string","description":"Service provider reference number for the invoice item<br>  <p>length=50</p>"},"referenceDate":{"$ref":"#/components/schemas/BDateAndZoneDTO"},"netPriceValue":{"type":"number","description":"The net price value of the item. <p>length=15, scale=2</p>"},"vatRatePercent":{"type":"number","description":"The VAT rate in percent of the item. <p>length=15, scale=2</p>"},"vatPrice":{"type":"number","description":"The VAT amount of the item. <p>length=15, scale=2</p>"},"inputPrice":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"},"inputCurrencyRate":{"type":"number","description":"The rate of of the input currency. <p>length=15, scale=8</p>"},"chargeableWeight":{"$ref":"#/components/schemas/BQuantityDTO"},"chargeCode":{"type":"string","description":"The charge code of the item similar to price type<br>  <p>length=50</p>"},"documentText":{"type":"string","description":"Additional large text of the item.<br>  <p>length=1000</p>"},"additionalField1":{"type":"string","description":"Additional field 1 of the item.<br>  <p>length=50</p>"},"additionalField2":{"type":"string","description":"Additional field 2 of the item.<br>  <p>length=50</p>"},"additionalField3":{"type":"string","description":"Additional field 3 of the item.<br>  <p>length=50</p>"},"description":{"type":"string","description":"Description of the item <p>length=250</p>"}},"description":"DTO for external invoice items, used to import external invoices"},"BExternalInvoiceSettlementSyncDTO":{"type":"object","properties":{"settlementNumber":{"maxLength":50,"type":"string","description":"Settlement number of the settlement."},"settlementStatusIdentCode":{"maxLength":15,"type":"string","description":"<p>Status code of the settlement.</p> Possible values: <li>empty: Settlement was newly created.</li> <li>\"READY\": Settlement data is complete.</li> <li>\"COMPILED\": Settlement is compiled.</li> <li>\"RELEASED\": Settlement is for released for further processes.</li> <li>\"COMPLETE\": Settlement is complete.</li> <li>\"CANCELLED\": Settlement is cancelled.</li>"},"settlementDate":{"type":"string","description":"Settlement date of the invoice.","format":"date-time"},"settlementNetPrice":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"},"settlementVatPrice":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"},"settlementGrossPrice":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"},"settlementLastModifiedBy":{"maxLength":254,"type":"string","description":"Last modifier of the settlement."},"settlementLastModifiedAt":{"type":"string","description":"Date of the last modification of the settlement.","format":"date-time"}},"description":"Synchronization data of a settlement that is associated with an invoice."},"BExternalInvoiceSyncDTO":{"type":"object","properties":{"isDeleted":{"type":"boolean","description":"<p>Indicates whether the invoice was deleted.</p> If true, only {@link BExternalInvoiceSyncDTO#invoiceNumber} and {@link BExternalInvoiceSyncDTO#provider} will be filled."},"invoiceNumber":{"maxLength":50,"type":"string","description":"Number of the invoice."},"origin":{"maxLength":6,"type":"string","description":"<p>Origin type of the invoice.</p> Possible values: <li>\"WS\": Created via web service.</li> <li>\"MANUAL\": Created manually via UI.</li> <li>\"CSV\": Created via CSV import.</li>"},"invoiceStatusIdentCode":{"maxLength":15,"type":"string","description":"<p>Status code of the invoice.</p> Possible values: <li>empty: Invoice was newly created.</li> <li>\"READY\": Invoice data is complete, audit can begin.</li> <li>\"AUDIT\": Invoice is currently in audit.</li> <li>\"COMPLETE\": Invoice audit is complete.</li> <li>\"REJECTED\": Invoice is rejected.</li>"},"processingIdentCode":{"maxLength":50,"type":"string","description":"Processing ident code of the invoice. Usually code of the user that is auditing the invoice."},"billingScenarioIdentCode":{"maxLength":50,"type":"string","description":"Ident code of the billing scenario of the invoice."},"invoiceDate":{"type":"string","description":"Invoice date of the invoice.","format":"date-time"},"dueDate":{"type":"string","description":"Due date of the invoice.","format":"date-time"},"payer":{"$ref":"#/components/schemas/BCompanyDTO"},"provider":{"$ref":"#/components/schemas/BCompanyDTO"},"attribute":{"maxLength":50,"type":"string","description":"Attribute of the invoice."},"note":{"maxLength":1000,"type":"string","description":"Note of the invoice."},"rejectionReason":{"maxLength":250,"type":"string","description":"Rejection reason of the invoice. Only relevant if the invoice is rejected."},"invoiceNetPrice":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"},"invoiceVatPrice":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"},"invoiceGrossPrice":{"$ref":"#/components/schemas/BAmountOfMoneyDTO"},"settlement":{"$ref":"#/components/schemas/BExternalInvoiceSettlementSyncDTO"}},"description":"Synchronization data of an invoice and its associated settlement."},"BGetChangedExternalInvoicesResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"invoices":{"type":"array","description":"Changed invoices.","items":{"$ref":"#/components/schemas/BExternalInvoiceSyncDTO"}},"syncId":{"maxLength":20,"type":"string","description":"Synchronization ID for acknowledging. <p> Use this syncId in subsequent calls to ExternalInvoiceBF#acknowledgeChangedExternalInvoices to acknowledge the processing of the changed invoices. </p> <p> This syncId may be null if no invoices were found to synchronize. In this case no call to IExternalInvoiceBF#acknowledgeChangedExternalInvoices is necessary."},"isComplete":{"type":"boolean","description":"<p>True, if the synchronization is complete and currently no further changed invoices are available.</p> <p>False if not.<br> In this case, after acknowledging with IExternalInvoiceBF#acknowledgeChangedExternalInvoices, an immediate second call to IExternalInvoiceBF#getChangedExternalInvoices would be sensible.</p>"}},"description":"Response of ExternalInvoiceBF#getChangedExternalInvoices."},"BGetChangedExternalInvoicesRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}}},"description":"Request parameter for IExternalInvoiceBF#getChangedExternalInvoices."},"BAcknowledgeChangedExternalInvoicesResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}}},"description":"Response for IExternalInvoiceBF#acknowledgeGetChangedExternalInvoices"},"BAcknowledgeChangedExternalInvoicesRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>","example":"TEST_ID"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"APITEST"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"API_TEST"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":["en","de"],"items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","example":"[\"en\",\"de\"]"}},"syncId":{"maxLength":20,"type":"string","description":"<p>Synchronization ID for acknowledging.</p> <p>Use the value received in BGetChangedExternalInvoicesResponseDTO#syncId from the previous call to IExternalInvoiceBF#getChangedExternalInvoices.</p>"}},"description":"Request parameter for IExternalInvoiceBF#acknowledgeGetChangedExternalInvoices."},"LogonResponse":{"type":"object","properties":{"token":{"type":"string"},"userName":{"type":"string"},"client":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}},"error":{"type":"string"}}},"UserClientLoginDTO":{"type":"object","properties":{"userName":{"type":"string"},"password":{"type":"string"},"clientName":{"type":"string"},"localeName":{"type":"string"},"loginContext":{"$ref":"#/components/schemas/XNSGLoginDiagnosticContext"},"isExternalLogon":{"type":"boolean"},"isApplicationFacadeAuthentication":{"type":"boolean"}}},"XNSGLoginDiagnosticContext":{"type":"object","properties":{"loginType":{"type":"string","enum":["GUI","AF","BF","REST","GRAPQHL","INTERNAL","GUI_REDIRECT_GET_WEBTOKEN_XNSG","ATC","UNKNOWN"]},"credentialType":{"type":"string","enum":["ADMIN","DBUSER","LDAP","RFC","ENGINE","LOCAL_ACCESS","ANONYMOUS","WEBTOKEN_XNSG","WEBTOKEN_EXTERNAL_DBUSER","WEBTOKEN_EXTERNAL","HTTP_BASIC","HTTP_BEARER","K8S_SESSION_RESTORE","UNKNOWN"]},"originalCredentialType":{"type":"string","enum":["ADMIN","DBUSER","LDAP","RFC","ENGINE","LOCAL_ACCESS","ANONYMOUS","WEBTOKEN_XNSG","WEBTOKEN_EXTERNAL_DBUSER","WEBTOKEN_EXTERNAL","HTTP_BASIC","HTTP_BEARER","K8S_SESSION_RESTORE","UNKNOWN"]},"language":{"type":"string"},"wrongPasswordCount":{"type":"integer","format":"int32"},"locked":{"type":"boolean"},"errorMsg":{"type":"string"},"tokenInfo":{"type":"string"},"fromRoleCache":{"type":"boolean"}}}},"securitySchemes":{"SWAGGER_AUTH_KEY":{"type":"apiKey","name":"X-XNSG_WEB_TOKEN","in":"header"},"BASIC_AUTH":{"type":"http","scheme":"basic"}}},"x-proxy-enabled":false,"x-readme":{"explorer-enabled":true}}