{
  "openapi": "3.1.0",
  "info": {
    "title": "Logistics Cost Management HTTP API",
    "description": "Thank you for using our HTTP API documentation.",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://rz3.aeb.de/demo1billing/rest"
    }
  ],
  "security": [
    {
      "SWAGGER_AUTH_KEY": []
    },
    {
      "BASIC_AUTH": []
    }
  ],
  "tags": [
    {
      "name": "BillingScenario",
      "description": "REST API for billing scenarios"
    },
    {
      "name": "Billing",
      "description": "API for the billing of services"
    },
    {
      "name": "Rates",
      "description": "API for handling rates"
    },
    {
      "name": "Invoices",
      "description": "API for handling external invoices"
    }
  ],
  "paths": {
    "/billing-scenarios/{id}": {
      "get": {
        "tags": [
          "BillingScenario"
        ],
        "description": "Returns the billing scenario with the requested ID",
        "operationId": "getBillingScenario",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The requested ID of the billing scenario.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "001"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingScenario"
                },
                "examples": {
                  "Billing scenario entry": {
                    "description": "Billing scenario entry",
                    "value": {
                      "identCode": "001",
                      "translations": [
                        {
                          "language": "DE",
                          "description": "001"
                        },
                        {
                          "language": "EN",
                          "description": "001"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Requested billing scenario does not exist.",
            "content": {
              "application/json": {
                "examples": {
                  "Billing scenario not found": {
                    "description": "Billing scenario not found",
                    "value": {
                      "errorMessage": "Kein Billingszenario mit dem Kürzel '001' gefunden."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billing-scenarios": {
      "get": {
        "tags": [
          "BillingScenario"
        ],
        "description": "Returns all billing scenarios matching the given filter criteria. In case no scenario matches the given filter criteria, an empty collection is returned. If the filter field supports place holders ('*' or '%'), all scenarios beginning with the value of the filter are returned. I.e. a place holder at the end of the filter value is added automatically.",
        "operationId": "searchScenarios",
        "parameters": [
          {
            "name": "ident_code_like",
            "in": "query",
            "description": "Filters billing scenarios by ident code.<br>In the example, all scenarios which include '0' are returned.<br>This filter field is case insensitive.<br>Place holders are supported. The ident code is unique.",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "minLength": 0
            },
            "example": "*0*"
          },
          {
            "name": "description_code_like",
            "in": "query",
            "description": "Filters billing scenarios by description.<br>In the example, all scenarios which include 'A' in the description are returned.<br>This filter field is case insensitive.<br>Place holders are supported.",
            "schema": {
              "type": "string",
              "maxLength": 250,
              "minLength": 0
            },
            "example": "*A*"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingScenarioList"
                },
                "examples": {
                  "Billing scenario list": {
                    "description": "Billing scenario list",
                    "value": {
                      "content": [
                        {
                          "identCode": "001",
                          "translations": [
                            {
                              "language": "DE",
                              "description": "001"
                            },
                            {
                              "language": "EN",
                              "description": "001"
                            }
                          ]
                        },
                        {
                          "identCode": "002",
                          "translations": [
                            {
                              "language": "DE",
                              "description": "002"
                            },
                            {
                              "language": "EN",
                              "description": "002"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillingBFBean/acknowledgeChangedSettlements": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "acknowledgeChangedSettlements",
        "description": "Acknowledge that changed settlements were processed and should no longer be returned by getChangedSettlements.",
        "operationId": "acknowledgeChangedSettlements",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BAcknowledgeChangedSettlementsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BAcknowledgeChangedSettlementsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BAcknowledgeChangedSettlementsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BAcknowledgeChangedSettlementsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/BillingBFBean/cancelServiceItems": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "cancelServiceItems",
        "description": "Cancel the service items in the Billing engine.<br> Cancel a service item will try to logically remove the service item with all of its settelement items, if this is possible.<br> In some cases the cancellation of service items is not (or no longer) possible and will lead to errors.<br> E.g. the service item can not be found, or some of the settlement items of the service item can not or no longer be logically removed.<br> The processing of all items will be done in one transaction, so in case of any error, nothing will be persisted. Therefore check the errorFlag and message arrays in the response for any error to detect this case.<br>",
        "operationId": "cancelServiceItems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BReverseServiceItemsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BReverseServiceItemsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BReverseServiceItemsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BReverseServiceItemsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/BillingBFBean/createServiceItems": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "createServiceItems",
        "description": "Creates one or more service items. For each BServiceItemDTO included in the BCreateServiceItemsRequestDTO one service item is created. Starts pricing if boolean calculatePriceImmediately in BCreateServiceItemParmsDTO is true and returns the calculated prices. Use this method if you want to invoice and or audit the service items.",
        "operationId": "createServiceItems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BCreateServiceItemsRequestDTO"
              },
              "examples": {
                "Complete data": {
                  "description": "Complete data",
                  "value": {
                    "clientSystemId": "APITEST",
                    "clientIdentCode": "APITEST",
                    "userName": "user",
                    "resultLanguageIsoCodes": [
                      "de",
                      "en"
                    ],
                    "parms": {
                      "calculatePriceImmediately": false,
                      "createSettlementsImmediately": false,
                      "returnTraceInfo": true,
                      "rollbackOnErrorMessage": true
                    },
                    "items": [
                      {
                        "itemId": "25-11-2022",
                        "scenarioIdentCode": "A01",
                        "serviceIdentCode": "TNTDE_EXP12",
                        "referenceNumber": "25-11-2022",
                        "orderNumber": "25-11-2022",
                        "serviceProvider": {
                          "companyNumber": "TNT",
                          "name": "TNT Express Worldwide",
                          "street": "Heilbronner Staße 110",
                          "postcode": "70334",
                          "city": "Stuttgart",
                          "countryISOCode": "DE"
                        },
                        "orderer": {
                          "companyNumber": "001",
                          "name": "AEB SE",
                          "street": "Sigmaringer Straße 109",
                          "postcode": "70567",
                          "city": "Stuttgart",
                          "countryISOCode": "DE"
                        },
                        "payer": {
                          "companyNumber": "001",
                          "name": "AEB SE",
                          "street": "Sigmaringer Straße 109",
                          "postcode": "70567",
                          "city": "Stuttgart",
                          "countryISOCode": "DE"
                        },
                        "beneficiary": {
                          "companyNumber": "001",
                          "name": "AEB SE",
                          "street": "Sigmaringer Straße 109",
                          "postcode": "70567",
                          "city": "Stuttgart",
                          "countryISOCode": "DE"
                        },
                        "referenceDate": {
                          "dateInTimezone": "2022-11-25 12:00:00",
                          "timezone": "Europe/Berlin"
                        },
                        "pricingDate": {
                          "dateInTimezone": "2022-11-25 12:00:00",
                          "timezone": "Europe/Berlin"
                        },
                        "chargeDate": {
                          "dateInTimezone": "2022-11-25 12:00:00",
                          "timezone": "Europe/Berlin"
                        },
                        "serviceDate": {
                          "dateInTimezone": "2022-11-25 12:00:00",
                          "timezone": "Europe/Berlin"
                        },
                        "orderDate": {
                          "dateInTimezone": "2022-11-25 12:00:00",
                          "timezone": "Europe/Berlin"
                        },
                        "quantity": {
                          "value": "1",
                          "unit": "St"
                        },
                        "description": "Shipment",
                        "extendedData": {
                          "fields": [
                            {
                              "name": "carrierDefinitionIdentCode",
                              "type": "string",
                              "value": "TNT"
                            },
                            {
                              "name": "numberOfInvoices",
                              "type": "decimal",
                              "value": "1"
                            },
                            {
                              "name": "isDangerousGoods",
                              "type": "boolean",
                              "value": "false"
                            },
                            {
                              "name": "referenceNumber",
                              "type": "string",
                              "value": "referenceNumber"
                            },
                            {
                              "name": "incotermIdentCode",
                              "type": "string",
                              "value": "incoterm"
                            },
                            {
                              "name": "numberOfItems",
                              "type": "decimal",
                              "value": "2"
                            },
                            {
                              "name": "palletPlaces",
                              "type": "decimal",
                              "value": "1.000"
                            },
                            {
                              "name": "numberOfPackages",
                              "type": "decimal",
                              "value": "2"
                            },
                            {
                              "name": "isDocumentShipment",
                              "type": "boolean",
                              "value": "false"
                            },
                            {
                              "name": "numberOfDeliveryNotes",
                              "type": "decimal",
                              "value": "1"
                            }
                          ],
                          "subrecords": [
                            {
                              "name": "volume",
                              "record": {
                                "fields": [
                                  {
                                    "name": "unit",
                                    "type": "string",
                                    "value": "ccm"
                                  },
                                  {
                                    "name": "value",
                                    "type": "decimal",
                                    "value": "4500.000"
                                  }
                                ]
                              }
                            },
                            {
                              "name": "grossWeight",
                              "record": {
                                "fields": [
                                  {
                                    "name": "unit",
                                    "type": "string",
                                    "value": "kg"
                                  },
                                  {
                                    "name": "value",
                                    "type": "decimal",
                                    "value": "1.900"
                                  }
                                ]
                              }
                            },
                            {
                              "name": "transportStart",
                              "record": {
                                "subrecords": [
                                  {
                                    "name": "postalAddress",
                                    "record": {
                                      "fields": [
                                        {
                                          "name": "countryIsoCode",
                                          "type": "string",
                                          "value": "DE"
                                        },
                                        {
                                          "name": "postcode",
                                          "type": "string",
                                          "value": "70597"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            },
                            {
                              "name": "transportEnd",
                              "record": {
                                "subrecords": [
                                  {
                                    "name": "postalAddress",
                                    "record": {
                                      "fields": [
                                        {
                                          "name": "countryIsoCode",
                                          "type": "string",
                                          "value": "DE"
                                        },
                                        {
                                          "name": "postcode",
                                          "type": "string",
                                          "value": "94405"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            },
                            {
                              "name": "packages",
                              "record": {
                                "fields": [
                                  {
                                    "name": "dangerousGoodsHandlingCode",
                                    "type": "string",
                                    "value": "NONE"
                                  },
                                  {
                                    "name": "packageReferenceNumber",
                                    "type": "string",
                                    "value": "package1"
                                  },
                                  {
                                    "name": "numberOfPackages",
                                    "type": "decimal",
                                    "value": "1"
                                  }
                                ],
                                "subrecords": [
                                  {
                                    "name": "volume",
                                    "record": {
                                      "fields": [
                                        {
                                          "name": "unit",
                                          "type": "string",
                                          "value": "ccm"
                                        },
                                        {
                                          "name": "value",
                                          "type": "decimal",
                                          "value": "1500.000"
                                        }
                                      ]
                                    }
                                  },
                                  {
                                    "name": "grossWeight",
                                    "record": {
                                      "fields": [
                                        {
                                          "name": "unit",
                                          "type": "string",
                                          "value": "kg"
                                        },
                                        {
                                          "name": "value",
                                          "type": "decimal",
                                          "value": "0.600"
                                        }
                                      ]
                                    }
                                  },
                                  {
                                    "name": "dimensions",
                                    "record": {
                                      "fields": [
                                        {
                                          "name": "length",
                                          "type": "decimal",
                                          "value": "30.000"
                                        },
                                        {
                                          "name": "width",
                                          "type": "decimal",
                                          "value": "10.000"
                                        },
                                        {
                                          "name": "quantityUnit",
                                          "type": "string",
                                          "value": "cm"
                                        },
                                        {
                                          "name": "height",
                                          "type": "decimal",
                                          "value": "5.000"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            },
                            {
                              "name": "packages",
                              "record": {
                                "fields": [
                                  {
                                    "name": "dangerousGoodsHandlingCode",
                                    "type": "string",
                                    "value": "NONE"
                                  },
                                  {
                                    "name": "packageTypeIdentCode",
                                    "type": "string",
                                    "value": "packageType"
                                  },
                                  {
                                    "name": "packageReferenceNumber",
                                    "type": "string",
                                    "value": "package2"
                                  },
                                  {
                                    "name": "numberOfPackages",
                                    "type": "decimal",
                                    "value": "1"
                                  }
                                ],
                                "subrecords": [
                                  {
                                    "name": "volume",
                                    "record": {
                                      "fields": [
                                        {
                                          "name": "unit",
                                          "type": "string",
                                          "value": "ccm"
                                        },
                                        {
                                          "name": "value",
                                          "type": "decimal",
                                          "value": "3000.000"
                                        }
                                      ]
                                    }
                                  },
                                  {
                                    "name": "grossWeight",
                                    "record": {
                                      "fields": [
                                        {
                                          "name": "unit",
                                          "type": "string",
                                          "value": "kg"
                                        },
                                        {
                                          "name": "value",
                                          "type": "decimal",
                                          "value": "1.300"
                                        }
                                      ]
                                    }
                                  },
                                  {
                                    "name": "dimensions",
                                    "record": {
                                      "fields": [
                                        {
                                          "name": "length",
                                          "type": "decimal",
                                          "value": "30.000"
                                        },
                                        {
                                          "name": "width",
                                          "type": "decimal",
                                          "value": "20.000"
                                        },
                                        {
                                          "name": "quantityUnit",
                                          "type": "string",
                                          "value": "cm"
                                        },
                                        {
                                          "name": "height",
                                          "type": "decimal",
                                          "value": "5.000"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BCreateServiceItemsRequestDTO"
              },
              "examples": {
                "Complete data": {
                  "description": "Complete data",
                  "value": {
                    "clientSystemId": "APITEST",
                    "clientIdentCode": "APITEST",
                    "userName": "user",
                    "resultLanguageIsoCodes": [
                      "de",
                      "en"
                    ],
                    "parms": {
                      "calculatePriceImmediately": false,
                      "createSettlementsImmediately": false,
                      "returnTraceInfo": true,
                      "rollbackOnErrorMessage": true
                    },
                    "items": [
                      {
                        "itemId": "25-11-2022",
                        "scenarioIdentCode": "A01",
                        "serviceIdentCode": "TNTDE_EXP12",
                        "referenceNumber": "25-11-2022",
                        "orderNumber": "25-11-2022",
                        "serviceProvider": {
                          "companyNumber": "TNT",
                          "name": "TNT Express Worldwide",
                          "street": "Heilbronner Staße 110",
                          "postcode": "70334",
                          "city": "Stuttgart",
                          "countryISOCode": "DE"
                        },
                        "orderer": {
                          "companyNumber": "001",
                          "name": "AEB SE",
                          "street": "Sigmaringer Straße 109",
                          "postcode": "70567",
                          "city": "Stuttgart",
                          "countryISOCode": "DE"
                        },
                        "payer": {
                          "companyNumber": "001",
                          "name": "AEB SE",
                          "street": "Sigmaringer Straße 109",
                          "postcode": "70567",
                          "city": "Stuttgart",
                          "countryISOCode": "DE"
                        },
                        "beneficiary": {
                          "companyNumber": "001",
                          "name": "AEB SE",
                          "street": "Sigmaringer Straße 109",
                          "postcode": "70567",
                          "city": "Stuttgart",
                          "countryISOCode": "DE"
                        },
                        "referenceDate": {
                          "dateInTimezone": "2022-11-25 12:00:00",
                          "timezone": "Europe/Berlin"
                        },
                        "pricingDate": {
                          "dateInTimezone": "2022-11-25 12:00:00",
                          "timezone": "Europe/Berlin"
                        },
                        "chargeDate": {
                          "dateInTimezone": "2022-11-25 12:00:00",
                          "timezone": "Europe/Berlin"
                        },
                        "serviceDate": {
                          "dateInTimezone": "2022-11-25 12:00:00",
                          "timezone": "Europe/Berlin"
                        },
                        "orderDate": {
                          "dateInTimezone": "2022-11-25 12:00:00",
                          "timezone": "Europe/Berlin"
                        },
                        "quantity": {
                          "value": "1",
                          "unit": "St"
                        },
                        "description": "Shipment",
                        "extendedData": {
                          "fields": [
                            {
                              "name": "carrierDefinitionIdentCode",
                              "type": "string",
                              "value": "TNT"
                            },
                            {
                              "name": "numberOfInvoices",
                              "type": "decimal",
                              "value": "1"
                            },
                            {
                              "name": "isDangerousGoods",
                              "type": "boolean",
                              "value": "false"
                            },
                            {
                              "name": "referenceNumber",
                              "type": "string",
                              "value": "referenceNumber"
                            },
                            {
                              "name": "incotermIdentCode",
                              "type": "string",
                              "value": "incoterm"
                            },
                            {
                              "name": "numberOfItems",
                              "type": "decimal",
                              "value": "2"
                            },
                            {
                              "name": "palletPlaces",
                              "type": "decimal",
                              "value": "1.000"
                            },
                            {
                              "name": "numberOfPackages",
                              "type": "decimal",
                              "value": "2"
                            },
                            {
                              "name": "isDocumentShipment",
                              "type": "boolean",
                              "value": "false"
                            },
                            {
                              "name": "numberOfDeliveryNotes",
                              "type": "decimal",
                              "value": "1"
                            }
                          ],
                          "subrecords": [
                            {
                              "name": "volume",
                              "record": {
                                "fields": [
                                  {
                                    "name": "unit",
                                    "type": "string",
                                    "value": "ccm"
                                  },
                                  {
                                    "name": "value",
                                    "type": "decimal",
                                    "value": "4500.000"
                                  }
                                ]
                              }
                            },
                            {
                              "name": "grossWeight",
                              "record": {
                                "fields": [
                                  {
                                    "name": "unit",
                                    "type": "string",
                                    "value": "kg"
                                  },
                                  {
                                    "name": "value",
                                    "type": "decimal",
                                    "value": "1.900"
                                  }
                                ]
                              }
                            },
                            {
                              "name": "transportStart",
                              "record": {
                                "subrecords": [
                                  {
                                    "name": "postalAddress",
                                    "record": {
                                      "fields": [
                                        {
                                          "name": "countryIsoCode",
                                          "type": "string",
                                          "value": "DE"
                                        },
                                        {
                                          "name": "postcode",
                                          "type": "string",
                                          "value": "70597"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            },
                            {
                              "name": "transportEnd",
                              "record": {
                                "subrecords": [
                                  {
                                    "name": "postalAddress",
                                    "record": {
                                      "fields": [
                                        {
                                          "name": "countryIsoCode",
                                          "type": "string",
                                          "value": "DE"
                                        },
                                        {
                                          "name": "postcode",
                                          "type": "string",
                                          "value": "94405"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            },
                            {
                              "name": "packages",
                              "record": {
                                "fields": [
                                  {
                                    "name": "dangerousGoodsHandlingCode",
                                    "type": "string",
                                    "value": "NONE"
                                  },
                                  {
                                    "name": "packageReferenceNumber",
                                    "type": "string",
                                    "value": "package1"
                                  },
                                  {
                                    "name": "numberOfPackages",
                                    "type": "decimal",
                                    "value": "1"
                                  }
                                ],
                                "subrecords": [
                                  {
                                    "name": "volume",
                                    "record": {
                                      "fields": [
                                        {
                                          "name": "unit",
                                          "type": "string",
                                          "value": "ccm"
                                        },
                                        {
                                          "name": "value",
                                          "type": "decimal",
                                          "value": "1500.000"
                                        }
                                      ]
                                    }
                                  },
                                  {
                                    "name": "grossWeight",
                                    "record": {
                                      "fields": [
                                        {
                                          "name": "unit",
                                          "type": "string",
                                          "value": "kg"
                                        },
                                        {
                                          "name": "value",
                                          "type": "decimal",
                                          "value": "0.600"
                                        }
                                      ]
                                    }
                                  },
                                  {
                                    "name": "dimensions",
                                    "record": {
                                      "fields": [
                                        {
                                          "name": "length",
                                          "type": "decimal",
                                          "value": "30.000"
                                        },
                                        {
                                          "name": "width",
                                          "type": "decimal",
                                          "value": "10.000"
                                        },
                                        {
                                          "name": "quantityUnit",
                                          "type": "string",
                                          "value": "cm"
                                        },
                                        {
                                          "name": "height",
                                          "type": "decimal",
                                          "value": "5.000"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            },
                            {
                              "name": "packages",
                              "record": {
                                "fields": [
                                  {
                                    "name": "dangerousGoodsHandlingCode",
                                    "type": "string",
                                    "value": "NONE"
                                  },
                                  {
                                    "name": "packageTypeIdentCode",
                                    "type": "string",
                                    "value": "packageType"
                                  },
                                  {
                                    "name": "packageReferenceNumber",
                                    "type": "string",
                                    "value": "package2"
                                  },
                                  {
                                    "name": "numberOfPackages",
                                    "type": "decimal",
                                    "value": "1"
                                  }
                                ],
                                "subrecords": [
                                  {
                                    "name": "volume",
                                    "record": {
                                      "fields": [
                                        {
                                          "name": "unit",
                                          "type": "string",
                                          "value": "ccm"
                                        },
                                        {
                                          "name": "value",
                                          "type": "decimal",
                                          "value": "3000.000"
                                        }
                                      ]
                                    }
                                  },
                                  {
                                    "name": "grossWeight",
                                    "record": {
                                      "fields": [
                                        {
                                          "name": "unit",
                                          "type": "string",
                                          "value": "kg"
                                        },
                                        {
                                          "name": "value",
                                          "type": "decimal",
                                          "value": "1.300"
                                        }
                                      ]
                                    }
                                  },
                                  {
                                    "name": "dimensions",
                                    "record": {
                                      "fields": [
                                        {
                                          "name": "length",
                                          "type": "decimal",
                                          "value": "30.000"
                                        },
                                        {
                                          "name": "width",
                                          "type": "decimal",
                                          "value": "20.000"
                                        },
                                        {
                                          "name": "quantityUnit",
                                          "type": "string",
                                          "value": "cm"
                                        },
                                        {
                                          "name": "height",
                                          "type": "decimal",
                                          "value": "5.000"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BCreateServiceItemsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BCreateServiceItemsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/BillingBFBean/getBillingScenarios": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "getBillingScenarios",
        "description": "Returns all billing scenarios for the given client",
        "operationId": "getBillingScenarios",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BGetBillingScenariosRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BGetBillingScenariosRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BGetBillingScenariosResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BGetBillingScenariosResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/BillingBFBean/getBillingServices": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "getBillingServices",
        "description": "Returns all billing services for the given client and billing scenario as optional parameter.",
        "operationId": "getBillingServices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BGetBillingServicesRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BGetBillingServicesRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BGetBillingServicesResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BGetBillingServicesResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/BillingBFBean/getChangedSettlements": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "getChangedSettlements",
        "description": "<p>Returns all changed settlements.</p> <p> This method should be used together with acknowledgeChangedSettlements. </p> See also BGetChangedSettlementsResponseDTO#syncId",
        "operationId": "getChangedSettlements",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BGetChangedSettlementsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BGetChangedSettlementsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BGetChangedSettlementsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BGetChangedSettlementsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/BillingBFBean/getServiceItems": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "getServiceItems",
        "description": "Returns all service items for the given client.",
        "operationId": "getServiceItems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BGetServiceItemsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BGetServiceItemsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BGetServiceItemsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BGetServiceItemsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/BillingBFBean/offsetServiceItems": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "offsetServiceItems",
        "description": "Offset the service items in the Billing engine.<br> Offsetting a service item will offset all relevant settlement items of this service item, by creating exact copies of the relevant settlement items with reversed sign.<br> Depending on customizing, some settlement items will not take part in offsetting the service item and some settlement items will prevent any offsetting at all, which leads to an error.<br> The processing of all items will be done in one transaction, so in case of any error, nothing will be persisted. Therefore check the errorFlag and error message arrays in the response for any error to detect this case.<br>",
        "operationId": "offsetServiceItems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BReverseServiceItemsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BReverseServiceItemsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BReverseServiceItemsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BReverseServiceItemsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/BillingBFBean/setServiceMasterFileData": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "setServiceMasterFileData",
        "description": "Create or update multiple Services in the Billing engine.<br> Create or update multiple services in the master file data of the engine. Because of performance and transactional issues it is recommended to transfer about 100 services within one synchronous call. All transfered services will be either created or updated. The identCode and scenarioIdentCode (these are key values) of the service will be checked before processing. In case of any unfilled key value, nothing will be done. In case of other problems for a single service e.g locking or invalid identCode values the processing is usually continued with the next service, skipping, the problematic service. This means the record will be skipped completely and processing will continue with the next service. Anyway such errors will set the hasErrors or hasWarnings to true. To analyse situations check the response for details. Possible messageIdentCodes are documented in AbstractResponseDTO, BSetServiceMasterFileDataResponseDTO, BServiceMFResultDTO, AbstractResponseItemDTO and BServiceMFResultDTO",
        "operationId": "setServiceMasterFileData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BSetServiceMasterFileDataRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BSetServiceMasterFileDataRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BSetServiceMasterFileDataResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BSetServiceMasterFileDataResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/BillingBFBean/simulateCreateServiceItems": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "simulateCreateServiceItems",
        "description": "This method does the same as createServiceItems, but does not store the results in the database.<br> So this method can e.g. be used to precalculate prices for potential service items or just for testing purposes.",
        "operationId": "simulateCreateServiceItems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BCreateServiceItemsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BCreateServiceItemsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BCreateServiceItemsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BCreateServiceItemsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/RateBFBean/updateRateSheetEntries": {
      "post": {
        "tags": [
          "Rates"
        ],
        "summary": "updateRateSheetEntries",
        "description": "Updates entries of a rate sheet. If any errors occur no entry will be changed.",
        "operationId": "updateRateSheetEntries",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BUpdateRateSheetEntriesRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BUpdateRateSheetEntriesRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BUpdateRateSheetEntriesResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BUpdateRateSheetEntriesResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/ExternalInvoice/acknowledgeChangedExternalInvoices": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "acknowledgeChangedExternalInvoices",
        "description": "Acknowledge that changed external invoices were processed and should no longer be returned by getChangedExternalInvoices.",
        "operationId": "acknowledgeChangedExternalInvoices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BAcknowledgeChangedExternalInvoicesRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BAcknowledgeChangedExternalInvoicesResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/ExternalInvoice/createExternalInvoices": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "createExternalInvoices",
        "description": "Creates one external invoice for every BExternalInvoiceDTO included in the BCreateExternalInvoicesRequestDTO.",
        "operationId": "createExternalInvoices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BCreateExternalInvoicesRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BCreateExternalInvoicesResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/ExternalInvoice/getChangedExternalInvoices": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "getChangedExternalInvoices",
        "description": "<p>Returns all changed external invoices.</p> <p> This method should be used together with acknowledgeChangedExternalInvoices. </p> See also BGetChangedExternalInvoicesResponseDTO#syncId",
        "operationId": "getChangedExternalInvoices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BGetChangedExternalInvoicesRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BGetChangedExternalInvoicesResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BillingScenario": {
        "type": "object",
        "description": "List of billing scenarios.",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the MO.",
            "maxLength": 50,
            "minLength": 1,
            "pattern": "[a-zA-Z0-9:._\\-/]*",
            "readOnly": true
          },
          "translations": {
            "type": "array",
            "description": "The description of the billing scenario in multiple languages.",
            "items": {
              "$ref": "#/components/schemas/BillingScenarioTextTranslation"
            }
          }
        },
        "readOnly": true,
        "required": [
          "identCode",
          "translations"
        ]
      },
      "BillingScenarioTextTranslation": {
        "type": "object",
        "description": "Name of the billing scenario in a certain language.",
        "properties": {
          "language": {
            "type": "string",
            "description": "2-letter ISO code of the language.",
            "example": "DE",
            "maxLength": 2,
            "minLength": 2,
            "pattern": "[A-Z]{2}"
          },
          "description": {
            "type": "string",
            "description": "The description of the model object.",
            "maxLength": 250,
            "minLength": 0
          }
        },
        "required": [
          "language"
        ]
      },
      "BillingScenarioList": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "description": "List of billing scenarios.",
            "items": {
              "$ref": "#/components/schemas/BillingScenario"
            }
          }
        },
        "required": [
          "content"
        ]
      },
      "Service": {
        "type": "object",
        "description": "List of services.",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "The identCode of the MO.",
            "maxLength": 50,
            "minLength": 1,
            "pattern": "[a-zA-Z0-9:._\\-/]*",
            "readOnly": true
          },
          "translations": {
            "type": "array",
            "description": "The description of the service in multiple languages.",
            "items": {
              "$ref": "#/components/schemas/ServiceTextTranslation"
            }
          },
          "attribute": {
            "type": "string",
            "description": "Free identifier of the service for searching and categorization.",
            "maxLength": 75,
            "minLength": 0
          },
          "quantityUnitType": {
            "type": "string",
            "description": "<p>The quantity unit type code of the service. Possible standard types are: <li>SPACE <li>DENSITY <li>ENERGY <li>DIMENSION <li>QUANTITY <li>TIME <li>NONE <li>VOLUME <li>WEIGHT</p>",
            "maxLength": 20,
            "minLength": 0
          }
        },
        "required": [
          "identCode",
          "quantityUnitType",
          "translations"
        ]
      },
      "ServiceTextTranslation": {
        "type": "object",
        "description": "Name of the service in a certain language.",
        "properties": {
          "language": {
            "type": "string",
            "description": "2-letter ISO code of the language.",
            "example": "DE",
            "maxLength": 2,
            "minLength": 2,
            "pattern": "[A-Z]{2}"
          },
          "description": {
            "type": "string",
            "description": "The description of the model object.",
            "maxLength": 250,
            "minLength": 0
          }
        },
        "required": [
          "language"
        ]
      },
      "AebProblem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "A URI reference that uniquely identifies the problem type in the\ncontext of the provided API. Opposed to the specification in RFC-7807,\nit neither points to a human-readable documentation nor globally\nunique for the problem type."
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
            "example": 404
          },
          "title": {
            "type": "string",
            "description": "Title",
            "example": "Not found"
          },
          "detail": {
            "type": "string",
            "description": "Detail info",
            "example": "Item not found"
          },
          "instance": {
            "type": "string",
            "format": "uri",
            "description": "A URI reference that identifies the specific occurrence of the problem.",
            "example": "item/12345"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the error",
            "example": "2024-03-28T12:45:31.7857371Z"
          },
          "xRequestId": {
            "type": "string",
            "description": "ID of the request that is associated with the problem."
          },
          "errors": {
            "type": "array",
            "description": "Array of related errors",
            "items": {
              "$ref": "#/components/schemas/AebProblemError"
            }
          },
          "logMessage": {
            "type": "string"
          }
        }
      },
      "AebProblemError": {
        "type": "object",
        "description": "Array of related errors",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code identifying the type of the error.",
            "example": "INVALID_VALUE"
          },
          "message": {
            "type": "string",
            "description": "Description of the error.",
            "example": "Item number invalid"
          },
          "field": {
            "type": "string",
            "description": "JSON pointer to a data field that contains the erroneous value.",
            "example": "items/2/itemNumber"
          },
          "value": {
            "type": "string",
            "description": "Textual representation of the erroneous value.",
            "example": "7411A"
          }
        }
      },
      "ServicePage": {
        "type": "object",
        "properties": {
          "totalElements": {
            "type": "integer",
            "description": "The total number of elements available to return.",
            "example": 100,
            "readOnly": true
          },
          "content": {
            "type": "array",
            "description": "List of services.",
            "items": {
              "$ref": "#/components/schemas/Service"
            }
          }
        },
        "required": [
          "content",
          "totalElements"
        ]
      },
      "BAcknowledgeChangedSettlementsResponseDTO": {
        "type": "object",
        "description": "Response for IBillingBF#acknowledgeChangedSettlements.",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          }
        }
      },
      "ResponseMessageDTO": {
        "type": "object",
        "description": "Result messages like errors or warnings.",
        "properties": {
          "messageType": {
            "type": "string",
            "description": "<p>Message type</p><p>If not stated otherwise, the possible types are:</p><ul><li>ERROR</li><li>WARNING</li><li>INFO</li></ul><p>Maximum length: 50</p>",
            "example": "WARNING"
          },
          "messageIdentCode": {
            "type": "string",
            "description": "<p>Optional identification code for further classification of the message type.</p><p>Maximum length: 50</p>",
            "example": "5627"
          },
          "messageTexts": {
            "type": "array",
            "description": "<p>Detailed message texts in the requested languages.</p>",
            "items": {
              "$ref": "#/components/schemas/TextInLanguageDTO"
            }
          },
          "indentationLevel": {
            "type": "integer",
            "format": "int32",
            "description": "<p>The indentation level of the message.</p><p>'0' indicates a top level message.</p>",
            "example": 0
          }
        }
      },
      "TextInLanguageDTO": {
        "type": "object",
        "description": "A translated text in one of the specified languages.",
        "properties": {
          "languageISOCode": {
            "type": "string",
            "description": "<p>2-letter ISO code of the language.</p><p>length=2</p>",
            "example": "en"
          },
          "text": {
            "type": "string",
            "description": "The translated text.",
            "example": "Some free-form text"
          }
        }
      },
      "BAcknowledgeChangedSettlementsRequestDTO": {
        "type": "object",
        "description": "Request parameter for IBillingBF#acknowledgeChangedSettlements.",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string",
              "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
              "example": "[\"en\",\"de\"]"
            }
          },
          "syncId": {
            "type": "string",
            "description": "Synchronization ID for acknowledging. <br> Use the value received in BGetChangedSettlementsResponseDTO#syncId from the previous call to BillingBF#getChangedSettlements.",
            "maxLength": 20
          }
        }
      },
      "BReverseServiceItemResultDTO": {
        "type": "object",
        "description": "Result for one item. Messages for this particular item, e.g. for errors or warnings.<br> The following messageIdentCodes are used:<br> \"ITEM_RETRANSMISSION_ERROR\": Retransmission of one of the items was detected.<br> \"INVALID_DATA_ERROR\": One of the ident codes send was not recognized by the engine, e.g. an service type was used which was not customized.<br> \"PRICING_ERROR\": An error occured during pricing because of customizing problems. E.g. no price schema was found for an item. <br> \"PRICING_TRACE\": Detailed information about the pricing process (this is no error).<br>",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "True, if there are any error messages. If an error has occured the messages contain more details about the errors."
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "True, if there are any warning messages."
          },
          "messages": {
            "type": "array",
            "description": "Messages for the whole request, e.g. for errors or warnings.<br>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "itemId": {
            "type": "string",
            "description": "<p>ID of the item.</p> <p>length=250</p>"
          }
        }
      },
      "BReverseServiceItemsResponseDTO": {
        "type": "object",
        "description": "Return value for the the method IBillingBF.cancelServiceItems or IBillingBF.offsetServiceItems",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "itemResponses": {
            "type": "array",
            "description": "For every itemId in the request there will be one response with information about the reversal of the item. In case of errors the reverse operation was not possible.",
            "items": {
              "$ref": "#/components/schemas/BReverseServiceItemResultDTO"
            }
          }
        }
      },
      "BReverseServiceItemsRequestDTO": {
        "type": "object",
        "description": "Request parameter for the the method IBillingBF.cancelServiceItems or IBillingBF.offsetServiceItems",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string",
              "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
              "example": "[\"en\",\"de\"]"
            }
          },
          "reasonOfReversal": {
            "type": "string",
            "description": "<p>A qualified reason for reversal.</p> <p>length=250</p>"
          },
          "items": {
            "type": "array",
            "description": "An array of items that should be be processed.",
            "items": {
              "$ref": "#/components/schemas/BServiceItemReferenceDTO"
            }
          }
        }
      },
      "BServiceItemReferenceDTO": {
        "type": "object",
        "description": "A reference identifying a serviceItem.<br>",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "<p> ID of the service item which, together with the clientSystemId, uniquely identifies the service item. </p> <p>length=50</p>"
          }
        }
      },
      "BAmountOfMoneyDTO": {
        "type": "object",
        "description": "An amount of money with a value and an currency ISO code.",
        "properties": {
          "value": {
            "type": "number",
            "description": "The value of the amount of money. <p>length=15, scale=2</p>"
          },
          "currencyIso": {
            "type": "string",
            "description": "The three letter ISO code of the currency of the amount of money. <p>length=3</p>"
          }
        }
      },
      "BCompanyDTO": {
        "type": "object",
        "description": "A complete address of a company for Logistics Cost Management.",
        "properties": {
          "companyNumber": {
            "type": "string",
            "description": "Company Number <p>length=20</p>"
          },
          "name": {
            "type": "string",
            "description": "Name of the company (first address line) <p>length=40</p>"
          },
          "name2": {
            "type": "string",
            "description": "Address name line 2 <p>length=40</p>"
          },
          "name3": {
            "type": "string",
            "description": "Address name line 3 <p>length=40</p>"
          },
          "name4": {
            "type": "string",
            "description": "Address name line 4 <p>length=40</p>"
          },
          "street": {
            "type": "string",
            "description": "Street (line 1) of the address. <p>length=40</p>"
          },
          "street2": {
            "type": "string",
            "description": "Street (line 2) of the address. <p>length=40</p>"
          },
          "postcode": {
            "type": "string",
            "description": "Postcode of the street address. <p>length=10</p>"
          },
          "city": {
            "type": "string",
            "description": "City of the address. <p>length=40</p>"
          },
          "district": {
            "type": "string",
            "description": "District (city line 2) of the address. <p>length=40</p>"
          },
          "countryISOCode": {
            "type": "string",
            "description": "Country of address <p>length=2</p>"
          },
          "county": {
            "type": "string",
            "description": "County of the address <p>length=40</p>"
          },
          "poBox": {
            "type": "string",
            "description": "PO-Box. <p>length=10</p>"
          },
          "postcodePOBox": {
            "type": "string",
            "description": "Postcode of the poBox address. <p>length=10</p>"
          },
          "cityPOBox": {
            "type": "string",
            "description": "City of the po-box address. <p>length=40</p>"
          },
          "emailAddress": {
            "type": "string",
            "description": "Email address of the address. <p>length=256</p>"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of reception <p>length=20</p>"
          },
          "fax": {
            "type": "string",
            "description": "Fax number of reception <p>length=20</p>"
          }
        }
      },
      "BCreateServiceItemsResponseDTO": {
        "type": "object",
        "description": "Return value for the the method IBillingBF.createServiceItems().",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "itemResults": {
            "type": "array",
            "description": "For every item in the request there will be one  BServiceItemResultDTO in this array, in the same order as in the request.",
            "items": {
              "$ref": "#/components/schemas/BServiceItemResultDTO"
            }
          }
        }
      },
      "BPriceTypeResultDTO": {
        "type": "object",
        "description": "Information about a price type in a response.",
        "properties": {
          "priceTypeIdentCode": {
            "type": "string",
            "description": "The identCode of the price type. <p>length=50</p>"
          },
          "priceTypeLabels": {
            "type": "array",
            "description": "Human readable label for the price type in the languages requested.",
            "items": {
              "$ref": "#/components/schemas/TextInLanguageDTO"
            }
          }
        }
      },
      "BQuantityDTO": {
        "type": "object",
        "description": "Quantities for Billing.",
        "properties": {
          "value": {
            "type": "number",
            "description": "The value of the quantity.",
            "maximum": 999999999999.999,
            "multipleOf": 0.001
          },
          "unit": {
            "type": "string",
            "description": " \t\t\tIdentifier of the quantity unit. Use quantity units known from your AEB application or alternatively domain specific or legacy quantity codes, but not the UNECE code.\n \t\t\tFor UNECE unit codes use the 'uneceUnit' field, if supported.\n\n \t\t\tWeight unit codes:\n \t\t\t* kg - Kilogram\n         \t* gr - Gram\n         \t* t - Metric ton\n         \t* lb - Pound\n         \t* oz - Ounce\n\n         \tLength unit codes:\n         \t* m - Meter\n         \t* mm - Milimeter\n         \t* cm - Centimeter\n         \t* dm - Decimeter\n         \t* km - Kilometer\n         \t* ft - Foot\n         \t* in - Inch\n         \t* mi - Mile\n         \t* nm - Nanometer\n         \t* µm - Micrometer\n\n         \tVolume unit codes:\n         \t* ccm - Cubic centimeter\n         \t* cdm - Cubic decimeter\n         \t* m3 - Cubic meter\n         \t* ml - Milliliter\n         \t* cl - Centiliter\n         \t* hl - Hectoliter\n         \t* l - Liter\n         \t* cuin - Cubic inch\n         \t* cuft - Cubic foot\n\n         \tQuantity unit codes:\n         \t* St - Piece\n         \t* Paar - Pair\n\n         \tDensity unit codes:\n         \t* g/ccm - grams per cubic centimeter\n         \t* kg/m3 - kilogram per cubic meter\n\n         \tTime unit codes:\n         \t* h - Hour\n         \t* stu - Hour\n         \t* std - Hour\n         \t* oph - Operational hour\n         \t* s - Second\n         \t* min - Minute\n         \t* 15m - 15 mins\n         \t* d - Day\n         \t* tag - Day\n         \t* wch - Week\n         \t* mon - Month\n         \t* jhr - Year\n         \t* mis - Millisecond\n         \t* ms - Microsecond\n         \t* ns - Nanosecond\n         \t* ps - Picosecond\n\n         \tArea unit codes:\n \t\t\t* qm - Square meter\n         \t* qmm - Square millimeter\n         \t* qcm - Square centimeter\n         \t* qdm - Square decimeter\n",
            "example": "kg",
            "maxLength": 10
          },
          "uneceUnit": {
            "type": "string",
            "description": " \t\t\tIdentifier of the quantity unit based on 'Recommendation No. 20 - Units of Measure used in International Trade'.<br/>\n \t\t\tThe #uneceUnit can be specified alternatively to #unit but is currently not supported by all AEB services. Please speak to your contact person at AEB if you are unsure whether #uneceUnit is supported or not.\n\n \t\t\tWeight unit codes:\n \t\t\t* `KGM` - Kilogram\n \t\t\t* `GRM` - Gram (10⁻³ kg)\n \t\t\t* `TNE` - Metric ton (10³ kg)\n \t\t\t* `LBR` - Pound (0,453 592 37 kg)\n \t\t\t* `ONZ` - Ounce (2,834 952 x 10⁻² kg)\n\n \t\t\tLength unit codes:\n \t\t\t* `MTR` - Meter\n \t\t\t* `CMT` - Centimeter (10⁻² m)\n \t\t\t* `MMT` - Millimeter (10⁻³ m)\n \t\t\t* `KMT` - Kilometer (10³ m)\n \t\t\t* `YRD` - Yard (0,914 4 m)\n \t\t\t* `FOT` - Foot (0,304 8 m)\n \t\t\t* `INH` - Inch (25,4 x 10⁻³ m)\n \t\t\t* `SMI` - Mile (statute mile) (1609,344 m)\n\n \t\t\tVolume unit codes:\n \t\t\t* `MTQ` - Cubic meter\n \t\t\t* `CMQ` - Cubic centimeter (10⁻⁶ m³)\n \t\t\t* `HLT` - Hectoliter (10⁻¹ m³)\n \t\t\t* `LTR` - Liter (10⁻³ m³)\n \t\t\t* `MLT` - Milliliter (10⁻⁶ m³)\n \t\t\t* `YDQ` - Cubic yard (0,764 555 m³)\n \t\t\t* `FTQ` - Cubic foot (2,831 685 x 10⁻² m³)\n \t\t\t* `INQ` - Cubic inch (16,387 064 x 10⁻⁶ m³)\n\n \t\t\tArea unit codes:\n \t\t\t* `MTK` - Square meter\n \t\t\t* `CMK` - Square centimeter (10⁻⁴ m²)\n \t\t\t* `MMK` - Square millimeter (10⁻⁶ m²)\n \t\t\t* `YDK` - Square yard (8.361 274 x 10⁻¹ m² )\n \t\t\t* `FTK` - Square foot (9,290 304 x 10⁻² m²)\n \t\t\t* `INK` - Square inch (6,451 6 x 10⁻⁴ m²)\n\n \t\t\tQuantity unit codes:\n \t\t\t* `NAR` - Number of articles\n \t\t\t* `NPR` - Number of pairs\n \t\t\t* `CEN` - A unit of count defining the number of units in multiples of 100\n \t\t\t* `MIL` - A unit of count defining the number of units in multiples of 1000\n",
            "example": "NAR",
            "maxLength": 3
          }
        }
      },
      "BServiceItemResultDTO": {
        "type": "object",
        "description": "Result for one service item, used both by IBillingBF#createServiceItems and IBillingBF#getServiceItems. <br><br> --IBillingBF#createServiceItems--<br> The following messageIdentCodes are used:<br> \"ITEM_RETRANSMISSION_ERROR\": Retransmission of one of the items was detected.<br> \"INVALID_DATA_ERROR\": One of the ident codes send was not recognized by the engine, e.g. an service type was used which was not customized.<br> \"PRICING_ERROR\": An error occured during pricing because of customizing problems. E.g. no price schema was found for an item. <br> \"PRICING_TRACE\": Detailed information about the pricing process (this is no error).<br> \"LOCK_ERROR\": Service item or dependent objects are locked. <br><br> --IBillingBF.getServiceItems--<br> The following messageIdentCodes are used:<br> \"ITEM_NOT_FOUND_ERROR\": A service item was not found.",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "True, if there are any error messages. If an error has occured the messages contain more details about the errors."
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "True, if there are any warning messages."
          },
          "messages": {
            "type": "array",
            "description": "Messages for the whole request, e.g. for errors or warnings.<br>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "itemId": {
            "type": "string",
            "description": "<p>ID of the item.</p> <p>length=50</p>"
          },
          "statusIdentCode": {
            "type": "string",
            "description": "<p>Status of the item after save and optional operations</p> <p>length=10</p>"
          },
          "clientPrice": {
            "$ref": "#/components/schemas/BAmountOfMoneyDTO"
          },
          "vatRatePercent": {
            "type": "number",
            "description": "The VAT rate in percent of the client price of the service item"
          },
          "settlementItems": {
            "type": "array",
            "description": "--IBillingBF#createServiceItems--<br> This variable is only filled, if pricing is done.<br> For every settlement item created (or simulated) for a service item there will be one element in this array. <br><br> --IBillingBF#getServiceItems--<br> This variable is filled if the service item was found and the settlement items should be retrieved. Otherwise, the variable is filled. The array is empty if the service item has no settlement items.",
            "items": {
              "$ref": "#/components/schemas/BSettlementItemResultDTO"
            }
          },
          "referenceDate": {
            "type": "string",
            "format": "date-time",
            "description": "Reference date used as the main search criterion in the service item search. The interface generally assigns an \"appropriate\" reference date. Which date from the business environment is used as the reference date in Logistics Cost Management (order date, service date, document date, etc.) depends on the business processes and the primary application."
          },
          "referenceNumber": {
            "type": "string",
            "description": "Reference number used as the main search criterion in the service item search. The interface generally assigns an 'appropriate' reference number. Which number from the business environment is used as the reference number in Logistics Cost Management (order number, customer order number, document number, etc.) depends on the business processes and the primary application."
          },
          "orderNumber": {
            "type": "string",
            "description": "Order number of service item."
          },
          "serviceIdentCode": {
            "type": "string",
            "description": "Ident code of the service type of the service item."
          },
          "description": {
            "type": "string",
            "description": "Description of service item."
          },
          "orderer": {
            "$ref": "#/components/schemas/BCompanyDTO"
          },
          "serviceProvider": {
            "$ref": "#/components/schemas/BCompanyDTO"
          },
          "payer": {
            "$ref": "#/components/schemas/BCompanyDTO"
          }
        }
      },
      "BSettlementItemResultDTO": {
        "type": "object",
        "description": "A result object for a created or retrieved settlement item.",
        "properties": {
          "settlementItemId": {
            "type": "string",
            "description": "The unique id of the settlement item. This id can be used in an application facade to open the settlement item.<br> <p>length=50</p>"
          },
          "settlementNumber": {
            "type": "string",
            "description": "The number of the settlement, this settlement item was disposed to.<br> (Only filled, if settlements were created, see  BCreateServiceItemParmsDTO#createSettlementsImmediately). <p>length=50</p>"
          },
          "settlementId": {
            "type": "string",
            "description": "The unique id of the settlement, this settlement item was disposed to. This id can be used in an application facade to open the settlement.<br> (Only filled, if settlements were created, see  BCreateServiceItemParmsDTO#createSettlementsImmediately)."
          },
          "descriptions": {
            "type": "array",
            "description": "The descriptions of the settlement item in requested languages.",
            "items": {
              "$ref": "#/components/schemas/TextInLanguageDTO"
            }
          },
          "priceType": {
            "$ref": "#/components/schemas/BPriceTypeResultDTO"
          },
          "price": {
            "$ref": "#/components/schemas/BAmountOfMoneyDTO"
          },
          "settlementPrice": {
            "$ref": "#/components/schemas/BAmountOfMoneyDTO"
          },
          "clientPrice": {
            "$ref": "#/components/schemas/BAmountOfMoneyDTO"
          },
          "numberInServiceItem": {
            "type": "integer",
            "format": "int32",
            "description": "Settlement item number<br> Sequential settlement item number within a service item usually starting with 1 for the first settlement item of  a service item."
          },
          "chargeableQuantity": {
            "$ref": "#/components/schemas/BQuantityDTO"
          },
          "calcGenericIdentCode": {
            "type": "string",
            "description": "Ident code of the calculation type used for price calculation of the item."
          }
        }
      },
      "BContactDTO": {
        "type": "object",
        "description": "Contains data for contacting a person for Logistics Cost Management.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of contact.\n> `length=80`"
          },
          "phone": {
            "type": "string",
            "description": "Phone number.\n> `length=20`"
          },
          "fax": {
            "type": "string",
            "description": "Fax number.\n> `length=20`"
          },
          "email": {
            "type": "string",
            "description": "Email address.\n> `length=256`"
          }
        }
      },
      "BCreateServiceItemParmsDTO": {
        "type": "object",
        "description": "Detailed settings for service item creation.",
        "properties": {
          "calculatePriceImmediately": {
            "type": "boolean",
            "description": "Calculate the price immediately, and create immediately the settlement items.<br> If <code>false</code> the response does not include any prices."
          },
          "createSettlementsImmediately": {
            "type": "boolean",
[...]
