{
  "openapi": "3.0.1",
  "info": {
    "title": "Carrier Event Service",
    "description": "Thank you for using our HTTP API documentation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://xnsg.dc.aeb.com/demo1ces/rest"
    }
  ],
  "security": [
    {
      "SWAGGER_AUTH_KEY": []
    },
    {
      "BASIC_AUTH": []
    }
  ],
  "tags": [
    {
      "name": "PushAPIRestEndpoint",
      "description": "PushApi for carrier events."
    },
    {
      "name": "CarrierEventServiceBFBean",
      "description": "Carrier event service related business facade methods. Supports methods for shipments, events and configuration."
    },
    {
      "name": "CoreBFBean",
      "description": "API for the XNSGFoundation"
    },
    {
      "name": "FoundationAFBean",
      "description": "Business facade for the XNSGFoundation UI API"
    },
    {
      "name": "Logon",
      "description": "Authentication handler for the XNSGFoundation"
    },
    {
      "name": "DataFeedBFBean",
      "description": "DataFeedBFBean"
    },
    {
      "name": "ExternalTelemetryBFBean",
      "description": "API for sending telemetry data from a third party system."
    },
    {
      "name": "FoundationBFBean",
      "description": "REST endpoint for FoundationBF"
    },
    {
      "name": "RemoteAdminBFBean",
      "description": " Remote Administration tools use this methods. The main player are the Identity Access Manager (IAM) and the Installation Repository (IR)."
    },
    {
      "name": "SyncBFBean",
      "description": "API for synchronizing data asynchronous from an engine to a client system."
    },
    {
      "name": "Companies",
      "description": "Rest API for companies"
    },
    {
      "name": "WorkstationServiceAgent",
      "description": "Connection handler for the Workstation Service Agent"
    }
  ],
  "paths": {
    "/PushApi/v1/push": {},
    "/CarrierEventServiceBFBean/createShipments": {},
    "/CarrierEventServiceBFBean/deleteCarrierTrackingConfigurations": {},
    "/CarrierEventServiceBFBean/getAllConverterInformation": {},
    "/CarrierEventServiceBFBean/getEventsForReferenceNumber": {},
    "/CarrierEventServiceBFBean/getProvidedTrackingData": {},
    "/CarrierEventServiceBFBean/getShipmentsEvents": {
      "post": {
        "tags": [
          "CarrierEventServiceBFBean"
        ],
        "summary": "getShipmentsEvents",
        "description": "Returns the resolved events of the given shipments sorted by CESTrackingEventResponseDTO's eventDate in ascending order, taking the time zone into account.",
        "operationId": "getShipmentsEvents",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentsEventsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GetShipmentsEventsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShipmentsEventsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetShipmentsEventsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/CarrierEventServiceBFBean/getShipmentsEventsFiltered": {},
    "/CarrierEventServiceBFBean/getShipmentsWithEntryCertification": {},
    "/CarrierEventServiceBFBean/setCarrierTrackingConfigurations": {},
    "/CarrierEventServiceBFBean/synchronizeResolvedEvents": {
      "post": {
        "tags": [
          "CarrierEventServiceBFBean"
        ],
        "summary": "synchronizeResolvedEvents",
        "description": "Synchronizes all resolved events that have occurred since the last synchronization call.",
        "operationId": "synchronizeResolvedEvents",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SynchronizeResolvedEventsRequestDTO"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/SynchronizeResolvedEventsRequestDTO"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SynchronizeResolvedEventsResponseDTO"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SynchronizeResolvedEventsResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "BASIC_AUTH": []
          }
        ]
      }
    },
    "/CarrierEventServiceBFBean/testProviderConnection": {},
    "/CoreBFBean/checkBFFunctionExists": {},
    "/CoreBFBean/echo": {},
    "/CoreBFBean/echoUpperCase": {},
    "/CoreBFBean/getAllMonitoringValues": {},
    "/CoreBFBean/getBuildForSolution": {},
    "/CoreBFBean/getMonitoringValue": {},
    "/CoreBFBean/getProductInfo": {},
    "/CoreBFBean/getRuntimeInfo": {},
    "/CoreBFBean/getRuntimeState": {},
    "/CoreBFBean/getThreadDump": {},
    "/CoreBFBean/getVersionForSolution": {},
    "/CoreBFBean/restartRFCServer": {},
    "/FoundationAFBean/releaseApplicationFacade": {},
    "/FoundationAFBean/workplace": {},
    "/logon/authToken": {},
    "/logon/user": {},
    "/DataFeedBFBean/acknowledgePublishedDataFeedParts": {},
    "/DataFeedBFBean/dataFeedParts/{client}/{id}": {},
    "/DataFeedBFBean/getPublishedDataFeedParts": {},
    "/ExternalTelemetryBFBean/getStatus": {},
    "/ExternalTelemetryBFBean/status": {},
    "/ExternalTelemetryBFBean/telemetryReport": {},
    "/FoundationBFBean/acknowledgeFile": {},
    "/FoundationBFBean/announceStop": {},
    "/FoundationBFBean/cancelAnnounceStop": {},
    "/FoundationBFBean/changeAdminPassword": {},
    "/FoundationBFBean/client": {},
    "/FoundationBFBean/downloadFile": {},
    "/FoundationBFBean/generateClientIdentCode": {},
    "/FoundationBFBean/client/active": {},
    "/FoundationBFBean/monitoringValue": {},
    "/FoundationBFBean/solution/{name}/build": {},
    "/FoundationBFBean/downloadableFileRefs": {},
    "/FoundationBFBean/monitoringValue/{groupName}/{valueName}": {},
    "/FoundationBFBean/numberOfClients": {},
    "/FoundationBFBean/productInfo": {},
    "/FoundationBFBean/runtimeInfo": {},
    "/FoundationBFBean/scriptExecutionState": {},
    "/FoundationBFBean/tableUpdateState": {},
    "/FoundationBFBean/uploadSettings": {},
    "/FoundationBFBean/solution/{name}/version": {},
    "/FoundationBFBean/workplaceURL": {},
    "/FoundationBFBean/checkDebtorNumber": {},
    "/FoundationBFBean/roles": {},
    "/FoundationBFBean/roles/{clientIdentCode}": {},
    "/FoundationBFBean/restartRFCServer": {},
    "/FoundationBFBean/sendMail": {},
    "/FoundationBFBean/startScriptExecution": {},
    "/FoundationBFBean/startTableUpdate": {},
    "/FoundationBFBean/systemSearch/{language}": {},
    "/FoundationBFBean/uploadFileMultiPart": {},
    "/RemoteAdminBFBean/roles": {},
    "/SyncBFBean/acknowledgeEvents": {},
    "/SyncBFBean/getNotAcknowledgedEvents": {},
    "/SyncBFBean/getPartnerSystemSubscriptions": {},
    "/SyncBFBean/subscribePartnerSystem": {},
    "/SyncBFBean/synchronizeEvents": {},
    "/SyncBFBean/unsubscribePartnerSystem": {},
    "/companies/{id}": {},
    "/companies": {},
    "/company-roles": {},
    "/wssagent/connect": {},
    "/wssagent/connection/{id}": {},
    "/wssagent/status": {
      "get": {
        "tags": [
          "WorkstationServiceAgent"
        ],
        "description": "Returns response object with information about given workstation service agent.",
        "operationId": "status",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "details",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkstationSessionInfoDTO"
                }
              }
            }
          },
          "401": {
            "description": "Authentication is missing."
          }
        },
        "deprecated": true
      }
    }
  },
  "components": {
    "schemas": {
      "PushApiRequestContentDTO": {
        "type": "object",
        "properties": {
          "contentBase64": {
            "type": "string"
          }
        }
      },
      "PushApiRequestDTO": {
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/PushApiRequestContentDTO"
          }
        },
        "description": "DTO for sending data to the push api",
        "xml": {
          "name": "pushApiRequestDTO"
        }
      },
      "CESShipmentReferenceDTO": {
        "type": "object",
        "properties": {
          "shipmentNumber": {
            "maxLength": 20,
            "type": "string",
            "description": "Client unique shipmentNumber used to identify a shipment <p>length=20</p>",
            "example": "0181374"
          },
          "transactionId": {
            "maxLength": 250,
            "type": "string",
            "description": "ID uniquely referencing the corresponding business transaction in the host system.  <p> length = 250 </p>",
            "example": "WA1-100696235133571361984584754FZOD-2110"
          },
          "clientSystemId": {
            "maxLength": 20,
            "type": "string",
            "description": "Host system ID. The installation ID more precisely identifies the host system from which the shipping order was originally imported. Data for one client can be imported from different host systems. <p> length = 20 </p>",
            "example": "PS4_100"
          },
          "organizationUnitClientSystem": {
            "maxLength": 255,
            "type": "string",
            "description": "Additional organizational unit of the host system for further specification of the data source. <p> length = 255 </p>",
            "example": "AL_US"
          }
        },
        "description": "Reference that identifies a shipment"
      },
      "CreateShipmentsResponseDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "shipmentResponses": {
            "type": "array",
            "description": "The list of shipment references that were not created.",
            "items": {
              "$ref": "#/components/schemas/CreateShipmentsResponseItemDTO"
            }
          }
        },
        "description": "DTO for create shipments response",
        "xml": {
          "name": "createShipmentsResponseDTO"
        }
      },
      "CreateShipmentsResponseItemDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "True, if there are any error messages. If an error has occured the messages contain more details about the errors."
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "True, if there are any warning messages."
          },
          "messages": {
            "type": "array",
            "description": "Messages for the whole request, e.g. for errors or warnings.<br>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "shipmentReference": {
            "$ref": "#/components/schemas/CESShipmentReferenceDTO"
          }
        },
        "description": "Represents a response information for a certain shipment after a create request. Messages include warnings, infos or errors that occured when the shipment was processed."
      },
      "ResponseMessageDTO": {
        "type": "object",
        "properties": {
          "messageType": {
            "type": "string",
            "description": "<p>Message type</p><p>If not stated otherwise, the possible types are:</p><ul><li>ERROR</li><li>WARNING</li><li>INFO</li></ul><p>Maximum length: 50</p>",
            "example": "WARNING"
          },
          "messageIdentCode": {
            "type": "string",
            "description": "<p>Optional identification code for further classification of the message type.</p><p>Maximum length: 50</p>",
            "example": "5627"
          },
          "messageTexts": {
            "type": "array",
            "description": "<p>Detailed message texts in the requested languages.</p>",
            "items": {
              "$ref": "#/components/schemas/TextInLanguageDTO"
            }
          },
          "indentationLevel": {
            "type": "integer",
            "description": "<p>The indentation level of the message.</p><p>'0' indicates a top level message.</p>",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Result messages like errors or warnings."
      },
      "TextInLanguageDTO": {
        "type": "object",
        "properties": {
          "languageISOCode": {
            "type": "string",
            "description": "<p>2-letter ISO code of the language.</p><p>length=2</p>",
            "example": "en"
          },
          "text": {
            "type": "string",
            "description": "The translated text.",
            "example": "Some free-form text"
          }
        },
        "description": "A translated text in one of the specified languages."
      },
      "CESAdditionalReferenceDTO": {
        "required": [
          "referenceNumber"
        ],
        "type": "object",
        "properties": {
          "referenceNumber": {
            "$ref": "#/components/schemas/CESReferenceNumberDTO"
          },
          "trackingObjectReference": {
            "maxLength": 250,
            "type": "string",
            "description": "A reference to a CESTrackingObjectDTO in this shipment. This is the trackingNumber of the CESTrackingObjectDTO. If provided the reference number will also be linked to the tracking object. <p> length = 250 </p>",
            "nullable": true,
            "example": "AB486 083 50"
          }
        },
        "description": "Represents an additional reference field within a shipment request."
      },
      "CESAddressDTO": {
        "required": [
          "city",
          "countryISOCode",
          "street"
        ],
        "type": "object",
        "properties": {
          "street": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string",
            "description": "Street of the address. Is required because some validation requires streets. <p>length=40</p>",
            "example": "Sigmaringer Str. 109"
          },
          "postcode": {
            "maxLength": 10,
            "type": "string",
            "description": "Postcode of the address. Postcode is checked with the postcode format of the given country. <p>length=10</p>",
            "nullable": true,
            "example": "70567"
          },
          "city": {
            "maxLength": 40,
            "minLength": 1,
            "type": "string",
            "description": "City of the address. <p>length=40</p>",
            "example": "Stuttgart"
          },
          "countryISOCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "Country of address <p>length=2</p>",
            "example": "DE"
          },
          "stateRegion": {
            "maxLength": 40,
            "type": "string",
            "description": "The state or region <p>length=40</p>",
            "nullable": true,
            "example": "Baden-Württemberg"
          }
        },
        "description": "Address data"
      },
      "CESCarrierServiceDataDTO": {
        "required": [
          "carrierIdentCode",
          "serviceIdentCode"
        ],
        "type": "object",
        "properties": {
          "carrierIdentCode": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "Carrier of the shipment. <p>length=20</p>",
            "example": "DACHSER"
          },
          "serviceIdentCode": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "Service requested for the shipment. Service must be available within the carrier identified by carrierIdentCode. <p>length=20</p>",
            "example": "WEEKEND"
          }
        },
        "description": "DTO to identify the service of a carrier"
      },
      "CESReferenceNumberDTO": {
        "required": [
          "type",
          "value"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Defines the reference number type  Possible types are: <ul> <li>REFERENCE_NUMBER1 (deprecated)</li> <li>REFERENCE_NUMBER2</li> <li>CARRIER_SHIPMENT_NUMBER</li> <li>CARRIER_RETURN_SHIPMENT_NUMBER</li> <li>BULK_MASTER_SHIPMENT_NUMBER</li> <li>MASTER_AIRWAYBILL_NUMBER</li> <li>HOUSE_AIRWAYBILL_NUMBER</li> <li>PACKAGE_TRANSACTION_ID</li> <li>PACKAGE_REFERENCE_NUMBER1</li> <li>PACKAGE_REFERENCE_NUMBER2</li> <li>CARRIER_PACKAGE_NUMBER</li> <li>CARRIER_RETURN_PACKAGE_NUMBER</li> </ul>",
            "example": "REFERENCE_NUMBER2",
            "enum": [
              "REFERENCE_NUMBER2",
              "CARRIER_SHIPMENT_NUMBER",
              "CARRIER_RETURN_SHIPMENT_NUMBER",
              "BULK_MASTER_SHIPMENT_NUMBER",
              "MASTER_AIRWAYBILL_NUMBER",
              "HOUSE_AIRWAYBILL_NUMBER",
              "PACKAGE_TRANSACTION_ID",
              "PACKAGE_REFERENCE_NUMBER1",
              "PACKAGE_REFERENCE_NUMBER2",
              "CARRIER_PACKAGE_NUMBER",
              "CARRIER_RETURN_PACKAGE_NUMBER"
            ]
          },
          "value": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "The reference number value. <p> length = 50 </p>",
            "example": "AB-70450345835884517215-0809"
          }
        },
        "description": "Represents a given type and value of a referenceNumber. May also contain a reference to a tracking object, which can be used to tie this reference number to a tracking object in addition to a shipment."
      },
      "CESShipmentDTO": {
        "required": [
          "carrierService",
          "endAddress",
          "pickupTime",
          "referenceNumber1",
          "shipmentNumber",
          "startAddress",
          "trackingObjects"
        ],
        "type": "object",
        "properties": {
          "trackingObjects": {
            "type": "array",
            "description": "Tracking objects of the shipment At least one tracking object is required. Depending weather the carrier will provide tracking events  for each single package or on shipment level the  shipment has to be created with one tracking objects per package or with one tracking object for the shipment.",
            "items": {
              "$ref": "#/components/schemas/CESTrackingObjectDTO"
            }
          },
          "additionalReferences": {
            "type": "array",
            "description": "Additional reference numbers of the shipment or package <p>Since transmissions can have several reference numbers, it is possible to transfer further reference values. In the CES user interface, the shipment can then be searched with these these values.</p>",
            "items": {
              "$ref": "#/components/schemas/CESAdditionalReferenceDTO"
            }
          },
          "shipmentNumber": {
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "description": "ID uniquely referencing the corresponding business transaction in Carrier Connect. <p> length=20 </p>",
            "example": "0181374"
          },
          "clientSystemId": {
            "maxLength": 20,
            "type": "string",
            "description": "Host system ID. The installation ID more precisely identifies the host system from which the shipping order was imported. Data for one client can be imported from different host systems. <p> length = 20 </p>",
            "example": "PS4_100"
          },
          "organizationUnitClientSystem": {
            "maxLength": 255,
            "type": "string",
            "description": "Additional organizational unit of the client system for further specification of the data source. <p> length = 255 </p>",
            "example": "AL_US"
          },
          "transactionId": {
            "maxLength": 250,
            "type": "string",
            "description": "ID uniquely referencing the corresponding business transaction in the host system.  <p> length = 250 </p>",
            "example": "WA1-100696235133571361984584754FZOD-2110"
          },
          "referenceNumber1": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Reference number that assigns the shipment to a process in another system. <p> length=50 </p>",
            "example": "704503458358845172150809"
          },
          "startAddress": {
            "$ref": "#/components/schemas/CESAddressDTO"
          },
          "endAddress": {
            "$ref": "#/components/schemas/CESAddressDTO"
          },
          "pickupTime": {
            "$ref": "#/components/schemas/DateAndZoneDTO"
          },
          "carrierService": {
            "$ref": "#/components/schemas/CESCarrierServiceDataDTO"
          },
          "entryCertificateRequired": {
            "type": "boolean",
            "description": "If an entry certificate is required the necessary data will be transferred to content storage engine.",
            "example": false
          }
        },
        "description": "Represents a shipment"
      },
      "CESTrackingObjectDTO": {
        "required": [
          "trackingNumber",
          "type"
        ],
        "type": "object",
        "properties": {
          "trackingNumber": {
            "maxLength": 250,
            "minLength": 1,
            "type": "string",
            "description": "The almost unique tracking number of the carrier that is used to identify the package or shipment in the carriers world. This number is primarily used to link the carrier events to the  tracking object. <p> length = 250 </p>",
            "example": "AB486 083 50"
          },
          "isReturnTrackingObject": {
            "type": "boolean",
            "description": "Marks a tracking object as return tracking object (retoure)"
          },
          "type": {
            "type": "string",
            "description": "Type or trackingObject Possible types are: <ul> <li>SHIPMENT</li> <li>PACKAGE</li> </ul>",
            "example": "SHIPMENT",
            "enum": [
              "SHIPMENT",
              "PACKAGE"
            ]
          },
          "trackingStartTime": {
            "$ref": "#/components/schemas/DateAndZoneDTO"
          }
        },
        "description": "Represents a tracking object of a shipment. A tracking object might be either a package or a shipment."
      },
      "CreateShipmentsRequestDTO": {
        "required": [
          "shipments"
        ],
        "type": "object",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string",
              "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
              "example": "[\"en\",\"de\"]"
            }
          },
          "shipments": {
            "type": "array",
            "description": "Shipments to be created",
            "items": {
              "$ref": "#/components/schemas/CESShipmentDTO"
            }
          }
        },
        "description": "DTO for createShipments requests",
        "xml": {
          "name": "createShipmentsRequestDTO"
        }
      },
      "DateAndZoneDTO": {
        "type": "object",
        "properties": {
          "dateInTimezone": {
            "type": "string",
            "description": "<p>String representation of the date/time stamp in the format yyyy-MM-dd HH:mm:ss</p> <p>Length: 19</p>"
          },
          "timezone": {
            "type": "string",
            "description": "<p>Time zone of the time stamp.</p> <p>Examples of valid time zones: \"GMT+01:00\" or \"GMT-02:00\".</p> <p>Maximum length: 50</p>"
          }
        },
        "description": "Date and timezone."
      },
      "CESCarrierTrackingConfigurationReferenceDTO": {
        "type": "object",
        "properties": {
          "identCode": {
            "type": "string",
            "description": "Unique identCode of a carrier tracking configuration.",
            "example": "DACHSER_FTP"
          }
        },
        "description": "DTO to reference a CarrierTrackingConfiguration"
      },
      "DeleteCarrierTrackingConfigurationResponseItemDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "True, if there are any error messages. If an error has occured the messages contain more details about the errors."
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "True, if there are any warning messages."
          },
          "messages": {
            "type": "array",
            "description": "Messages for the whole request, e.g. for errors or warnings.<br>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "configurationReference": {
            "$ref": "#/components/schemas/CESCarrierTrackingConfigurationReferenceDTO"
          }
        },
        "description": "Item Response DTO for deleting carrier configuration"
      },
      "DeleteCarrierTrackingConfigurationsResponseDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "trackingConfigurations": {
            "type": "array",
            "description": "Summary of deleted configurations.",
            "items": {
              "$ref": "#/components/schemas/DeleteCarrierTrackingConfigurationResponseItemDTO"
            }
          }
        },
        "description": "DTO with the response for deleting CarrierTrackingConfigurations <p>For each CarrierTrackingConfiguration that was requested to be deleted a single response is provided with error texts if the delete operation was not successful.</p>",
        "xml": {
          "name": "deleteCarrierTrackingConfigurationsResponseDTO"
        }
      },
      "DeleteCarrierTrackingConfigurationsRequestDTO": {
        "type": "object",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string",
              "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
              "example": "[\"en\",\"de\"]"
            }
          },
          "trackingConfigurations": {
            "type": "array",
            "description": "References to configurations that should be deleted with this request.",
            "items": {
              "$ref": "#/components/schemas/CESCarrierTrackingConfigurationReferenceDTO"
            }
          }
        },
        "description": "DTO class for the number of carrier configurations that should be deleted in CES",
        "xml": {
          "name": "deleteCarrierTrackingConfigurationsRequestDTO"
        }
      },
      "CESConverterDescriptionTranslationDTO": {
        "required": [
          "languageISOCode"
        ],
        "type": "object",
        "properties": {
          "languageISOCode": {
            "type": "string",
            "description": "ISO code of the language of the description. <p>length=2</p>",
            "example": "de"
          },
          "description": {
            "maxLength": 250,
            "type": "string",
            "description": "The description of the converter <p>length=250</p>",
            "example": "Dachser Deutschland fixed length"
          }
        },
        "description": "Text Translataion DTO for the description of converters"
      },
      "CESConverterInformationDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "True, if there are any error messages. If an error has occured the messages contain more details about the errors."
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "True, if there are any warning messages."
          },
          "messages": {
            "type": "array",
            "description": "Messages for the whole request, e.g. for errors or warnings.<br>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "identifier": {
            "maxLength": 50,
            "type": "string",
            "description": "The identifier of the converter  <p>length=50</p>",
            "example": "DACHSER_DE_FIXEDLENGTH"
          },
          "mimetype": {
            "type": "string",
            "description": "The MIME type of the converter, e.g. 'EDIFACT', 'FIXEDLENGTH', 'JSON', 'XML'.",
            "example": "FIXEDLENGTH"
          },
          "charset": {
            "type": "string",
            "description": "The name of the charset used by the converter, e.g 'UTF-8'",
            "example": "UTF-8"
          },
          "descriptions": {
            "type": "array",
            "description": "Description of the converter for different languages",
            "items": {
              "$ref": "#/components/schemas/CESConverterDescriptionTranslationDTO"
            }
          }
        },
        "description": "DTO that identifies a converter"
      },
      "GetAllConverterInformationResponseDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "converter": {
            "type": "array",
            "description": "All converters in the system",
            "items": {
              "$ref": "#/components/schemas/CESConverterInformationDTO"
            }
          }
        },
        "description": "Response dto to get every converter in the system",
        "xml": {
          "name": "getAllConverterInformationResponseDTO"
        }
      },
      "GetAllConverterInformationRequestDTO": {
        "type": "object",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string",
              "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
              "example": "[\"en\",\"de\"]"
            }
          }
        },
        "description": "Request dto to get every converter in the system",
        "xml": {
          "name": "getAllConverterInformationRequestDTO"
        }
      },
      "CESAddressResponseDTO": {
        "type": "object",
        "properties": {
          "street": {
            "maxLength": 40,
            "type": "string",
            "description": "Street of the address. <p>length=40</p>",
            "example": "Sigmaringer Str. 109"
          },
          "postcode": {
            "maxLength": 10,
            "type": "string",
            "description": "Postcode of the address. <p>length=10</p>",
            "example": "70567"
          },
          "city": {
            "maxLength": 40,
            "type": "string",
            "description": "City of the address. <p>length=40</p>",
            "example": "Stuttgart"
          },
          "countryISOCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "Country of address <p>length=2</p>",
            "example": "DE"
          },
          "stateRegion": {
            "maxLength": 40,
            "type": "string",
            "description": "The state or region <p>length=40</p>",
            "example": "Baden-Württemberg"
          }
        },
        "description": "Address data to be provided in responses. @see CESAddressDTO"
      },
      "CESEventTextDTO": {
        "type": "object",
        "properties": {
          "standardEventText": {
            "type": "array",
            "description": "Standard name and description linked to event identCode provided in the requested languages",
            "items": {
              "$ref": "#/components/schemas/CEStandardEventTextDTO"
            }
          },
          "originalDescription": {
            "type": "string",
            "description": "Description text linked to originalIdentCode and originalReason of a tracking event.",
            "example": "Some original description from the carrier"
          }
        },
        "description": "DTO for event text explaining the event ident codes, originalCodes and originalReason"
      },
      "CESGeoCoordinatesResponseDTO": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "The decimal degree value of the latitude.  <p>length = 10, scale = 7</p>",
            "example": -6.2649875
          },
          "longitude": {
            "type": "number",
            "description": "The decimal degree value of the longitude.  <p>length = 10, scale = 7</p>",
            "example": 106.8766384
          }
        },
        "description": "Location data represented by geographic coordinates formatted as decimal degrees."
      },
      "CESLocationIdentifierResponseDTO": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "<p>The functional type of the identifier.</p> <p>Possible values: <ul> <li>IATAAIRPORTCODE</li> <li>UNLOCODE</li> <li>GENERIC</li> <li>CARRIER_LOCATION_CODE</li> </ul> </p>",
            "example": "UNLOCODE"
          },
          "value": {
            "type": "string",
            "description": "The value of the identifier. <p>length = 100</p>",
            "example": "KRSEL"
          }
        },
        "description": "Location data represented by an identifier"
      },
      "CESTrackingEventAdditionalDataDTO": {
        "type": "object",
        "properties": {
          "additionalDataType": {
            "type": "string",
            "description": "Type of the additional data. Possible types are:  <table> <tr><td>POD_SIGNATURE</td><td> Signature of a consignee, usually available on delivery events. </td></tr> <tr><td>MISCELLANEOUS</td><td> General additional information, notes or fields with value. It is possible to have more than one field of this type if there are different texts. </td></tr> <tr><td>MASTER_AIRWAYBILL_NUMBER</td><td> This tracking number identifies the cargo of a complete aircraft. </td></tr> <tr><td>HOUSE_AIRWAYBILL_NUMBER</td><td> This tracking number identifies a single shipping order. </td></tr> <tr><td>PORT_OF_LOADING_CODE</td><td> Port or airport code where the goods are loaded. </td></tr> <tr><td>PORT_OF_DISCHARGE_CODE</td><td> Port or airport code where the goods are unloaded. </td></tr> <tr><td>AIRLINE</td><td> The airline is a company that transports people or freight against payment. </td></tr> <tr><td>FLIGHT_NUMBER</td><td> The flight number is an ordinal number that is used to identify a specific flight connection of an airline. </td></tr> <tr><td>SCHENKERAIR_SST_NUMBER</td><td> Schenker Air specific type: SST number</td></tr> <tr><td>HOUSE_BILL_OF_LADING_NUMBER</td><td> EDIFACT qualifier BH, reference number assigned to a house bill of lading.</td></tr> <tr><td>IMPORTER_REFERENCE_NUMBER</td><td> EDIFACT qualifier ABQ</td></tr> <tr><td>PRIMARY_REFERENCE</td><td> EDIFACT qualifier AES</td></tr> <tr><td>SHIPMENT_REFERENCE_NUMBER</td><td> The shipment reference number. When tracking is on shipment, this might be the tracking number.</td></tr> <tr><td>HOUSE_SHIPMENT_REFERENCE</td><td> The house shipment reference number.</td></tr> <tr><td>CARRIER_NOTE</td><td> Note by the carrier.</td></tr> <tr><td>CONTAINER_NUMBER</td><td> The container number.</td></tr> <tr><td>VESSEL_NAME</td><td>  The vessel name can be used to identify a specific vessel.</td></tr> <tr><td>VOYAGE_NUMBER</td><td> The voyage number is an ordinal number that is used to identify a specific voyage of a vessel.</td></tr><tr><td>ETA</td><td> The ETA is a string containing a date/timestamp of the estimated time of arrival. The format of the string is based on the ISO 8601 standard and depends on the information provided by the carrier. It contains either, a date, a date time or a date time with time zone information. Example: 2021-11-30T13:37:01.87+01:00[Europe/Berlin]. </td></tr> <tr><td>TRANSPORT_TYPE</td><td> The transport type</td></tr>",
            "example": "CARRIER_NOTE"
          },
          "value": {
            "maxLength": 50,
            "type": "string",
            "description": "Value for this information type <p> length=50 </p>",
            "example": "Some carrier note"
          }
        },
        "description": "DTO with additional information provided for the carrier for the event"
      },
      "CESTrackingEventLocationResponseDTO": {
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/CESAddressResponseDTO"
          },
          "geoCoordinates": {
            "$ref": "#/components/schemas/CESGeoCoordinatesResponseDTO"
          },
          "identifier": {
            "$ref": "#/components/schemas/CESLocationIdentifierResponseDTO"
          },
          "description": {
            "type": "string",
            "description": "The event location description.",
            "example": "Some description of the location used by the carrier"
          }
        },
        "description": "DTO with location data for a tracking event. Fields and substructures only filled as provided."
      },
      "CESTrackingEventResponseDTO": {
        "type": "object",
        "properties": {
          "identCode": {
            "maxLength": 20,
            "type": "string",
            "description": "The standardized AEB ident code of the event. <p> length = 20 </p>",
            "example": "IOD"
          },
          "originalIdentCode": {
            "maxLength": 20,
            "type": "string",
            "description": "The original ident code of the event provided by the carrier. <p> length = 20 </p>",
            "example": "L420"
          },
          "originalReason": {
            "maxLength": 20,
            "type": "string",
            "description": "The original reason that the carrier has transmitted for the event. <p> length = 20 </p>",
            "example": "BZ"
          },
          "eventDate": {
            "$ref": "#/components/schemas/DateAndZoneDTO"
          },
          "originalLocation": {
            "$ref": "#/components/schemas/CESTrackingEventLocationResponseDTO"
          },
          "additionalData": {
            "type": "array",
            "description": "Depending on the type of the event additional information  could be linked to the event.",
            "items": {
              "$ref": "#/components/schemas/CESTrackingEventAdditionalDataDTO"
            }
          },
          "eventText": {
            "$ref": "#/components/schemas/CESEventTextDTO"
          }
        },
        "description": "DTO for the real event data."
      },
      "CEStandardEventTextDTO": {
        "type": "object",
        "properties": {
          "languageISOCode": {
            "type": "string",
            "description": "<p>2-letter ISO code of the language.</p><p>length=2</p>",
            "example": "en"
          },
          "name": {
            "type": "string",
            "description": "The translated name.",
            "example": "Delivered"
          },
          "description": {
            "type": "string",
            "description": "The translated description.",
            "example": "The shipment was delivered"
          }
        },
        "description": "DTO to provide the name and description in multiple languages"
      },
      "GetEventsForReferenceNumberResponseDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "trackingEvents": {
            "type": "array",
            "description": "Collection of events returned by the call without any tracking object or shipment context because tracking events might not be resolved.",
            "items": {
              "$ref": "#/components/schemas/CESTrackingEventResponseDTO"
            }
          }
        },
        "description": "Response DTO to get events for a reference number",
        "xml": {
          "name": "getEventsForReferenceNumberResponseDTO"
        }
      },
      "CESCarrierReferenceDTO": {
        "required": [
          "identCode"
        ],
        "type": "object",
        "properties": {
          "identCode": {
            "minLength": 1,
            "type": "string",
            "description": "The carrier's identCode.",
            "example": "DACHSER"
          }
        },
        "description": "DTO that encapsulates data to identify a carrier."
      },
      "GetEventsForReferenceNumberRequestDTO": {
        "required": [
          "carrier",
          "referenceNumber1"
        ],
        "type": "object",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string",
              "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
              "example": "[\"en\",\"de\"]"
            }
          },
          "referenceNumber1": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Reference number that assigns the shipment to a process in another system. <p> length=50 </p>",
            "example": "704503458358845172150809"
          },
          "carrier": {
            "$ref": "#/components/schemas/CESCarrierReferenceDTO"
          },
          "isStandardEventTextIncluded": {
            "type": "boolean",
            "description": "Controls, if the name and description that explain the identCode of the event is included in the response. If this option is set to true, there will be a name and a description for each requested language.",
            "example": true,
            "default": false
          },
          "isOriginalDescriptionIncluded": {
            "type": "boolean",
            "description": " Controls, if the description of the carriers codelist that explain the originalIdentCode and originalReasonn of the event is included in the response. If this option is set to true, there will be a name and a description for each requested language if available",
            "example": true,
            "default": false
          }
        },
        "description": "Request DTO to get events for a reference number",
        "xml": {
          "name": "getEventsForReferenceNumberRequestDTO"
        }
      },
      "CESProvidedTrackingDataMetaDataDTO": {
        "type": "object",
        "properties": {
          "digest": {
            "type": "string",
            "description": "Unique key of the CESProvidedTrackingData"
          },
          "trackingConfigurationIdentCode": {
            "type": "string",
            "description": "The identCode of the trackingConfiguration. This contains by convention the identcode of the carrier which gives\tkind of a hint of the original carrier."
          },
          "receivedAt": {
            "$ref": "#/components/schemas/DateAndZoneDTO"
          },
          "messageId": {
            "type": "string",
            "description": "MessagePoolId. Can give a hint about the file, but contains some guid elements to make the id unique, too."
          },
          "contentInfo": {
            "type": "string",
            "description": "CESProvidedTrackingData.contentInfo, e.g. \"PushApi\", or the converter identifier"
          },
          "contentType": {
            "type": "string",
            "description": "CESProvidedTrackingData.contentType, e.g. EDIFACT or CSV"
          },
          "contentSize": {
            "type": "integer",
            "description": "Size in byte of the binary content.",
            "format": "int64"
          },
          "contentSource": {
            "type": "string",
            "description": "Information about the technical source of the data content."
          }
        },
        "description": "Meta data of a CESProvidedTrackingData"
      },
      "CESProvidedTrackingDataResponseDTO": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "description": "Base64 encoded file content",
            "items": {
              "type": "string",
              "description": "Base64 encoded file content",
              "format": "byte"
            }
          },
          "charset": {
            "type": "string",
            "description": "The Charset to be used for decoding the content"
          },
          "mimetype": {
            "type": "string",
            "description": "The MIMEType"
          },
          "metaData": {
            "$ref": "#/components/schemas/CESProvidedTrackingDataMetaDataDTO"
          }
        },
        "description": "DTO for a CESProvidedTrackingData"
      },
      "GetProvidedTrackingDataResponseDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "providedTrackingData": {
            "$ref": "#/components/schemas/CESProvidedTrackingDataResponseDTO"
          }
        },
        "description": "Response DTO for a request for CESProvidedTrackingData.",
        "xml": {
          "name": "getProvidedTrackingDataResponseDTO"
        }
      },
      "GetProvidedTrackingDataRequestDTO": {
        "required": [
          "configurationIdentCode",
          "digest"
        ],
        "type": "object",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string",
              "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
              "example": "[\"en\",\"de\"]"
            }
          },
          "digest": {
            "maxLength": 40,
            "minLength": 40,
            "type": "string",
            "description": "Unique key of the providedTrackingData",
            "example": "860b45684132229313d9e20b13806a78a10831fa"
          },
          "configurationIdentCode": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Identifier of the Tracking configuration.",
            "example": "DHLEXPINT_DHL_EXPRESS_DE_FFSTAT4.0.0"
          }
        },
        "description": "Request DTO to request CESProvidedTrackingData",
        "xml": {
          "name": "getProvidedTrackingDataRequestDTO"
        }
      },
      "CESShipmentEventResponseDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "True, if there are any error messages. If an error has occured the messages contain more details about the errors."
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "True, if there are any warning messages."
          },
          "messages": {
            "type": "array",
            "description": "Messages for the whole request, e.g. for errors or warnings.<br>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "shipmentReference": {
            "$ref": "#/components/schemas/CESShipmentReferenceDTO"
          },
          "referenceNumber1": {
            "type": "string",
            "description": "Reference number that assigns the shipment to a process in another system.",
            "example": "704503458358845172150809"
          },
          "trackingObjects": {
            "type": "array",
            "description": "Tracking objects associated with this shipment.",
            "items": {
              "$ref": "#/components/schemas/CESTrackingObjectResponseDTO"
            }
          }
        },
        "description": "DTO for the shipment containing tracking objects with its events."
      },
      "CESTrackingObjectResponseDTO": {
        "type": "object",
        "properties": {
          "trackingNumber": {
            "maxLength": 250,
            "type": "string",
            "description": "The almost unique tracking number of the carrier that is used to identify the package or shipment in the carriers world. <p> length = 250 </p>",
            "example": "AB486 083 50"
          },
          "isReturnTrackingObject": {
            "type": "boolean",
            "description": "True when the tracking object is a return tracking object (retoure), else false"
          },
          "trackingObjectType": {
            "type": "string",
            "description": "Type or trackingObject Possible types are: <ul> <li>SHIPMENT</li> <li>PACKAGE</li> </ul>",
            "example": "SHIPMENT"
          },
          "trackingStart": {
            "$ref": "#/components/schemas/DateAndZoneDTO"
          },
          "trackingFinish": {
            "$ref": "#/components/schemas/DateAndZoneDTO"
          },
          "trackingEvents": {
            "type": "array",
            "description": "The list of tracking events associated with this tracking object. It is returned sorted by date in ascending order, taking the time zone into account.",
            "items": {
              "$ref": "#/components/schemas/CESTrackingEventResponseDTO"
            }
          }
        },
        "description": "DTO for tracking object with its tracking events."
      },
      "GetShipmentsEventsResponseDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "shipments": {
            "type": "array",
            "description": "Collection of shipments responses containing tracking objects and event lists.",
            "items": {
              "$ref": "#/components/schemas/CESShipmentEventResponseDTO"
            }
          }
        },
        "description": "Response DTO for a request for shipment events.",
        "xml": {
          "name": "getShipmentsEventsResponseDTO"
        }
      },
      "GetShipmentsEventsRequestDTO": {
        "type": "object",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string",
              "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
              "example": "[\"en\",\"de\"]"
            }
          },
          "shipmentReferences": {
            "type": "array",
            "description": "References representing shipments. An event list should be returned for each reference provided.",
            "items": {
              "$ref": "#/components/schemas/CESShipmentReferenceDTO"
            }
          },
          "isStandardEventTextIncluded": {
            "type": "boolean",
            "description": "Controls, if the name and description that explain the identCode of the event is included in the response. If this option is set to true, there will be a name and a description for each requested language",
            "example": true,
            "default": false
          },
          "isOriginalDescriptionIncluded": {
            "type": "boolean",
            "description": " Controls, if the description of the carriers codelist that explain the originalIdentCode and originalReasonn of the event is included in the response. If this option is set to true, there will be a name and a description for each requested language if available",
            "example": true,
            "default": false
          }
        },
        "description": "Request DTO to request events for shipment references.",
        "xml": {
          "name": "getShipmentsEventsRequestDTO"
        }
      },
      "GetShipmentsEventsFilteredResponseDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "shipments": {
            "type": "array",
            "description": "Collection of shipments responses containing tracking objects and event lists.",
            "items": {
              "$ref": "#/components/schemas/CESShipmentEventResponseDTO"
            }
          }
        },
        "description": "The response for getShipmentEventsFiltered method",
        "xml": {
          "name": "getShipmentsEventsFilteredResponseDTO"
        }
      },
      "GetShipmentsEventsFilteredRequestDTO": {
        "required": [
          "filter"
        ],
        "type": "object",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string",
              "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
              "example": "[\"en\",\"de\"]"
            }
          },
          "filter": {
            "$ref": "#/components/schemas/ShipmentsEventsFilterDTO"
          },
          "maxShipments": {
            "maximum": 1000,
            "type": "integer",
            "description": "The maximum number of shipments to be returned.  If no value is specified, a default of 100 is assumed. The maximum allowed value is 1000. <p> length=4 </p>",
            "format": "int32",
            "example": 10,
            "default": 100
          },
          "isStandardEventTextIncluded": {
            "type": "boolean",
            "description": "Controls, if the name and description that explain the identCode of the event is included in the response. If this option is set to true, there will be a name and a description for each requested language",
            "example": true,
            "default": false
          },
          "isOriginalDescriptionIncluded": {
            "type": "boolean",
            "description": "Controls, if the description of the carriers codelist that explain the originalIdentCode and originalReason of the event is included in the response. If this option is set to true, there will be a name and a description for each requested language if available",
            "example": true,
            "default": false
          }
        },
        "description": "Request DTO for getSchipmetsEventsFiltered method",
        "xml": {
          "name": "getShipmentsEventsFilteredRequestDTO"
        }
      },
      "ShipmentsEventsFilterDTO": {
        "type": "object",
        "properties": {
          "referenceNumbers1": {
            "type": "array",
            "description": "Considers shipment reference number 1  <p> length=50 </p>",
            "example": [
              7.045034583588452e+23,
              7.045034583588452e+23
            ],
            "items": {
              "type": "string",
              "description": "Considers shipment reference number 1  <p> length=50 </p>",
              "example": "[704503458358845172150809,704503458358845172150810]"
            }
          }
        },
        "description": "DTO to set a filter for shipment events query"
      },
      "CESShipmentWithEntryCertificationDTO": {
        "type": "object",
        "properties": {
          "shipmentNumber": {
            "maxLength": 20,
            "type": "string",
            "description": "Client unique shipmentNumber used to identify a shipment <p>length=20</p>",
            "example": "0181374"
          },
          "entryCertificateDate": {
            "type": "string",
            "description": "Entry certification date of the shipment. <p>String representation of the date/time stamp in the format yyyy-MM-dd HH:mm:ss</p> <p>Length: 19</p>",
            "example": "2007-12-03 10:15:30"
          }
        },
        "description": "Represents a shipment with shipment number and entry certification date."
      },
      "GetShipmentsWithEntryCertificationResponseDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "shipmentsWithEntryCert": {
            "type": "array",
            "description": "Collection of shipments responses containing shipment number and entry certification date.",
            "items": {
              "$ref": "#/components/schemas/CESShipmentWithEntryCertificationDTO"
            }
          },
          "syncId": {
            "type": "string",
            "description": "Sync ID to be used for the next getShipmentsWithEntryCertification call.",
            "example": "1.695984779547969E9"
          },
          "isComplete": {
            "type": "boolean",
            "description": "True, if the synchronization is complete and currently no further events are available. False if not.",
            "example": false
          }
        },
        "description": "Response DTO for a request for getShipmentsWithEntryCertification.",
        "xml": {
          "name": "getShipmentsWithEntryCertificationResponseDTO"
        }
      },
      "GetShipmentsWithEntryCertificationRequestDTO": {
        "type": "object",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string",
              "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
              "example": "[\"en\",\"de\"]"
            }
          },
          "syncId": {
            "type": "string",
            "description": "Sync ID for the getShipmentsWithEntryCertificationRequest call.",
            "example": "1.695984779547969E9"
          }
        },
        "description": "Request DTO for a request for getShipmentsWithEntryCertificationRequest.",
        "xml": {
          "name": "getShipmentsWithEntryCertificationRequestDTO"
        }
      },
      "SetCarrierTrackingConfigurationResponseDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "trackingConfigurations": {
            "type": "array",
            "description": "Summary of a single created configuration.",
            "items": {
              "$ref": "#/components/schemas/SetCarrierTrackingConfigurationResponseItemDTO"
            }
          }
        },
        "description": "Main Response DTO for setting carrier configuration",
        "xml": {
          "name": "setCarrierTrackingConfigurationResponseDTO"
        }
      },
      "SetCarrierTrackingConfigurationResponseItemDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "True, if there are any error messages. If an error has occured the messages contain more details about the errors."
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "True, if there are any warning messages."
          },
          "messages": {
            "type": "array",
            "description": "Messages for the whole request, e.g. for errors or warnings.<br>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "configurationReference": {
            "$ref": "#/components/schemas/CESCarrierTrackingConfigurationReferenceDTO"
          }
        },
        "description": "Item Response DTO for setting carrier configuration"
      },
      "CESCarrierTrackingConfigurationDTO": {
        "type": "object",
        "properties": {
          "configurationReference": {
            "$ref": "#/components/schemas/CESCarrierTrackingConfigurationReferenceDTO"
          },
          "carrier": {
            "$ref": "#/components/schemas/CESCarrierReferenceDTO"
          },
          "carrierName": {
            "maxLength": 50,
            "type": "string",
            "description": "The carrier's name. <p>length=50</p>",
            "example": "Dachser Landverkehr Deutschland"
          },
          "isActive": {
            "type": "boolean",
            "description": "Flags that the MessagePool processes that will be assigned to this configuration will be started/stopped."
          },
          "trackingDefinition": {
            "type": "array",
            "description": "The serialized data format of a carrier tracking definition configuration.",
            "items": {
              "type": "string",
              "description": "The serialized data format of a carrier tracking definition configuration.",
              "format": "byte"
            }
          },
          "providerDefinition": {
            "type": "array",
            "description": "The serialized data format of a carrier provider definition configuration.",
            "items": {
              "type": "string",
              "description": "The serialized data format of a carrier provider definition configuration.",
              "format": "byte"
            }
          },
          "providerSetup": {
            "type": "array",
            "description": "The serialized data format of a carrier provider setup configuration.",
            "items": {
              "type": "string",
              "description": "The serialized data format of a carrier provider setup configuration.",
              "format": "byte"
            }
          },
          "converterDefinition": {
            "type": "array",
            "description": "The serialized data format of a carrier converter definition configuration.",
            "items": {
              "type": "string",
              "description": "The serialized data format of a carrier converter definition configuration.",
              "format": "byte"
            }
          }
        },
        "description": "DTO class that encapsulates all configuration data to create one process chain for a given carrier, data provider, converter and recoding."
      },
      "SetCarrierTrackingConfigurationRequestDTO": {
        "type": "object",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string",
              "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
              "example": "[\"en\",\"de\"]"
            }
          },
          "trackingConfigurations": {
            "type": "array",
            "description": "Array of tracking configurations to create or update. A size of 0 is discouraged.",
            "items": {
              "$ref": "#/components/schemas/CESCarrierTrackingConfigurationDTO"
            }
          }
        },
        "description": "Request for creating/updating CESCarrierTrackingConfiguration and derived data. It is possible to transmit more than one configuration.",
        "xml": {
          "name": "setCarrierTrackingConfigurationRequestDTO"
        }
      },
      "CESSynchronizeResolvedEventDTO": {
        "required": [
          "referenceNumber1",
          "shipmentReference"
        ],
        "type": "object",
        "properties": {
          "trackingNumber": {
            "type": "string",
            "description": "Tracking number of the event. This is a the unique number that is generated to identify the tracking object in the carriers delivery process.",
            "example": "AB486 083 50"
          },
          "trackingObjectType": {
            "type": "string",
            "description": "Type of the trackingObject. Possible types are: <ul><li>SHIPMENT</li><li>PACKAGE</li></ul>",
            "example": "SHIPMENT"
          },
          "eventData": {
            "$ref": "#/components/schemas/CESTrackingEventResponseDTO"
          },
          "carrier": {
            "$ref": "#/components/schemas/CESCarrierReferenceDTO"
          },
          "shipmentReference": {
            "$ref": "#/components/schemas/CESShipmentReferenceDTO"
          },
          "referenceNumber1": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Reference number that assigns the shipment to a process in another system. <p> length=50 </p>",
            "example": "704503458358845172150809"
          },
          "additionalReferences": {
            "type": "array",
            "description": "Additional reference numbers of the shipment or package. Since tracking objects can have several reference numbers, it is possible to transfer further reference values.",
            "items": {
              "$ref": "#/components/schemas/CESReferenceNumberDTO"
            }
          },
          "providedTrackingDataMetaData": {
            "$ref": "#/components/schemas/CESProvidedTrackingDataMetaDataDTO"
          },
          "digest": {
            "maxLength": 40,
            "type": "string",
            "description": "Unique key of the tracking event within the client. <p> length=40 </p>",
            "example": "ff0192abded20f6f69b23713e1fba775bf2b5221"
          }
        },
        "description": "DTO for the resolved event with context information to enable assignment of the event to a certain business object."
      },
      "SynchronizeResolvedEventsResponseDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>",
            "example": false
          },
          "hasOnlyRetryableErrors": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "hasWarnings": {
            "type": "boolean",
            "description": "<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>",
            "example": true
          },
          "messages": {
            "type": "array",
            "description": "<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>",
            "items": {
              "$ref": "#/components/schemas/ResponseMessageDTO"
            }
          },
          "syncId": {
            "type": "string",
            "description": "Synchronization ID for delta-transmission. <p>Use this syncId in subsequent calls to delta-transmission of changes.</p><p>However, this syncId may be null if no events are found and SynchronizeResolvedEventsResponseDTO's events is an empty array. In this case use the last NOT NULL syncId returned in this field.</p><p>length=20</p>"
          },
          "isComplete": {
            "type": "boolean",
            "description": "True, if the synchronization is complete and currently no further events are available. False if not.",
            "example": false
          },
          "events": {
            "type": "array",
            "description": "The resulting events, matching the requested parameters. <p>To get ALL events make repeated calls, always passing the last returned SynchronizeResolvedEventsResponseDTO's syncId in the next call with SynchronizeResolvedEventsRequestDTO's syncId.</p>",
            "items": {
              "$ref": "#/components/schemas/CESSynchronizeResolvedEventDTO"
            }
          }
        },
        "description": "DTO with result to synchronize resolved events",
        "xml": {
          "name": "synchronizeResolvedEventsResponseDTO"
        }
      },
      "SynchronizeResolvedEventsRequestDTO": {
        "type": "object",
        "properties": {
          "clientSystemId": {
            "type": "string",
            "description": "<p>Id of the sending client system.</p><p>e.g. Installation ID of the sending host or ERP system.</p><p>Maximum length: 20</p>",
            "example": "TEST_ID"
          },
          "clientIdentCode": {
            "type": "string",
            "description": "<p>Client identification code.</p><p>Maximum length: 10</p>",
            "example": "APITEST"
          },
          "userName": {
            "type": "string",
            "description": "<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>",
            "example": "API_TEST"
          },
          "resultLanguageIsoCodes": {
            "type": "array",
            "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
            "example": [
              "en",
              "de"
            ],
            "items": {
              "type": "string",
              "description": "<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>",
              "example": "[\"en\",\"de\"]"
            }
          },
          "syncId": {
            "maxLength": 20,
            "type": "string",
            "description": "Synchronization ID for delta-transmission. <p>Pass this field with the value returned in SynchronizeResolvedEventsResponseDTO's syncId. For initializing of delta-transmissions pass simply null and use ageInDays.</p><p>length=20</p>"
          },
          "ageInDays": {
            "type": "integer",
            "description": "Only for the initializing of delta-transmissions (if SynchronizeResolvedEventsRequestDTO's syncId is null) this field has to be passed. <p>Start the initializing of delta transmission with this age. Older events will not be synchronized. Journal entries are deleted after 30 days. Events whose processing lies further in the past are no longer synchronized.</p>",
            "format": "int32",
            "example": 30
          },
          "blockSize": {
            "type": "integer",
            "description": "For defining the block size. Can be null. If empty the default block size of 200 is used.",
            "format": "int32",
            "nullable": true,
            "default": 200
          },
          "isStandardEventTextIncluded": {
            "type": "boolean",
            "description": "Controls, if the name and description that explain the identCode of the event is included in the response. If this option is set to true, there will be a name and a description for each requested language.",
            "example": true,
            "default": false
          },
          "isOriginalDescriptionIncluded": {
            "type": "boolean",
            "description": "Controls, if the description of the carriers codelist that explain the originalIdentCode and originalReason of the event is included in the response. If this option is set to true, there will be a description in the language that depends on the carrier.",
            "example": true,
            "default": false
          }
        },
        "description": "DTO with parms to synchronize resolved events",
        "xml": {
          "name": "synchronizeResolvedEventsRequestDTO"
        }
      },
      "TestProviderConnectionResponseDTO": {
        "type": "object",
        "properties": {
          "hasErrors": {
            "type": "boolean",
[...]
