{"openapi":"3.0.1","info":{"title":"Visibility & Collaboration Platform HTTP API","description":"Thank you for using our HTTP API documentation. Please do not use Microsoft Edge on this page. Microsoft Edge will not return responses properly when you try them out.","version":"4.0"},"servers":[{"url":"https://rz3.aeb.de/demo1ma/rest"}],"security":[{"SWAGGER_AUTH_KEY":[]},{"BASIC_AUTH":[]}],"tags":[{"name":"SyncBFBean","description":"Business facade for synchronizing data asynchronous from an engine to a client system."},{"name":"LISBF20Bean","description":"Business facade for LIS, version 2.0"},{"name":"LogisticsMessageHubBFBean","description":"The interface of the LMH to put, get and acknowledge logistics messages."},{"name":"SISBFBean","description":"Business facade for SIS"},{"name":"TSMBFBean","description":"Business Facade for TSM"}],"paths":{"/cloudagent/connect":{"get":{"operationId":"connect","responses":{"default":{"description":"default response","content":{"text/plain":{"schema":{"type":"string"}}}}}},"delete":{"operationId":"disconnect","parameters":[{"name":"id","in":"query","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"*/*":{}}}}}},"/logon/user":{"post":{"operationId":"logonUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserClientLoginDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogonResponse"}}}}}}},"/logon/authToken":{"get":{"operationId":"authToken","responses":{"default":{"description":"default response","content":{"text/plain":{}}}}}},"/SyncBFBean/getNotAcknowledgedEvents":{"post":{"tags":["SyncBFBean"],"description":"Poll any not acknowledged events for the client system.<br> This method does not require, that the client system fills {@link SyncEventsRequestDTO#syncId}.<br> However, it requires, that a call to {@link #acknowledgeEvents(AcknowledgeEventsRequestDTO)} is done for acknowledge of the events.<br> Since XNSG 4.0, Nov. FP, 2017<br>","operationId":"getNotAcknowledgedEvents","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncEventsRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncEventsResponseDTO"}}}}}}},"/SyncBFBean/synchronizeEvents":{"post":{"tags":["SyncBFBean"],"description":"Poll the next events for the client system.<br> This method requires the client system to persist the synchronisation state itself and passing a proper value for {@link SyncEventsRequestDTO#syncId}<br> See {@link #getNotAcknowledgedEvents(SyncEventsRequestDTO)} for a version of the method, were the syncronisation state is kept within the Engine.","operationId":"synchronizeEvents","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncEventsRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SyncEventsResponseDTO"}}}}}}},"/SyncBFBean/acknowledgeEvents":{"post":{"tags":["SyncBFBean"],"description":"Acknowledge events got with {@link #getNotAcknowledgedEvents(SyncEventsRequestDTO)}.<br> Since XNSG 4.0, Nov. FP, 2017<br>","operationId":"acknowledgeEvents","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcknowledgeEventsRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcknowledgeEventsResponseDTO"}}}}}}},"/LISBF20Bean/receivePhysicalTransport":{"post":{"tags":["LISBF20Bean"],"summary":"receivePhysicalTransport","description":"Receive a \"Physical Transport\" message.","operationId":"receivePhysicalTransport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISPhysicalTransport20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/receiveTrackingEventList":{"post":{"tags":["LISBF20Bean"],"summary":"receiveTrackingEventList","description":"Receive a \"Tracking event list\" message. This is a list containing multiple tracking events.","operationId":"receiveTrackingEventList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISTrackingEventList20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/receiveMaterialMasterFile":{"post":{"tags":["LISBF20Bean"],"summary":"receiveMaterialMasterFile","description":"Receive a \"MaterialMasterFile\" message. This creates a master data entries for materials.","operationId":"receiveMaterialMasterFile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISMaterialMasterFileDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/receiveConsignmentWithTransports":{"post":{"tags":["LISBF20Bean"],"summary":"receiveConsignmentWithTransports","description":"Receive a \"ConsignmentWithTransports\" message. This creates a shipment in the system.","operationId":"receiveConsignmentWithTransports","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISConsignmentWithTransports20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/receiveAreaDependSchedule":{"post":{"tags":["LISBF20Bean"],"summary":"receiveAreaDependSchedule","description":"Receive a \"Area depend schedule\" message. This creates a area depend schedule in the system.","operationId":"receiveAreaDependSchedule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISAreaDependScheduleDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/receiveEventCodeList":{"post":{"tags":["LISBF20Bean"],"summary":"receiveEventCodeList","description":"Receive a \"Event code list\" message.","operationId":"receiveEventCodeList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISEventCodeListDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/receiveTransportUnit":{"post":{"tags":["LISBF20Bean"],"summary":"receiveTransportUnit","description":"Receive a \"TransportUnit\" message.","operationId":"receiveTransportUnit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISTransportUnit20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/receiveTrackingObjectDocuments":{"post":{"tags":["LISBF20Bean"],"summary":"receiveTrackingObjectDocuments","description":"Receive a \"TrackingObjectDocument\" message.","operationId":"receiveTrackingObjectDocuments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISTrackingObjectDocuments20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/receiveHandlingUnits":{"post":{"tags":["LISBF20Bean"],"summary":"receiveHandlingUnits","description":"Receive a \"HandlingUnits\" message. That message can contain one or more handling units at the same time.","operationId":"receiveHandlingUnits","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISHandlingUnitReceiveRequest20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/resetConsignmentWithTransports":{"post":{"tags":["LISBF20Bean"],"summary":"resetConsignmentWithTransports","description":"Reset the status of a LISConsignment and all its transports.","operationId":"resetConsignmentWithTransports","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISConsignmentReferenceWithClientDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/getOrderFulfillmentPlans":{"post":{"tags":["LISBF20Bean"],"summary":"getOrderFulfillmentPlans","description":"Returns all order fulfillment plans for the given requestDTO. The order fulfilment steps of a plan come sorted by their sequence number. The events of a step come partially sorted. The milestone events sorted by their sort number. Then the monitored events unsorted.","operationId":"getOrderFulfillmentPlans","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISOrderFulfillmentRequest20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISOrderFulfillmentResult20DTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/getQuickSearchResult":{"post":{"tags":["LISBF20Bean"],"summary":"getQuickSearchResult","description":"Perform a quick search for the given requestDTO.\n The search will deliver the same results that would be obtained when a search term (reference number) would be entered in the quick search application GUI (located in the assistent pane of the Assist4Monitoring & Alerting desktop). Therefore the user's settings of the user specified in the requestDTO will be applied while conducting the search.","operationId":"getQuickSearchResult","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISQuickSearchRequest20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISExpQuickSearchResult20DTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/getUniqueConsignment":{"post":{"tags":["LISBF20Bean"],"summary":"getUniqueConsignment","description":"Returns detailed information of a single consignment referenced in the requestDTO","operationId":"getUniqueConsignment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISUniqueConsignmentRequest20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISExpConsignment20DTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/getTrackingObjectEvents":{"post":{"tags":["LISBF20Bean"],"summary":"getTrackingObjectEvents","description":"Returns the events of a single tracking object referenced in the requestDTO. The allowed tracking object types in the reference DTO are 'CONS' and 'HANDUNIT'.","operationId":"getTrackingObjectEvents","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISTrackingObjectEventRequest20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISExpTrackingObjectEventList20DTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/getEventDefinitions":{"post":{"tags":["LISBF20Bean"],"summary":"getEventDefinitions","description":"Returns all event definitions found for the given requestDTO.","operationId":"getEventDefinitions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISEventDefinitionRequest20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LISEventDefinition20DTO"}}}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/receiveOrder":{"post":{"tags":["LISBF20Bean"],"summary":"receiveOrder","description":"Receive a \"Order\" message. This creates an order in the system.","operationId":"receiveOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISOrder20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/receiveConsignment":{"post":{"tags":["LISBF20Bean"],"summary":"receiveConsignment","description":"Receive a \"Consignment\" message. This creates a consignment in the system.","operationId":"receiveConsignment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISConsignment20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/receiveTransport":{"post":{"tags":["LISBF20Bean"],"summary":"receiveTransport","description":"Receive a \"Transport\" message. This creates a Transport in the system.","operationId":"receiveTransport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISTransport20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/syncConsignments":{"post":{"tags":["LISBF20Bean"],"summary":"syncConsignments","description":"Allows the synchronization of client system transactions with the engine consignments. By the use of a `syncId` it is possible to return only `consignments` that have changed between two `syncConsignment` calls.","operationId":"syncConsignments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISConsignmentSyncRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISConsignmentSyncResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/lisBfDummyMethod":{"post":{"tags":["LISBF20Bean"],"summary":"lisBfDummyMethod","description":"Dummy method for testing.","operationId":"lisBfDummyMethod","parameters":[{"name":"argument","in":"query","description":"argument","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/text":{"schema":{"type":"string"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/calculateTargetTime":{"post":{"tags":["LISBF20Bean"],"summary":"calculateTargetTime","description":"Determines the event chain for the given plan and performs a backward calculation starting with the given delivery date in the request. The resulting shipping date is returned in the response.","operationId":"calculateTargetTime","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetTimeCalculationRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetTimeCalculationResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/getTrackingEvents":{"post":{"tags":["LISBF20Bean"],"summary":"getTrackingEvents","description":"Returns all tracking events for the given requestDTO.","operationId":"getTrackingEvents","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISTrackingEventExportRequest20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISExpTrackingEventList20DTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/getConsignments":{"post":{"tags":["LISBF20Bean"],"summary":"getConsignments","description":"Returns a list of consignments for the given requestDTO","operationId":"getConsignments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISConsignmentRequest20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISExpConsignmentList20DTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/receiveTrackingEvent":{"post":{"tags":["LISBF20Bean"],"summary":"receiveTrackingEvent","description":"Receive a \"Tracking event\" message. This creates a tracking event in the system.","operationId":"receiveTrackingEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISTrackingEvent20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}},"security":[{"BASIC_AUTH":[]}]}},"/LISBF20Bean/receiveMultiReferenceTrackingObjectDocuments":{"post":{"tags":["LISBF20Bean"],"summary":"receiveMultiReferenceTrackingObjectDocuments","description":"Receive a \"TrackingObjectDocument\" message with multiple references.","operationId":"receiveMultiReferenceTrackingObjectDocuments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LISMultiReferenceTrackingObjectDocuments20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}},"security":[{"BASIC_AUTH":[]}]}},"/LogisticsMessageHubBFBean/acknowledgeShippingOrder":{"post":{"tags":["LogisticsMessageHubBFBean"],"description":"Set the state of a message (got with getShippingOrder) to \"OK\", \"ERROR\" or \"RETRY\".","operationId":"acknowledgeShippingOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LMHMessageAcknowledgeDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/LogisticsMessageHubBFBean/acknowledgeTrackingEvent":{"post":{"tags":["LogisticsMessageHubBFBean"],"description":"Set the state of a message (got with getShippingOrder) to \"OK\", \"ERROR\" or \"RETRY\".","operationId":"acknowledgeTrackingEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LMHMessageAcknowledgeDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/LogisticsMessageHubBFBean/acknowledgeEdifactInvoice":{"post":{"tags":["LogisticsMessageHubBFBean"],"description":"Set the state of a message (got with getEdifactInvoice) to \"OK\", \"ERROR\" or \"RETRY\".","operationId":"acknowledgeEdifactInvoice","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LMHMessageAcknowledgeDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/LogisticsMessageHubBFBean/putShippingOrder":{"post":{"tags":["LogisticsMessageHubBFBean"],"description":"A client of the LMH calls this method to put shipping order message into the hub.","operationId":"putShippingOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LMHPutShippingOrderDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/LogisticsMessageHubBFBean/getShippingOrder":{"post":{"tags":["LogisticsMessageHubBFBean"],"description":"A client of the LMH calls this method to get shipping order messages from the hub. After this, the state of the message is \"FETCHED\" and the client should call acknowledgeShippingOrder after processing the message to set the state of the message to \"OK\", \"ERROR\" or \"RETRY\".","operationId":"getShippingOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LMHMessageFilterDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LMHGetShippingOrderDTO"}}}}}}},"/LogisticsMessageHubBFBean/putTrackingEvent20":{"post":{"tags":["LogisticsMessageHubBFBean"],"description":"A client of the LMH calls this method to put a trackingevent message into the hub.","operationId":"putTrackingEvent20","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LMHPutTrackingEvent20DTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/LogisticsMessageHubBFBean/getTrackingEvent20":{"post":{"tags":["LogisticsMessageHubBFBean"],"description":"A client of the LMH calls this method to get tracking event messages from the hub. After this, the state of the message is \"FETCHED\" and the client should call acknowledgeTrackingEvent after processing the message to set the state of the message to \"OK\", \"ERROR\" or \"RETRY\".","operationId":"getTrackingEvent20","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LMHMessageFilterDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LMHGetTrackingEvent20DTO"}}}}}}},"/LogisticsMessageHubBFBean/getEdifactInvoice":{"post":{"tags":["LogisticsMessageHubBFBean"],"description":"A client of the LMH calls this method to get an edifact invoice messages from the hub. After this, the state of the message is \"FETCHED\" and the client should call acknowledgeShippingOrder after processing the message to set the state of the message to \"OK\", \"ERROR\" or \"RETRY\".","operationId":"getEdifactInvoice","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LMHMessageFilterDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LMHGetEdifactInvoiceDTO"}}}}}}},"/SISBFBean/receiveCurrentStockSnapshot":{"post":{"tags":["SISBFBean"],"description":"Receive a \"stock snapshot\" message. This is isomorphic to the EANCOM message \"INVRPT\". ACMS record type \"STOCKSNAPSHOT10\"","operationId":"receiveCurrentStockSnapshot","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SISStockSnapshotDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/SISBFBean/receiveStockSnapshotCollection":{"post":{"tags":["SISBFBean"],"description":"Receive a \"snock snapshot collection\" message. This messages contains a collection of multible stock snapshots.","operationId":"receiveStockSnapshotCollection","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SISStockSnapshotCollectionDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/SISBFBean/receiveCurrentStockTransaction":{"post":{"tags":["SISBFBean"],"description":"Receive a \"stock transaction\" message. This is isomorphic to the EANCOM message \"INVRPT\". ACMS record type \"STOCKTRANSACTION10\"","operationId":"receiveCurrentStockTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SISStockTransactionDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{}}}}}},"/SISBFBean/bookConsignmentItemTransaction":{"post":{"tags":["SISBFBean"],"operationId":"bookConsignmentItemTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SISBookingRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SISBookingResponseDTO"}}}}}}},"/SISBFBean/bookOrderItemExpectedTransaction":{"post":{"tags":["SISBFBean"],"operationId":"bookOrderItemExpectedTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SISBookingRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SISBookingResponseDTO"}}}}}}},"/SISBFBean/bookOrderItemTransaction":{"post":{"tags":["SISBFBean"],"operationId":"bookOrderItemTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SISBookingRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SISBookingResponseDTO"}}}}}}},"/SISBFBean/sisBfDummyMethod":{"post":{"tags":["SISBFBean"],"description":"Dummy method.","operationId":"sisBfDummyMethod","parameters":[{"name":"argument","in":"query","description":"argument","schema":{"type":"string"}}],"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/SISBFBean/getSISWarehouse":{"post":{"tags":["SISBFBean"],"operationId":"getSISWarehouse","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SISGetWarehouseRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SISGetWarehouseResponseDTO"}}}}}}},"/SISBFBean/bookConsignmentItemExpectedTransaction":{"post":{"tags":["SISBFBean"],"operationId":"bookConsignmentItemExpectedTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SISBookingRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SISBookingResponseDTO"}}}}}}},"/TSMBFBean/synchronizeLoadingOrders":{"post":{"tags":["TSMBFBean"],"summary":"synchronizeLoadingOrders","description":"Can be used to synchronize loading orders with another system by returning all loading orders that have been changed since the last synchronization.","operationId":"synchronizeLoadingOrders","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TSMSynchronizeLoadingOrdersRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TSMSynchronizeLoadingOrdersResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/TSMBFBean/updateTimeSlotStatus":{"post":{"tags":["TSMBFBean"],"summary":"updateTimeSlotStatus","description":"Used to update a specific status of a time slot of a loading order","operationId":"updateTimeSlotStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TSMUpdateTimeSlotStatusRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TSMUpdateTimeSlotStatusResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/TSMBFBean/createLoadingOrder":{"post":{"tags":["TSMBFBean"],"summary":"createLoadingOrder","description":"Creates a loading order with the data contained in the request.","operationId":"createLoadingOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TSMCreateLoadingOrderRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TSMCreateLoadingOrderResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/TSMBFBean/updateLoadingOrder":{"post":{"tags":["TSMBFBean"],"summary":"updateLoadingOrder","description":"Used to update a specific loading order.","operationId":"updateLoadingOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TSMUpdateLoadingOrderRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TSMUpdateLoadingOrderResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}},"/TSMBFBean/getLoadingOrder":{"post":{"tags":["TSMBFBean"],"summary":"getLoadingOrder","description":"Returns data of a loading order.","operationId":"getLoadingOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TSMGetLoadingOrderRequestDTO"}}}},"responses":{"default":{"description":"default response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TSMGetLoadingOrderResponseDTO"}}}}},"security":[{"BASIC_AUTH":[]}]}}},"components":{"schemas":{"LogonResponse":{"type":"object","properties":{"token":{"type":"string"},"userName":{"type":"string"},"client":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}},"error":{"type":"string"}}},"UserClientLoginDTO":{"type":"object","properties":{"userName":{"type":"string"},"password":{"type":"string"},"clientName":{"type":"string"},"localeName":{"type":"string"},"isExternalLogon":{"type":"boolean"},"isApplicationFacadeAuthentication":{"type":"boolean"}}},"DateAndZoneDTO":{"type":"object","properties":{"dateInTimezone":{"type":"string","description":"<p>String representation of the date/time stamp in the format yyyy-MM-dd HH:mm:ss</p> <p>Length: 19</p>"},"timezone":{"type":"string","description":"<p>Time zone of the time stamp.</p> <p>Examples of valid time zones: \"GMT+01:00\" or \"GMT-02:00\".</p> <p>Maximum length: 50</p>"}},"description":"Date and timezone."},"GenericDataFieldDTO":{"type":"object","properties":{"name":{"type":"string","description":"<p>Name of this field, i.e. the role the field plays in the enclosing record.</p>  <p>When the same name is repeated in the context of the same parent record,  it is assumed that the parent defines this element as a repeatable (array) element.</p>"},"value":{"type":"string","description":"<p>Value of the field.</p>  <p>The format follows the conventions of xml schema encoding, see <a href=\"http://www.w3.org/TR/xmlschema-2/\">http://www.w3.org/TR/xmlschema-2/</a>.</p> <h3>Currently implemented formats:</h3>  <ul>  <li>string - the plain string</li> <li>int - digits base10, +-2^31</li> <li>long - digits base10, +-2^63</li> <li>decimal - +-123456.789</li> <li>boolean - the literals 'true' and 'false'</li> <li>dateTime - yyyy-MM-ddTHH:mm:ss</li> <li>base64Binary - binary data in base64 encoding</li> </ul>"},"type":{"type":"string","description":"<p>Data type of the field.</p> <p>This is not strictly necessary since the receiving entity should be able to infer the structure  with its own meta data; it may be used however for sanity checks.</p> <p>The format follows the conventions of xml schema encoding, see <a href=\\\"http://www.w3.org/TR/xmlschema-2/\\\">http://www.w3.org/TR/xmlschema-2/</a>.</p> <h3>Currently implemented formats:</h3>  <ul>  <li>string</li> <li>int</li> <li>long</li> <li>decimal</li> <li>boolean</li> <li>dateTime</li> <li>base64Binary</li> </ul>"}},"description":"A field of a generic data record."},"GenericDataRecordDTO":{"type":"object","properties":{"fields":{"type":"array","description":"The fields of the record.","items":{"$ref":"#/components/schemas/GenericDataFieldDTO"}},"subrecords":{"type":"array","description":"Subrecords of the record.","items":{"$ref":"#/components/schemas/NamedGenericDataRecordDTO"}}},"description":"A generic record of data.<br> From within Java, consider to use the wrapper class {@link de.aeb.xnsg.foundation.bc.genericdata.GenericDataRecordDTOWrapper} for easier handling and {@link de.aeb.xnsg.foundation.bc.genericdata.GenericDataRecordDTOMapping} for mapping from and to other DTOs."},"NamedGenericDataRecordDTO":{"type":"object","properties":{"name":{"type":"string","description":"The name of this record, i.e. the role the record plays in the enclosing record.<br> When the same name is repeated in the context of the same parent record,  it is assumed that the parent defines this element as a repeatable (array) element."},"record":{"$ref":"#/components/schemas/GenericDataRecordDTO"}},"description":"A generic data record with a name.<br> Wrapper class to encapsulate subrecords with their name and with the ability to have explicit null records."},"ResponseMessageDTO":{"type":"object","properties":{"messageType":{"type":"string","description":"<p>Message type</p><p>If not stated otherwise, the possible types are:</p><ul><li>ERROR</li><li>WARNING</li><li>INFO</li></ul><p>Maximum length: 50</p>","example":"WARNING"},"messageIdentCode":{"type":"string","description":"<p>Optional identification code for further classification of the message type.</p><p>Maximum length: 50</p>","example":"5627"},"messageTexts":{"type":"array","description":"<p>Detailed message texts in the requested languages.</p>","items":{"$ref":"#/components/schemas/TextInLanguageDTO"}},"indentationLevel":{"type":"integer","description":"<p>The indentation level of the message.</p><p>'0' indicates a top level message.</p>","format":"int32","example":0}},"description":"Result messages like errors or warnings."},"SyncEventDTO":{"type":"object","properties":{"businessObjectType":{"type":"string","description":"Code which identifies the business object type the event belongs to. <p> length=20 </p>"},"businessObjectId":{"type":"string","description":"Unique ID of the business object. <p> This ID is usually needed for subsequent calls, e.g. getBusinessObject(...) </p> <p> length=32 </p>"},"eventType":{"type":"string","description":"Type of the event (e.g. CREATE, UPDATE or DELETE). <p> Depending on the business object type and its configuration, additional event types are possible. </p> <p> length=20 </p>"},"eventDate":{"$ref":"#/components/schemas/DateAndZoneDTO"},"parameter":{"$ref":"#/components/schemas/GenericDataRecordDTO"}},"description":"DTO to hold data of one synchronized event."},"SyncEventsResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}},"syncId":{"type":"string","description":"Synchronization ID for delta-transmission. <p> Use this syncId in subsequent calls to {@link ISyncBF#synchronizeEvents(SyncEventsRequestDTO)} to enabledelta-transmission of changes. </p> <p> However, this syncId may be null if no events are found an the field {@link SyncEventsResponseDTO#events} is an empty array. In this case usethe last NOT NULL syncId returned in this field for subsequent calls to {@link ISyncBF#synchronizeEvents(SyncEventsRequestDTO)}. </p> <p> length=20 </p>"},"isComplete":{"type":"boolean","description":"True, if the synchronization is complete and currently no further events are available. False if not. <p> Because a maximum of 100 events are returned with one call of {@link ISyncBF#synchronizeEvents(SyncEventsRequestDTO)}, the result may be incomplete. </p>"},"events":{"type":"array","description":"The resulting events, matching the requested parameters. <p> A maximum number of 100 events are transmitted per call. </p> <p> To get ALL events make repeated calls of {@link ISyncBF#synchronizeEvents(SyncEventsRequestDTO)}, always passing the last returned  {@link SyncEventsResponseDTO#syncId} in the next callwith  {@link SyncEventsRequestDTO#syncId}. </p>","items":{"$ref":"#/components/schemas/SyncEventDTO"}}},"description":"Response DTO for synchronizing events."},"TextInLanguageDTO":{"type":"object","properties":{"languageISOCode":{"type":"string","description":"<p>2-letter ISO code of the language.</p><p>length=2</p>","example":"en"},"text":{"type":"string","description":"The translated text.","example":"Some free-form text"}},"description":"A translated text in one of the specified languages."},"SyncEventsRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation id of AEB systems.</p><p>Maximum length: 20</p>","example":"MY_SYSTEM"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"MY_COMPANY"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"Jane Doe"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>"}},"syncId":{"type":"string","description":"Synchronization ID for delta-transmission. <p> In calls to  {@link ISyncBF#synchronizeEvents(SyncEventsRequestDTO)}:<br> Pass this field with the value returned in {@link SyncEventsResponseDTO#syncId} with the last call to{@link ISyncBF#synchronizeEvents(SyncEventsRequestDTO)}.<br> For initializing of delta-transmissions pass simply null. </p> <p> </p> In calls to  {@link ISyncBF#getNotAcknowledgedEvents(SyncEventsRequestDTO)} this field is not used.<br><p> length=20 </p>"},"businessObjectType":{"type":"string","description":"Optional parameter to resctrict the events to be polled to that business object type. May be null to get all subscribed events of all business object types.<br> Since XNSG 4.0, Nov. FP, 2017<br> length=20"},"ageInDays":{"type":"integer","description":"Only for the initializing of delta-transmissions (if {@link SyncEventsRequestDTO#syncId} == null)<p> Start the initializing of delta transmission with with this age. Older events will not be synchronized. </p>","format":"int32"},"blockSize":{"type":"integer","description":"For defining the block size. Can be null. If empty the default block size of 100 is used.","format":"int32"}},"description":"Request DTO for synchronizing events."},"AcknowledgeEventsResponseDTO":{"type":"object","properties":{"hasErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>An error usually means that the request could not be performed.</p><p>Error details are provided in the messages[] array.</p>","example":false},"hasOnlyRetryableErrors":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"hasWarnings":{"type":"boolean","description":"<p>True, if there are any error messages.</p><p>Error details are provided in the messages[] array.</p>","example":true},"messages":{"type":"array","description":"<p>Error or warning messages at the request level.</p><p>There may be additional messages[] arrays at lower data levels as specified in the documentation.</p>","items":{"$ref":"#/components/schemas/ResponseMessageDTO"}}},"description":"Response DTO for acknowledging events."},"AcknowledgeEventsRequestDTO":{"type":"object","properties":{"clientSystemId":{"type":"string","description":"<p>Id of the sending client system.</p><p>e.g. Installation id of AEB systems.</p><p>Maximum length: 20</p>","example":"MY_SYSTEM"},"clientIdentCode":{"type":"string","description":"<p>Client identification code.</p><p>Maximum length: 10</p>","example":"MY_COMPANY"},"userName":{"type":"string","description":"<p>User who initiated the request from the client system.</p><p>If the user is found either in the system's user management or in a connected LDAP directory, the request runs under this user's roles.</p><p>If the user is not found, the request is only granted the basic 'I_EVERYONE' role. The user name may be used for logging purposes in this case.</p><p>Actual authentication is handled separately via the request's headers, so no password is required in the request's data.</p>","example":"Jane Doe"},"resultLanguageIsoCodes":{"type":"array","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>","items":{"type":"string","description":"<p>2-letter ISO codes of the languages in which texts will be returned.</p><p>English ('en') and German ('de') are typically supported by default. Other languages may be supported.</p><p>Translations will be looked up in the order of the provided language codes. If a translation is not available in one language, the next language is used instead.</p>"}},"syncId":{"type":"string","description":"Synchronization ID for acknowledge. <p> Pass this field with the value returned in {@link SyncEventsResponseDTO#syncId} with the last call to{@link ISyncBF#getNotAcknowledgedEvents(SyncEventsRequestDTO)}. </p> <p> length=20 </p>"},"businessObjectType":{"type":"string","description":"Should be the same value, which was passed with  {@link SyncEventsRequestDTO#businessObjectType} with the last call to{@link ISyncBF#getNotAcknowledgedEvents(SyncEventsRequestDTO)}. length=20"}},"description":"Request DTO for acknowledging events."},"ContactDTO":{"type":"object","properties":{"name":{"type":"string","description":"Name of contact.\n> `length=80`"},"phone":{"type":"string","description":"Phone number.\n> `length=20`"},"fax":{"type":"string","description":"Fax number.\n> `length=20`"},"email":{"type":"string","description":"Email address.\n> `length=256`"}},"description":"Contains data for contacting a person."},"LISAdditionalFieldDTO":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the additional field. The target system has to know the name and a way to handle that particular field\nFor example: `REF_NUMBER_1`"},"fieldValue":{"type":"string","description":"The value of the field.\nFor example: `1X4711`"}},"description":"DTO to implement additional fields not found in the standard DTOs The fields can have any name or value, but the target system must know how to handle these fields."},"LISAmountOfMoneyDTO":{"type":"object","properties":{"value":{"type":"number","description":"The value of the amount of money in units of the currency.\n> `length=15`, `scale=2`"},"currencyISOCode":{"type":"string","description":"The three letter ISO code of the currency.\n> `length=3`"},"exchangeRateDate":{"type":"string","description":"The decisive date for doing currency exchange calculations.\n> format: `yyyy-MM-dd`\n> `length=10`"},"statValue":{"type":"number","description":"The value of the statistical amount of money in the units of the statistical currency.\n> `length=15`, `scale=2`"},"statCurrencyISOCode":{"type":"string","description":"The three letter ISO code of the statistical currency.\n> `length=3`"}},"description":"An amount of mone with a value and a currency"},"LISArchiveDocumentDTO":{"type":"object","properties":{"documentName":{"type":"string","description":"the name of the document e.g. a file name with extension.\n> `length=500`"},"mimetype":{"type":"string","description":"the mimetype of the archived document e.g. application/pdf or image/jpeg"},"byteSize":{"type":"integer","description":"the byte size of the archived document","format":"int32"},"documentStorageID":{"type":"string","description":"the unique storage id of the document in the archive system.\n> `length=50`"},"roles":{"type":"array","description":"the roles for the binary to be displayed in the application","items":{"$ref":"#/components/schemas/LISBinaryRoleDTO"}}},"description":"DTO for document data that has been stored in an archive system e.g. Assist4ContentStorage and shall be accessed via VCP"},"LISBinaryDTO":{"type":"object","properties":{"content":{"type":"array","description":"binary content e.g. a pdf document or an image.","items":{"type":"string","description":"binary content e.g. a pdf document or an image.","format":"byte"}},"name":{"type":"string","description":"the name of the binary e.g. a file name with extension\n> `length=500`"},"mimetype":{"type":"string","description":"the mimetype of the binary e.g. application/pdf or image/jpeg.\nNote: This field fills the `description` of the document object\n> `length=250`"},"roles":{"type":"array","description":"the roles for the binary to be displayed in the application","items":{"$ref":"#/components/schemas/LISBinaryRoleDTO"}}},"description":"DTO for binaries e.g. document, images."},"LISBinaryRoleDTO":{"type":"object","properties":{"identCode":{"type":"string","description":"The ident code of the role for the binary. Please see product documentation or an admin for possible roles.\n> `length=100`"}},"description":"A single binary role."},"LISDateAndZoneDTO":{"type":"object","properties":{"dateInTimezone":{"type":"string","description":"The string representation of the Date/Timestamp for the timezone.\n> format: `yyyy-MM-dd HH:mm:ss`"},"timezone":{"type":"string","description":"The timezone to interpret the field dateInTimezone. If empty, UTC will be assumed\nValid timezone's are e.g. `GMT+1:00`, `GMT-2:00` or `Europe/Berlin`.\n> `length=50`"}},"description":"Contains a date and a timezone."},"LISEquipmentTypeDTO":{"type":"object","properties":{"identCode":{"type":"string","description":"The type of the equipment.\n> `length=20`"},"description":{"type":"string","description":"The type of the equipment.\n> `length=50`"}},"description":"DTO for equipment types"},"LISLocationDTO":{"type":"object","properties":{"city":{"type":"string","description":"City of the address.\n> `length=40`"},"countryISOCode":{"type":"string","description":"Country of address.\n> `length=2`"},"postcodeStreet":{"type":"string","description":"Postcode of the street address.\n> `length=10`"},"stateRegion":{"type":"string","description":"State or region of the address.\n> `length=40`"},"timezone":{"type":"string","description":"Valid Java Timezone string.\n> `length=50`"},"globLocationNo":{"type":"string","description":"Global location number of the address.\n> `length=20`"}},"description":"DTO for locations The data from the IFTMIN segment SG8/SG9/LOC (21) is not used because it holds only the GLN but no address data. Instead all data is taken from the SG11/NAD segment (25)"},"LISMeansOfTransportDTO":{"type":"object","properties":{"meansOfTransportNumber":{"type":"string","description":"Registration number of the means of transport.\n> `length=40`"},"description":{"type":"string","description":"The means of transport number translated into plain text. The description of the means of transport, e.g. the vehicle\n> `length=50`"},"type":{"type":"string","description":"The type of the means of transport, e.g. the brand of the vehicle.\n> `length=30`"},"name":{"type":"string","description":"The name of the means of transport, e.g. a ship's name.\n> `length=50`"},"countryISOCode":{"type":"string","description":"The origin country of the means of transport or the country where it is registered.\n> `length=2`"}},"description":"DTO for means of transports."},"LISMessageMetaDataDTO":{"required":["messageReferenceNumber","receiverClient","receiverRole","senderID","senderRole","updateMode"],"type":"object","properties":{"senderID":{"maxLength":20,"type":"string","description":"The identification of the message sender. This should be a string that uniquely identifies the system from which the message was sent and is the same for all messages sent from the system.\n>  `length=20`"},"receiverClient":{"type":"string","description":"The identCode of the client which will get the message.\n> `length=10`"},"receiverRole":{"type":"string","description":"The role of the receiver of the message in the supply chain.This will affect how the reference numbers (e.g. orderNumber, materialNumber) will be treated when inserting into the database.\n> possible values: `BUYER`, `SUPPLIER` or `FORWARDER`.","enum":["BUYER","SUPPLIER","FORWARDER"]},"senderRole":{"type":"string","description":"The role of the sender of the message in the supply chain.\nThis will affect how fields of existing objects will be updated by allowing overwrite or not.\n> possible values: `BUYER`, `SUPPLIER` or `FORWARDER`.","enum":["BUYER","SUPPLIER","FORWARDER"]},"sendDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"messageReferenceNumber":{"type":"string","description":"Unique number of the message given by the sender.\n> `length=50`"},"messageType":{"type":"string","description":"Can be any text. Used to search and filter messages.\n> `length=100`"},"updateMode":{"type":"string","description":"There are several possibilities how the content of the message should be inserted into the system. Update the old contents, delete some contents and so forth.","default":"STANDARD","enum":["STANDARD","STRUCTURE","NOUPDATE","DELETE"]},"idRefScheme":{"type":"string","description":"The scheme of the ID and reference number calculation. This will affect how the id and reference fields (e.g. `consignmentID`, `orderItemID`) will be calculated from the DTOs.  Depending on the selected calculation scheme different fields in the DTOs will be used to calculate the unique reference numbers of the objects. These fields will become mandatory when needed in the scheme. This field can be left empty, then the calculation scheme `SUPPLIER` will be used.\n> possible values: `BUYER`, `SUPPLIER` or `IDREFFIELDS`.\n> `length=20`","default":"DEFAULT","enum":["DEFAULT","BUYER","SUPPLIER","IDREFFIELDS"]}},"description":"Meta data of a message"},"LISPartyDTO":{"type":"object","properties":{"globalLocationNumber":{"type":"string","description":"Global Reference number of the party.\n> `length=20`"},"partyNumberBuyer":{"type":"string","description":"Reference number of the party from the viewpoint of the buyers IT.\n> `length=40`"},"partyNumberSupplier":{"type":"string","description":"Reference number of the party from the viewpoint of the suppliers IT.\n> `length=40`"},"partyNumberForwarder":{"type":"string","description":"Reference number of the party from the viewpoint of the forwarders IT.\n> `length=40`"},"name":{"type":"string","description":"Address name line 1.\n> `length=40`"},"name2":{"type":"string","description":"Address name line 2\n> `length=40`"},"name3":{"type":"string","description":"Address name line 3\n> `length=40`"},"street":{"type":"string","description":"Street of the address.\n> `length=40`"},"street2":{"type":"string","description":"Street of the address. Line 2.\n> `length=40`"},"postcodeStreet":{"type":"string","description":"Postcode of the street address.\n> `length=10`"},"city":{"type":"string","description":"City of the address.\n> `length=40`"},"countryISOCode":{"type":"string","description":"Country of address.\n> `length=2`"},"poBox":{"type":"string","description":"PO-Box.\n> `length=10`"},"postcodePoBox":{"type":"string","description":"Postcode of the poBox address.\n> `length=10`"},"stateRegion":{"type":"string","description":"State or region of the address.\n> `length=40`"},"timezone":{"type":"string","description":"Valid Java Timezone string.\n> `length=50`"},"emailAddress":{"type":"string","description":"Email address of the party. Multiple mail adressess can be provided by separating them with `;`.\n> `length=1000`"}},"description":"Data transfer object to denote parties, e.g. buyer, seller, with full address data."},"LISPartyLongDTO":{"type":"object","properties":{"globalLocationNumber":{"type":"string","description":"Global Reference number of the party.\n> `length=20`"},"partyNumberBuyer":{"type":"string","description":"Reference number of the party from the viewpoint of the buyers IT.\n> `length=40`"},"partyNumberSupplier":{"type":"string","description":"Reference number of the party from the viewpoint of the suppliers IT.\n> `length=40`"},"partyNumberForwarder":{"type":"string","description":"Reference number of the party from the viewpoint of the forwarders IT.\n> `length=40`"},"name":{"type":"string","description":"Address name line 1.\n> `length=40`"},"name2":{"type":"string","description":"Address name line 2\n> `length=40`"},"name3":{"type":"string","description":"Address name line 3\n> `length=40`"},"street":{"type":"string","description":"Street of the address.\n> `length=40`"},"street2":{"type":"string","description":"Street of the address. Line 2.\n> `length=40`"},"postcodeStreet":{"type":"string","description":"Postcode of the street address.\n> `length=10`"},"city":{"type":"string","description":"City of the address.\n> `length=40`"},"countryISOCode":{"type":"string","description":"Country of address.\n> `length=2`"},"poBox":{"type":"string","description":"PO-Box.\n> `length=10`"},"postcodePoBox":{"type":"string","description":"Postcode of the poBox address.\n> `length=10`"},"stateRegion":{"type":"string","description":"State or region of the address.\n> `length=40`"},"timezone":{"type":"string","description":"Valid Java Timezone string.\n> `length=50`"},"emailAddress":{"type":"string","description":"Email address of the party. Multiple mail adressess can be provided by separating them with `;`.\n> `length=1000`"},"contact":{"$ref":"#/components/schemas/ContactDTO"}},"description":"Data transfer object for parties that contain contact information"},"LISPartyShortDTO":{"type":"object","properties":{"globalLocationNumber":{"type":"string","description":"Global Reference number of the party.\n> `length=20`"},"partyNumberBuyer":{"type":"string","description":"Reference number of the party from the viewpoint of the buyers IT.\n> `length=40`"},"partyNumberSupplier":{"type":"string","description":"Reference number of the party from the viewpoint of the suppliers IT.\n> `length=40`"},"partyNumberForwarder":{"type":"string","description":"Reference number of the party from the viewpoint of the forwarders IT.\n> `length=40`"},"name":{"type":"string","description":"Address name line 1.\n> `length=40`"}},"description":"Data transfer object to denote parties, e.g. buyer or seller, without address data."},"LISPhysicalTransport20DTO":{"type":"object","properties":{"metaData":{"$ref":"#/components/schemas/LISMessageMetaDataDTO"},"head":{"$ref":"#/components/schemas/LISPhysicalTransportHead20DTO"},"references":{"type":"array","description":"References for the physical transport\nThe transport legs, which are associated with the physical transport. The associated transport units can be send in the `transportUnits` field","items":{"$ref":"#/components/schemas/LISTrackingObjectReference20DTO"}},"documents":{"type":"array","description":"Documents of the physical transport.","items":{"$ref":"#/components/schemas/LISBinaryDTO"}},"transportUnits":{"type":"array","description":"Transport units of the physical transport","items":{"$ref":"#/components/schemas/LISTransportUnitHead20DTO"}},"archivedDocuments":{"type":"array","description":"The storage data of the archived documents of the physical transport","items":{"$ref":"#/components/schemas/LISArchiveDocumentDTO"}},"isDataComplete":{"type":"boolean","description":"Indication whether the transport is data complete. If left empty: default for new objects is `false`."}},"description":"Phyiscal transport message."},"LISPhysicalTransportHead20DTO":{"type":"object","properties":{"idPhysicalTransport":{"type":"string","description":"Transport id. The technical unique ID of the transport.  This field is used to reference the transport and to link it to other objects. It should not be filled with functional data and is not a prominent feature in the gui.\nHowever this is a mandatory field if the `idRefScheme` in the Metadata is set to `ID_REF_SCHEME_IDREFFIELDS`.\n> `length=150`"},"globalTransactionNumber":{"type":"string","description":"Global unique number to identify the transport.\n> `length=40`"},"masterWayBillNumber":{"type":"string","description":"Master waybill number of the transport.\n> `length=40`"},"carrierReference":{"type":"string","description":"Carrier reference number for the transport.\n> `length=40`"},"transportType":{"$ref":"#/components/schemas/LISTransportTypeDTO"},"forwarderReference":{"type":"string","description":"Forwarder reference number for the transport.\n> `length=40`"},"meansOfTransport":{"$ref":"#/components/schemas/LISMeansOfTransportDTO"},"serviceType":{"$ref":"#/components/schemas/LISServiceTypeDTO"},"startLoc":{"$ref":"#/components/schemas/LISLocationDTO"},"endLoc":{"$ref":"#/components/schemas/LISLocationDTO"},"route":{"type":"string","description":"A reference number for the route of the transport.\n> `length=40`"},"expectedDepartureDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"expectedArrivalDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"plannedDepartureDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"plannedArrivalDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"actualDepartureDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"actualArrivalDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"forwarder":{"$ref":"#/components/schemas/LISPartyDTO"},"carrier":{"$ref":"#/components/schemas/LISPartyDTO"},"note":{"type":"string","description":"Additional text information for the transport.\n> `length=950`"},"distanceKM":{"type":"number","description":"The distance of the transport in kilometres.\n> `length=10`, `scale=3`"},"grossWeightKG":{"$ref":"#/components/schemas/LISQuantityDTO"},"netWeightKG":{"$ref":"#/components/schemas/LISQuantityDTO"},"chargeableWeightKG":{"$ref":"#/components/schemas/LISQuantityDTO"},"volumeM3":{"$ref":"#/components/schemas/LISQuantityDTO"},"numberOfTransportUnits":{"type":"integer","description":"Number of transport units.\n> `length=10`","format":"int32"},"numberOfConsignments":{"type":"integer","description":"Number of consignments\n> `length=10`","format":"int32"},"loadingMetre":{"type":"number","description":"Loading metres.\n> `length=15`, `scale=3`"},"palletFootprint":{"type":"number","description":"Pallet foot print of the transport.\n> `length=15`, `scale=3`"},"goodsValue":{"$ref":"#/components/schemas/LISAmountOfMoneyDTO"},"freightCh":{"$ref":"#/components/schemas/LISAmountOfMoneyDTO"},"additionalFields":{"type":"array","description":"Additional fields of the transport","items":{"$ref":"#/components/schemas/LISAdditionalFieldDTO"}}},"description":"DTO for physical transport."},"LISQuantityDTO":{"type":"object","properties":{"value":{"type":"number","description":"The amount, denoted in units of the field quantityUnit.\n> `length=20`, `scale=6`"},"quantityUnit":{"type":"string","description":"The quantity unit of the value.\n> `length=10`"},"statValue":{"type":"number","description":"The amount, denoted in units of the field statQuantityUnit. This is for statistics and therefore for the same materials the statQuantityUnit should always be the same.\n> `length=20`, `scale=6`"},"statQuantityUnit":{"type":"string","description":"The statistical quantity unit of the statValue.\n> `length=10`"}},"description":"DTO denoting a quantity"},"LISServiceTypeDTO":{"type":"object","properties":{"identCode":{"type":"string","description":"Short form of the service type.\n> `length=50`"},"description":{"type":"string","description":"Description of the service type.\n> `length=50`"}},"description":"DTO denoting a serivce type of forwarders"},"LISTrackingObjectReference20DTO":{"type":"object","properties":{"trackingObjectType":{"type":"string","description":"The type of the tracking object to be referenced.\n> Possible values: `CONS`, `TRANSLEG`, `TRANSUNIT`, `PHYSTRANS`, `HANDUNIT`, `ORDER`, `ORDERITEM`.","enum":["ORDER","ORDERITEM","CONS","TRANSLEG","HANDUNIT","TRANSUNIT","PHYSTRANS"]},"referenceFields":{"type":"array","description":"Reference fields to find the tracking object.","items":{"$ref":"#/components/schemas/LISTrackingObjectReferenceField20DTO"}}},"description":"DTO for reference numbers. Every DTO should have all information to find a specific object of a certain class."},"LISTrackingObjectReferenceField20DTO":{"type":"object","properties":{"referenceField":{"type":"string","description":"ReferenceField, possible values are <ul><li>CONS_NO (Consignment number)</li><li>SHIPPER_REFERENCE (Reference number of the shipper for the forwarder)</li><li>GLOB_TRANS_NO (Global transaction number of a transport leg)</li><li>INTERNAL_ID (Internal database id. Only to be used for internal purposes)</li><li>FORWARDER_REFERENCE (Reference number by which the shipment can be found on the tracking website of the forwarder)</li><li>MASTER_WAYBILL (Waybill number as a unique number for the process within the organisation of the forwarder)</li><li>HOUSE_WAYBILL (Waybill number distributed by forwarder for one consignee, usually not known to the supplier)</li><li>MEANS_OF_TRANSPORT_NO (Registration number of the means of transport)</li><li>GLOB_UNIT_NO (Global transport unit number)</li><li>SUPPLIER_GLN (Global location number of the supplier. Can only be used in combination with other references fields)</li><li>HANDLING_UNIT_NUMBER_FROM (The handling unit number from of a handling unit. Can only be used in combination with other references fields, e.g. CONS_NO)</li><li>DELIVERY_NOTE_NUMBER (Deliverynotenumber of a handling unit)</li><li>SHIPPING_CONTAINER_CODE (Serial shipping container code for a handling unit)</li><li>DATA_SOURCE_ID_HOST (DataSourceIDHost or transacation ID. The Id of the object in the host system)</li><li>TRANSPORT_SEQUENCE_NUMBER (The sequence number of the transport )</li><li>ORDER_NO_BUYER (Order number buyer. Not to be used together with ORDER_NO or ORDER_NO_SUPPLIER)</li><li>ORDER_NO_SUPPLIER (Order number supplier. Not to be used together with ORDER_NO or ORDER_NO_BUYER)</li><li>BUYER_GLN (Global location number of the buyer. Can only be used in combination with other references fields)</li><li>SEQUENCE_NUMBER (Sequence number by which a transport leg can be found in combination with other numbers)</li><li>ORDER_NO (Order number. To be used when the type type of order number is unknown. It might be order number buyer or supplier. If the type of order number is known, use ORDER_NO_BUYER or ORDER_NO_SUPPLIER instead.<br> Not to be used together with ORDER_NO_BUYER or ORDER_NO_SUPPLIER)</li><li>ORDERITEM_NO (Order item number. To be used when the type type of order item number is unknown. It might be order item number buyer or supplier. Only to be used together with ORDER_NO)</li><li>ORDERITEM_NO_BUYER (Order item number buyer.<br>  Only to be used together with ORDER_NO_BUYER)</li><li>ORDERITEM_NO_SUPPLIER (Order item number buyer <br>Only to be used together with ORDER_NO_SUPPLIER)</li><li>HU_SHIPPER_REFERENCE (Handling unit reference number of the shipper for the forwarder)</li><li>HU_MASTER_WAYBILL_NUMBER (Waybill number for a handling unit)</li></ul>It depends on the trackingObjectType which field makes sense.","enum":["CONS_NO","SHIPPER_REFERENCE","GLOB_TRANS_NO","INTERNAL_ID","FORWARDER_REFERENCE","MASTER_WAYBILL","HOUSE_WAYBILL","MEANS_OF_TRANSPORT_NO","GLOB_UNIT_NO","SUPPLIER_GLN","HANDLING_UNIT_NUMBER_FROM","DELIVERY_NOTE_NUMBER","SHIPPING_CONTAINER_CODE","DATA_SOURCE_ID_HOST","TRANSPORT_SEQUENCE_NUMBER","ORDER_NO_BUYER","ORDER_NO_SUPPLIER","BUYER_GLN","SEQUENCE_NUMBER","ORDER_NO","ORDERITEM_NO","ORDERITEM_NO_BUYER","ORDERITEM_NO_SUPPLIER","HU_SHIPPER_REFERENCE","MASTER_WAYBILL"]},"referenceNumber":{"type":"string","description":"ReferenceNumber"}},"description":"DTO for a single reference field with fieldName and the number"},"LISTransportTypeDTO":{"type":"object","properties":{"identCode":{"type":"string","description":"Short form of the transport leg type.\n> `length=20`"}},"description":"DTO for transport types"},"LISTransportUnitHead20DTO":{"type":"object","properties":{"idTransportUnit":{"type":"string","description":"Transport unit id. The technical unique ID of the transport unit.  This field is used to reference the handling unit and to link it to other objects. It should not be filled with functional data and is not a prominent feature in the gui.\nHowever this is a mandatory field if the `idRefScheme` in the Metadata is set to `ID_REF_SCHEME_IDREFFIELDS`.\n> `length=150`"},"refPackedInEquipment":{"type":"string","description":"Equipment reference. This field references the id of an equipment `idHandlingUnit` or `idTransportUnit`.\nIt is used to connect this transport unit to a specific equipment. It shows where this transport unit is packed in. The field should not be filled with functional data and is not a prominent feature in the gui.\n> `length=150`"},"globalUnitNumber":{"type":"string","description":"Unique number for the transport number to link with other objects.\n> `length=100`"},"packedInGlobalUnitNumber":{"type":"string","description":"Number of the unit that contains this unit.\n> `length=100`"},"masterWayBillNumber":{"type":"string","description":"Master waybill number of the forwarder.\n> `length=40`"},"serialShippingContainerCode":{"type":"string","description":"Serial shipping container code.\n> `length=40`"},"sealNumber":{"type":"string","description":"Seal identifier.\n> `length=40`"},"equipmentNumber":{"type":"string","description":"Number of the equipment.\n> `length=40`"},"transportUnitType":{"$ref":"#/components/schemas/LISEquipmentTypeDTO"},"expectedShippingDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"expectedDeliveryDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"actualShippingDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"actualDeliveryDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"plannedShippingDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"plannedDeliveryDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"startLoc":{"$ref":"#/components/schemas/LISLocationDTO"},"endLoc":{"$ref":"#/components/schemas/LISLocationDTO"},"netWeightKG":{"$ref":"#/components/schemas/LISQuantityDTO"},"grossWeightKG":{"$ref":"#/components/schemas/LISQuantityDTO"},"chargeableWeightKG":{"$ref":"#/components/schemas/LISQuantityDTO"},"volumeM3":{"$ref":"#/components/schemas/LISQuantityDTO"},"numberOfHandlingUnits":{"type":"integer","description":"Number of handling units.\n> `length=10`","format":"int32"},"note":{"type":"string","description":"The note of the shipping unit.\n> `length=950`"},"forwarder":{"$ref":"#/components/schemas/LISPartyDTO"},"carrier":{"$ref":"#/components/schemas/LISPartyDTO"},"supplier":{"$ref":"#/components/schemas/LISPartyDTO"},"shippingPoint":{"$ref":"#/components/schemas/LISPartyLongDTO"},"consignee":{"$ref":"#/components/schemas/LISPartyLongDTO"},"buyer":{"$ref":"#/components/schemas/LISPartyDTO"},"org1":{"$ref":"#/components/schemas/LISPartyShortDTO"},"costCenter":{"$ref":"#/components/schemas/LISPartyShortDTO"},"additionalFields":{"type":"array","description":"Additional fields of the transport unit","items":{"$ref":"#/components/schemas/LISAdditionalFieldDTO"}}},"description":"DTO for transport units"},"LISFileSystemDocumentDTO":{"type":"object","properties":{"name":{"type":"string","description":"the name of the document e.g. a file name with extension\n> `length=500`"},"mimetype":{"type":"string","description":"the mimetype of the stored document e.g. application/pdf or image/jpeg\nNote: The content of this field will be stored in the description of the document.\n> `length=250`"},"byteSize":{"type":"integer","description":"the byte size of the stored document.\n> `length=10`","format":"int32"},"documentKey":{"type":"string","description":"The key of the document. This corresponds to the sub-folder where the document is stored.\n> `length=500`"},"settingsReference":{"$ref":"#/components/schemas/LISFileSystemSettingsReferenceDTO"},"roles":{"type":"array","description":"the roles for the binary to be displayed in the application","items":{"$ref":"#/components/schemas/LISBinaryRoleDTO"}}},"description":"DTO for document data which has already been stored in the file system"},"LISFileSystemSettingsReferenceDTO":{"type":"object","properties":{"type":{"type":"string","description":"A constant how the file system settings should be found.\n> Possible values:\n> `ACTIVE` (Finds the currently active document storage settings. If it is not a file system type, this will produce an error)\n> `ID` (Finds the file system storage settings by internal ID. If none are found, this will produce an error. The ID has to be provided in the field referenceKey)\n> `PATH` (Finds the file system storage settings by its starting path. If none are found, this will produce an error. The path has to be provided in the field referenceKey)","enum":["ACTIVE","ID","PATH"]},"referenceKey":{"type":"string","description":"A reference key which will be utilized by the different types"}},"description":"The reference to file system storage settings in the VCP"},"LISTrackingEvent20DTO":{"type":"object","properties":{"metaData":{"$ref":"#/components/schemas/LISMessageMetaDataDTO"},"head":{"$ref":"#/components/schemas/LISTrackingEventHead20DTO"},"references":{"type":"array","description":"Data about Tracking event type and used reference number. The different references will be handled in a loop. Which means that they will be concatenated with `OR`","items":{"$ref":"#/components/schemas/LISTrackingEventReference20DTO"}},"documents":{"type":"array","description":"Documents of the event.","items":{"$ref":"#/components/schemas/LISBinaryDTO"}},"archivedDocuments":{"type":"array","description":"The storage data of the archived documents of the event","items":{"$ref":"#/components/schemas/LISArchiveDocumentDTO"}},"fileSystemDocuments":{"type":"array","description":"File system data of the documents of the events","items":{"$ref":"#/components/schemas/LISFileSystemDocumentDTO"}}},"description":"DTO for Tracking events (envelope)"},"LISTrackingEventHead20DTO":{"type":"object","properties":{"identCode":{"type":"string","description":"Status identCode of the event.\n> `length=20`"},"reason":{"type":"string","description":"The code of the reason for the event.\n> `length=20`"},"actualDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"actualLocation":{"$ref":"#/components/schemas/LISLocationDTO"},"actualSender":{"$ref":"#/components/schemas/LISPartyDTO"},"info":{"type":"string","description":"Additional information about the event.\n> `length=1000`"},"newExpectedDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"newPlannedDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"identCodeForNewDates":{"type":"string","description":"IdentCode of the event which should be updated. Where planned and expected dates will be updated. Which should be canceled.\n> `length=20`"},"cancelTargetEvent":{"type":"boolean","description":"Flag that indicates if the event in the `identCodeForNewDates` should be canceled."}},"description":"DTO for main tracking event data"},"LISTrackingEventList20DTO":{"type":"object","properties":{"metaData":{"$ref":"#/components/schemas/LISMessageMetaDataDTO"},"events":{"type":"array","description":"The events","items":{"$ref":"#/components/schemas/LISTrackingEvent20DTO"}},"documents":{"type":"array","description":"Documents of the transport.","items":{"$ref":"#/components/schemas/LISBinaryDTO"}},"archivedDocuments":{"type":"array","description":"The storage data of the archived documents of the events","items":{"$ref":"#/components/schemas/LISArchiveDocumentDTO"}},"fileSystemDocuments":{"type":"array","description":"File system data of the documents of the events","items":{"$ref":"#/components/schemas/LISFileSystemDocumentDTO"}}},"description":"DTO to receive a list of tracking events"},"LISTrackingEventReference20DTO":{"type":"object","properties":{"trackingObjectType":{"type":"string","description":"The type of the tracking event of the message in the supply chain.  This information decides which kind of tracking objects in the VCP database will be effected by this event. This information will be used to get the matching EventLoader.\n> Possible values are `ORDER`, `ORDERITEM`, `CONS`, `TRANSLEG`, `HUTRANSLEG`, `HANDUNIT`, `PHYSTRANS`.","enum":["ORDER","ORDERITEM","CONS","TRANSLEG","HUTRANSLEG","HANDUNIT","PHYSTRANS"]},"referenceFields":{"type":"array","description":"Reference fields to find the tracking object.","items":{"$ref":"#/components/schemas/LISTrackingEventReferenceField20DTO"}},"updateFields":{"type":"array","description":"Fields to update in the tracking object.","items":{"$ref":"#/components/schemas/LISTrackingEventUpdateField20DTO"}}},"description":"DTO for reference numbers. Every DTO should have all informations to find one or more TrackingObjects of a certain class. To find the matching tracking object the referenceFields will be concatenated with `AND`"},"LISTrackingEventReferenceField20DTO":{"type":"object","properties":{"referenceField":{"type":"string","description":"ReferenceField can hold one of the constants REF_FIELD-XYZ constants. It depends on the trackingEventType which field makes sense.\n> Valid values:\n> `ORDER_NO`: To be used when the type type of order number is unknown. It might be order number buyer or supplier. If the type of order number is known, use `ORDER_NO_BUYER` or `ORDER_NO_SUPPLIER` instead.<br> Not to be used together with `ORDER_NO_BUYER` or `ORDER_NO_SUPPLIER`.\n> `ORDER_NO_BUYER`: Order number buyer (`ORDER_NO_BUYER`)<br> Not to be used together with `ORDER_NO` or `ORDER_NO_SUPPLIER`.\n> `ORDER_NO_SUPPLIER`: Order number supplier (`ORDER_NO_SUPPLIER`)<br> Not to be used together with `ORDER_NO` or `ORDER_NO_BUYER`.\n> `ORDERITEM_NO`: Order item number (`ORDERITEM_NO`). To be used when the type type of order item number is unknown. It might be order item number buyer or supplier. Only to be used together with `ORDER_NO`.\n> `ORDERITEM_NO_BUYER`: Order item number buyer (`ORDERITEM_NO_BUYER`)<br>  Only to be used together with `ORDER_NO_BUYER`.\n> `ORDERITEM_NO_SUPPLIER`: Order item number buyer (`ORDERITEM_NO_SUPPLIER`)<br>  Only to be used together with `ORDER_NO_SUPPLIER`.\n> `SHIPPER_REFERENCE`: Reference number of the shipper for the forwarder (`SHIPPER_REFERENCE`).\n> `FORWARDER_REFERENCE`: Reference number by which the shipment can be found on the tracking website of the forwarder (`FORWARDER_REFERENCE`).\n> `MASTER_WAYBILL`: Waybill number as a unique number for the process within the organisation of the forwarder (`MASTER_WAYBILL`).\n> `HOUSE_WAYBILL`: Waybill number distributed by forwarder for one consignee, usually not known to the supplier (`HOUSE_WAYBILL`).\n> `MEANS_OF_TRANSPORT_NO`: Registration number of the means of transport (`MEANS_OF_TRANSPORT_NO`).\n> `CONS_NO`: Consignment number (`CONS_NO`).\n> `GLOB_TRANS_NO`: Global transaction number of a transport leg (`GLOB_TRANS_NO`).\n> `SUPPLIER_GLN`: Global location number of the supplier. Can only be used in combination with other references fields.\n> `BUYER_GLN`: Global location number of the buyer. Can only be used in combination with other references fields.\n> `FORWARDER_GLN`: Global location number of the forwarder of a LISHUTransportLeg (`FORWARDER_GLN`).\n> `HU_NUMBER_FROM`: Handling unit number from of a handling unit (`HU_NUMBER_FROM`).\n> `DELIVERY_NOTE_NUMBER`: Deliverynotenumber of a handling unit (`DELIVERY_NOTE_NUMBER`).\n> `GLOBAL_UNIT_NUMBER`: Global unit number of a handling unit (`GLOBAL_UNIT_NUMBER`).\n> `HU_MASTER_WAYBILL_NUMBER`: Waybill number for a handling unit (`HU_MASTER_WAYBILL_NUMBER`).\n> `SHIPPING_CONTAINER_CODE`: Serial shipping container code for a handling unit (`SHIPPING_CONTAINER_CODE`).\n> `HU_SHIPPER_REFERENCE`: Handling unit reference number of the shipper for the forwarder (`HU_SHIPPER_REFERENCE`).\n> `CARRIER_REFERENCE`: Reference number by which a transport leg can be found in the organisation of the carrier (`CARRIER_REFERENCE`).\n> `SEQUENCE_NUMBER`: Sequence number by which a transport leg can be found in combination with other numbers (`SEQUENCE_NUMBER`).\n> `DATA_SOURCE_ID_HOST`: DataSourceIDHost or transacation ID (`DATA_SOURCE_ID_HOST`). The Id of the object in the host system.\n> `INTERNAL_ID`: Internal database id (`INTERNAL_ID`). Only to be used for internal purposes."},"referenceNumber":{"type":"string","description":"ReferenceNumber\n> `length=depending on the field defined in referenceField`"}},"description":"DTO for a single reference field with fieldName and the number"},"LISTrackingEventUpdateField20DTO":{"type":"object","properties":{"fieldName":{"type":"string","description":"The name of the field to update.\n> `Possible values:\n> `TRANS_MASTER_WAYBILL_NUMBER` (`TransportLeg.masterWaybillNumber`)\n> `TRANS_MEANS_OF_TRANSPORT_NUMBER` (`TransportLeg.meansOfTrans.motNumber`)\n> `TRANS_IS_FIX_DATE_AGREEMENT` (`TransportLeg.isFixDateAgreement`)\n> `TRANS_HOUSE_AIRWAYBILL_NUMBER` (`TransportLeg.houseAirwayBillNumber`)\n> `TRANS_FORWARDER_REFERENCE` (`TransportLeg.forwarderReference`)\n> `TRANS_POD_SIGNATURE_NAME` (`TransportLeg.podSignatureName`)\n> `TRANS_SHIPPER_REFERENCE` (`TransportLeg.shipperReference`)\n> `CONS_FORWARDER_DELIVERY_REFERENCE` (`Consignment.forwarderDelivRef`)> `CONS_FORWARDER_PICKUP_REFERENCE` (`Consignment.forwarderPickupRef`)\n> `CONS_SHIPPER_REFERENCE` (`Consignment.shipperReference`)\n> `TO_FILTER_CRITERIA` (`trackingObject.toFilterCriteria`)\n> It depends on the tracking object type which fieldname makes sense."},"fieldValue":{"type":"string","description":"The value of the field to update.\n> `length=depending on the field defined in fieldName`"}},"description":"Class to hold values for updates of the tracking objects generically with fieldname"},"LISDimensionsDTO":{"type":"object","properties":{"quantityUnit":{"type":"string","description":"Quantity unit.\n> `length=10`"},"width":{"type":"number","description":"Width.\n> `length=20`, `scale=6`"},"length":{"type":"number","description":"Length.\n> `length=20`, `scale=6`"},"height":{"type":"number","description":"Height.\n> `length=20`, `scale=6`"}},"description":"DTO for Dimensions length, width, height and a quantity unit."},"LISMaterialDTO":{"type":"object","properties":{"identCode":{"type":"string","description":"Identcode of the material.\n> `length=40`"},"identCodeGTIN":{"type":"string","description":"EAN Code of the material.\n> `length=40`"},"identCodeBuyer":{"type":"string","description":"Identcode of the buyer of the material.\n> `length=40`"},"identCodeSupplier":{"type":"string","description":"Identcode of the supplier of the material.\n> `length=40`"},"productGroup1Buyer":{"type":"string","description":"`length=40`"},"productGroup2Buyer":{"type":"string","description":"`length=40`"},"productGroup3Buyer":{"type":"string","description":"`length=40`"},"productGroup1Supplier":{"type":"string","description":"`length=40`"},"productGroup2Supplier":{"type":"string","description":"`length=40`"},"productGroup3Supplier":{"type":"string","description":"`length=40`"},"shortDescription":{"type":"string","description":"Short description of the material.\n> `length=50`"},"description":{"type":"string","description":"Name/Description of the material.\n> `length=250`"},"catalogueNumber":{"type":"string","description":"The catalogue number of the material.\n> `length=40`"},"countryISOCode":{"type":"string","description":"The country of origin ISO-Code of the material. > `length=2`"},"discount":{"$ref":"#/components/schemas/LISAmountOfMoneyDTO"},"commodityCode":{"type":"string","description":"The commodity code of the material.\n> `length=40`"},"season":{"type":"string","description":"The season of the material.\n> `length=50`"},"size":{"type":"string","description":"The size of the material.\n> `length=50`"},"colour":{"type":"string","description":"The colour of the material.\n> `length=50`"}},"description":"DTO which references a material"},"LISMaterialMasterFileDTO":{"type":"object","properties":{"metaData":{"$ref":"#/components/schemas/LISMessageMetaDataDTO"},"head":{"$ref":"#/components/schemas/LISMaterialMasterFileHeadDTO"}},"description":"DTO for the master file materials."},"LISMaterialMasterFileHeadDTO":{"required":["globalTradeItemNumber"],"type":"object","properties":{"globalTradeItemNumber":{"type":"string","description":"Globaly unique identifier of the material."},"materialNumber":{"type":"string","description":"Number of the material used by the origin party."},"unitCode":{"type":"string","description":"The default unit code of the material."},"brandName":{"type":"string","description":"Name of the brand of the material."},"productGroup1":{"type":"string","description":"First product group of the material."},"productGroup2":{"type":"string","description":"Second product group of the material."},"productGroup3":{"type":"string","description":"Third product group of the material."},"originParty":{"$ref":"#/components/schemas/LISPartyDTO"},"refSupplierMaterial":{"$ref":"#/components/schemas/LISMaterialDTO"},"refSupplier":{"$ref":"#/components/schemas/LISPartyDTO"},"refBuyerMaterial":{"$ref":"#/components/schemas/LISMaterialDTO"},"refBuyer":{"$ref":"#/components/schemas/LISPartyDTO"},"firstOrderDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"lastPossibleOrderDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"dimensions":{"$ref":"#/components/schemas/LISDimensionsDTO"},"volume":{"$ref":"#/components/schemas/LISQuantityDTO"},"grossWeight":{"$ref":"#/components/schemas/LISQuantityDTO"},"netWeight":{"$ref":"#/components/schemas/LISQuantityDTO"},"minimalOrderQuantity":{"$ref":"#/components/schemas/LISQuantityDTO"},"minimalSalesQuantity":{"$ref":"#/components/schemas/LISQuantityDTO"},"storageCode":{"type":"string","description":"Storage code of the material. e.g. Warehouse products or warehouse-to-store products."},"materialStatusIdentCode":{"type":"string","description":"Identification code of the status of the material. e.g. A: active, D: discontinued, N: not to be ordered"},"cataloguePrice":{"$ref":"#/components/schemas/LISAmountOfMoneyDTO"},"netPrice":{"$ref":"#/components/schemas/LISAmountOfMoneyDTO"},"unitPriceBasisValue":{"type":"number","description":"The basis value of the unit price e.g. 20 $ per 100 pce."},"countryOfOriginISOCode":{"type":"string","description":"ISO Code of the country of origin of the material."},"substituteMaterial":{"$ref":"#/components/schemas/LISMaterialDTO"},"commodityCode":{"type":"string","description":"Commodity code of the material. Conditionally."},"materialDescriptionLong":{"$ref":"#/components/schemas/LISTextTranslationDTO"},"materialDescriptionShort":{"$ref":"#/components/schemas/LISTextTranslationDTO"}},"description":"DTO for the material master file items."},"LISTextTranslationDTO":{"type":"object","properties":{"translations":{"type":"array","description":"The translated texts.","items":{"$ref":"#/components/schemas/LISTextTranslationItemDTO"}}},"description":"DTO for text translations."},"LISTextTranslationItemDTO":{"type":"object","properties":{"languageIsoCode":{"type":"string","description":"The ISO Code of the language of the translation."},"text":{"type":"string","description":"The translated text."}},"description":"DTO for a single text translation. E.g. the german translation of a material description."},"LISConsItemInHandlingUnit20DTO":{"type":"object","properties":{"refConsignmentItem":{"type":"string","description":"Consignment item reference. This field references the id of a consignment item `idConsignmentItem`. The field should not be filled with functional data and is not a prominent feature in the gui.\n> `length=150`"},"refHandlingUnit":{"type":"string","description":"Handling unit reference. This field references the id of a handling unit `idHandlingUnit`. The field should not be filled with functional data and is not a prominent feature in the gui.\n> `length=150`"},"consignmentItemNumber":{"type":"string","description":"The number of the item within the consignment (given by the supplier).\n> `length=40`"},"globalUnitNumber":{"type":"string","description":"The number of the global unit given by the supplier.\n> `length=100`"},"quantityPacked":{"$ref":"#/components/schemas/LISQuantityDTO"}},"description":"This DTO connects a consignment and handling unit. This means that the consignment item can be found in the defined handling unit."},"LISConsignmentHead20DTO":{"type":"object","properties":{"idConsignment":{"type":"string","description":"Consignment id. The technical unique ID of the consignment.  This field is used to reference the consignment and to link it to its items and units. It should not be filled with functional data and is not a prominent feature in the gui.\nHowever this is a mandatory field if the `idRefScheme` in the Metadata is set to `ID_REF_SCHEME_IDREFFIELDS`.\n> `length=150`"},"consignmentNumber":{"type":"string","description":"The number of the consignment.\n> `length=40`"},"termsOfDelivery":{"$ref":"#/components/schemas/LISTermsOfDeliveryDTO"},"shipperReference":{"type":"string","description":"The reference number of the consignment given by the supplier (shipper) to the forwarder.\n> `length=40`"},"consignmentType":{"type":"string","description":"One of a list of constants for the type of consignments. The consignment type will influence the status list and event chain.\n> `length=20`"},"orderer":{"$ref":"#/components/schemas/LISPartyDTO"},"buyer":{"$ref":"#/components/schemas/LISPartyDTO"},"consignee":{"$ref":"#/components/schemas/LISPartyLongDTO"},"supplier":{"$ref":"#/components/schemas/LISPartyDTO"},"shippingPoint":{"$ref":"#/components/schemas/LISPartyLongDTO"},"forwarderPickup":{"$ref":"#/components/schemas/LISPartyDTO"},"forwarderDeliv":{"$ref":"#/components/schemas/LISPartyDTO"},"carrierPickup":{"$ref":"#/components/schemas/LISPartyDTO"},"carrierDeliv":{"$ref":"#/components/schemas/LISPartyDTO"},"org1":{"$ref":"#/components/schemas/LISPartyShortDTO"},"costCenter":{"$ref":"#/components/schemas/LISPartyShortDTO"},"expectedShippingDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"expectedDeliveryDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"actualShippingDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"actualDeliveryDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"fromWarehouse":{"$ref":"#/components/schemas/LISWarehouseDTO"},"toWarehouse":{"$ref":"#/components/schemas/LISWarehouseDTO"},"grossWeight":{"$ref":"#/components/schemas/LISQuantityDTO"},"netWeight":{"$ref":"#/components/schemas/LISQuantityDTO"},"volume":{"$ref":"#/components/schemas/LISQuantityDTO"},"freightChargeBuyer":{"$ref":"#/components/schemas/LISAmountOfMoneyDTO"},"freightChargeSupplier":{"$ref":"#/components/schemas/LISAmountOfMoneyDTO"},"goodsValue":{"$ref":"#/components/schemas/LISAmountOfMoneyDTO"},"totalValue":{"$ref":"#/components/schemas/LISAmountOfMoneyDTO"},"despatchType":{"$ref":"#/components/schemas/LISDespatchTypeDTO"},"note":{"type":"string","description":"The note of the consignment.\n> `length=950`"},"loadingMetre":{"type":"number","description":"The loading meter of the consignment.\n> `length=15`, `scale=3`"},"palletSlots":{"type":"number","description":"The pallet slots of the consignment.\n> `length=10`, `scale=1`"},"goodsDescription":{"type":"string","description":"The description of the goods of the consignment.\n> `length=250`"},"earliestShippingDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"latestShippingDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"plannedShippingDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"earliestDeliveryDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"latestDeliveryDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"plannedDeliveryDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"priority":{"type":"string","description":"The priority of the consignment.\n> `length=40`"},"uniqueCustomsRefNo":{"type":"string","description":"Unique Customs reference number (URN).\n> `length=20`"},"customsEntryNo":{"type":"string","description":"Customs entry number (CEN).\n> `length=20`"},"uniqueCustRefNoPerCons":{"type":"string","description":"Unique Customs reference number per consignment (UCR).\n> `length=20`"},"deliveryBookingRef":{"type":"string","description":"The delivery booking reference of the consignment.\n> `length=20`"},"forwarderPickupRef":{"type":"string","description":"The forwarder pickup reference of the consignment.\n> `length=20`"},"forwarderDelivRef":{"type":"string","description":"The forwarder delivery reference of the consignment.\n> `length=20`"},"carrierPickupRef":{"type":"string","description":"The carrier pickup reference of the consignment.\n> `length=20`"},"carrierDelivRef":{"type":"string","description":"The carrier delivery reference of the consignment.\n> `length=20`"},"isOrderShippingConsignment":{"type":"boolean","description":"Controls the update of order shipping data with consignment data.\nShould be set to true, if it is the first consignment in a chain of consignments for the delivery of an order or if the chain contains only one consignment.\nIf left empty: default for new consignments is 'true', in updates the value remains unchanged."},"isOrderDeliveryConsignment":{"type":"boolean","description":"Controls the update of order delivery data with consignment data.\nShould be set to true, if it is the last consignment in a chain of consignments for the delivery of an order or if the chain contains only one consignment.\nIf left empty: default for new consignments is 'true', in updates the value remains unchanged."},"intermediateConsignee":{"$ref":"#/components/schemas/LISPartyDTO"},"installationIDHost":{"type":"string","description":"The ID of the sending system. It is used for the re-export of tracking events to the sending system.\n> `length=30`"},"dataSourceIDHost":{"type":"string","description":"The ID which describes the type of the original business object in the sending system.  It is used for the re-export of tracking events to the sending system.\n> `length=250`"},"additionalFields":{"type":"array","description":"Additional fields of the consignment","items":{"$ref":"#/components/schemas/LISAdditionalFieldDTO"}},"externalTargetDates":{"type":"array","description":"The external target dates for specific tracking events.","items":{"$ref":"#/components/schemas/LISTrackingEventExternalTargetDateDTO"}},"toFilterCriteria":{"type":"string","description":"Additional filter criteria for the consignment.\n> `length=100`"},"transactionLabel":{"type":"string","description":"Human readable text which identifies a consignment in the sending system.\n> `length=250`"}},"description":"Header data of the consignment. Valid for all items unless redefined there.<br>Version 2.0<br>Renamed fields compared to 1.0: <ul><li>suppliersRefNumberForwarder => shipperReference</li></ul>"},"LISConsignmentItem20DTO":{"type":"object","properties":{"idConsignmentItem":{"type":"string","description":"Consignment item id. The technical unique ID of the consignment item.  This field is used to reference the consignment item and to link it to other objects. It should not be filled with functional data and is not a prominent feature in the gui.\nHowever this is a mandatory field if the `idRefScheme` in the Metadata is set to `ID_REF_SCHEME_IDREFFIELDS`.\n> `length=150`"},"refOrderItem":{"type":"string","description":"Order item reference. This field references the id of an order item `idOrderItem`. It is used to connect this consignment item to a specific order item with exactly the same id. The field should not be filled with functional data and is not a prominent feature in the gui.\n> `length=150`"},"refParentConsignmentItem":{"type":"string","description":"Consignment item reference. This field references the id of another consignment item in the same consignment. It is used to connect this consignment item to a specific consignment item with exactly the same id and marks this consignment item as a sub item. It should not be filled with functional data and is not a prominent feature in the gui.\nHowever this is a mandatory field if the `idRefScheme` in the Metadata is set to `ID_REF_SCHEME_IDREFFIELDS`.\n> `length=150`"},"itemNumber":{"type":"string","description":"The number of the item within the consignment (given by the supplier).\n> `length=40`"},"parentItemNumber":{"type":"string","description":"The number of the parent item within the consignment (given by the supplier). It marks this item as a sub item to the item with the given parentItemNumber.\n> `length=40`"},"orderItemNumberBuyer":{"type":"string","description":"The item number of the buyer of the order.\n> `length=40`"},"orderItemNumberSupplier":{"type":"string","description":"The item number of the supplier of the purchase order.\n> `length=40`"},"orderNumberBuyer":{"type":"string","description":"The order number of the buyer.\n> `length=40`"},"orderNumberSupplier":{"type":"string","description":"The order number of the supplier.\n> `length=40`"},"projectNumberBuyer":{"type":"string","description":"A project number (e.g. promotion deal number) given by the buyer.\n> `length=40`"},"projectNumberSupplier":{"type":"string","description":"A project number (e.g. promotion deal number) given by the supplier.\n> `length=40`"},"deliveryNoteNumber":{"type":"string","description":"A delivery note number given by the supplier.\n> `length=40`"},"deliveryNoteDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"invoiceNumber":{"type":"string","description":"A invoice number given by the supplier.\n> `length=40`"},"invoiceDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"orderer":{"$ref":"#/components/schemas/LISPartyDTO"},"buyer":{"$ref":"#/components/schemas/LISPartyDTO"},"supplier":{"$ref":"#/components/schemas/LISPartyDTO"},"consignee":{"$ref":"#/components/schemas/LISPartyLongDTO"},"shippingPoint":{"$ref":"#/components/schemas/LISPartyLongDTO"},"org1":{"$ref":"#/components/schemas/LISPartyShortDTO"},"costCenter":{"$ref":"#/components/schemas/LISPartyShortDTO"},"fromWarehouse":{"$ref":"#/components/schemas/LISWarehouseDTO"},"toWarehouse":{"$ref":"#/components/schemas/LISWarehouseDTO"},"material":{"$ref":"#/components/schemas/LISMaterialDTO"},"quantitySendBySupplier":{"$ref":"#/components/schemas/LISQuantityDTO"},"quantityReceivedByBuyer":{"$ref":"#/components/schemas/LISQuantityDTO"},"distanceKM":{"type":"integer","description":"The distance of the transport-chain in units of km.\n> `length=7`","format":"int32"},"grossWeight":{"$ref":"#/components/schemas/LISQuantityDTO"},"netWeight":{"$ref":"#/components/schemas/LISQuantityDTO"},"volume":{"$ref":"#/components/schemas/LISQuantityDTO"},"note":{"type":"string","description":"The note of the consignment item.\n> `length=950`"},"orderDateBuyer":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"orderDateSupplier":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"goodsValue":{"$ref":"#/components/schemas/LISAmountOfMoneyDTO"},"salesNetPrice":{"$ref":"#/components/schemas/LISAmountOfMoneyDTO"},"purchaseNetPrice":{"$ref":"#/components/schemas/LISAmountOfMoneyDTO"},"cataloguePrice":{"$ref":"#/components/schemas/LISAmountOfMoneyDTO"},"dimensions":{"$ref":"#/components/schemas/LISDimensionsDTO"},"callNumber":{"type":"string","description":"The call number of the item.\n> `length=40`"},"customsStatus":{"type":"string","description":"Customs tax status of item.\n> `length=20`"},"additionalFields":{"type":"array","description":"Additional fields of the consignment item","items":{"$ref":"#/components/schemas/LISAdditionalFieldDTO"}},"isReferenceItem":{"type":"boolean","description":"Indication that this item is the reference item for the head consignment. This flag is ignored if the flag `isWithoutReferenceItem` in the consignment head is set to `TRUE`."},"genericIdentifier":{"type":"array","description":"The generic Identifiers (Strings) that can be used to identify this ConsignmentItem generically.\n> `length=80`","items":{"type":"string","description":"The generic Identifiers (Strings) that can be used to identify this ConsignmentItem generically.\n> `length=80`"}}},"description":"This DTO describes a consignment item."},"LISConsignmentWithTransports20DTO":{"type":"object","properties":{"metaData":{"$ref":"#/components/schemas/LISMessageMetaDataDTO"},"head":{"$ref":"#/components/schemas/LISConsignmentHead20DTO"},"items":{"type":"array","description":"The items of the consignment.","items":{"$ref":"#/components/schemas/LISConsignmentItem20DTO"}},"handlingUnits":{"type":"array","description":"The handling units of the consignment.","items":{"$ref":"#/components/schemas/LISHandlingUnit20DTO"}},"consItemInHandlingUnits":{"type":"array","description":"Which consignment items are packed in which handling units.","items":{"$ref":"#/components/schemas/LISConsItemInHandlingUnit20DTO"}},"documents":{"type":"array","description":"Documents of the consignment.","items":{"$ref":"#/components/schemas/LISBinaryDTO"}},"archivedDocuments":{"type":"array","description":"The storage data of the archived documents of the consignment","items":{"$ref":"#/components/schemas/LISArchiveDocumentDTO"}},"isWithoutReferenceItem":{"type":"boolean","description":"Indication whether the consignment should use (and create) a reference item"},"isDataComplete":{"type":"boolean","description":"Indication whether the consignment is data complete. Possible values: true or false. If left empty: default for new objects is 'false'."},"transports":{"type":"array","description":"The tranports of the consignment.","items":{"$ref":"#/components/schemas/LISTransport20DTO"}}},"description":"DTO for a consignment with all transports."},"LISDespatchTypeDTO":{"type":"object","properties":{"identCode":{"type":"string","description":"Short form of the despatch type.\n> `length=20`"},"description":{"type":"string","description":"Description of the despatch type.\n> `length=50`"}},"description":"DTO for the despatch type."},"LISHUTrackingEventExternalTargetDateDTO":{"type":"object","properties":{"eventIdentCode":{"type":"string","description":"The identCode of the event."},"targetDate":{"$ref":"#/components/schemas/LISDateAndZoneDTO"},"transportReferences":{"type":"array","description":"The sequence number of the transport.","items":{"$ref":"#/components/schemas/LISTrackingObjectReferenceField20DTO"}}},"description":"DTO containing the event code of a milestone and new target date for this milestone. Additionally a reference to a transport as it is connected to a handling unit DTO, but meant to update a HUTL."},"LISHandlingUnit20DTO":{"type":"object","properties":{"idHandlingUnit":{"type":"string","description":"Handling unit id. The technical unique ID of the handling unit.  This field is used to reference the handling unit and to link it to other objects. It should not be filled with functional data and is not a prominent feature in the gui.\nHowever this is a mandatory field if the `idRefScheme` in the Metadata is set to `ID_REF_SCHEME_IDREFFIELDS`.\n> `length=150`"},"refPackedInEquipment":{"type":"string","description":"Equipment reference. This field references the id of an equipment idHandlingUnit or idTransportUnit. It is used to connect this handling unit to a specific equipment with the given id. It shows where this handling unit is packed in. The field should not be filled with functional data and is not a prominent feature in the gui.\n> `length=150`"},"handlingUnitNumberFrom":{"type":"string","description":"The number of the handling unit given by the
[...]
